In [1]:
import pandas as pd

In [2]:
numbers = pd.read_csv('../GetPhoneInfo/ALL_GETPHONE.csv')

In [3]:
X = numbers.drop("label",axis = 1)
y = numbers['label']
print(X.shape, y.shape)

(452, 22) (452,)

In [5]:
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
y_encoded=le.fit_transform(y)
print (y_encoded)

[1 0 0 0 0 1 1 0 0 1 1 1 1 1 1 0 0 0 0 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 0 0 0
 0 0 1 1 1 1 1 1 1 0 1 1 1 1 0 1 0 0 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1 1 1 0
 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 1 1 0 0 0 0 0 0 1 1 1
 1 1 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 1
 1 0 0 1 1 0 0 0 0 0 1 1 1 0 0 1 0 1 1 1 1 0 0 1 1 1 1 0 0 0 0 0 1 1 0 0 0
 1 0 0 0 1 0 0 1 0 0 1 1 1 1 1 1 1 1 1 0 0 1 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0
 1 1 0 0 1 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1
 0 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 1 0 1 1 1 0 1 0 1 0 0 0 0 0 1 0 0 1
 1 0 1 1 1 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 1 1 0 0 1 0 0 0 1 1 0 0 0 1 1
 0 0 1 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 1 0 1 0 1 1 1 1 1 1 0 1 1 1 0 0 0 0 1
 0 0 1 0 0 0 0 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 0 1 0 0 1
 0 1 1 1 1 1 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 1 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1
 0 0 1 1 0 0 0 1]

In [16]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, random_state=109)

In [17]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train, y_train)

#Predict Output
predicted= model.predict(X_test) # 0:Overcast, 2:Mild

In [18]:
pd.DataFrame({'Predicted':predicted, "Actual":y_test})

     Predicted  Actual
0            0       1
1            0       0
2            0       0
3            0       1
4            0       1
5            0       0
6            1       1
7            0       1
8            0       0
9            0       1
10           0       0
11           1       0
12           1       0
13           0       1
14           0       0
15           0       0
16           0       0
17           1       1
18           0       0
19           1       1
20           1       0
21           0       0
22           0       0
23           1       0
24           0       0
25           1       0
26           0       0
27           1       1
28           0       1
29           1       1
..         ...     ...
83           0       0
84           0       1
85           0       0
86           0       0
87           1       0
88           1       1
89           0       0
90           0       1
91           0       1
92           0       1
93           0       1
94           0       0
95           1       0
96           0       0
97           0       0
98           0       1
99           0       1
100          0       0
101          1       0
102          0       1
103          0       1
104          1       1
105          0       1
106          0       1
107          0       0
108          0       0
109          0       1
110          0       1
111          0       1
112          0       0

[113 rows x 2 columns]

In [19]:
from sklearn.metrics import confusion_matrix
confusion_matrix(list(y_test), predicted, labels = [0,1])

array([[38, 17],
       [33, 25]], dtype=int64)

In [20]:
38/(38+17)

0.6909090909090909

In [21]:
38/(38+33)

0.5352112676056338