In [1]:
import pandas as pd

In [2]:
ins = pd.read_csv('../../../Data/AMAIA/True_Sample.csv')
ws_live_1 = pd.read_excel('../../../Data/AMAIA/AMA_PHYSICIAN_NEW_SURVEY_040120-040320_UPDATED.xls')
ws_live_2 = pd.read_excel('../../../Data/AMAIA/AMA_PHYSICIAN_NEW_SURVEY_040320_OTHER.xls')

In [4]:
all_ws = pd.concat([ws_live_1,ws_live_2])

In [18]:
all_test = pd.merge(all_ws, ins_1, left_on = 'PHYSICIAN_ME_NUMBER', right_on='ME')

In [8]:
all_ws.columns = [c.replace(' ','_') for c in all_ws.columns.values]

In [11]:
ins.columns

Index(['PARTY_ID', 'ME', 'POST_CD_ID', 'FROM_DT', 'ADDR_TYPE', 'ADDR_1',
       'ADDR_2', 'ADDR_3', 'CITY', 'STATE_CD', 'ZIP', 'POST_CD_ID_PPMA',
       'ADDR_1_PPMA', 'ADDR_2_PPMA', 'ADDR_3_PPMA', 'CITY_PPMA',
       'STATE_CD_PPMA', 'ZIP_PPMA', 'FROM_DT_PPMA', 'POST_CD_ID_POLO',
       'ADDR_1_POLO', 'ADDR_2_POLO', 'ADDR_3_POLO', 'CITY_POLO',
       'STATE_CD_POLO', 'ZIP_POLO', 'FROM_DT_POLO', 'POST_KEY', 'Match',
       'Match_2', 'NPI', 'ME_feb', 'Additional Office Locations_feb',
       'Phone_Number_feb', 'Zip Code_feb', 'State_feb', 'City_feb',
       'Address_feb', 'First Name_feb', 'Physician Name_feb',
       'Middle Name_feb', 'Primary Specialty_feb',
       'Primary Hospital Affiliation_feb', 'Last Name_feb', 'Address1_feb',
       'ME_mar', 'Additional Office Locations_mar', 'Phone_Number_mar',
       'Zip Code_mar', 'State_mar', 'City_mar', 'Address_mar',
       'First Name_mar', 'Physician_Name_mar', 'Middle Name_mar',
       'Primary Specialty_mar', 'Primary Hospital Affiliation_mar',
       'Last_Name_mar', 'Address1_mar', 'New', 'Phone_Update',
       'Address_Update', 'DHC_MATCH', 'CITY_MATCH', 'TELEPHONE_NUMBER', 'Name',
       'Address', 'Types', 'Score'],
      dtype='object')

In [16]:
ins_1 = ins.drop_duplicates(subset=['ME'])

In [19]:
all_test.groupby('COMMENTS').count()

,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,SUFFIX,DEGREE,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,...,New,Phone_Update,Address_Update,DHC_MATCH,CITY_MATCH,TELEPHONE_NUMBER,Name,Address,Types,Score
COMMENTS,,,,,,,,,,,,,,,,,,,,,
ANSWERING SERVICE,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
COMPLETE,175,175,127,175,3,0,100,175,175,175,...,175,175,175,175,175,175,175,175,175,175
FAX MODEM,1,1,1,1,0,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
"MOVED, NO FORWARDING INFO",29,29,20,29,1,0,14,29,29,29,...,29,29,29,29,29,29,29,29,29,29
NOT IN SERVICE,5,5,4,5,0,0,0,5,5,5,...,5,5,5,5,5,5,5,5,5,5
REFUSAL,9,9,8,9,1,0,4,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [20]:
all_ws[all_ws['SOURCE']=='DHC']

,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,SUFFIX,DEGREE,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,...,OFFICE_PHONE_VERIFIED/UPDATED,OFFICE_FAX,OFFICE_FAX_VERIFIED/UPDATED,SPECIALTY,SPECIALTY_UPDATED,PRESENT_EMPLOYMENT_CODE,PRESENT_EMPLOYMENT_UPDATED,COMMENTS,SOURCE,SOURCE_DATE
980,57501100392,AHMED,MAZEN AHMED,SALEH,NaN,NaN,MEMORIAL HEALTH CARE,826 W KING ST,OWOSSO,MI,...,1,9.897294e+09,2,IM,1,50.0,0,COMPLETE,DHC,03/27/2020
981,2507152123,ALEXANDER,JOSEPH,ERNST,NaN,NaN,NaN,633 SOUTH BLVD E STE 1200,ROCHESTER HLS,MI,...,1,2.488446e+09,2,D,1,30.0,0,COMPLETE,DHC,03/27/2020
982,4102060712,ALISON,BETH,JAZWINSKI,NaN,NaN,NaN,350 SHARON NEW CASTLE RD,FARRELL,PA,...,1,7.243463e+09,2,GE,1,11.0,0,COMPLETE,DHC,03/27/2020
983,4101101181,ANDREW,HILL,MILBY,NaN,NaN,NaN,3903 S COBB DR SE,SMYRNA,GA,...,2,4.042512e+09,2,ORS,1,30.0,0,COMPLETE,DHC,03/27/2020
984,27501830106,ARMANDO,NaN,SEGUI,NaN,NaN,NaN,5850 W FLAGLER ST,MIAMI,FL,...,1,3.052640e+09,2,US,1,30.0,0,COMPLETE,DHC,03/27/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,1720140345,JENALEE,JO,COOKSEY,NaN,NaN,NaN,1801 N SENATE BLVD,INDIANAPOLIS,IN,...,1,NaN,0,GS,1,NaN,0,NOT IN SERVICE,DHC,03/27/2020
440,4102040762,JOHN,BROADUS,MITCHELL,NaN,NaN,NaN,555 MIDTOWNE ST NE STE 304,GRAND RAPIDS,MI,...,1,NaN,0,P,1,NaN,0,NOT IN SERVICE,DHC,03/27/2020
454,2802930634,JAMES,C,LIN,NaN,NaN,NaN,1241 W STADIUM BLVD,JEFFERSON CTY,MO,...,1,6.202522e+09,1,GS,1,NaN,0,NOT IN SERVICE,DHC,03/27/2020
455,49521020724,RAJESH,NaN,BANDERUDRAPPAGARI,NaN,NaN,NaN,800 E CARPENTER ST,SPRINGFIELD,IL,...,1,2.172414e+09,1,HO,1,NaN,0,NOT IN SERVICE,DHC,03/27/2020
458,2507131649,JASLEEN,K,KHANUJA,NaN,NaN,NaN,8880 E DESERT COVE AVE,SCOTTSDALE,AZ,...,1,NaN,0,HEM,1,NaN,0,NOT IN SERVICE,DHC,03/27/2020

In [23]:
all_test[all_test.COMMENTS=='COMPLETE']

,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,SUFFIX,DEGREE,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,...,New,Phone_Update,Address_Update,DHC_MATCH,CITY_MATCH,TELEPHONE_NUMBER,Name,Address,Types,Score
0,57501100392,AHMED,MAZEN AHMED,SALEH,NaN,NaN,MEMORIAL HEALTH CARE,826 W KING ST,OWOSSO,MI,...,True,True,True,True,False,9897294977,None,None,None,25
1,2507152123,ALEXANDER,JOSEPH,ERNST,NaN,NaN,NaN,633 SOUTH BLVD E STE 1200,ROCHESTER HLS,MI,...,True,True,True,True,False,2488446000,Alexandra G. Boucher DO,"633 E South Blvd #1200, Rochester Hills, MI 48...","['doctor', 'health', 'point_of_interest', 'est...",193
2,4102060712,ALISON,BETH,JAZWINSKI,NaN,NaN,NaN,350 SHARON NEW CASTLE RD,FARRELL,PA,...,True,False,True,True,False,7243462999,None,None,None,45
3,4101101181,ANDREW,HILL,MILBY,NaN,NaN,NaN,3903 S COBB DR SE,SMYRNA,GA,...,True,True,True,True,False,4047783350,Emory at Smyrna,"3903 S Cobb Dr SE, Smyrna, GA 30080, USA","['hospital', 'health', 'point_of_interest', 'e...",149
4,27501830106,ARMANDO,NaN,SEGUI,NaN,NaN,NaN,5850 W FLAGLER ST,MIAMI,FL,...,True,True,True,True,False,3052639590,Varadero Medical Center,"5850 W Flagler St, Miami, FL 33144, USA","['doctor', 'health', 'point_of_interest', 'est...",162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,515130462,MICHAEL,ALLAN,STONE,NaN,NaN,MARK GOODSON BUILDING,444 S SAN VICENTE BLVD FL 7,LOS ANGELES,CA,...,True,True,True,True,False,3104234566,"Dr. Andrew I. Spitzer, MD","444 S San Vicente Blvd, Los Angeles, CA 90048,...","['doctor', 'health', 'point_of_interest', 'est...",212
171,518090135,MARK,NaN,SCHULTZEL,NaN,NaN,NaN,3750 CONVOY ST,SAN DIEGO,CA,...,False,False,True,True,False,8582788300,"Mark Schultzel, MD | Orthopaedic Medical Group...","3750 Convoy St #201, San Diego, CA 92111, USA","['doctor', 'health', 'point_of_interest', 'est...",318
172,519120224,ALEXANDRA,NaN,KHARAZI,NaN,NaN,STE 200,345 F ST,CHULA VISTA,CA,...,True,False,True,True,False,6194211111,"Alexandra Kharazi, MD","345 F St Suite 200, Chula Vista, CA 91910, USA","['doctor', 'health', 'point_of_interest', 'est...",306
173,801050841,AYONIJA,NaN,MAHESHWARI,NaN,NaN,NaN,3181 SW SAM JACKSON PARK ROAD CB 669,PORTLAND,OR,...,True,True,True,True,False,5034947641,"Renata Rusa, MD","3181 SW Sam Jackson Park Rd, Portland, OR 9723...","['doctor', 'health', 'point_of_interest', 'est...",202
174,2106120709,HANNAH,KAITLIN,BAUER,NaN,NaN,NaN,200 HENRY CLAY AVE,NEW ORLEANS,LA,...,True,True,True,True,False,5048969230,"Dr. Amy M. Creel, MD","200 Henry Clay Ave # 2015, New Orleans, LA 701...","['doctor', 'health', 'point_of_interest', 'est...",145

In [24]:
all_test.groupby('COMMENTS').mean()

,PHYSICIAN_ME_NUMBER,SUFFIX,DEGREE,OFFICE_ADDRESS_VERIFIED/UPDATED,OFFICE_TELEPHONE,OFFICE_PHONE_VERIFIED/UPDATED,OFFICE_FAX,OFFICE_FAX_VERIFIED/UPDATED,SPECIALTY_UPDATED,PRESENT_EMPLOYMENT_CODE,...,NPI,ME_feb,ME_mar,New,Phone_Update,Address_Update,DHC_MATCH,CITY_MATCH,TELEPHONE_NUMBER,Score
COMMENTS,,,,,,,,,,,,,,,,,,,,,
ANSWERING SERVICE,5.502130e+09,NaN,NaN,1.00,8.648795e+09,1.00,NaN,0.000000,1.0,NaN,...,1.265873e+09,5.502130e+09,5.502130e+09,0.000000,1.000000,0.000000,1.0,0.0,8.648795e+09,55.000000
COMPLETE,1.499077e+10,2.0,NaN,1.24,6.196512e+09,1.08,6.211986e+09,1.765714,1.0,93.84,...,1.485929e+09,1.499077e+10,1.499077e+10,0.577143,0.640000,0.902857,1.0,0.0,6.240388e+09,202.171429
FAX MODEM,3.547131e+09,NaN,NaN,1.00,4.103286e+09,1.00,NaN,0.000000,1.0,NaN,...,1.104269e+09,3.547131e+09,3.547131e+09,0.000000,1.000000,0.000000,1.0,0.0,4.103286e+09,152.000000
"MOVED, NO FORWARDING INFO",1.644672e+10,2.0,NaN,1.00,4.739575e+09,1.00,5.450802e+09,0.310345,1.0,NaN,...,1.499039e+09,1.644672e+10,1.644672e+10,0.586207,0.793103,0.827586,1.0,0.0,4.739575e+09,177.275862
NOT IN SERVICE,1.213065e+10,NaN,NaN,1.00,3.610294e+09,1.00,4.187468e+09,0.400000,1.0,NaN,...,1.609197e+09,1.213065e+10,1.213065e+10,0.600000,0.800000,0.800000,1.0,0.0,3.610294e+09,84.000000
REFUSAL,1.406725e+10,2.0,NaN,1.00,5.745588e+09,1.00,5.498047e+09,0.555556,1.0,NaN,...,1.521779e+09,1.406725e+10,1.406725e+10,0.444444,0.777778,0.777778,1.0,0.0,5.745588e+09,171.444444

In [26]:
all_test[all_test.Score>200]

,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,SUFFIX,DEGREE,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,...,New,Phone_Update,Address_Update,DHC_MATCH,CITY_MATCH,TELEPHONE_NUMBER,Name,Address,Types,Score
15,4101141026,GABRIELA,ANDREA,COBOS,NaN,NaN,NaN,221 LONGWOOD AVE,BOSTON,MA,...,False,True,False,True,False,6177324918,"Dr. Mitchell H. Rubenstein, MD","221 Longwood Ave, Boston, MA 02115, USA","['doctor', 'health', 'point_of_interest', 'est...",224
17,77501030069,FARAYI,JONNES,MBUVAH,NaN,NaN,NaN,8212 DEVON CT,MYRTLE BEACH,SC,...,False,True,False,True,False,8432730376,"Farayi Jonnes Mbuvah, MD","8212 Devon Ct, Myrtle Beach, SC 29572, USA","['doctor', 'health', 'point_of_interest', 'est...",329
20,3006090566,JESSICA,LEIGH,HARDESTY,NaN,NaN,VIRGINIA HOSPITAL CENTER,700 S WASHINGTON ST STE 330,ALEXANDRIA,VA,...,True,True,True,True,False,7039403364,"Katharine Burt, MD","700 S Washington St Suite 330, Alexandria, VA ...","['doctor', 'health', 'point_of_interest', 'est...",220
22,4203890139,HECTOR,JOSE,CASES,NaN,NaN,NaN,725 CORTARO DR,SUN CITY CTR,FL,...,False,True,False,True,False,8136702225,Dr. Hector J. Cases,"725 Cortaro Dr, Sun City Center, FL 33573, USA","['doctor', 'health', 'point_of_interest', 'est...",332
26,42201880399,JOHN,E,RATHBUN,NaN,NaN,EXECUTIVE COURT MEDICAL SPECIALIST,997 HWY 17 BUSINESS S STE C,SURFSIDE BEACH,SC,...,False,False,True,True,False,8438394505,"Dr. John E. Rathbun, MD","997 US-17 BUS, Myrtle Beach, SC 29577, USA","['doctor', 'health', 'point_of_interest', 'est...",273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,49659090103,CHARANYA,NaN,SIVARAMAKRISHNAN,NaN,NaN,PULMONARY & CRITICAL CARE,200 NE MOTHER JOSEPH PL STE 330,VANCOUVER,WA,...,True,True,True,True,False,3605142990,Van Hoang MD,"200 NE Mother Joseph Pl #330, Vancouver, WA 98...","['doctor', 'health', 'point_of_interest', 'est...",214
209,16503790100,SAMUEL,M,WILLINGER,NaN,NaN,BLUE RIDGE REGIONAL-CAROLINAS,2201 S STERLING ST,MORGANTON,NC,...,True,True,True,True,False,8285805000,Grace Hospital: Willinger Samuel M MD,"2201 S Sterling St, Morganton, NC 28655, USA","['doctor', 'health', 'point_of_interest', 'est...",344
210,91313950013,YULIYA,P.,MANDEL,NaN,NaN,NaN,298 WASHINGTON ST FL 4,GLOUCESTER,MA,...,False,False,True,True,False,9782837580,"Yuliya Mandel, MD","298 Washington St 4th Floor, Gloucester, MA 01...","['doctor', 'health', 'point_of_interest', 'est...",364
211,3840121312,AMBER,MARIE,DSOUZA,NaN,NaN,NaN,530 NE GLEN OAK AVENUE,PEORIA,IL,...,True,True,True,True,False,3096244945,"Dr. Reuben Antony, MD","530 NE Glen Oak Ave, Peoria, IL 61603, USA","['doctor', 'health', 'point_of_interest', 'est...",209
215,2512120752,SHIVANSHU,NaN,MADAN,NaN,NaN,NaN,2500 ROCKY MOUNTAIN AVE STE 100,LOVELAND,CO,...,False,False,True,True,False,9702211000,UCHealth - Shivanshu Madan MD,"2500 Rocky Mountain Ave Suite 100, Loveland, C...","['doctor', 'health', 'point_of_interest', 'est...",308

In [28]:
all_test.to_csv('../../../Data/AMAIA/Sample_WS_Results.csv', index=False)

In [29]:
ins.columns

Index(['PARTY_ID', 'ME', 'POST_CD_ID', 'FROM_DT', 'ADDR_TYPE', 'ADDR_1',
       'ADDR_2', 'ADDR_3', 'CITY', 'STATE_CD', 'ZIP', 'POST_CD_ID_PPMA',
       'ADDR_1_PPMA', 'ADDR_2_PPMA', 'ADDR_3_PPMA', 'CITY_PPMA',
       'STATE_CD_PPMA', 'ZIP_PPMA', 'FROM_DT_PPMA', 'POST_CD_ID_POLO',
       'ADDR_1_POLO', 'ADDR_2_POLO', 'ADDR_3_POLO', 'CITY_POLO',
       'STATE_CD_POLO', 'ZIP_POLO', 'FROM_DT_POLO', 'POST_KEY', 'Match',
       'Match_2', 'NPI', 'ME_feb', 'Additional Office Locations_feb',
       'Phone_Number_feb', 'Zip Code_feb', 'State_feb', 'City_feb',
       'Address_feb', 'First Name_feb', 'Physician Name_feb',
       'Middle Name_feb', 'Primary Specialty_feb',
       'Primary Hospital Affiliation_feb', 'Last Name_feb', 'Address1_feb',
       'ME_mar', 'Additional Office Locations_mar', 'Phone_Number_mar',
       'Zip Code_mar', 'State_mar', 'City_mar', 'Address_mar',
       'First Name_mar', 'Physician_Name_mar', 'Middle Name_mar',
       'Primary Specialty_mar', 'Primary Hospital Affiliation_mar',
       'Last_Name_mar', 'Address1_mar', 'New', 'Phone_Update',
       'Address_Update', 'DHC_MATCH', 'CITY_MATCH', 'TELEPHONE_NUMBER', 'Name',
       'Address', 'Types', 'Score'],
      dtype='object')