In [2]:
import pandas as pd

In [2]:
ekata_connected = pd.read_csv('ekata_connected.csv')
ekata_disconnected = pd.read_csv("ekata_disconnected.csv")

connected = pd.read_csv('../connected_info.csv')
disconnected = pd.read_csv('../disconnected_info.csv')

In [3]:
CONNECTED_DF = pd.merge(ekata_connected, connected, on='OFFICE_TELEPHONE')
DISCONNECTED_DF = pd.merge(ekata_disconnected, disconnected, on='OFFICE_TELEPHONE')

In [22]:
CONNECTED_DF = CONNECTED_DF.fillna("None")

In [23]:
DISCONNECTED_DF = DISCONNECTED_DF.fillna("None")

In [39]:
def is_healthy(name):
    med_words = ['cancer', 'cardiology', 'neurology', 'family care', 'pulmonary', 'anesthesia', 'orthope', 'urgent care', 'allergy', 'kidney', 'surgery', 'hosp', 'mri', 'throat', 'dentist', 'med', 'clinic', 'health', 'gastroenter','anesthesiologist','patient','physician','surgeon','doctor','hospital', 'md', 'medical', 'pediatrics', 'm.d.']
    healthy = False
    for word in med_words:
        if word in str(name).lower():
            healthy = True   
    return(healthy)

def variable_breakdown(dataframe):
    
    LIST_OF_DICTS = []
    
    
    for row in dataframe.itertuples():

        address_match = 0
        no_alternate_phone = 0
        ambulatory = 0
        fixed_voip = 0
        non_fixed_voip = 0
        hospitals = 0
        landline = 0
        mobile = 0
        no_industry = 0
        no_phonetype = 0
        nursing = 0
        personal = 0
        city_match = 0
        zipcode_match = 0
        state_match = 0
        health = 0
        no_address = 0
        no_date = 0
        business = 0
        no_name = 0
        first_name_match = 0
        last_name_match = 0 
        workplace_match = 0
        

        if str(row.PHYSICIAN_LAST_NAME).lower() in str(row.Name).lower():
            last_name_match +=1
        if is_healthy(row.Name) == True:
            health = 1
        if str(row.OFFICE_ADDRESS_LINE_2).lower() in str(row.Address).lower():
            address_match =1
        if str(row.Zipcode) in str(row.OFFICE_ADDRESS_ZIP):
            zipcode_match = 1
        if str(row.OFFICE_ADDRESS_CITY).lower() in str(row.City).lower():
            city_match = 1
        if str(row.OFFICE_ADDRESS_STATE).lower() in str(row.State).lower():
            state_match = 1
        if str(row.OFFICE_ADDRESS_LINE_1).lower() in str(row.Name).lower():
            workplace_match = 1
        if str(row.PHYSICIAN_FIRST_NAME).lower() in str(row.Name).lower():
            first_name_match =1

        if row.Address == 'None':
            no_address = 1
        if row.Date == 'None':
            no_date = 1
        if row.Industry == 'None':
            no_industry = 1
        if row.PhoneType == 'None':
            no_phonetype = 1
        if row.PhoneType == 'Business':
            business = 1
        if row.PhoneType == 'Person':
            personal = 1

        if row.AlternatePhone == 'None':
            no_alternate_phone = 1

        if 'Ambulatory' in str(row.Industry):
            ambulatory = 1
        if 'Nursing' in str(row.Industry):
            nursing = 1
        if 'Hospitals' in str(row.Industry):
            hospitals = 1

        if row.LineType == 'Landline':
            landline = 1
        if row.LineType == 'FixedVOIP':
            fixed_voip = 1
        if row.LineType == 'NonFixedVOIP':
            non_fixed_voip = 1
        if row.LineType == 'Mobile':
            mobile = 1
        if row.Name == 'None':
            no_name += 1

        new_dict = {
            'OFFICE_TELEPHONE': row.OFFICE_TELEPHONE,
            'Address Match': address_match,
            'City Match': city_match,
            'ZipCode Match': zipcode_match,
            'State Match': state_match,
            'No Address': no_address,
            'No Date': no_date,
            'No PhoneType': no_phonetype,
            'No Industry': no_industry,
            'Relevant Name': health,
            'Business Phone': business,
            'Personal Phone': personal,
            'No Alternate Phone': no_alternate_phone,
            'Ambulatory Industry':ambulatory,
            'Hospital Industry': hospitals,
            'Nursing Industry':nursing,
            'Fixed VOIP': fixed_voip,
            'Non Fixed Voip': non_fixed_voip, 
            'Landline': landline,
            'Mobile': mobile,
            'First Name Match':first_name_match,
            'Last Name Match':last_name_match,
            'Workplace Match': workplace_match,
            'No Name': no_name
            }

        LIST_OF_DICTS.append(new_dict)

    return(LIST_OF_DICTS)

In [39]:
CONN = variable_breakdown(CONNECTED_DF)

In [84]:
DIS = variable_breakdown(DISCONNECTED_DF)

In [85]:
conn_df=pd.DataFrame(CONN)
dis_df=pd.DataFrame(DIS)

In [87]:
# conn_df.to_csv('ekata_connected_model.csv')
dis_df.to_csv('ekata_disconnected_model.csv')

Unnamed: 0_x               int64
Address                   object
AlternatePhone           float64
Carrier                   object
City                      object
Commercial                object
Date                      object
Error                    float64
Industry                  object
LineType                  object
Name                      object
OFFICE_TELEPHONE           int64
PhoneType                 object
State                     object
Valid                       bool
Zipcode                   object
Unnamed: 0_y               int64
PHYSICIAN_FIRST_NAME      object
PHYSICIAN_LAST_NAME       object
OFFICE_ADDRESS_LINE_2     object
OFFICE_ADDRESS_CITY       object
OFFICE_ADDRESS_STATE      object
OFFICE_ADDRESS_ZIP       float64
PHYSICIAN_ME_NUMBER        int64
OFFICE_ADDRESS_LINE_1     object
dtype: object

In [32]:
def analyze_numbers(dataframe):
    
    name_match = 0
    healthy = 0
    address_match = 0
    city_match = 0
    zipcode_match = 0
    commercial = 0
    no_address = 0
    no_date = 0
    industry = 0
    landline = 0
    business = 0
    address_match = 0
    no_alternate_phone = 0
    ambulatory = 0
    fixed_voip = 0
    non_fixed_voip = 0
    hospitals = 0
    landline = 0
    mobile = 0
    no_industry = 0
    no_phonetype = 0
    nursing = 0
    personal = 0
    city_match = 0
    zipcode_match = 0
    state_match = 0
    health = 0
    no_address = 0
    no_date = 0
    business = 0
    first_name_match = 0
    last_name_match = 0 
    workplace_match = 0
    no_name = 0

    for row in dataframe.itertuples():
        address_matched = False
        if str(row.PHYSICIAN_LAST_NAME).lower() in str(row.Name).lower():
            name_match +=1
        if is_healthy(row.Name) == True:
            healthy += 1
        if str(row.OFFICE_ADDRESS_LINE_2).lower() in str(row.Address).lower():
            address_match +=1
        if str(row.Zipcode) in str(row.OFFICE_ADDRESS_ZIP):
            zipcode_match += 1
        if str(row.OFFICE_ADDRESS_CITY).lower() in str(row.City).lower():
            city_match += 1
        if row.Commercial == 'True' or row.Commercial == True:
            commercial += 1
        if 'Ambulatory Health Care Services' in str(row.Industry):
            industry += 1
        if row.Industry == 'Nursing and Residential Care Facilities':
            industry += 1
        if row.Industry == 'Hospitals':
            industry += 1

        if row.Address == 'None':
            no_address += 1
        if row.Date == 'None':
            no_date += 1
        if row.PhoneType == 'Business':
            business += 1
        if row.Name == 'None':
            no_name += 1
        
        if row.Industry == 'None':
            no_industry += 1
        if row.AlternatePhone == 'None':
            no_alternate_phone += 1

        if 'Ambulatory' in str(row.Industry):
            ambulatory += 1
        if 'Nursing' in str(row.Industry):
            nursing += 1
        if 'Hospitals' in str(row.Industry):
            hospitals += 1

        if row.LineType == 'Landline':
            landline += 1
        if row.LineType == 'FixedVOIP':
            fixed_voip += 1
        if row.LineType == 'NonFixedVOIP':
            non_fixed_voip += 1
        if row.LineType == 'Mobile':
            mobile += 1
        if row.State == row.OFFICE_ADDRESS_STATE:
            state_match += 1
        if str(row.PHYSICIAN_LAST_NAME).lower() in str(row.Name).lower():
            last_name_match +=1
        if str(row.PHYSICIAN_FIRST_NAME).lower() in str(row.Name).lower():
            first_name_match +=1
        
        if str(row.OFFICE_ADDRESS_LINE_1).lower() in str(row.Name).lower():
            workplace_match += 1

    new_dict = {
        'Address Matches': address_match,
        'City Matches': city_match,
        'Exact Name Matches': name_match,
        'Relevant Names': healthy,
        'No Address': no_address,
        'No Date': no_date,
        'Business Phone': business,
        'Commercial': commercial,
        'Correct Industry': industry,
        'Landline': landline, 
        'Zipcode Match': zipcode_match,
        'No Alternate Phone': no_alternate_phone,
        'Ambulatory Industry':ambulatory,
        'Hospital Industry': hospitals,
        'Nursing Industry':nursing,
        'Fixed VOIP': fixed_voip,
        'Non Fixed Voip': non_fixed_voip, 
        'Landline': landline,
        'Mobile': mobile,
        'No Industry': no_industry, 
        'No Name': no_name,
        'State Match': state_match,
        'First Name Match':first_name_match,
        'Last Name Match':last_name_match,
        'Workplace Match': workplace_match
        }
        
    return(new_dict)

In [58]:
analyze_numbers(CONNECTED_DF)

{'Address Matches': 33,
 'City Matches': 41,
 'Exact Name Matches': 9,
 'Relevant Names': 37,
 'No Address': 2,
 'No Date': 2,
 'Business Phone': 50,
 'Commercial': 50,
 'Correct Industry': 47,
 'Landline': 21,
 'Zipcode Match': 35,
 'No Alternate Phone': 21,
 'Ambulatory Industry': 43,
 'Hospital Industry': 3,
 'Nursing Industry': 1,
 'Fixed VOIP': 12,
 'Non Fixed Voip': 12,
 'Mobile': 0,
 'No Industry': 2,
 'No Name': 0,
 'State Match': 48,
 'First Name Match': 8,
 'Last Name Match': 9,
 'Workplace Match': 3}

In [49]:
DISCONNECTED_DF[['Zipcode', 'OFFICE_ADDRESS_ZIP']]

   Zipcode OFFICE_ADDRESS_ZIP
0     None              14620
1    18017              44708
2     None              33772
3    92704              91977
4    92704              91977
5    91913              91914
6    33548              34652
7    33548              34652
8    11550              11570
9    35233              37236
10   46254              46254
11   02860               2860
12    None              46202
13    None              42141
14    None              10960
15   21202              21202
16    None              10065
17   14623              14623
18   93003              93004
19   94928              95403
20   56303              43614
21   92037              92037
22   20659              20659
23   20659              20659
24   77002              77042
25   47408              47404
26   91913              91910
27   30680              30012
28    None              22042
29   34113              34114
30    None              24266
31    None              24266
32   50265              50265
33   08759               8759
34   63122              63122
35   44106               None
36    None              38801
37    None                727
38   33774              33774
39   04915               4915
40   24060              24060
41   24060              24060
42   90033              94063
43   33563              33563
44   14221              14221
45   03756               3756
46    None              85250
47    None              97239
48   48377              48377
49   60016              60007

In [75]:
wrong = pd.read_csv('ekata_wrong_numbers.csv')
wrong2 = pd.read_csv('../GetPhoneInfo/WRONG.csv')

In [76]:
WRONG2 = wrong2.drop(columns=['Address','City', 'Date','Name', 'Notes','PhoneType','Provider','QualityScore','State','Zipcode'])

In [77]:
WRONG = pd.merge(wrong, WRONG2, on='OFFICE_TELEPHONE')

In [80]:
WRONG = WRONG.fillna("None")
analyze_numbers(WRONG)

{'Address Matches': 2,
 'City Matches': 8,
 'Exact Name Matches': 4,
 'Relevant Names': 25,
 'No Address': 3,
 'No Date': 3,
 'Business Phone': 49,
 'Commercial': 49,
 'Correct Industry': 34,
 'Landline': 25,
 'Zipcode Match': 7,
 'No Alternate Phone': 30,
 'Ambulatory Industry': 33,
 'Hospital Industry': 1,
 'Nursing Industry': 0,
 'Fixed VOIP': 8,
 'Non Fixed Voip': 14,
 'Mobile': 0,
 'No Industry': 4,
 'No Name': 0,
 'State Match': 19,
 'First Name Match': 6,
 'Last Name Match': 4,
 'Workplace Match': 0}

In [73]:
WRONG.dtypes

Address                   object
AlternatePhone           float64
Carrier                   object
City                      object
Commercial                  bool
Date                      object
Error                    float64
Industry                  object
LineType                  object
Name                      object
OFFICE_TELEPHONE           int64
PhoneType                 object
State                     object
Valid                       bool
PHYSICIAN_ME_NUMBER        int64
PHYSICIAN_FIRST_NAME      object
PHYSICIAN_LAST_NAME       object
OFFICE_ADDRESS_LINE_1     object
OFFICE_ADDRESS_LINE_2     object
OFFICE_ADDRESS_ZIP        object
OFFICE_ADDRESS_STATE      object
OFFICE_ADDRESS_CITY       object
dtype: object

In [82]:
analyze_numbers(DISCONNECTED_DF)

{'Address Matches': 11,
 'City Matches': 25,
 'Exact Name Matches': 10,
 'Relevant Names': 24,
 'No Address': 13,
 'No Date': 13,
 'Business Phone': 36,
 'Commercial': 36,
 'Correct Industry': 30,
 'Landline': 35,
 'Zipcode Match': 14,
 'No Alternate Phone': 39,
 'Ambulatory Industry': 30,
 'Hospital Industry': 0,
 'Nursing Industry': 0,
 'Fixed VOIP': 7,
 'Non Fixed Voip': 7,
 'Mobile': 1,
 'No Industry': 18,
 'No Name': 0,
 'State Match': 39,
 'First Name Match': 7,
 'Last Name Match': 10,
 'Workplace Match': 4}

In [27]:
x = pd.read_csv('connected_ekata_all_september_19.csv')
y = pd.read_csv('disconnected_ekata_all_september_19.csv')

In [38]:
analyze_numbers(y)

{'Address Matches': 23,
 'City Matches': 52,
 'Exact Name Matches': 18,
 'Relevant Names': 51,
 'No Address': 29,
 'No Date': 29,
 'Business Phone': 78,
 'Commercial': 78,
 'Correct Industry': 56,
 'Landline': 75,
 'Zipcode Match': 30,
 'No Alternate Phone': 67,
 'Ambulatory Industry': 54,
 'Hospital Industry': 1,
 'Nursing Industry': 1,
 'Fixed VOIP': 7,
 'Non Fixed Voip': 15,
 'Mobile': 2,
 'No Industry': 40,
 'No Name': 5,
 'State Match': 89,
 'First Name Match': 13,
 'Last Name Match': 18,
 'Workplace Match': 4}

In [48]:
analyze_numbers(x)

{'Address Matches': 44,
 'City Matches': 77,
 'Exact Name Matches': 14,
 'Relevant Names': 64,
 'No Address': 6,
 'No Date': 6,
 'Business Phone': 94,
 'Commercial': 94,
 'Correct Industry': 89,
 'Landline': 53,
 'Zipcode Match': 68,
 'No Alternate Phone': 63,
 'Ambulatory Industry': 86,
 'Hospital Industry': 3,
 'Nursing Industry': 0,
 'Fixed VOIP': 20,
 'Non Fixed Voip': 24,
 'Mobile': 1,
 'No Industry': 8,
 'No Name': 0,
 'State Match': 92,
 'First Name Match': 16,
 'Last Name Match': 14,
 'Workplace Match': 2}

In [31]:
x['Name']

0                              Heather Dawn Boxerman MD
1                                      Gramza, Claire E
2                                        Choctaw Nation
3                                       Cleveland C The
4                              Concentra Medical Center
5                      Cumberland Women's Health Center
6                                    Logang, Linda N.P.
7                                    Mikhail, Fadi W MD
8                                        Rezaie, Ali MD
9                                   Kapoor, Shruti G MD
10                                Zahiruddin, Adil S MD
11                                  Mr. Robert R German
12                            Mirna Georges Boumitri MD
13    Methodist Family Health Center-South Grand Pra...
14                           North Texas Kidney Disease
15                           Ear Nose & Throat Surgeons
16                             Southwest Medical Center
17                                 C Catherine White DO
18                               Joel Bennett Garris MD
19                                           Guo Nie MD
20                  Holston Medical Group Endocrinology
21                       Orthopaedic Center Of South Fl
22                      Novant Health Brunswick Medical
23                           Well Group Health Partners
24                     Internal Medicine Center-Rittman
25                           Antelope Valley Cardiology
26                           Willis Knighton Pediatrics
27                          Mainegeneral Medical Center
28                                      Baizas, Carla E
29                                 Himanshu Aggarwal MD
                            ...
68                           Rodriguez-Robl, Alberto MD
69                               Barnard, Benjamin C MD
70        Sanford Bariatric & Metabolic Surgical Center
71                       Dominican Sisters Of Hawthorne
72                                 Melissa K Hartman MD
73                                     Lee, Jason J DDS
74                                     Cleary, Karen MD
75                                    White Plains Hosp
76                                  A Woman's Place Inc
77                                     Leroy, Me Ren MD
78                            Edward Anthony Overton DO
79                                 David Simon Henry MD
80                               Creative Health Center
81                                  Melinda Jo Velez DO
82                                 Ibrahim, Imani Alima
83                                Vander Brook, Dale DO
84    Utah Valley Hospital Newborn Intensive Care Un...
85                                Advanced Rheumatology
86                           Flatiron Internal Medicine
87                                         Vega Jose MD
88                          Southwestern Medical Clinic
89                            Mr. John Seneka Rajapakse
90                                      Kaiser Permanen
91                                     Ernest L Sink MD
92                                  David Siroospour MD
93                                Orozco, Kacie Lynn MD
94                            Jason Tadashi Takeuchi MD
95                                       Hadid Ahmad MD
96                         Anne Grayson Warren Peled MD
97                                   Spitler, Clay A MD
Name: Name, Length: 98, dtype: object

In [40]:
connected_variables = variable_breakdown(x)
disconnected_variables = variable_breakdown(y)

In [42]:
connected_df = pd.DataFrame(connected_variables)
connected_df['label']='connected'

In [43]:
disconnected_df = pd.DataFrame(disconnected_variables)
disconnected_df['label']='disconnected'

In [45]:
variables_for_model_ekata_thursday = pd.concat([connected_df,disconnected_df])

In [47]:
variables_for_model_ekata_thursday.to_csv('variables_for_model_ekata_thursday.csv',index=False)