In [3]:
import pandas as pd
import requests
from ekata_utility import key

In [5]:
wrong_numbers = pd.read_csv('../new_wrong_numbers_all.csv')

In [10]:
connected_numbers = pd.read_csv('../new_connected_numbers.csv')
connected_numbers.head()

,Unnamed: 0,Address_x,City_x,Date_x,Name_x,Notes,OFFICE_TELEPHONE,PhoneType_x,Provider,QualityScore,...,City_y,Commercial,Date_y,Error,Industry,LineType,Name_y,PhoneType_y,State_y,Valid
0,40,NaN,SCOTTSDALE,8/20/2018,MIHS MAIN,"IsConnected,IsPorted",6023441015,BUSINESS,COX AZ TELCOM,MED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54,222 N 7TH ST,BISMARCK,NaN,GREGORY PETERSON,"IsMailable,IsConnected",7013238030,RESIDENTIAL,QWEST CORPORATION,HIGH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68,NaN,NaN,9/30/2015,ST MARY MERCY,"IsConnected,IsPorted",7347434430,BUSINESS,AMERITECH MICHIGAN,MED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,58,1436 CHATTANOOGA AVE,DALTON,7/8/2013,DALTON EAR NOSE THROAT ASSOCIATES PC SHIRLEY RUDY,"IsMailable,IsConnected,IsPorted",7062262142,BUSINESS,DALTON UTILITIES-GA,HIGH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62,3501 CRANBERRY BLVD,WAUSAU,12/28/2018,WEISSMAN MARK N MD MARSHFIELD CLINICWAUSAUCENTER,"IsConnected,IsPorted",7158473339,BUSINESS,TELEPORT COM AM - WI,HIGH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
disconnected_numbers = pd.read_csv('../new_disconnected_numbers.csv')
disconnected_numbers.head()

,Unnamed: 0,Address_x,City_x,Date_x,Name_x,Notes,OFFICE_TELEPHONE,PhoneType_x,Provider,QualityScore,...,City_y,Commercial,Date_y,Error,Industry,LineType,Name_y,PhoneType_y,State_y,Valid
0,59,NaN,NaN,NaN,HITCH DARTMOUTH,IsConnected,6036506247,RESIDENTIAL,CONSOLIDATED NH,MED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33,15396 BASSFORD RD,WALDORF,NaN,EDWARD BALDWIN,"IsMailable,IsConnected",3012743706,RESIDENTIAL,VERIZON MARYLAND INC,HIGH,...,Mechanicsville,True,11/20/2016,NaN,Ambulatory Health Care Services,Landline,St Mary's Neurology & Spine,Business,MD,True
2,43,2219 DILLON RD,CLOVIS,1/11/2019,PLAINS REGIONAL CANCER CENTER,"IsMailable,IsPorted,IsPossiblePortableVOIP",5757697669,BUSINESS,LEVEL 3 COMM - NM,LOW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,49,210 PROFESSIONAL PARK DR SE STE 12,BLACKSBURG,NaN,NEUROLOGY SERVICES OF SWVA INC,"IsMailable,IsPossibleDisconnected,INF",5409610410,BUSINESS,VERIZON VIRGINIA INC,LOW,...,Blacksburg,True,11/15/2016,NaN,Ambulatory Health Care Services,Landline,Steven Douglas Nack DO,Business,VA,True
4,39,NaN,BIRMINGHAM,11/12/2010,C GLAUCOMA,IsPorted,2058242227,RESIDENTIAL,US LEC OF AL,LOW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def reverse_lookup(phone_number):
    info_dict = {}
    base_url = 'https://proapi.whitepages.com/3.1/phone?'
    parameters = {'phone':phone_number, 'api_key': key}
    response =  requests.get(base_url, params=parameters)
    results = response.json()
    info_dict['OFFICE_TELEPHONE'] = phone_number
    try:
        info_dict["Name"] = results['belongs_to']['name']
    except:
        info_dict["Name"] = 'N/A'
    try:
        info_dict["Address"] = results['current_addresses'][0]['street_line_1']
    except:
        info_dict["Address"] = 'N/A'
    try:
        info_dict["City"] = results['current_addresses'][0]['city']
    except:
        info_dict["City"] = 'N/A'
    try:
        info_dict["State"] = results['current_addresses'][0]['state_code']
    except:
        info_dict["State"] = 'N/A'
    try:
        info_dict["PhoneType"] = results['belongs_to']['type']
    except:
        info_dict["PhoneType"] = 'N/A'
    try:
        info_dict["Valid"] = results['is_valid']
    except:
        info_dict["Valid"] = 'N/A'
    try:
        info_dict["Date"] = results['current_addresses'][0]['link_to_person_start_date']
    except:
        info_dict["Date"] = 'N/A'
    try:
        info_dict["LineType"] = results['line_type']
    except:
        info_dict["LineType"] = 'N/A'
    try:
        info_dict["Carrier"] = results['carrier']
    except:
        info_dict["Carrier"] = 'N/A'
    try:
        info_dict["Commercial"] = results['is_commercial']
    except:
        info_dict["Commercial"] ='N/A'
    try:
        info_dict["Industry"] = results['belongs_to']['industry'][0]
    except:
        info_dict["Industry"] = 'N/A'
    try:
        info_dict["AlternatePhone"] = results['alternate_phones'][0]['phone_number']
    except:
        info_dict["AlternatePhone"] = 'N/A'
    try:
        info_dict['Error'] = results['error']
    except:
        info_dict['Error'] = 'None'
    return(info_dict, results)

In [15]:
results_dict_list3 = []
fun_massive_list3 = []
count = 0
for row in disconnected_numbers.itertuples():
    count = count +1
    new_dict = {}
    phone = str(row.OFFICE_TELEPHONE)[0:10]
    try:
        new_dict, phone_results = reverse_lookup(phone)
        results_dict_list3.append(new_dict)
        fun_massive_list3.append(phone_results)
    except:
        pass
    print(count)
new_df3 = pd.DataFrame(results_dict_list3)

1
2
3
4
5
6
7
8
9
10

In [9]:
new_df.to_csv('ekata_wrong_numbers.csv')

In [14]:
new_df2.to_csv('ekata_new_connected.csv')

In [17]:
new_df3.to_csv('ekata_new_disconnected.csv')