In [55]:
import pandas as pd
import openpyxl

In [23]:
wslive_table = pd.read_excel('y-WSLive-Results-20200106.xlsm', sheet_name = 'Summary Percentage', header=3).dropna()

In [41]:
values = list(wslive_table[wslive_table['POLO Address Status']=='Confirmed'].iloc[:,-1])
values.remove(1)

In [31]:
col_list = ['polo_correct',
'telephone_correct',
'telephone_2_correct',
'fax_correct',
'employment_correct']

In [43]:
pd.DataFrame({'1':col_list,'2':values})

                     1         2
0         polo_correct  0.858639
1    telephone_correct  0.762337
2  telephone_2_correct  0.534500
3          fax_correct  0.697326
4   employment_correct  0.771412

In [48]:
history = pd.read_excel('v-Masterfile-Scorecard-Prototype.xlsx', sheet_name = 'Notes_2')

In [67]:
TEST = history.iloc[:,[-3,-2,-1]]

In [57]:
from openpyxl import load_workbook
wb2 = load_workbook('v-Masterfile-Scorecard-Prototype.xlsx')
print (wb2.sheetnames)

['Table of Contents', 'Current Scorecard Overview', 'Historic View - Completeness', 'Historic View - Correctness', 'Progress', 'Notes', 'Notes_2']

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:296: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [59]:
ws = wb2['Notes_2']

In [60]:
# Data can be assigned directly to cells
ws['A1'] = 42

# Rows can also be appended
ws.append([1, 2, 3])

# Python types will automatically be converted
import datetime
ws['A2'] = datetime.datetime.now()

# Save the file
wb.save("sample.xlsx")

In [65]:
cell_range = ws['A2':'D20']

In [76]:
ws['B2'] = 'mailing_completness'

In [99]:
wb2.save('test.xlsx')

In [84]:
history_list =[]
for row in ws.iter_rows(min_row=1, min_col = 3, max_col=5, max_row=20, values_only=True):
    history_list.append(row)

In [71]:
['B','C','D']
['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']

         Sep 2019       Oct 2019       Nov 2019
0        0.982352       0.982187       0.982034
1        0.903230       0.901495       0.898615
2        0.775815       0.793667       0.823065
3        0.680405       0.680875       0.682371
4        0.931061       0.932325       0.932790
5        0.752497       0.755493       0.757966
6        0.949606       0.962950       0.963438
7        0.644407       0.665835       0.667582
8   841570.098729  838015.841584  833260.130081
9   365132.113428  387740.982143  405210.445216
10  492495.422668  482215.092264  472065.416147
11  667342.000000  691456.164000  693561.607500
12       0.761962       0.758684       0.754122
13       0.382383       0.407463       0.428059
14       0.524186       0.513262       0.502613
15       0.488707       0.500932       0.564706
16       0.530740       0.549979       0.551757
17       0.448018       0.449122       0.451848
18       0.842663       0.843375       0.844577

In [97]:
row_num=1
for row in history_list:
    ws['B'+str(row_num)]=row[0]
    ws['C'+str(row_num)]=row[1]
    ws['D'+str(row_num)]=row[2]
    row_num+=1

In [88]:
'B'+str(row_num)

'B0'

In [94]:
history_list[0][0]

'Sep 2019'

In [98]:
for row in ws.iter_rows(min_row=1, min_col = 0, max_col=5, max_row=20, values_only=True):
    print(row)

('Core Existing Data', 'Sep 2019', 'Oct 2019', 'Nov 2019', 'Nov 2019')
('mailing_completness', 0.9823521926545674, 0.9821871719003532, 0.9820342941879354, 0.9820342941879354)
('polo_completeness', 0.9032298331236569, 0.9014950109182065, 0.898614843152257, 0.898614843152257)
('phone_completeness', 0.7758146786565696, 0.7936667058351204, 0.823064728385616, 0.823064728385616)
('fax_completeness', 0.6804053690223856, 0.6808750232562694, 0.6823712318286151, 0.6823712318286151)
('practice_compelteness', 0.9310614134151967, 0.9323247749037574, 0.93279029694369, 0.93279029694369)
('employment_completeness', 0.7524972561993988, 0.7554929846330056, 0.757966151315109, 0.757966151315109)
('spec_completeness', 0.9496063242615598, 0.9629497947885846, 0.9634377242431619, 0.9634377242431619)
('email_completeness', 0.64440662329606, 0.6658346855015749, 0.6675823345314184, 0.6675823345314184)
('polo_correct', 841570.0987292278, 838015.8415841584, 833260.1300813007, 833260.1300813007)
('phone_correct', 365132.11342828075, 387740.9821428571, 405210.44521566684, 405210.44521566684)
('fax_correct', 492495.42266750155, 482215.0922639209, 472065.4161472247, 472065.4161472247)
('email_corect', 667341.9999999999, 691456.164, 693561.6075, 693561.6075)
('polo_combo', 0.7619622150398006, 0.7586839200796787, 0.7541221222117857, 0.7541221222117857)
('phone_combo', 0.3823827180153692, 0.407462817727852, 0.42805894897199365, 0.42805894897199365)
('fax_combo', 0.5241862277315018, 0.5132622448716817, 0.5026133012118458, 0.5026133012118458)
('employment_combo', 0.4887069949205655, 0.5009324843237948, 0.5647061560703246, 0.5647061560703246)
('email_combo', 0.5307401103882675, 0.5499794502243008, 0.5517567994902173, 0.5517567994902173)
('do_student', 0.4480176667471792, 0.44912183844587833, 0.4518477623270419, 0.4518477623270419)
('do_physician', 0.8426626463678574, 0.843374831202945, 0.8445772211842616, 0.8445772211842616)

In [96]:
ws['B1'].value

0.8426626463678574