In [1]:
import pandas as pd
import requests

In [8]:
short_list = pd.read_csv('../GetPhoneInfo/connected_final.csv')
long_list = pd.read_csv('../connected.csv')
connected_wide = pd.merge(short_list, long_list, on = 'OFFICE_TELEPHONE')
connected_df = connected_wide[['OFFICE_TELEPHONE', 'PHYSICIAN_ME_NUMBER', 'PHYSICIAN_FIRST_NAME_x', 'PHYSICIAN_MIDDLE_NAME','PHYSICIAN_LAST_NAME_x', 'OFFICE_ADDRESS_LINE_1']]
connected_df = connected_df.rename(columns={"PHYSICIAN_FIRST_NAME_x": "PHYSICIAN_FIRST_NAME", "PHYSICIAN_LAST_NAME_x": "PHYSICIAN_FIRST_NAME"})
connected_df.head()

,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_FIRST_NAME,OFFICE_ADDRESS_LINE_1
0,6147884440,2307060208,SHRUTI,NaN,KAPOOR,DOCTORS HOSPITAL
1,4052309435,3901790859,THOMAS,P,JANSSEN,MCBRIDE ORTHOPEDIC HOSPITAL
2,3105562020,3546970263,PAYAM,RON,YASHAR,NaN
3,8648499555,4501130911,MACKENZIE,JOHANNA,BARTZ,NaN
4,8305383550,4814840102,ANN,PATRICE,BLACK,NaN

In [9]:
short_list2 = pd.read_csv('../GetPhoneInfo/disconnected_final.csv')
long_list2 = pd.read_csv('../disconnected.csv')
disconnected_wide = pd.merge(short_list2, long_list2, on = 'OFFICE_TELEPHONE')
disconnected_df = disconnected_wide[['OFFICE_TELEPHONE', 'PHYSICIAN_ME_NUMBER', 'PHYSICIAN_FIRST_NAME_x', 'PHYSICIAN_MIDDLE_NAME','PHYSICIAN_LAST_NAME_x', 'OFFICE_ADDRESS_LINE_1']]
disconnected_df = disconnected_df.rename(columns={"PHYSICIAN_FIRST_NAME_x": "PHYSICIAN_FIRST_NAME", "PHYSICIAN_LAST_NAME_x": "PHYSICIAN_FIRST_NAME"})
disconnected_df.head()

,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_FIRST_NAME,OFFICE_ADDRESS_LINE_1
0,7848098180,4203800491,ROBERTO,NaN,ALVAREZ-SWIHART,MENNOMITE GENERAL HOSP
1,2123047330,3509920027,MYKOLA,ROMAN,ALYSKEWYCZ,NaN
2,4017665959,70401610080,MOHAMMAD,NaN,ARIF,NaN
3,9014486657,4706820120,WILLIAM,R,BASTNAGEL,NaN
4,4156412140,801940081,YAMILEE,ODILE,BERMINGHAM,MARIN GENERAL HOSPITAL

In [11]:
wrong_numbers = pd.read_csv("../wrong_numbers.csv")
wrong_wide = wrong_numbers.sample(n=100)
wrong_df = wrong_wide[['OFFICE_TELEPHONE', 'PHYSICIAN_ME_NUMBER', 'PHYSICIAN_FIRST_NAME', 'PHYSICIAN_MIDDLE_NAME','PHYSICIAN_LAST_NAME', 'OFFICE_ADDRESS_LINE_1']]

In [12]:
wrong_df

,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,OFFICE_ADDRESS_LINE_1
48,6166491075,3841870068,STEPHANIE,ARTNER,BISHOP,OCCUPATIONAL HEALTH SERVICES
132,9166144065,2834970441,SANDRA,WEI,LAI,NaN
103,5107048364,1642960471,REGIS,MICHEL,DE BARROS,UNITED HEALTH CENTERS OF THE SAN JOAQUIN
19,5087559535,5104091671,KATE,ROBINSON,SCHOOLWERTH,L-579 OHSU
61,4809485045,2879850781,SUSAN,J,VAN DELLEN,NaN
55,3145771607,2803110827,KAYLA,ROSE,SCHLEICHER,CHILDRENS MERCY HOSPITAL
12,9194672253,5101750614,JOHN,EDWIN,LACOUTURE,NaN
70,7132298100,1611960014,PATRICK,NaN,MC INERNEY,KISHWAUKEE HOSPITAL
15,2022255421,5404132166,JONETTE,NaN,BARTLETT,US NAVY
101,5414727140,4002860690,PHILIP,MONTGOMERY,ROSE,NaN
39,7188493000,506051037,PAYAL,BANSAL,MITTAL,KRAEMER MEDICAL OFFICE 1
153,4046794500,2604822401,ALICE,NaN,PENROSE-MILLER,PACKARD HEALTH
1,2523995300,3601970880,KENNETH,LEE,JOHNSON,UNC EAR NOSE & THROAT AT CLAYTON
68,6623492979,2105811848,PATRICIA,G,WRIGHT,NaN
86,9067863311,2507061918,PATRICK,JOHN,BISSELL,NaN
22,7013648900,70402861221,AQEEL,NaN,AHMED,NaN
85,6506541854,74810890731,NELIA,M,SAN JOSE,EASTERN STATE HOSPITAL
27,8589665818,4115990298,CATHERINE,E,MADIGAN,MC 5035
130,6507422000,5002830177,ROSS,ALAN,DYKSTRA,KAISER PERMANENTE MED CENTER
73,8058932432,4204000072,MARIBEL,NaN,ACEVEDO QUINONES,PALMAR DEL RIO CONDOMINIUM APARTMENT A40
98,4082725269,511700566,PATRICK,MICHAEL,SULLIVAN,NaN
71,5094743131,4177040351,KRISTIN,A,MELNICK,NaN
107,8885795910,1201950208,PATRICIA,ANNE,HARWELL,NaN
146,8885795910,3845830532,TERRY,LEE,LINVILLE,NaN
148,5306478505,64903020031,VICTOR,HUGO,ALVAREZ CASILLAS,NaN
36,3024492578,4177110324,MELISSA,MARY,BADENHOP,NaN
62,4156001051,502090909,YU,NaN,XIE,NaN
66,4106015248,2507862546,LEIGH,NaN,VINOCUR,LEIGH VINOCUR MD PC
9,2396593053,4201080822,JAVIER,ALBERTO,MENDEZ,OFFICE PARK I
136,3026555227,3503851376,SUSAN,MARGARET,DONNELLY,NaN
...,...,...,...,...,...,...
99,9513017191,3575901220,PAULA,D,SCARIATI,NaN
23,6157126500,4802720934,BOB,REAMS,MAXCEY,NaN
17,5025886000,24376920034,JUN,NaN,YAN,DEPARTMENT OF ANESTHESIOLOGY
150,7817448000,511920078,AELIZABETH,JORDAN,BRICE,CAPE COD HOSPITAL
53,4148053666,2401630361,JON,EDWARD,GUDEMAN,STOP1
108,8667205721,3979770234,PAUL,S,RUBLE,NaN
141,2347060658,3201010429,TONYA,MIKO,ENOMOTO,NaN
79,8472965470,2012010675,PETER,HAAN,JOHNSON,NaN
0,7043553165,3601001127,KELLI,COOP,DUNN,NaN
139,6106816800,4177891491,THOMAS,EDWARD,MUNSHOWER,FAMILY HEALTH CENTER
20,3157012550,3515690459,LINDA,KENNEDY,PIER,NaN
125,9725391600,70401890180,TAIMUR,S,BUTT,NaN
63,5703317615,4114810253,KIM,ANNE,HANLON,NaN
25,8475590090,4178070059,DAVID,M,MANN,NaN
40,2035335911,5101010581,PAUL,ALLEN,DI CAMILLO,RADIOLOGY RESIDENCY PROGRAM
37,6462274900,91502740429,MOHAMED,H,EL MOUELHI,NaN
4,7326577344,3607120951,ADAM,WOODS,NARDINI,DEPT FAMILY MEDICINE
126,2284749511,4177030371,TANIYA,LAMIKA,SMITH,SOUTH ALABAMA MEDICAL CENTER
46,9047275151,2405800376,RUTH,GOTTLIEB,KING,NaN
117,9784687111,30501013141,SEONG,YEON,PARK,DEPT OF ANESTHESIOLOGY
35,8187864910,74801950225,MARIA FE,BELLEN,VILLOSIS,NaN
121,2175287541,4804990891,SHAILAJA,M,PHILIP,CHILDREN'S MEDICAL CENTER
24,6019842150,2701140471,BENJAMIN,MICHAEL,ILLICH,NaN
42,2292763100,2803990061,PRIYA,D,RAVINDRAN,NaN
78,9373848798,3875990518,MICHALE,DAVID,LAKES,NaN
77,2024440757,1601921371,MICHAEL,FRANCIS,REILLY,HOLISTIC AND FAMILY PRACTICE MEDICINE L
89,5407723530,1201010400,PHILLIP,JUSTIN,PATTERSON,VETERANS AFFAIRS HOSPITAL
29,2083542394,4802750507,GUY,KENNETH,DRIGGS,NaN
28,9167343723,375100070,ETHAN,ROBERT,STEWART,NaN
11,2024630220,3501681139,JEREMY,PETER,WALETZKY,NaN

In [13]:
account_sid = "AC3f5ea9ca99884402baac7d6a32e1a618"
auth_token = "AUc1138b32e04a42e68a73cf9b8fcaa329"

In [18]:
phone_number = "7732395590"
params = {'account_sid': account_sid, 'auth_token': auth_token, 'format': 'json'}
base_url = f'https://api.opencnam.com/v3/phone/+1{phone_number}?'

response = requests.get(base_url, params=params)
results = response.json()
results['name']

In [23]:
def reverse_CNAM(number):
    params = {'account_sid': account_sid, 'auth_token': auth_token, 'format': 'json'}
    base_url = f'https://api.opencnam.com/v3/phone/+1{number}?'

    response = requests.get(base_url, params=params)
    results = response.json()
    try:
        name = results['name']
    except:
        name = 'N/A'
    
    return(name)

In [25]:
def get_CNAM(df):
    dict_list = []
    for row in df.itertuples():
        new_dict = {}
        try:
            name = reverse_CNAM(row.OFFICE_TELEPHONE)
        except:
            name = "N/A"
        new_dict['Name_CNAM'] = name
        new_dict['OFFICE_TELEPHONE'] = row.OFFICE_TELEPHONE
        dict_list.append(new_dict)
    return(dict_list)

In [27]:
connected_CNAM = get_CNAM(connected_df)

In [30]:
connected_CNAM_df = pd.DataFrame(connected_CNAM)
connected_OpenCNAM_df = pd.merge(connected_CNAM_df, connected_df, on='OFFICE_TELEPHONE')
connected_OpenCNAM_df.head()

,Name_CNAM,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_FIRST_NAME,OFFICE_ADDRESS_LINE_1
0,OHIOHEALTH,6147884440,2307060208,SHRUTI,NaN,KAPOOR,DOCTORS HOSPITAL
1,MCBRIDE ORTHOPE,4052309435,3901790859,THOMAS,P,JANSSEN,MCBRIDE ORTHOPEDIC HOSPITAL
2,PAYAM YASHAR MD,3105562020,3546970263,PAYAM,RON,YASHAR,NaN
3,PSS PELHAM,8648499555,4501130911,MACKENZIE,JOHANNA,BARTZ,NaN
4,LITTLE ALSACE U,8305383550,4814840102,ANN,PATRICE,BLACK,NaN

In [31]:
disconnected_CNAM = get_CNAM(disconnected_df)

In [32]:
disconnected_CNAM_df = pd.DataFrame(disconnected_CNAM)
disconnected_OpenCNAM_df = pd.merge(disconnected_CNAM_df, disconnected_df, on='OFFICE_TELEPHONE')
disconnected_OpenCNAM_df.head()

,Name_CNAM,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_FIRST_NAME,OFFICE_ADDRESS_LINE_1
0,N/A,7848098180,4203800491,ROBERTO,NaN,ALVAREZ-SWIHART,MENNOMITE GENERAL HOSP
1,NYPRES,2123047330,3509920027,MYKOLA,ROMAN,ALYSKEWYCZ,NaN
2,CARDIOLOGY ASSO,4017665959,70401610080,MOHAMMAD,NaN,ARIF,NaN
3,UT HEALTHSCICTR,9014486657,4706820120,WILLIAM,R,BASTNAGEL,NaN
4,SUTTER HEALTH,4156412140,801940081,YAMILEE,ODILE,BERMINGHAM,MARIN GENERAL HOSPITAL

In [33]:
wrong_CNAM = get_CNAM(wrong_df)

In [34]:
wrong_CNAM_df = pd.DataFrame(wrong_CNAM)
wrong_OpenCNAM_df = pd.merge(wrong_CNAM_df, wrong_df, on='OFFICE_TELEPHONE')
wrong_OpenCNAM_df

,Name_CNAM,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,OFFICE_ADDRESS_LINE_1
0,"GRAND RAPID, MI",6166491075,3841870068,STEPHANIE,ARTNER,BISHOP,OCCUPATIONAL HEALTH SERVICES
1,KAISER PERMANEN,9166144065,2834970441,SANDRA,WEI,LAI,NaN
2,REGIS KWO MD,5107048364,1642960471,REGIS,MICHEL,DE BARROS,UNITED HEALTH CENTERS OF THE SAN JOAQUIN
3,"WORCESTER, MA",5087559535,5104091671,KATE,ROBINSON,SCHOOLWERTH,L-579 OHSU
4,VAN DYKE AESTHE,4809485045,2879850781,SUSAN,J,VAN DELLEN,NaN
5,ICL,3145771607,2803110827,KAYLA,ROSE,SCHLEICHER,CHILDRENS MERCY HOSPITAL
6,RAFAEL MORESCHI,9194672253,5101750614,JOHN,EDWIN,LACOUTURE,NaN
7,MCCLELLAN PATRI,7132298100,1611960014,PATRICK,NaN,MC INERNEY,KISHWAUKEE HOSPITAL
8,U S CAPITOL,2022255421,5404132166,JONETTE,NaN,BARTLETT,US NAVY
9,ASANTE HLTH SYS,5414727140,4002860690,PHILIP,MONTGOMERY,ROSE,NaN
10,LEFFERTS ANIMAL,7188493000,506051037,PAYAL,BANSAL,MITTAL,KRAEMER MEDICAL OFFICE 1
11,SACSCOCS,4046794500,2604822401,ALICE,NaN,PENROSE-MILLER,PACKARD HEALTH
12,WILSON MEDICAL,2523995300,3601970880,KENNETH,LEE,JOHNSON,UNC EAR NOSE & THROAT AT CLAYTON
13,ASHLEY SCHACHTE,6623492979,2105811848,PATRICIA,G,WRIGHT,NaN
14,OSF ST FRANCIS,9067863311,2507061918,PATRICK,JOHN,BISSELL,NaN
15,ESSENTIA HEALTH,7013648900,70402861221,AQEEL,NaN,AHMED,NaN
16,BARKHORDAR RAHM,6506541854,74810890731,NELIA,M,SAN JOSE,EASTERN STATE HOSPITAL
17,CHILDRENS HOSPI,8589665818,4115990298,CATHERINE,E,MADIGAN,MC 5035
18,KAISER FOUNDATI,6507422000,5002830177,ROSS,ALAN,DYKSTRA,KAISER PERMANENTE MED CENTER
19,UNIV OF CAL SB,8058932432,4204000072,MARIBEL,NaN,ACEVEDO QUINONES,PALMAR DEL RIO CONDOMINIUM APARTMENT A40
20,PATTI SULLIVAN,4082725269,511700566,PATRICK,MICHAEL,SULLIVAN,NaN
21,SACRED HEART ME,5094743131,4177040351,KRISTIN,A,MELNICK,NaN
22,INTEGRITY ROOFI,8885795910,1201950208,PATRICIA,ANNE,HARWELL,NaN
23,INTEGRITY ROOFI,8885795910,3845830532,TERRY,LEE,LINVILLE,NaN
24,INTEGRITY ROOFI,8885795910,4203970035,MARISOL,NaN,PABON,NaN
25,INTEGRITY ROOFI,8885795910,1201950208,PATRICIA,ANNE,HARWELL,NaN
26,INTEGRITY ROOFI,8885795910,3845830532,TERRY,LEE,LINVILLE,NaN
27,INTEGRITY ROOFI,8885795910,4203970035,MARISOL,NaN,PABON,NaN
28,INTEGRITY ROOFI,8885795910,1201950208,PATRICIA,ANNE,HARWELL,NaN
29,INTEGRITY ROOFI,8885795910,3845830532,TERRY,LEE,LINVILLE,NaN
...,...,...,...,...,...,...,...
76,DANEK SUSAN M,9513017191,3575901220,PAULA,D,SCARIATI,NaN
77,BRENTWOOD COMMU,6157126500,4802720934,BOB,REAMS,MAXCEY,NaN
78,UOFL PHYSICIANS,5025886000,24376920034,JUN,NaN,YAN,DEPARTMENT OF ANESTHESIOLOGY
79,"LAHEY,HOSPITAL",7817448000,511920078,AELIZABETH,JORDAN,BRICE,CAPE COD HOSPITAL
80,MED COLLEGE OF,4148053666,2401630361,JON,EDWARD,GUDEMAN,STOP1
81,FBI,8667205721,3979770234,PAUL,S,RUBLE,NaN
82,"AKRON, OH",2347060658,3201010429,TONYA,MIKO,ENOMOTO,NaN
83,JOHNSON PETER M,8472965470,2012010675,PETER,HAAN,JOHNSON,NaN
84,ATRIUM HEALTH,7043553165,3601001127,KELLI,COOP,DUNN,NaN
85,"KRESGEVILLE, PA",6106816800,4177891491,THOMAS,EDWARD,MUNSHOWER,FAMILY HEALTH CENTER
86,CROUSE HOSPITAL,3157012550,3515690459,LINDA,KENNEDY,PIER,NaN
87,FAMCAR CLINIC O,9725391600,70401890180,TAIMUR,S,BUTT,NaN
88,SURGICAL SPECIA,5703317615,4114810253,KIM,ANNE,HANLON,NaN
89,ILLINIDERM.INST,8475590090,4178070059,DAVID,M,MANN,NaN
90,CAREMORE,2035335911,5101010581,PAUL,ALLEN,DI CAMILLO,RADIOLOGY RESIDENCY PROGRAM
91,355 LEXINGTON A,6462274900,91502740429,MOHAMED,H,EL MOUELHI,NaN
92,MICRO MEDIA,7326577344,3607120951,ADAM,WOODS,NARDINI,DEPT FAMILY MEDICINE
93,COASTAL FAM HLT,2284749511,4177030371,TANIYA,LAMIKA,SMITH,SOUTH ALABAMA MEDICAL CENTER
94,MILLENN PHYSGRP,9047275151,2405800376,RUTH,GOTTLIEB,KING,NaN
95,GORDON CONWELL,9784687111,30501013141,SEONG,YEON,PARK,DEPT OF ANESTHESIOLOGY
96,KIM KYU HYUN MD,8187864910,74801950225,MARIA FE,BELLEN,VILLOSIS,NaN
97,SPRINGFIELD CLI,2175287541,4804990891,SHAILAJA,M,PHILIP,CHILDREN'S MEDICAL CENTER
98,UNIV OF MS MED,6019842150,2701140471,BENJAMIN,MICHAEL,ILLICH,NaN
99,CRISP REG HOSP,2292763100,2803990061,PRIYA,D,RAVINDRAN,NaN
100,SYCAMORE HOSPIT,9373848798,3875990518,MICHALE,DAVID,LAKES,NaN
101,GEORGETOWNHOSP,2024440757,1601921371,MICHAEL,FRANCIS,REILLY,HOLISTIC AND FAMILY PRACTICE MEDICINE L
102,LEWIS GALE PHYS,5407723530,1201010400,PHILLIP,JUSTIN,PATTERSON,VETERANS AFFAIRS HOSPITAL
103,VALLEY MORTUARY,2083542394,4802750507,GUY,KENNETH,DRIGGS,NaN
104,UC DAVIS MED CE,9167343723,375100070,ETHAN,ROBERT,STEWART,NaN
105,PRICE MEDICAL,2024630220,3501681139,JEREMY,PETER,WALETZKY,NaN

In [35]:
wrong_OpenCNAM_df.to_csv("wrong_CNAM.csv")
connected_OpenCNAM_df.to_csv("connected_CNAM.csv")
disconnected_OpenCNAM_df.to_csv("disconnected_CNAM.csv")