In [1]:
from numpy.random import seed
seed(1)

In [2]:
import numpy as np
import pandas as pd

In [3]:
import tensorflow

In [8]:
numbers = pd.read_csv('everyone_model_numbers.csv')
numbers.head()

,Address Matches,Business Phone,CNAM Sitation,City Matches,First Name Match,Landline,Last Name Match,No Address,No Name,Relevant Names,State Match,Workplace Match,Zipcode Matches,label
0,0,1,0,1,1,1,1,0,0,1,1,0,1,connected
1,1,1,0,1,0,1,0,0,0,1,1,0,1,connected
2,1,1,0,1,0,1,0,0,0,1,1,0,1,connected
3,0,1,0,1,0,1,0,0,0,1,1,0,1,connected
4,1,1,0,1,0,1,0,0,0,1,1,0,1,connected

In [9]:
X = numbers.drop("label",axis = 1)
y = numbers['label']
print(X.shape, y.shape)

(101, 13) (101,)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 12, stratify = y)

In [12]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\vigrose\AppData\Local\Programs\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [14]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [15]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [16]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=13))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From C:\Users\vigrose\AppData\Local\Programs\anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [18]:
model.compile(optimizer ='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               1400
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
=================================================================
Total params: 11,702
Trainable params: 11,702
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.fit(X_train_scaled,
         y_train_categorical,
         epochs=100,
         shuffle=True,
         verbose=2
         )

Epoch 1/100
75/75 - 0s - loss: 0.3235 - acc: 0.8400
Epoch 2/100
75/75 - 0s - loss: 0.3260 - acc: 0.8400
Epoch 3/100
75/75 - 0s - loss: 0.3189 - acc: 0.8533
Epoch 4/100
75/75 - 0s - loss: 0.3216 - acc: 0.8400
Epoch 5/100
75/75 - 0s - loss: 0.3191 - acc: 0.8533
Epoch 6/100
75/75 - 0s - loss: 0.3160 - acc: 0.8533
Epoch 7/100
75/75 - 0s - loss: 0.3123 - acc: 0.8533
Epoch 8/100
75/75 - 0s - loss: 0.3095 - acc: 0.8533
Epoch 9/100
75/75 - 0s - loss: 0.3071 - acc: 0.8533
Epoch 10/100
75/75 - 0s - loss: 0.3060 - acc: 0.8533
Epoch 11/100
75/75 - 0s - loss: 0.3029 - acc: 0.8533
Epoch 12/100
75/75 - 0s - loss: 0.3034 - acc: 0.8533
Epoch 13/100
75/75 - 0s - loss: 0.3016 - acc: 0.8533
Epoch 14/100
75/75 - 0s - loss: 0.2982 - acc: 0.8533
Epoch 15/100
75/75 - 0s - loss: 0.2972 - acc: 0.8667
Epoch 16/100
75/75 - 0s - loss: 0.2972 - acc: 0.8667
Epoch 17/100
75/75 - 0s - loss: 0.2952 - acc: 0.8667
Epoch 18/100
75/75 - 0s - loss: 0.2937 - acc: 0.8667
Epoch 19/100
75/75 - 0s - loss: 0.2936 - acc: 0.8667
Epoch 20/100
75/75 - 0s - loss: 0.2951 - acc: 0.8667
Epoch 21/100
75/75 - 0s - loss: 0.2942 - acc: 0.8667
Epoch 22/100
75/75 - 0s - loss: 0.2879 - acc: 0.8667
Epoch 23/100
75/75 - 0s - loss: 0.2872 - acc: 0.8533
Epoch 24/100
75/75 - 0s - loss: 0.2886 - acc: 0.8667
Epoch 25/100
75/75 - 0s - loss: 0.2863 - acc: 0.8667
Epoch 26/100
75/75 - 0s - loss: 0.2867 - acc: 0.8533
Epoch 27/100
75/75 - 0s - loss: 0.2891 - acc: 0.8533
Epoch 28/100
75/75 - 0s - loss: 0.2873 - acc: 0.8533
Epoch 29/100
75/75 - 0s - loss: 0.2819 - acc: 0.8533
Epoch 30/100
75/75 - 0s - loss: 0.2842 - acc: 0.8800
Epoch 31/100
75/75 - 0s - loss: 0.2876 - acc: 0.8667
Epoch 32/100
75/75 - 0s - loss: 0.2867 - acc: 0.8667
Epoch 33/100
75/75 - 0s - loss: 0.2828 - acc: 0.8667
Epoch 34/100
75/75 - 0s - loss: 0.2764 - acc: 0.8667
Epoch 35/100
75/75 - 0s - loss: 0.2793 - acc: 0.8667
Epoch 36/100
75/75 - 0s - loss: 0.2827 - acc: 0.8533
Epoch 37/100
75/75 - 0s - loss: 0.2787 - acc: 0.8533
Epoch 38/100
75/75 - 0s - loss: 0.2768 - acc: 0.8667
Epoch 39/100
75/75 - 0s - loss: 0.2780 - acc: 0.8667
Epoch 40/100
75/75 - 0s - loss: 0.2761 - acc: 0.8533
Epoch 41/100
75/75 - 0s - loss: 0.2728 - acc: 0.8800
Epoch 42/100
75/75 - 0s - loss: 0.2709 - acc: 0.8667
Epoch 43/100
75/75 - 0s - loss: 0.2722 - acc: 0.8667
Epoch 44/100
75/75 - 0s - loss: 0.2706 - acc: 0.8667
Epoch 45/100
75/75 - 0s - loss: 0.2730 - acc: 0.8533
Epoch 46/100
75/75 - 0s - loss: 0.2748 - acc: 0.8667
Epoch 47/100
75/75 - 0s - loss: 0.2740 - acc: 0.8667
Epoch 48/100
75/75 - 0s - loss: 0.2671 - acc: 0.8533
Epoch 49/100
75/75 - 0s - loss: 0.2670 - acc: 0.8800
Epoch 50/100
75/75 - 0s - loss: 0.2743 - acc: 0.8667
Epoch 51/100
75/75 - 0s - loss: 0.2672 - acc: 0.8933
Epoch 52/100
75/75 - 0s - loss: 0.2718 - acc: 0.8533
Epoch 53/100
75/75 - 0s - loss: 0.2723 - acc: 0.8667
Epoch 54/100
75/75 - 0s - loss: 0.2700 - acc: 0.8667
Epoch 55/100
75/75 - 0s - loss: 0.2658 - acc: 0.8667
Epoch 56/100
75/75 - 0s - loss: 0.2691 - acc: 0.8667
Epoch 57/100
75/75 - 0s - loss: 0.2725 - acc: 0.8667
Epoch 58/100
75/75 - 0s - loss: 0.2697 - acc: 0.8667
Epoch 59/100
75/75 - 0s - loss: 0.2652 - acc: 0.8667
Epoch 60/100
75/75 - 0s - loss: 0.2646 - acc: 0.8667
Epoch 61/100
75/75 - 0s - loss: 0.2728 - acc: 0.8667
Epoch 62/100
75/75 - 0s - loss: 0.2719 - acc: 0.8667
Epoch 63/100
75/75 - 0s - loss: 0.2655 - acc: 0.8667
Epoch 64/100
75/75 - 0s - loss: 0.2669 - acc: 0.8667
Epoch 65/100
75/75 - 0s - loss: 0.2645 - acc: 0.8667
Epoch 66/100
75/75 - 0s - loss: 0.2603 - acc: 0.8533
Epoch 67/100
75/75 - 0s - loss: 0.2618 - acc: 0.8533
Epoch 68/100
75/75 - 0s - loss: 0.2579 - acc: 0.8667
Epoch 69/100
75/75 - 0s - loss: 0.2611 - acc: 0.8667
Epoch 70/100
75/75 - 0s - loss: 0.2684 - acc: 0.8667
Epoch 71/100
75/75 - 0s - loss: 0.2622 - acc: 0.8800
Epoch 72/100
75/75 - 0s - loss: 0.2638 - acc: 0.8667
Epoch 73/100
75/75 - 0s - loss: 0.2604 - acc: 0.8667
Epoch 74/100
75/75 - 0s - loss: 0.2588 - acc: 0.8667
Epoch 75/100
75/75 - 0s - loss: 0.2611 - acc: 0.8667
Epoch 76/100
75/75 - 0s - loss: 0.2627 - acc: 0.8667
Epoch 77/100
75/75 - 0s - loss: 0.2667 - acc: 0.8667
Epoch 78/100
75/75 - 0s - loss: 0.2618 - acc: 0.8667
Epoch 79/100
75/75 - 0s - loss: 0.2637 - acc: 0.8667
Epoch 80/100
75/75 - 0s - loss: 0.2624 - acc: 0.8667
Epoch 81/100
75/75 - 0s - loss: 0.2588 - acc: 0.8667
Epoch 82/100
75/75 - 0s - loss: 0.2626 - acc: 0.8667
Epoch 83/100
75/75 - 0s - loss: 0.2582 - acc: 0.8667
Epoch 84/100
75/75 - 0s - loss: 0.2554 - acc: 0.8667
Epoch 85/100
75/75 - 0s - loss: 0.2604 - acc: 0.8533
Epoch 86/100
75/75 - 0s - loss: 0.2620 - acc: 0.8667
Epoch 87/100
75/75 - 0s - loss: 0.2631 - acc: 0.8800
Epoch 88/100
75/75 - 0s - loss: 0.2588 - acc: 0.8800
Epoch 89/100
75/75 - 0s - loss: 0.2587 - acc: 0.8667
Epoch 90/100
75/75 - 0s - loss: 0.2556 - acc: 0.8667
Epoch 91/100
75/75 - 0s - loss: 0.2553 - acc: 0.8667
Epoch 92/100
75/75 - 0s - loss: 0.2582 - acc: 0.8667
Epoch 93/100
75/75 - 0s - loss: 0.2579 - acc: 0.8400
Epoch 94/100
75/75 - 0s - loss: 0.2554 - acc: 0.8667
Epoch 95/100
75/75 - 0s - loss: 0.2549 - acc: 0.8667
Epoch 96/100
75/75 - 0s - loss: 0.2578 - acc: 0.8667
Epoch 97/100
75/75 - 0s - loss: 0.2617 - acc: 0.8667
Epoch 98/100
75/75 - 0s - loss: 0.2629 - acc: 0.8667
Epoch 99/100
75/75 - 0s - loss: 0.2584 - acc: 0.8667
Epoch 100/100
75/75 - 0s - loss: 0.2589 - acc: 0.8667

In [26]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f'Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}')

26/26 - 0s - loss: 0.6014 - acc: 0.7692
Normal Neural Network - Loss: 0.6014118790626526, Accuracy: 0.7692307829856873

In [27]:
predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(predictions)

In [28]:
data = {'Predicted': prediction_labels, 'Actual':list(y_test)}
pd.DataFrame(data)

       Predicted        Actual
0      connected     connected
1      connected  disconnected
2      connected     connected
3   disconnected  disconnected
4   disconnected  disconnected
5   disconnected  disconnected
6   disconnected  disconnected
7      connected     connected
8      connected     connected
9      connected     connected
10  disconnected     connected
11  disconnected     connected
12     connected     connected
13     connected     connected
14  disconnected  disconnected
15  disconnected  disconnected
16  disconnected     connected
17  disconnected  disconnected
18     connected     connected
19  disconnected  disconnected
20  disconnected  disconnected
21  disconnected     connected
22  disconnected  disconnected
23     connected  disconnected
24  disconnected  disconnected
25     connected     connected

In [39]:
X_test.to_csv("test_ekata.csv")

In [29]:
from sklearn.metrics import confusion_matrix
confusion_matrix(list(y_test), prediction_labels, labels = ['disconnected','connected'])

array([[11,  2],
       [ 4,  9]], dtype=int64)

In [45]:
office_numbers = pd.read_csv('Ekata/ekata_numbers.csv')

In [46]:
x = office_numbers[['OFFICE_TELEPHONE', 'label', 'Index']]

In [50]:
test = pd.read_csv('test_ekata.csv')

In [51]:
test_numbers = pd.merge(test, x, on='Index')
test_numbers['Model_Predictions']=prediction_labels

In [52]:
test_numbers

,Index,Address Match,Ambulatory Industry,Business Phone,City Match,First Name Match,Fixed VOIP,Hospital Industry,Landline,Last Name Match,...,Non Fixed Voip,Nursing Industry,Personal Phone,Relevant Name,State Match,Workplace Match,ZipCode Match,OFFICE_TELEPHONE,label,Model_Predictions
0,11,1,1,1,1,1,0,0,0,1,...,1,0,0,1,1,0,1,5757697365,connected,connected
1,52,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,7273020000,disconnected,disconnected
2,46,0,1,1,1,0,0,0,0,0,...,1,0,0,0,1,0,0,7137721200,connected,connected
3,82,0,1,1,0,0,0,0,1,1,...,0,0,0,1,1,0,1,5152801252,disconnected,disconnected
4,87,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,5202145354,disconnected,disconnected
5,56,0,1,1,0,0,0,0,1,0,...,0,0,0,1,1,0,0,8139727629,disconnected,disconnected
6,54,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,8585739902,disconnected,disconnected
7,5,1,1,1,1,0,0,0,1,0,...,0,0,0,1,1,0,1,4173357222,connected,connected
8,6,1,1,1,0,0,0,0,1,0,...,0,0,0,1,1,0,1,4403124569,connected,disconnected
9,25,0,1,1,0,0,0,0,1,0,...,0,0,0,1,1,0,1,7659833427,connected,disconnected
10,13,1,1,1,1,0,0,0,1,0,...,0,0,0,1,1,0,1,6014773550,connected,connected
11,12,1,1,1,1,1,0,0,1,1,...,0,0,0,1,1,0,1,6012685640,connected,disconnected
12,34,0,1,1,1,0,0,0,1,0,...,0,0,0,1,1,0,1,8709368000,connected,connected
13,22,1,1,1,1,1,1,0,0,0,...,0,0,0,0,1,0,1,7275448300,connected,connected
14,92,0,1,1,0,0,0,0,1,0,...,0,0,0,1,1,0,0,3232267556,disconnected,disconnected
15,97,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,2058242227,disconnected,disconnected
16,27,1,1,1,1,0,1,0,0,0,...,0,0,0,0,1,0,0,8027701805,connected,disconnected
17,53,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,8585739902,disconnected,disconnected
18,2,1,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,3154712646,connected,connected
19,93,1,1,1,1,0,0,0,1,0,...,0,0,0,0,1,0,1,8137542251,disconnected,connected
20,61,1,1,1,1,0,0,0,1,0,...,0,0,0,1,1,0,0,4017267300,disconnected,disconnected
21,78,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2043957827,disconnected,disconnected
22,91,1,1,1,1,1,0,0,1,1,...,0,0,0,0,1,0,1,5409610410,disconnected,disconnected
23,94,0,1,1,0,0,0,0,0,1,...,1,0,0,1,1,0,1,7162044532,disconnected,connected
24,3,0,1,1,1,0,0,0,1,0,...,0,0,0,1,1,0,1,3193393917,connected,disconnected

In [53]:
test_numbers.to_csv("Ekata_Model_Predictions.csv")