In [1]:
import pandas as pd
from time import sleep

# Testing FIRST 300 ROWS ONLY

In [2]:
data = pd.read_excel('../validated_phones_and_polos_2021-03-23.xlsx', dtype=str)
data

,ME_NO,FNAME,MNAME,LNAME,OFFICE_PHONE,ADDR1,ADDR2,ADDR_CITY,ADDR_STATE,ADDR_ZIP
0,04204880064,CARMEN,J,SIERRA LUCIANO,7872818522,NaN,400 CALLE MANUEL DOMENECH STE 311,SAN JUAN,PR,00918
1,03545120088,ERIN,ELIZABETH,CASEY,6364417280,NaN,11 GARVEY PKWY,SAINT CHARLES,MO,63303
2,69007840063,OBIOHA,LOUIS,OKORO,4787466662,NaN,844 2ND ST,MACON,GA,31201
3,65501960025,MOUNIR,NaN,BELCADI,8056526729,NaN,200 HILLMONT AVE,VENTURA,CA,93003
4,00802951248,GORDON,SCOTT,ABRAMS,4126411635,MAGEE-WOMENS HOSPITAL,300 HALKET ST,PITTSBURGH,PA,15213
...,...,...,...,...,...,...,...,...,...,...
495,49529760051,INDERJIT,KAUR,DHILLON,5594551500,NaN,5043 E KINGS CANYON RD STE 101,FRESNO,CA,93727
496,04177901658,JOSEPH,PETER,ROMANELLA,7325367144,NaN,195 RT 9 S,MANALAPAN,NJ,07726
497,00801930336,TINA,MARIE,HARRIS,3179639300,IUHP RADIOLOGY,714 N SENATE AVE STE 100,INDIANAPOLIS,IN,46202
498,01803940262,JEFFREY,D,DE FRANCISCO,5158759192,NaN,5950 UNIVERSITY AVE STE 260,WDM,IA,50266
499,04203920119,OTTO,RICHARD,DUENO,9372810900,NaN,627 S EWDIN C MOSES BLDG 2ND FLOOR STE 2D,DAYTON,OH,45417

### API Info

In [13]:
import requests

In [31]:
api_key = '11311573-e84a-4e8d-9fd7-0441692c2c16'

In [36]:
residential_url = f'https://api.accurateappend.com/Services/V2/AppendPhone/Residential/{api_key}'
business_url = f'https://api.accurateappend.com/Services/V2/AppendPhone/Business/{api_key}'

In [5]:
residential_params = {
    'firstname': '',
    'lastname': '',
    'address': '',
    'city': '',
    'state': '',
    'postalcode': '',
}

In [7]:
def get_residential_params(row):
    params = {
        'firstname': row.FNAME,
        'lastname': row.LNAME,
        'address': row.ADDR2,
        'city': row.ADDR_CITY,
        'state': row.ADDR_STATE
    }
    return params

In [9]:
for i, row in data.iterrows():
    print(get_residential_params(row))  # testing parameter construction

{'firstname': 'CARMEN', 'lastname': 'SIERRA LUCIANO', 'address': '400 CALLE MANUEL DOMENECH STE 311', 'city': 'SAN JUAN', 'state': 'PR'}
{'firstname': 'ERIN', 'lastname': 'CASEY', 'address': '11 GARVEY PKWY', 'city': 'SAINT CHARLES', 'state': 'MO'}
{'firstname': 'OBIOHA', 'lastname': 'OKORO', 'address': '844 2ND ST', 'city': 'MACON', 'state': 'GA'}
{'firstname': 'MOUNIR', 'lastname': 'BELCADI', 'address': '200 HILLMONT AVE', 'city': 'VENTURA', 'state': 'CA'}
{'firstname': 'GORDON', 'lastname': 'ABRAMS', 'address': '300 HALKET ST', 'city': 'PITTSBURGH', 'state': 'PA'}
{'firstname': 'YURIY', 'lastname': 'KHANIN', 'address': '10753 GUY R BREWER BLVD', 'city': 'JAMAICA', 'state': 'NY'}
{'firstname': 'HEIDI', 'lastname': 'HEAP-CHESTER', 'address': '15 SKY VIEW DR', 'city': 'CUMB FORESIDE', 'state': 'ME'}
{'firstname': 'FERNANDO', 'lastname': 'STRIEDINGER', 'address': '4733 N DAMEN AVE', 'city': 'CHICAGO', 'state': 'IL'}
{'firstname': 'JASON', 'lastname': 'BACON', 'address': '3701 W NW HIGHWAY STE 306', 'city': 'DALLAS', 'state': 'TX'}
{'firstname': 'KANWARJIT', 'lastname': 'KELLEY', 'address': '500 W HOSPITAL RD', 'city': 'FRENCH CAMP', 'state': 'CA'}
{'firstname': 'OOK', 'lastname': 'KIM', 'address': '7117 BROCKTON AVE', 'city': 'RIVERSIDE', 'state': 'CA'}
{'firstname': 'MAHENDRA', 'lastname': 'PATEL', 'address': '201 CHESTNUT HILL RD', 'city': 'STAFFORD SPGS', 'state': 'CT'}
{'firstname': 'EUGENE', 'lastname': 'FINAN', 'address': '1656 MEDICAL BLVD STE 302', 'city': 'NAPLES', 'state': 'FL'}
{'firstname': 'EMMA', 'lastname': 'SIMMONDS', 'address': '1350 NW 14TH ST', 'city': 'MIAMI', 'state': 'FL'}
{'firstname': 'RAY', 'lastname': 'TANGUNAN', 'address': '6801 US HIGHWAY 27 N STE B4', 'city': 'SEBRING', 'state': 'FL'}
{'firstname': 'DEVINDER', 'lastname': 'BHATIA', 'address': '8901 FM 1960 BYPASS RD W STE 303', 'city': 'HUMBLE', 'state': 'TX'}
{'firstname': 'ELIZABETH', 'lastname': 'BOZEMAN', 'address': '3288 ROBINHOOD RD STE 202', 'city': 'WINSTON SALEM', 'state': 'NC'}
{'firstname': 'JILLENE', 'lastname': 'BRATHWAITE', 'address': '93 PENNSYLVANIA AVE', 'city': 'BINGHAMTON', 'state': 'NY'}
{'firstname': 'ROY', 'lastname': 'PAZMINO', 'address': '200 HOSPITAL DR STE 2', 'city': 'TYRONE', 'state': 'PA'}
{'firstname': 'RAO', 'lastname': 'YALAMANCHILI', 'address': '896 TARGEE ST', 'city': 'STATEN ISLAND', 'state': 'NY'}
{'firstname': 'CHARLES', 'lastname': 'QUICK', 'address': '4301 W MARKHAM ST # 517', 'city': 'LITTLE ROCK', 'state': 'AR'}
{'firstname': 'JAMES', 'lastname': 'HARRIS', 'address': '906 WB MCLEAN BLVD', 'city': 'CAPE CARTERET', 'state': 'NC'}
{'firstname': 'KYLE', 'lastname': 'LLOYD', 'address': '3600 GASTON AVE', 'city': 'DALLAS', 'state': 'TX'}
{'firstname': 'MICHAEL', 'lastname': 'KLEINMAN', 'address': '7500 BEECHNUT ST STE 240', 'city': 'HOUSTON', 'state': 'TX'}
{'firstname': 'STACY', 'lastname': 'SALOB', 'address': '115 E 61ST ST STE 7E', 'city': 'NEW YORK', 'state': 'NY'}
{'firstname': 'PATRICIA', 'lastname': 'OUELLETTE', 'address': '153 PARK ROW STE B', 'city': 'BRUNSWICK', 'state': 'ME'}
{'firstname': 'JAY', 'lastname': 'RUDD', 'address': '8050 FREEDOM LN NE STE A', 'city': 'LACEY', 'state': 'WA'}
{'firstname': 'RICHARD', 'lastname': 'CAPONE', 'address': '750 W HIGH ST STE 250', 'city': 'LIMA', 'state': 'OH'}
{'firstname': 'DAVID', 'lastname': 'CHANG', 'address': '1145 BROADWAY', 'city': 'SEATTLE', 'state': 'WA'}
{'firstname': 'BENJAMIN', 'lastname': 'HINTON', 'address': '990 S MADISON ST STE 1', 'city': 'TUPELO', 'state': 'MS'}
{'firstname': 'SHELLEY', 'lastname': 'QUARLESS', 'address': '2201 CHAPEL AVE W', 'city': 'CHERRY HILL', 'state': 'NJ'}
{'firstname': 'MOHAMMED', 'lastname': 'SAMIRUDDIN', 'address': '622 N ADDISON RD', 'city': 'VILLA PARK', 'state': 'IL'}
{'firstname': 'JOSEPH', 'lastname': 'IZZI', 'address': '1351 SMITH ST', 'city': 'N PROVIDENCE', 'state': 'RI'}
{'firstname': 'HIMANI', 'lastname': 'DALIA', 'address': '1324 N SHERIDAN RD', 'city': 'WAUKEGAN', 'state': 'IL'}
{'firstname': 'BRIGGS', 'lastname': 'CARROLL', 'address': '2020 CATTLEMEN RD STE 600', 'city': 'SARASOTA', 'state': 'FL'}
{'firstname': 'STEPHEN', 'lastname': 'KOVACS', 'address': '77 WARREN ST ', 'city': 'BRIGHTON', 'state': 'MA'}
{'firstname': 'TARIQ', 'lastname': 'HASHMY', 'address': '11034 SCARSDALE BLVD STE A', 'city': 'HOUSTON', 'state': 'TX'}
{'firstname': 'DANIEL', 'lastname': 'DENNIS', 'address': '1721 SPRING HILL AVE', 'city': 'MOBILE', 'state': 'AL'}
{'firstname': 'MICHAEL', 'lastname': 'URBAN', 'address': '6135 LAKEWORTH RD', 'city': 'LAKE WORTH', 'state': 'FL'}
{'firstname': 'MOHAMMAD', 'lastname': 'AL-SOUB', 'address': '111 HIGHWAY 70 E STE 102', 'city': 'DICKSON', 'state': 'TN'}
{'firstname': 'J', 'lastname': 'BUSTAMANTE', 'address': '300 OLD RIVER RD STE 105', 'city': 'BAKERSFIELD', 'state': 'CA'}
{'firstname': 'MOBOLAJI', 'lastname': 'ODELOWO', 'address': '600 S CONROE MEDICAL DR STE 102', 'city': 'CONROE', 'state': 'TX'}
{'firstname': 'DIANE', 'lastname': 'LORUSSO', 'address': '30 RYE RIDGE PLZ', 'city': 'RYE BROOK', 'state': 'NY'}
{'firstname': 'ARSENIA', 'lastname': 'ASUNCION', 'address': '259 1ST ST', 'city': 'MINEOLA', 'state': 'NY'}
{'firstname': 'CANDICE', 'lastname': 'NELSON', 'address': '6101 S LOUISE AVE', 'city': 'SIOUX FALLS', 'state': 'SD'}
{'firstname': 'BRUCE', 'lastname': 'COHN', 'address': '23250 MERCANTILE RD STE 100A', 'city': 'BEACHWOOD', 'state': 'OH'}
{'firstname': 'REBECCA', 'lastname': 'HOUGH', 'address': '402 N 7TH ST', 'city': 'LONGVIEW', 'state': 'TX'}
{'firstname': 'RAKESH', 'lastname': 'GROVER', 'address': '16018 TUSCOLA RD STE 2', 'city': 'APPLE VALLEY', 'state': 'CA'}
{'firstname': 'CATHERINE', 'lastname': 'SPEIGHTS', 'address': '1666 E BERT KOUNS INDUSTRIAL LOOP STE 105', 'city': 'SHREVEPORT', 'state': 'LA'}
{'firstname': 'JEFFREY', 'lastname': 'HAMILTON', 'address': '2151 WAUKEGAN RD', 'city': 'BANNOCKBURN', 'state': 'IL'}
{'firstname': 'ANDREA', 'lastname': 'MARIANI', 'address': '200 1ST ST SW', 'city': 'ROCHESTER', 'state': 'MN'}
{'firstname': 'SARAH', 'lastname': 'FRIEBERT', 'address': '1 PERKINS SQ', 'city': 'AKRON', 'state': 'OH'}
{'firstname': 'GERARD', 'lastname': "O'CONNOR", 'address': '100 BROWN ST STE 214', 'city': 'CHESTERTOWN', 'state': 'MD'}
{'firstname': 'SUSAN', 'lastname': 'MOORE', 'address': '1 LAWRENCE ST', 'city': 'GLENS FALLS', 'state': 'NY'}
{'firstname': 'MARGOT', 'lastname': 'WHEELER', 'address': '3800 RESERVOIR RD NW', 'city': 'WASHINGTON', 'state': 'DC'}
{'firstname': 'ALEXANDER', 'lastname': 'TSANG', 'address': '87 GRANDVIEW AVE', 'city': 'WATERBURY', 'state': 'CT'}
{'firstname': 'JAMES', 'lastname': 'GOFF', 'address': '515 UNION AVE STE 167', 'city': 'DOVER', 'state': 'OH'}
{'firstname': 'RAMI', 'lastname': 'ALHASSAN', 'address': '2855 N ORANGE AVE', 'city': 'ORLANDO', 'state': 'FL'}
{'firstname': 'EILEEN', 'lastname': 'REILLY', 'address': '75 FENWOOD RD', 'city': 'BOSTON', 'state': 'MA'}
{'firstname': 'ZACHARY', 'lastname': 'SIEGEL', 'address': '2400 17TH ST', 'city': 'COLUMBUS', 'state': 'IN'}
{'firstname': 'G', 'lastname': 'SLAGEL', 'address': '101 YORKTOWN DR STE 207', 'city': 'FAYETTEVILLE', 'state': 'GA'}
{'firstname': 'SHARON', 'lastname': 'PUSHKIN', 'address': '1245 16TH ST STE 100', 'city': 'SANTA MONICA', 'state': 'CA'}
{'firstname': 'WILLIAM', 'lastname': 'JONES', 'address': '200 GRAND BLVD', 'city': 'GREENWOOD', 'state': 'MS'}
{'firstname': 'AASHISH', 'lastname': 'DESAI', 'address': '460 NORTHSIDE CHEROKEE BLVD STE 190', 'city': 'CANTON', 'state': 'GA'}
{'firstname': 'RAJINDER', 'lastname': 'VERMA', 'address': '250 S CRESCENT DR', 'city': 'MASON CITY', 'state': 'IA'}
{'firstname': 'JOHN', 'lastname': 'MC DERMOTT', 'address': '21 EDWARD J LEMPKA DR', 'city': 'FLORIDA', 'state': 'NY'}
{'firstname': 'NELLY', 'lastname': 'KAZZAZ', 'address': '4820 W TAFT RD STE 209', 'city': 'LIVERPOOL', 'state': 'NY'}
{'firstname': 'ROBERT', 'lastname': 'JACKSON', 'address': '6550 FANNON STE 2323', 'city': 'HOUSTON', 'state': 'TX'}
{'firstname': 'REBECCA', 'lastname': 'SUMMERLIN', 'address': '955 MERCY LN', 'city': 'BOLIVIA', 'state': 'NC'}
{'firstname': 'MONICA', 'lastname': 'BRAR', 'address': '600 SAN RAMON VALLEY BLVD STE 102', 'city': 'DANVILLE', 'state': 'CA'}
{'firstname': 'JATINDER', 'lastname': 'BHARDWAJ', 'address': nan, 'city': 'LAFAYETTE', 'state': 'LA'}
{'firstname': 'RONALD', 'lastname': 'MC FARLAND', 'address': '2004 HAYES ST STE 645', 'city': 'NASHVILLE', 'state': 'TN'}
{'firstname': 'JOAN', 'lastname': 'LEAKS', 'address': '151 W BROOKS AVE STE A', 'city': 'N LAS VEGAS', 'state': 'NV'}
{'firstname': 'MARK', 'lastname': 'FUSSA', 'address': '333 LOWREL OAK RD', 'city': 'VOORHEES', 'state': 'NJ'}
{'firstname': 'THOMAS', 'lastname': 'FORLENZA', 'address': '1000 SOUTH AVE', 'city': 'STATEN ISLAND', 'state': 'NY'}
{'firstname': 'MICHAEL', 'lastname': 'JAINDL', 'address': '1530 LEE BLVD STE 2350', 'city': 'LEHIGH ACRES', 'state': 'FL'}
{'firstname': 'POONGODHAI', 'lastname': 'RAMACHANDRAN', 'address': '1002 TEXAS BLVD STE 401', 'city': 'TEXARKANA', 'state': 'TX'}
{'firstname': 'MATHEW', 'lastname': 'JOSEPH', 'address': '2905 BOULEVARD', 'city': 'COLONIAL HGTS', 'state': 'VA'}
{'firstname': 'GUIDO', 'lastname': 'ABELLERA', 'address': '123 S COMMERCE ST STE D', 'city': 'STOCKTON', 'state': 'CA'}
{'firstname': 'AIMEE', 'lastname': 'MARMOL', 'address': '2000 OXFORD DR STE 420', 'city': 'BETHEL PARK', 'state': 'PA'}
{'firstname': 'JONI', 'lastname': 'HANSSON', 'address': '34 E INDUSTRIAL RD', 'city': 'BRANFORD', 'state': 'CT'}
{'firstname': 'JENNIFER', 'lastname': 'LUBLIN', 'address': '530 MORRIS AVE', 'city': 'SPRINGFIELD', 'state': 'NJ'}
{'firstname': 'MITCHELL', 'lastname': 'RUBIN', 'address': '1101 MEDICAL CENTER BLVD', 'city': 'MARRERO', 'state': 'LA'}
{'firstname': 'ROBERT', 'lastname': 'BENTZ', 'address': '4820 OKEECHOBEE BLVD', 'city': 'WEST PALM BCH', 'state': 'FL'}
{'firstname': 'MARK', 'lastname': 'BALLIF', 'address': '4360 WASHINGTON BLVD', 'city': 'OGDEN', 'state': 'UT'}
{'firstname': 'THOMAS', 'lastname': 'HULL', 'address': '650 GRAHAM RD STE 103', 'city': 'CUYAHOGA FLS', 'state': 'OH'}
{'firstname': 'HENRY', 'lastname': 'KUHNS', 'address': '700 W CENTRAL AVE STE 201', 'city': 'EL DORADO', 'state': 'KS'}
{'firstname': 'RUSSELL', 'lastname': 'CECIL', 'address': '5010 STATE HIGHWAY 30 STE 205', 'city': 'AMSTERDAM', 'state': 'NY'}
{'firstname': 'NATRAJ', 'lastname': 'BALLAL', 'address': '2727 W MLK BLVD', 'city': 'TAMPA', 'state': 'FL'}
{'firstname': 'ABDULRAHEEM', 'lastname': 'YACOUB', 'address': '2330 SHAWNEE MISSION PKWY', 'city': 'WESTWOOD', 'state': 'KS'}
{'firstname': 'NOEL', 'lastname': 'VELASCO', 'address': '2876 MAIN ST', 'city': 'STRATFORD', 'state': 'CT'}
{'firstname': 'BRENDA', 'lastname': 'SPRIGGS', 'address': '3400 DOUGLAS BLVD STE 225', 'city': 'ROSEVILLE', 'state': 'CA'}
{'firstname': 'SCOTT', 'lastname': 'LEGUNN', 'address': '111 COLCHESTER AVE', 'city': 'BURLINGTON', 'state': 'VT'}
{'firstname': 'CARLOS', 'lastname': 'LAVERNIA', 'address': '2600 SW 3RD AVE STE 600', 'city': 'MIAMI', 'state': 'FL'}
{'firstname': 'DANIEL', 'lastname': 'LESSER', 'address': '3030 CHILDRENS WAY', 'city': 'SAN DIEGO', 'state': 'CA'}
{'firstname': 'CHARLES', 'lastname': 'BOLNO', 'address': '404B HUNTINGDON PIKE', 'city': 'ROCKLEDGE', 'state': 'PA'}
{'firstname': 'ROBERT', 'lastname': 'SMITH', 'address': '701 10TH ST SE STE 26-263', 'city': 'CEDAR RAPIDS', 'state': 'IA'}
{'firstname': 'ANNALISA', 'lastname': 'GORMAN', 'address': '1229 MADISON ST STE 1480', 'city': 'SEATTLE', 'state': 'WA'}
{'firstname': 'ALBERT', 'lastname': 'GIANNONE', 'address': '225 NASSAU BLVD', 'city': 'W HEMPSTEAD', 'state': 'NY'}
{'firstname': 'STEVEN', 'lastname': 'SHINN', 'address': '1590 S STATE RT 15 A STE 100', 'city': 'DELAND', 'state': 'FL'}
{'firstname': 'DANIEL', 'lastname': 'WEAVER', 'address': '801 N 29TH ST', 'city': 'BILLINGS', 'state': 'MT'}
{'firstname': 'DANIEL', 'lastname': 'SPITZBERG', 'address': '8244 E US HIGHWAY 36 STE 200', 'city': 'AVON', 'state': 'IN'}
{'firstname': 'OLAMIDE', 'lastname': 'JARRETT', 'address': '808 S WOOD ST', 'city': 'CHICAGO', 'state': 'IL'}
{'firstname': 'THAO', 'lastname': 'TRAN', 'address': '1641 N MILWAUKEE AVE STE 10', 'city': 'LIBERTYVILLE', 'state': 'IL'}
{'firstname': 'SHARON', 'lastname': 'DALEY', 'address': '150 ANSEL HALLET RD', 'city': 'WEST YARMOUTH', 'state': 'MA'}
{'firstname': 'LINDSEY', 'lastname': 'SANNER', 'address': '1801 HICKMAN RD', 'city': 'DES MOINES', 'state': 'IA'}
{'firstname': 'DAN', 'lastname': 'YAMINI', 'address': '9201 W SUNSET BLVD STE 805', 'city': 'LOS ANGELES', 'state': 'CA'}
{'firstname': 'ANGELA', 'lastname': 'HUDSON', 'address': '1720 MULKEY RD STE 9A', 'city': 'AUSTELL', 'state': 'GA'}
{'firstname': 'JENNIFER', 'lastname': 'LIM', 'address': '1855 W TAYLOR ST', 'city': 'CHICAGO', 'state': 'IL'}
{'firstname': 'JONATHAN', 'lastname': 'WEISS', 'address': '171 HUGUENOT ST', 'city': 'NEW ROCHELLE', 'state': 'NY'}
{'firstname': 'DENISE', 'lastname': 'REEVES', 'address': '100 N TILLOTSON AVE', 'city': 'MUNCIE', 'state': 'IN'}
{'firstname': 'BRADFORD', 'lastname': 'SMITH', 'address': '300 W CLAIRDON ', 'city': 'PHOENIX', 'state': 'AZ'}
{'firstname': 'SHIU-YUEH', 'lastname': 'BAXTER', 'address': '1837 W FRANKFORD RD STE 116', 'city': 'CARROLLTON', 'state': 'TX'}
{'firstname': 'ANDREW', 'lastname': 'BILLINGSLEY', 'address': '923 N 2ND ST STE 201', 'city': 'ALBEMARLE', 'state': 'NC'}
{'firstname': 'JENNIFER', 'lastname': 'ALBERTS', 'address': '418 N WEBB RD', 'city': 'GRAND ISLAND', 'state': 'NE'}
{'firstname': 'MAGDI', 'lastname': 'TADROS', 'address': '501 MIDWESTERN PKWY E', 'city': 'WICHITA FALLS', 'state': 'TX'}
{'firstname': 'ALISON', 'lastname': 'PETRAS', 'address': '300 COMMERCE DR ', 'city': 'PARIS', 'state': 'KY'}
{'firstname': 'KIMBERLY', 'lastname': 'MC COLLOW', 'address': '201 E NICOLLET BLVD', 'city': 'BURNSVILLE', 'state': 'MN'}
{'firstname': 'ALANA', 'lastname': 'COX', 'address': '635 STEPHENSON AVE', 'city': 'SAVANNAH', 'state': 'GA'}
{'firstname': 'LAUREN', 'lastname': 'LERNER', 'address': '4302 ALTON RD STE 420', 'city': 'MIAMI BEACH', 'state': 'FL'}
{'firstname': 'EMILY', 'lastname': 'ETZKORN', 'address': '5010 STATE HIGHWAY 30 STE G02', 'city': 'AMSTERDAM', 'state': 'NY'}
{'firstname': 'JEFFREY', 'lastname': 'LOWE', 'address': '2500 W REYNOLDS ST', 'city': 'PONTIAC', 'state': 'IL'}
{'firstname': 'DOMINIC', 'lastname': 'FERRERA', 'address': '1 ROSS PARK BLVD STE 103', 'city': 'STEUBENVILLE', 'state': 'OH'}
{'firstname': 'SON', 'lastname': 'NGUYEN', 'address': '2309 E MAIN ST STE 101', 'city': 'NEW IBERIA', 'state': 'LA'}
{'firstname': 'HING', 'lastname': 'LUONG', 'address': '3240 E OLIVE AVE', 'city': 'FRESNO', 'state': 'CA'}
{'firstname': 'BRENDA', 'lastname': 'SICKLE-SANTANELLO', 'address': '170 NORTHWOODS BLVD STE 210', 'city': 'COLUMBUS', 'state': 'OH'}
{'firstname': 'MARK', 'lastname': 'OSEVALA', 'address': '740 HIGH ST', 'city': 'WILLIAMSPORT', 'state': 'PA'}
{'firstname': 'RUI', 'lastname': 'FERNANDES', 'address': '653-1 W 8TH ST', 'city': 'JACKSONVILLE', 'state': 'FL'}
{'firstname': 'ANDREW', 'lastname': 'EBELHAR', 'address': '421 US 31W BYPS', 'city': 'BOWLING GREEN', 'state': 'KY'}
{'firstname': 'KATHERINE', 'lastname': 'CHAMBERLAIN', 'address': '1010 N MADISON AVE', 'city': 'BAY CITY', 'state': 'MI'}
{'firstname': 'HAN', 'lastname': 'LEE', 'address': '625 S FAIR OAKS AVE STE 220', 'city': 'PASADENA', 'state': 'CA'}
{'firstname': 'ANDREA', 'lastname': 'GRANT-VERMONT', 'address': '4647 MEDICAL DR', 'city': 'SAN ANTONIO', 'state': 'TX'}
{'firstname': 'DAVID', 'lastname': 'PERKINS', 'address': '418 E LANCASTER AVE', 'city': 'SAINT DAVIDS', 'state': 'PA'}
{'firstname': 'LORI', 'lastname': 'WOOLISON RUTTER', 'address': '24 W GEEEN SE STE 329', 'city': 'ATHENS', 'state': 'OH'}
{'firstname': 'RAVI', 'lastname': 'AGRAWAL', 'address': '834 EATON AVE STE 301', 'city': 'BETHLEHEM', 'state': 'PA'}
{'firstname': 'HARISH', 'lastname': 'SOOD', 'address': '680 MERRICK RD ', 'city': 'BALDWIN', 'state': 'NY'}
{'firstname': 'RAJAB', 'lastname': 'ABUKHADRAH', 'address': '2040 OAKLEY SEAVER DR', 'city': 'CLERMONT', 'state': 'FL'}
{'firstname': 'WAYNE', 'lastname': 'MORTENSEN', 'address': '1157 N 300 W STE 201', 'city': 'PROVO', 'state': 'UT'}
{'firstname': 'MARY', 'lastname': 'BIZIOS', 'address': '129 FAIRFIELD WAY STE 218', 'city': 'BLOOMINGDALE', 'state': 'IL'}
{'firstname': 'STEPHEN', 'lastname': 'STRYCKER', 'address': '2605 N LEBANON ST', 'city': 'LEBANON', 'state': 'IN'}
{'firstname': 'GARY', 'lastname': 'WEINSTEIN', 'address': '8220 WALNUT HILL LN STE 408', 'city': 'DALLAS', 'state': 'TX'}
{'firstname': 'JAMES', 'lastname': 'YOUNG', 'address': '808 HIGHWAY 466', 'city': 'LADY LAKE', 'state': 'FL'}
{'firstname': 'PAUL', 'lastname': 'MADELEY', 'address': '3417 GASTON AVE', 'city': 'DALLAS', 'state': 'TX'}
{'firstname': 'AMIT', 'lastname': 'AGRAWAL', 'address': '460 W 10TH AVE 5TH FLOOR', 'city': 'COLUMBUS', 'state': 'OH'}
{'firstname': 'MAHER', 'lastname': 'KHAN', 'address': '18546 ROSCOE BLVD STE 220', 'city': 'NORTHRIDGE', 'state': 'CA'}
{'firstname': 'ZHENGNAN', 'lastname': 'YIN', 'address': '9600 BELLAIRE BLVD STE 201', 'city': 'HOUSTON', 'state': 'TX'}
{'firstname': 'VEENA', 'lastname': 'NAYAK', 'address': '20060 GOVERNORS DR STE 300', 'city': 'OLYMPIA FLDS', 'state': 'IL'}
{'firstname': 'MARSHA', 'lastname': 'GOODHEAD', 'address': '3201 S MARYLAND PKWY STE 205', 'city': 'LAS VEGAS', 'state': 'NV'}
{'firstname': 'MICHAEL', 'lastname': 'LESER', 'address': '300 MAYTOWN RD', 'city': 'ELIZABETHTOWN', 'state': 'PA'}
{'firstname': 'BARRY', 'lastname': 'WARSHAW', 'address': '2015 UPPERGATE DR', 'city': 'ATLANTA', 'state': 'GA'}
{'firstname': 'SUNNY', 'lastname': 'KHICHI', 'address': '2500 HOSPITAL BLVD STE 450', 'city': 'ROSWELL', 'state': 'GA'}
{'firstname': 'PERRY', 'lastname': 'LIU', 'address': '9301 WILSHIRE BLVD STE 100', 'city': 'BEVERLY HILLS', 'state': 'CA'}
{'firstname': 'TAMARA', 'lastname': 'STENSHOEL', 'address': '10 COBURG RD STE 100', 'city': 'EUGENE', 'state': 'OR'}
{'firstname': 'DAVID', 'lastname': 'LANGLEY', 'address': '6 MEDICAL DR', 'city': 'AMARILLO', 'state': 'TX'}
{'firstname': 'JOSE', 'lastname': 'RUEDA', 'address': '3181 SW SAM JACKSON PARK RD STE 320', 'city': 'PORTLAND', 'state': 'OR'}
{'firstname': 'JAMES', 'lastname': 'KINSELLA', 'address': '2116 CRAIG RD', 'city': 'EAU CLAIRE', 'state': 'WI'}
{'firstname': 'SEIFOLLAH', 'lastname': 'ESFANDIARI', 'address': '999 N TUSTIN AVE STE 111', 'city': 'SANTA ANA', 'state': 'CA'}
{'firstname': 'KRISHNASWAMY', 'lastname': 'SWAMINATHAN', 'address': '1054 SW 1ST AVE', 'city': 'OCALA', 'state': 'FL'}
{'firstname': 'DAVID', 'lastname': 'PETTY', 'address': '3422 S 15TH E', 'city': 'IDAHO FALLS', 'state': 'ID'}
{'firstname': 'CAROLINE', 'lastname': 'HONCULADA', 'address': '425 S 11TH ST STE 1', 'city': 'LAKE WALES', 'state': 'FL'}
{'firstname': 'JESUS', 'lastname': 'IRURETAGOYENA FERNANDEZ', 'address': '202 S PARK ST ', 'city': 'MADISON', 'state': 'WI'}
{'firstname': 'WM', 'lastname': 'DODSON', 'address': '24551 SILVER CLOUD CT STE 202', 'city': 'MONTEREY', 'state': 'CA'}
{'firstname': 'MARSHALL', 'lastname': 'STAUBER', 'address': '3702 WASHINGTON ST STE 101', 'city': 'HOLLYWOOD', 'state': 'FL'}
{'firstname': 'AYA', 'lastname': 'SULTAN', 'address': '900 FORT STREET MALL STE 1040', 'city': 'HONOLULU', 'state': 'HI'}
{'firstname': 'RONALD', 'lastname': 'LONDON', 'address': '171 HUGUENOT ST', 'city': 'NEW ROCHELLE', 'state': 'NY'}
{'firstname': 'JOSEPH', 'lastname': 'GEYER', 'address': '355 WESTFIELD RD STE 100', 'city': 'NOBLESVILLE', 'state': 'IN'}
{'firstname': 'MARY', 'lastname': 'BELFORD', 'address': '400 N WALL ST STE B402', 'city': 'KANKAKEE', 'state': 'IL'}
{'firstname': 'JAMES', 'lastname': 'ZWACH', 'address': '610 30TH AVE W', 'city': 'ALEXANDRIA', 'state': 'MN'}
{'firstname': 'RICHARD', 'lastname': 'GORLICK', 'address': '1515 HOLCOMBE BLVD', 'city': 'HOUSTON', 'state': 'TX'}
{'firstname': 'SHARMINI', 'lastname': 'JAYAMAHA', 'address': '632 ROANOKE AVE', 'city': 'RIVERHEAD', 'state': 'NY'}

### Testing - Residential

In [65]:
test_dataset = data[:300]
test_dataset

,ME_NO,FNAME,MNAME,LNAME,OFFICE_PHONE,ADDR1,ADDR2,ADDR_CITY,ADDR_STATE,ADDR_ZIP
0,04204880064,CARMEN,J,SIERRA LUCIANO,7872818522,NaN,400 CALLE MANUEL DOMENECH STE 311,SAN JUAN,PR,00918
1,03545120088,ERIN,ELIZABETH,CASEY,6364417280,NaN,11 GARVEY PKWY,SAINT CHARLES,MO,63303
2,69007840063,OBIOHA,LOUIS,OKORO,4787466662,NaN,844 2ND ST,MACON,GA,31201
3,65501960025,MOUNIR,NaN,BELCADI,8056526729,NaN,200 HILLMONT AVE,VENTURA,CA,93003
4,00802951248,GORDON,SCOTT,ABRAMS,4126411635,MAGEE-WOMENS HOSPITAL,300 HALKET ST,PITTSBURGH,PA,15213
...,...,...,...,...,...,...,...,...,...,...
295,00401821431,DENNIS,BUFORD,YELVINGTON,8706737211,NaN,1609 MEDICIAL DR,STUTTGART,AR,72160
296,02701811227,DENNIS,WAYNE,ROWLEN,6018250925,NaN,1405 CROSSGATES DR W,BRANDON,MS,39042
297,91343900011,IRINA,NaN,BASS,2017736171,NaN,15-01 BROADWAY STE 36,FAIR LAWN,NJ,07410
298,05606081326,MICHAEL,BLAIR,BRADSHAW,8586933000,NaN,9878 HIBERT ST STE 100,SAN DIEGO,CA,92131
299,04814820233,JEFFREY,LANE,CLOTHIER,5015268100,DEPT OF PSYCHIATRY SLOT 554,4301 W MARKHAM ST,LITTLE ROCK,AR,72205

In [15]:
residential_params_list = []
for i, row in test_dataset.iterrows():
    residential_params_list.append(get_residential_params(row))
residential_params_list[:10]

[{'firstname': 'CARMEN',
  'lastname': 'SIERRA LUCIANO',
  'address': '400 CALLE MANUEL DOMENECH STE 311',
  'city': 'SAN JUAN',
  'state': 'PR'},
 {'firstname': 'ERIN',
  'lastname': 'CASEY',
  'address': '11 GARVEY PKWY',
  'city': 'SAINT CHARLES',
  'state': 'MO'},
 {'firstname': 'OBIOHA',
  'lastname': 'OKORO',
  'address': '844 2ND ST',
  'city': 'MACON',
  'state': 'GA'},
 {'firstname': 'MOUNIR',
  'lastname': 'BELCADI',
  'address': '200 HILLMONT AVE',
  'city': 'VENTURA',
  'state': 'CA'},
 {'firstname': 'GORDON',
  'lastname': 'ABRAMS',
  'address': '300 HALKET ST',
  'city': 'PITTSBURGH',
  'state': 'PA'},
 {'firstname': 'YURIY',
  'lastname': 'KHANIN',
  'address': '10753 GUY R BREWER BLVD',
  'city': 'JAMAICA',
  'state': 'NY'},
 {'firstname': 'HEIDI',
  'lastname': 'HEAP-CHESTER',
  'address': '15 SKY VIEW DR',
  'city': 'CUMB FORESIDE',
  'state': 'ME'},
 {'firstname': 'FERNANDO',
  'lastname': 'STRIEDINGER',
  'address': '4733 N DAMEN AVE',
  'city': 'CHICAGO',
  'state': 'IL'},
 {'firstname': 'JASON',
  'lastname': 'BACON',
  'address': '3701 W NW HIGHWAY STE 306',
  'city': 'DALLAS',
  'state': 'TX'},
 {'firstname': 'KANWARJIT',
  'lastname': 'KELLEY',
  'address': '500 W HOSPITAL RD',
  'city': 'FRENCH CAMP',
  'state': 'CA'}]

In [32]:
test_param = residential_params_list[0]
test_param

{'firstname': 'CARMEN',
 'lastname': 'SIERRA LUCIANO',
 'address': '400 CALLE MANUEL DOMENECH STE 311',
 'city': 'SAN JUAN',
 'state': 'PR'}

In [37]:
response = requests.get(residential_url, params=test_param)

In [38]:
response

In [46]:
test_dict = {
    'a': [1, 2, 3, 4],
    'b': [2, 4, 6, 8]
}

In [47]:
pd.DataFrame(test_dict)

   a  b
0  1  2
1  2  4
2  3  6
3  4  8

In [50]:
test_list = [
    {'a': 1, 'b': 2},
    {'a': 3, 'b': 4},
    {'a': 7, 'b': 6},
]

In [51]:
pd.DataFrame(test_list)

   a  b
0  1  2
1  3  4
2  7  6

In [44]:
test_dict.pop('a')

1

In [45]:
test_dict

{'b': 2}

In [42]:
response.status_code

200

In [55]:
def get_phone_numbers_from_response(response: requests.Response):
    response_json = response.json()
    phone_numbers_data_list = []
    
    for phone_dict in response_json['Phones']:
        phone_numbers_data_list.append(phone_dict)
    phone_numbers_data = pd.DataFrame(phone_numbers_data_list)
    
    return phone_numbers_data

In [57]:
response_phone_data = get_phone_numbers_from_response(response)
response_phone_data

  AreaCode  LineType PhoneNumber Source MatchLevel MaxValidationLevel
0      787  LandLine     7817073      D         B2                 B2

In [58]:
response_phone_data['Phone Number'] = response_phone_data['AreaCode'] + response_phone_data['PhoneNumber']
response_phone_data

,AreaCode,LineType,PhoneNumber,Source,MatchLevel,MaxValidationLevel,Phone Number
0,787,LandLine,7817073,D,B2,B2,7877817073

In [23]:
residential_url

'https://api.accurateappend.com/Services/V2/AppendPhone/Residential/71f92d8a-568e-420b-b2c5-81db2f9a3be8'

In [59]:
test_param1 = residential_params_list[1]
test_param1

{'firstname': 'ERIN',
 'lastname': 'CASEY',
 'address': '11 GARVEY PKWY',
 'city': 'SAINT CHARLES',
 'state': 'MO'}

In [60]:
response = requests.get(residential_url, params=test_param1)

In [62]:
response_phone_data = get_phone_numbers_from_response(response)
response_phone_data

Empty DataFrame
Columns: []
Index: []

In [64]:
all_response_json_list = []
all_phone_df_list = []

In [68]:
test_dataset.shape

(300, 10)

In [69]:
test_dataset.head()

,ME_NO,FNAME,MNAME,LNAME,OFFICE_PHONE,ADDR1,ADDR2,ADDR_CITY,ADDR_STATE,ADDR_ZIP
0,04204880064,CARMEN,J,SIERRA LUCIANO,7872818522,NaN,400 CALLE MANUEL DOMENECH STE 311,SAN JUAN,PR,00918
1,03545120088,ERIN,ELIZABETH,CASEY,6364417280,NaN,11 GARVEY PKWY,SAINT CHARLES,MO,63303
2,69007840063,OBIOHA,LOUIS,OKORO,4787466662,NaN,844 2ND ST,MACON,GA,31201
3,65501960025,MOUNIR,NaN,BELCADI,8056526729,NaN,200 HILLMONT AVE,VENTURA,CA,93003
4,00802951248,GORDON,SCOTT,ABRAMS,4126411635,MAGEE-WOMENS HOSPITAL,300 HALKET ST,PITTSBURGH,PA,15213

In [84]:
def query_api_on_data(query_dataframe):
    for i, row in query_dataframe.iterrows():
        me_number = row.ME_NO
        print('ME_NO:', me_number)

        params = get_residential_params(row)
        response = requests.get(residential_url, params=params)

        ### Logging ###
        me_no_response = {
            'ME_NO': me_number,
            'response_json': response.json()
        }
        all_response_json_list.append(me_no_response)
        print(response.json()['Phones'])

        ### Parsing ###
        response_phone_data = get_phone_numbers_from_response(response)
        response_phone_data['ME_NO'] = me_number

        all_phone_df_list.append(response_phone_data)

        print('#'*80)
        print()

        sleep(1)

In [85]:
query_api_on_data(test_dataset)

ME_NO: 04204880064
[{'AreaCode': '787', 'LineType': 'LandLine', 'PhoneNumber': '7817073', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03545120088
[]
################################################################################

ME_NO: 69007840063
[{'AreaCode': '478', 'LineType': 'LandLine', 'PhoneNumber': '7466662', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 65501960025
[]
################################################################################

ME_NO: 00802951248
[]
################################################################################

ME_NO: 91369860114
[]
################################################################################

ME_NO: 03515820492
[]
################################################################################

ME_NO: 26404910026
[]
################################################################################

ME_NO: 42201160621
[{'AreaCode': '951', 'LineType': 'CellLine', 'PhoneNumber': '2055140', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01642100374
[]
################################################################################

ME_NO: 58322890026
[{'AreaCode': '951', 'LineType': 'LandLine', 'PhoneNumber': '7720687', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '909', 'LineType': 'LandLine', 'PhoneNumber': '7965839', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 49522970076
[]
################################################################################

ME_NO: 02301880432
[{'AreaCode': '239', 'LineType': 'LandLine', 'PhoneNumber': '5926765', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '239', 'LineType': 'CellLine', 'PhoneNumber': '8601463', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 26407780018
[{'AreaCode': '305', 'LineType': 'LandLine', 'PhoneNumber': '2612627', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 74807800080
[{'AreaCode': '863', 'LineType': 'CellLine', 'PhoneNumber': '4148099', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 00401910107
[]
################################################################################

ME_NO: 04504910747
[]
################################################################################

ME_NO: 03575061230
[]
################################################################################

ME_NO: 03546841170
[]
################################################################################

ME_NO: 49550690071
[{'AreaCode': '718', 'LineType': 'LandLine', 'PhoneNumber': '4420973', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 00401051091
[]
################################################################################

ME_NO: 02312952630
[]
################################################################################

ME_NO: 04812901104
[{'AreaCode': '214', 'LineType': 'LandLine', 'PhoneNumber': '6926912', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04812832234
[{'AreaCode': '713', 'LineType': 'LandLine', 'PhoneNumber': '6610152', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02401881304
[]
################################################################################

ME_NO: 02407831031
[{'AreaCode': '207', 'LineType': 'LandLine', 'PhoneNumber': '7258041', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '207', 'LineType': 'CellLine', 'PhoneNumber': '8373133', 'Source': 'M', 'MatchLevel': 'N1', 'MaxValidationLevel': 'N1'}]
################################################################################

ME_NO: 04102953750
[]
################################################################################

ME_NO: 03515700152
[{'AreaCode': '419', 'LineType': 'CellLine', 'PhoneNumber': '2355595', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01720952820
[{'AreaCode': '619', 'LineType': 'CellLine', 'PhoneNumber': '7279677', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 00102111141
[{'AreaCode': '205', 'LineType': 'CellLine', 'PhoneNumber': '2925999', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01875960365
[]
################################################################################

ME_NO: 49627000277
[{'AreaCode': '773', 'LineType': 'CellLine', 'PhoneNumber': '2663123', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 02405952591
[{'AreaCode': '401', 'LineType': 'LandLine', 'PhoneNumber': '3535520', 'Source': 'P', 'MatchLevel': 'E2', 'MaxValidationLevel': 'E2'}, {'AreaCode': '401', 'LineType': 'CellLine', 'PhoneNumber': '9656218', 'Source': 'M', 'MatchLevel': 'E2', 'MaxValidationLevel': 'E2'}]
################################################################################

ME_NO: 49517720291
[]
################################################################################

ME_NO: 01103980247
[{'AreaCode': '941', 'LineType': 'LandLine', 'PhoneNumber': '3428405', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '813', 'LineType': 'CellLine', 'PhoneNumber': '9248808', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 65401811073
[]
################################################################################

ME_NO: 04814920777
[{'AreaCode': '281', 'LineType': 'LandLine', 'PhoneNumber': '9909288', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 00102821823
[{'AreaCode': '334', 'LineType': 'CellLine', 'PhoneNumber': '3431210', 'Source': 'M', 'MatchLevel': 'B1', 'MaxValidationLevel': 'B1'}]
################################################################################

ME_NO: 05605831437
[]
################################################################################

ME_NO: 57501870155
[]
################################################################################

ME_NO: 73706810011
[{'AreaCode': '661', 'LineType': 'LandLine', 'PhoneNumber': '6638585', 'Source': 'P', 'MatchLevel': 'E2', 'MaxValidationLevel': 'E2'}, {'AreaCode': '661', 'LineType': 'CellLine', 'PhoneNumber': '7479314', 'Source': 'M', 'MatchLevel': 'E2', 'MaxValidationLevel': 'E2'}]
################################################################################

ME_NO: 69008950016
[]
################################################################################

ME_NO: 03515690327
[]
################################################################################

ME_NO: 74810850357
[]
################################################################################

ME_NO: 03701980459
[{'AreaCode': '605', 'LineType': 'CellLine', 'PhoneNumber': '3606389', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03806810176
[]
################################################################################

ME_NO: 04815021105
[]
################################################################################

ME_NO: 49609770111
[{'AreaCode': '760', 'LineType': 'LandLine', 'PhoneNumber': '2408623', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '760', 'LineType': 'LandLine', 'PhoneNumber': '2420375', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '760', 'LineType': 'CellLine', 'PhoneNumber': '2211294', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02106980635
[{'AreaCode': '318', 'LineType': 'LandLine', 'PhoneNumber': '7950649', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04109900619
[{'AreaCode': '847', 'LineType': 'CellLine', 'PhoneNumber': '5256476', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 56103930044
[{'AreaCode': '507', 'LineType': 'CellLine', 'PhoneNumber': '3177951', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03806930376
[{'AreaCode': '330', 'LineType': 'LandLine', 'PhoneNumber': '5438580', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 01002781502
[{'AreaCode': '410', 'LineType': 'LandLine', 'PhoneNumber': '7786303', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 05002920613
[{'AreaCode': '518', 'LineType': 'LandLine', 'PhoneNumber': '7925728', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03201910811
[{'AreaCode': '202', 'LineType': 'LandLine', 'PhoneNumber': '8859757', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '202', 'LineType': 'LandLine', 'PhoneNumber': '8823962', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01720990560
[]
################################################################################

ME_NO: 03875980334
[]
################################################################################

ME_NO: 87507130010
[]
################################################################################

ME_NO: 02416911226
[]
################################################################################

ME_NO: 01720102133
[{'AreaCode': '812', 'LineType': 'LandLine', 'PhoneNumber': '3423239', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01676800405
[]
################################################################################

ME_NO: 02407880997
[{'AreaCode': '310', 'LineType': 'LandLine', 'PhoneNumber': '3150360', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04813051945
[{'AreaCode': '662', 'LineType': 'LandLine', 'PhoneNumber': '4536491', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04706000696
[]
################################################################################

ME_NO: 49503760133
[{'AreaCode': '641', 'LineType': 'LandLine', 'PhoneNumber': '4244208', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '641', 'LineType': 'CellLine', 'PhoneNumber': '3448846', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01175890846
[]
################################################################################

ME_NO: 57501950205
[]
################################################################################

ME_NO: 05501870341
[{'AreaCode': '713', 'LineType': 'LandLine', 'PhoneNumber': '4642608', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03608951864
[]
################################################################################

ME_NO: 02105920221
[]
################################################################################

ME_NO: 49545990198
[]
################################################################################

ME_NO: 04707800645
[]
################################################################################

ME_NO: 03845820448
[]
################################################################################

ME_NO: 03375030585
[]
################################################################################

ME_NO: 02405770329
[{'AreaCode': '917', 'LineType': 'CellLine', 'PhoneNumber': '8460970', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04504840269
[]
################################################################################

ME_NO: 49504900125
[]
################################################################################

ME_NO: 49563820020
[]
################################################################################

ME_NO: 74802740119
[{'AreaCode': '209', 'LineType': 'CellLine', 'PhoneNumber': '4817643', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 04113961487
[]
################################################################################

ME_NO: 00801890857
[]
################################################################################

ME_NO: 03519951273
[]
################################################################################

ME_NO: 02101981382
[]
################################################################################

ME_NO: 04177781083
[{'AreaCode': '561', 'LineType': 'LandLine', 'PhoneNumber': '7440064', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '386', 'LineType': 'LandLine', 'PhoneNumber': '4543374', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '941', 'LineType': 'CellLine', 'PhoneNumber': '3203571', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 04901830059
[{'AreaCode': '801', 'LineType': 'LandLine', 'PhoneNumber': '4756498', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '801', 'LineType': 'CellLine', 'PhoneNumber': '9280949', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 03605940454
[]
################################################################################

ME_NO: 01902850992
[]
################################################################################

ME_NO: 03520780164
[{'AreaCode': '518', 'LineType': 'LandLine', 'PhoneNumber': '8422663', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 49537820241
[]
################################################################################

ME_NO: 57501030114
[]
################################################################################

ME_NO: 03548940884
[]
################################################################################

ME_NO: 04707700624
[]
################################################################################

ME_NO: 65401101645
[]
################################################################################

ME_NO: 04201850661
[{'AreaCode': '305', 'LineType': 'CellLine', 'PhoneNumber': '9032774', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04112030625
[]
################################################################################

ME_NO: 04177740506
[]
################################################################################

ME_NO: 02501091033
[{'AreaCode': '319', 'LineType': 'LandLine', 'PhoneNumber': '2218966', 'Source': 'D', 'MatchLevel': 'N1', 'MaxValidationLevel': 'N1'}, {'AreaCode': '319', 'LineType': 'CellLine', 'PhoneNumber': '5730818', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 05404981155
[{'AreaCode': '503', 'LineType': 'CellLine', 'PhoneNumber': '7095387', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 64914801760
[]
################################################################################

ME_NO: 03840141275
[]
################################################################################

ME_NO: 03806811377
[{'AreaCode': '406', 'LineType': 'LandLine', 'PhoneNumber': '6520591', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '406', 'LineType': 'LandLine', 'PhoneNumber': '2489047', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01720661469
[]
################################################################################

ME_NO: 01602010186
[{'AreaCode': '773', 'LineType': 'CellLine', 'PhoneNumber': '8443201', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04804941024
[{'AreaCode': '847', 'LineType': 'CellLine', 'PhoneNumber': '4206295', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02405810339
[]
################################################################################

ME_NO: 01875110604
[]
################################################################################

ME_NO: 05606941864
[{'AreaCode': '424', 'LineType': 'LandLine', 'PhoneNumber': '2049122', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03305900663
[]
################################################################################

ME_NO: 01606860818
[]
################################################################################

ME_NO: 02407831376
[]
################################################################################

ME_NO: 03845870739
[{'AreaCode': '765', 'LineType': 'LandLine', 'PhoneNumber': '2133029', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02834980935
[]
################################################################################

ME_NO: 04814900083
[]
################################################################################

ME_NO: 03509932211
[]
################################################################################

ME_NO: 04804980160
[{'AreaCode': '308', 'LineType': 'LandLine', 'PhoneNumber': '3849300', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '308', 'LineType': 'CellLine', 'PhoneNumber': '3902699', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 91504860146
[{'AreaCode': '940', 'LineType': 'LandLine', 'PhoneNumber': '3975443', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '940', 'LineType': 'CellLine', 'PhoneNumber': '7816021', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01176090487
[]
################################################################################

ME_NO: 01875970506
[]
################################################################################

ME_NO: 04102051535
[{'AreaCode': '912', 'LineType': 'CellLine', 'PhoneNumber': '4014980', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01102120058
[]
################################################################################

ME_NO: 03503940425
[{'AreaCode': '518', 'LineType': 'LandLine', 'PhoneNumber': '8420017', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 06001840124
[]
################################################################################

ME_NO: 64914720221
[{'AreaCode': '740', 'LineType': 'CellLine', 'PhoneNumber': '6324285', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 02105050880
[{'AreaCode': '337', 'LineType': 'LandLine', 'PhoneNumber': '2568935', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '337', 'LineType': 'CellLine', 'PhoneNumber': '3807718', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02701830787
[{'AreaCode': '559', 'LineType': 'LandLine', 'PhoneNumber': '4970758', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '559', 'LineType': 'CellLine', 'PhoneNumber': '2849619', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 03840801828
[{'AreaCode': '614', 'LineType': 'CellLine', 'PhoneNumber': '2047360', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04177852011
[{'AreaCode': '570', 'LineType': 'LandLine', 'PhoneNumber': '6014594', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 00102002555
[{'AreaCode': '904', 'LineType': 'LandLine', 'PhoneNumber': '2202955', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '904', 'LineType': 'LandLine', 'PhoneNumber': '9001994', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02002120545
[]
################################################################################

ME_NO: 02507891767
[]
################################################################################

ME_NO: 03841011588
[{'AreaCode': '626', 'LineType': 'LandLine', 'PhoneNumber': '7957010', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 56601980121
[{'AreaCode': '210', 'LineType': 'LandLine', 'PhoneNumber': '5586992', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '214', 'LineType': 'LandLine', 'PhoneNumber': '5569326', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '210', 'LineType': 'CellLine', 'PhoneNumber': '2510380', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03840871621
[]
################################################################################

ME_NO: 03875030999
[]
################################################################################

ME_NO: 67203000038
[]
################################################################################

ME_NO: 49529670035
[]
################################################################################

ME_NO: 57501890172
[{'AreaCode': '352', 'LineType': 'LandLine', 'PhoneNumber': '2432944', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04901800648
[{'AreaCode': '801', 'LineType': 'CellLine', 'PhoneNumber': '7176174', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01676840679
[]
################################################################################

ME_NO: 01720882350
[]
################################################################################

ME_NO: 01902861919
[{'AreaCode': '214', 'LineType': 'CellLine', 'PhoneNumber': '6637301', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02604782956
[{'AreaCode': '352', 'LineType': 'CellLine', 'PhoneNumber': '2842553', 'Source': 'M', 'MatchLevel': 'B1', 'MaxValidationLevel': 'B1'}]
################################################################################

ME_NO: 04812760667
[{'AreaCode': '214', 'LineType': 'LandLine', 'PhoneNumber': '3417926', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '214', 'LineType': 'CellLine', 'PhoneNumber': '8500306', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01606930026
[{'AreaCode': '917', 'LineType': 'CellLine', 'PhoneNumber': '3246039', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01642030805
[]
################################################################################

ME_NO: 24364870031
[{'AreaCode': '713', 'LineType': 'LandLine', 'PhoneNumber': '5051219', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03506901561
[]
################################################################################

ME_NO: 06505750070
[]
################################################################################

ME_NO: 04177062150
[]
################################################################################

ME_NO: 01205720746
[]
################################################################################

ME_NO: 01201091388
[]
################################################################################

ME_NO: 01205990271
[]
################################################################################

ME_NO: 04002880810
[{'AreaCode': '541', 'LineType': 'CellLine', 'PhoneNumber': '2853305', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04804980569
[{'AreaCode': '806', 'LineType': 'LandLine', 'PhoneNumber': '2126604', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '806', 'LineType': 'LandLine', 'PhoneNumber': '3529517', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 26413910021
[]
################################################################################

ME_NO: 05606060914
[]
################################################################################

ME_NO: 51701700639
[]
################################################################################

ME_NO: 49553810093
[{'AreaCode': '352', 'LineType': 'LandLine', 'PhoneNumber': '2911212', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 00375090775
[]
################################################################################

ME_NO: 74819860053
[]
################################################################################

ME_NO: 93507020010
[]
################################################################################

ME_NO: 03607831458
[]
################################################################################

ME_NO: 01104860784
[{'AreaCode': '954', 'LineType': 'LandLine', 'PhoneNumber': '9629059', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '954', 'LineType': 'CellLine', 'PhoneNumber': '6472962', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03305040516
[{'AreaCode': '808', 'LineType': 'LandLine', 'PhoneNumber': '3961207', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '808', 'LineType': 'CellLine', 'PhoneNumber': '3861700', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 55002840072
[]
################################################################################

ME_NO: 03840750794
[{'AreaCode': '317', 'LineType': 'LandLine', 'PhoneNumber': '8962915', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '317', 'LineType': 'CellLine', 'PhoneNumber': '4163820', 'Source': 'M', 'MatchLevel': 'N1', 'MaxValidationLevel': 'N1'}]
################################################################################

ME_NO: 01611890172
[{'AreaCode': '815', 'LineType': 'LandLine', 'PhoneNumber': '9371237', 'Source': 'D', 'MatchLevel': 'B1', 'MaxValidationLevel': 'B1'}]
################################################################################

ME_NO: 02604991792
[{'AreaCode': '507', 'LineType': 'CellLine', 'PhoneNumber': '8290365', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03508900642
[{'AreaCode': '914', 'LineType': 'LandLine', 'PhoneNumber': '4783370', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 22003920023
[]
################################################################################

ME_NO: 04901070186
[]
################################################################################

ME_NO: 49510790013
[{'AreaCode': '281', 'LineType': 'LandLine', 'PhoneNumber': '8970511', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '832', 'LineType': 'CellLine', 'PhoneNumber': '4071507', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03515070248
[]
################################################################################

ME_NO: 49565780025
[]
################################################################################

ME_NO: 87501890659
[{'AreaCode': '309', 'LineType': 'LandLine', 'PhoneNumber': '5171223', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '309', 'LineType': 'LandLine', 'PhoneNumber': '7361413', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02416770231
[]
################################################################################

ME_NO: 03006881253
[{'AreaCode': '812', 'LineType': 'LandLine', 'PhoneNumber': '2980322', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '812', 'LineType': 'CellLine', 'PhoneNumber': '7985626', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 05175110960
[]
################################################################################

ME_NO: 00518090151
[]
################################################################################

ME_NO: 02401930909
[{'AreaCode': '702', 'LineType': 'LandLine', 'PhoneNumber': '2338815', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '702', 'LineType': 'CellLine', 'PhoneNumber': '3268973', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01720901940
[{'AreaCode': '915', 'LineType': 'LandLine', 'PhoneNumber': '7572874', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 04720000232
[]
################################################################################

ME_NO: 49504710148
[{'AreaCode': '724', 'LineType': 'CellLine', 'PhoneNumber': '3556715', 'Source': 'M', 'MatchLevel': 'E2', 'MaxValidationLevel': 'E2'}]
################################################################################

ME_NO: 66103100080
[{'AreaCode': '857', 'LineType': 'CellLine', 'PhoneNumber': '4881095', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04814811188
[{'AreaCode': '713', 'LineType': 'LandLine', 'PhoneNumber': '9939304', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '281', 'LineType': 'CellLine', 'PhoneNumber': '2177364', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02105770408
[{'AreaCode': '985', 'LineType': 'LandLine', 'PhoneNumber': '8931035', 'Source': 'D', 'MatchLevel': 'N1', 'MaxValidationLevel': 'N1'}, {'AreaCode': '985', 'LineType': 'LandLine', 'PhoneNumber': '8931388', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 42201062441
[]
################################################################################

ME_NO: 05404001215
[{'AreaCode': '607', 'LineType': 'LandLine', 'PhoneNumber': '3875707', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 04812760373
[]
################################################################################

ME_NO: 03305060703
[]
################################################################################

ME_NO: 00514051542
[]
################################################################################

ME_NO: 04706090547
[]
################################################################################

ME_NO: 04002720910
[]
################################################################################

ME_NO: 00375100771
[]
################################################################################

ME_NO: 87501970610
[]
################################################################################

ME_NO: 04812040338
[]
################################################################################

ME_NO: 01176100610
[{'AreaCode': '512', 'LineType': 'LandLine', 'PhoneNumber': '3986099', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '210', 'LineType': 'CellLine', 'PhoneNumber': '4104505', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04101731800
[]
################################################################################

ME_NO: 02846880553
[]
################################################################################

ME_NO: 49501760152
[]
################################################################################

ME_NO: 70401820025
[]
################################################################################

ME_NO: 04504910429
[]
################################################################################

ME_NO: 01003751356
[]
################################################################################

ME_NO: 70420900218
[]
################################################################################

ME_NO: 05104961390
[]
################################################################################

ME_NO: 04178050856
[]
################################################################################

ME_NO: 01602020050
[]
################################################################################

ME_NO: 04812021279
[]
################################################################################

ME_NO: 05501900712
[]
################################################################################

ME_NO: 01902720720
[{'AreaCode': '210', 'LineType': 'LandLine', 'PhoneNumber': '6983683', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '210', 'LineType': 'CellLine', 'PhoneNumber': '4226962', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03305830185
[{'AreaCode': '212', 'LineType': 'LandLine', 'PhoneNumber': '5804849', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '917', 'LineType': 'CellLine', 'PhoneNumber': '8269002', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 04102061883
[{'AreaCode': '212', 'LineType': 'LandLine', 'PhoneNumber': '4312910', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03515810047
[{'AreaCode': '717', 'LineType': 'LandLine', 'PhoneNumber': '7280415', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '717', 'LineType': 'CellLine', 'PhoneNumber': '3872097', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02101020137
[{'AreaCode': '801', 'LineType': 'CellLine', 'PhoneNumber': '6940087', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 49548910047
[]
################################################################################

ME_NO: 01002862235
[{'AreaCode': '301', 'LineType': 'CellLine', 'PhoneNumber': '5298115', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04705000145
[{'AreaCode': '717', 'LineType': 'LandLine', 'PhoneNumber': '6957226', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '717', 'LineType': 'CellLine', 'PhoneNumber': '4223742', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04802830314
[]
################################################################################

ME_NO: 03306961208
[]
################################################################################

ME_NO: 02002020885
[]
################################################################################

ME_NO: 30501072610
[]
################################################################################

ME_NO: 91504860367
[]
################################################################################

ME_NO: 04814121301
[]
################################################################################

ME_NO: 03501921156
[]
################################################################################

ME_NO: 04115070105
[]
################################################################################

ME_NO: 02501891382
[{'AreaCode': '972', 'LineType': 'LandLine', 'PhoneNumber': '3959000', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 03501931755
[{'AreaCode': '216', 'LineType': 'CellLine', 'PhoneNumber': '2805896', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02501880291
[]
################################################################################

ME_NO: 78105780019
[{'AreaCode': '609', 'LineType': 'LandLine', 'PhoneNumber': '2424322', 'Source': 'D', 'MatchLevel': 'B1', 'MaxValidationLevel': 'B1'}]
################################################################################

ME_NO: 03503920041
[]
################################################################################

ME_NO: 49553810051
[]
################################################################################

ME_NO: 65401000890
[]
################################################################################

ME_NO: 04804782619
[{'AreaCode': '757', 'LineType': 'CellLine', 'PhoneNumber': '3628224', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01643970402
[]
################################################################################

ME_NO: 03601800895
[]
################################################################################

ME_NO: 03843861457
[]
################################################################################

ME_NO: 05404040440
[]
################################################################################

ME_NO: 00801960251
[]
################################################################################

ME_NO: 00506841020
[]
################################################################################

ME_NO: 01611980996
[]
################################################################################

ME_NO: 02405920177
[]
################################################################################

ME_NO: 03005710684
[]
################################################################################

ME_NO: 05605910035
[]
################################################################################

ME_NO: 04501921292
[{'AreaCode': '480', 'LineType': 'LandLine', 'PhoneNumber': '5858251', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 01643752243
[]
################################################################################

ME_NO: 03506820803
[{'AreaCode': '970', 'LineType': 'LandLine', 'PhoneNumber': '2242236', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 01676020779
[]
################################################################################

ME_NO: 60503970093
[{'AreaCode': '216', 'LineType': 'CellLine', 'PhoneNumber': '7440022', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 42201990666
[]
################################################################################

ME_NO: 05002110697
[]
################################################################################

ME_NO: 02878930358
[{'AreaCode': '636', 'LineType': 'LandLine', 'PhoneNumber': '2303759', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}, {'AreaCode': '573', 'LineType': 'CellLine', 'PhoneNumber': '2701113', 'Source': 'M', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 03509020662
[]
################################################################################

ME_NO: 01102880532
[{'AreaCode': '813', 'LineType': 'LandLine', 'PhoneNumber': '9204329', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02701110814
[]
################################################################################

ME_NO: 02105922046
[{'AreaCode': '318', 'LineType': 'LandLine', 'PhoneNumber': '3353033', 'Source': 'P', 'MatchLevel': 'B1', 'MaxValidationLevel': 'B1'}]
################################################################################

ME_NO: 01676090548
[]
################################################################################

ME_NO: 02105050537
[]
################################################################################

ME_NO: 02106060226
[{'AreaCode': '318', 'LineType': 'CellLine', 'PhoneNumber': '3471864', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 00502640046
[{'AreaCode': '775', 'LineType': 'LandLine', 'PhoneNumber': '8272630', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '775', 'LineType': 'CellLine', 'PhoneNumber': '2998811', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 06506120070
[]
################################################################################

ME_NO: 00801970087
[]
################################################################################

ME_NO: 05575900501
[]
################################################################################

ME_NO: 04706880882
[]
################################################################################

ME_NO: 04813910328
[]
################################################################################

ME_NO: 65401980371
[]
################################################################################

ME_NO: 01720030671
[]
################################################################################

ME_NO: 05502980337
[{'AreaCode': '304', 'LineType': 'CellLine', 'PhoneNumber': '6333263', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04706891124
[]
################################################################################

ME_NO: 02301011396
[{'AreaCode': '336', 'LineType': 'LandLine', 'PhoneNumber': '7279349', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03875880780
[]
################################################################################

ME_NO: 00514840466
[{'AreaCode': '559', 'LineType': 'LandLine', 'PhoneNumber': '8963506', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03806761213
[]
################################################################################

ME_NO: 01720821911
[{'AreaCode': '574', 'LineType': 'LandLine', 'PhoneNumber': '5337230', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 03006060942
[{'AreaCode': '314', 'LineType': 'CellLine', 'PhoneNumber': '2583979', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02416910297
[]
################################################################################

ME_NO: 02512050738
[{'AreaCode': '919', 'LineType': 'CellLine', 'PhoneNumber': '6196249', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04901040244
[]
################################################################################

ME_NO: 24376820269
[]
################################################################################

ME_NO: 49552820125
[]
################################################################################

ME_NO: 03545840234
[]
################################################################################

ME_NO: 03201900793
[]
################################################################################

ME_NO: 01720000608
[]
################################################################################

ME_NO: 01176160655
[{'AreaCode': '972', 'LineType': 'CellLine', 'PhoneNumber': '4670848', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02834760919
[]
################################################################################

ME_NO: 01102920160
[{'AreaCode': '910', 'LineType': 'LandLine', 'PhoneNumber': '8261221', 'Source': 'P', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 04114840616
[]
################################################################################

ME_NO: 74808750124
[{'AreaCode': '415', 'LineType': 'CellLine', 'PhoneNumber': '3682498', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 49536790160
[{'AreaCode': '724', 'LineType': 'LandLine', 'PhoneNumber': '6578692', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}, {'AreaCode': '724', 'LineType': 'CellLine', 'PhoneNumber': '9442401', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02301960088
[{'AreaCode': '864', 'LineType': 'CellLine', 'PhoneNumber': '4907906', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 24399950011
[{'AreaCode': '718', 'LineType': 'LandLine', 'PhoneNumber': '2246292', 'Source': 'P', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 01602750244
[]
################################################################################

ME_NO: 00102011147
[{'AreaCode': '205', 'LineType': 'CellLine', 'PhoneNumber': '9026181', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 00401901027
[]
################################################################################

ME_NO: 03601900989
[{'AreaCode': '540', 'LineType': 'CellLine', 'PhoneNumber': '9681746', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 49659030135
[{'AreaCode': '270', 'LineType': 'CellLine', 'PhoneNumber': '3203487', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 00401821431
[{'AreaCode': '870', 'LineType': 'LandLine', 'PhoneNumber': '6734687', 'Source': 'D', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

ME_NO: 02701811227
[{'AreaCode': '601', 'LineType': 'LandLine', 'PhoneNumber': '8254680', 'Source': 'D', 'MatchLevel': 'E1', 'MaxValidationLevel': 'E1'}]
################################################################################

ME_NO: 91343900011
[]
################################################################################

ME_NO: 05606081326
[]
################################################################################

ME_NO: 04814820233
[{'AreaCode': '501', 'LineType': 'CellLine', 'PhoneNumber': '8378213', 'Source': 'M', 'MatchLevel': 'B2', 'MaxValidationLevel': 'B2'}]
################################################################################

In [87]:
combined_data = pd.concat(all_phone_df_list, ignore_index=True)
combined_data

,AreaCode,LineType,PhoneNumber,Source,MatchLevel,MaxValidationLevel,ME_NO
0,787,LandLine,7817073,D,B2,B2,04204880064
1,478,LandLine,7466662,P,E1,E1,69007840063
2,951,CellLine,2055140,M,B2,B2,42201160621
3,951,LandLine,7720687,D,B2,B2,58322890026
4,909,LandLine,7965839,P,B2,B2,58322890026
...,...,...,...,...,...,...,...
159,540,CellLine,9681746,M,B2,B2,03601900989
160,270,CellLine,3203487,M,B2,B2,49659030135
161,870,LandLine,6734687,D,B2,B2,00401821431
162,601,LandLine,8254680,D,E1,E1,02701811227
163,501,CellLine,8378213,M,B2,B2,04814820233

In [92]:
combined_data['AccurateAppend_Phone'] = combined_data['AreaCode'] + combined_data['PhoneNumber']

<ipython-input-92-8273a61155d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data['AccurateAppend_Phone'] = combined_data['AreaCode'] + combined_data['PhoneNumber']

### Remove Cell

In [93]:
combined_data = combined_data[combined_data['LineType'] == 'LandLine']
combined_data

,AreaCode,LineType,PhoneNumber,Source,MatchLevel,MaxValidationLevel,ME_NO,AccurateAppend_Phone
0,787,LandLine,7817073,D,B2,B2,04204880064,7877817073
1,478,LandLine,7466662,P,E1,E1,69007840063,4787466662
3,951,LandLine,7720687,D,B2,B2,58322890026,9517720687
4,909,LandLine,7965839,P,B2,B2,58322890026,9097965839
5,239,LandLine,5926765,D,B2,B2,02301880432,2395926765
...,...,...,...,...,...,...,...,...
152,910,LandLine,8261221,P,B2,B2,01102920160,9108261221
154,724,LandLine,6578692,D,B2,B2,49536790160,7246578692
157,718,LandLine,2246292,P,E1,E1,24399950011,7182246292
161,870,LandLine,6734687,D,B2,B2,00401821431,8706734687
162,601,LandLine,8254680,D,E1,E1,02701811227,6018254680

### Coverage

In [89]:
me_numbers_found = len(combined_data['ME_NO'].drop_duplicates())
me_numbers_found

80

In [91]:
me_numbers_found / len(test_dataset)

0.26666666666666666

### Accuracy

In [99]:
merged = test_dataset[['ME_NO', 'OFFICE_PHONE']].merge(
    combined_data[['ME_NO', 'AccurateAppend_Phone']],
    on='ME_NO',
    how='left'
)
merged['match'] = merged['OFFICE_PHONE'] == merged['AccurateAppend_Phone']
merged

           ME_NO OFFICE_PHONE AccurateAppend_Phone  match
0    04204880064   7872818522           7877817073  False
1    03545120088   6364417280                  NaN  False
2    69007840063   4787466662           4787466662   True
3    65501960025   8056526729                  NaN  False
4    00802951248   4126411635                  NaN  False
..           ...          ...                  ...    ...
305  00401821431   8706737211           8706734687  False
306  02701811227   6018250925           6018254680  False
307  91343900011   2017736171                  NaN  False
308  05606081326   8586933000                  NaN  False
309  04814820233   5015268100                  NaN  False

[310 rows x 4 columns]

In [104]:
merged['match_partial'] = [str(o)[:6] == str(a)[:6] for o, a in zip(merged['OFFICE_PHONE'], merged['AccurateAppend_Phone'])]

In [105]:
merged['match'].sum()

14

In [106]:
merged['match_partial'].sum()

28

#### Complete Match Accuracy

In [100]:
merged['match'].sum() / len(merged.dropna())

0.15555555555555556

#### Complete Match Accuracy -- more likely to lead to an update in a phone survey

In [107]:
merged['match_partial'].sum() / len(merged.dropna())

0.3111111111111111

In [109]:
merged[['ME_NO', 'AccurateAppend_Phone']].to_csv('AccurateAppend_comparison.csv', index=False)