In [5]:
import pandas as pd
import requests
import json

In [4]:
sample = pd.read_csv('../../../Data/Humach/confirmed_phone_sample.csv')
first_sample = sample.head(20)

In [53]:
second_sample = sample[20:40]

In [54]:
json_body = {'AP':[]}
for row in second_sample.itertuples():
    new_dict= {
        'firstname': row.PHYSICIAN_FIRST_NAME,
        'lastname': row.PHYSICIAN_LAST_NAME,
        'address': row.OFFICE_ADDRESS_LINE_2, 
        'city': row.OFFICE_ADDRESS_CITY,
        'state': row.OFFICE_ADDRESS_STATE,
        'zip': row.OFFICE_ADDRESS_ZIP
    }
    json_body['AP'].append(new_dict)

In [55]:
test = json.dumps(json_body)

In [12]:
key='294895e66af395f285'

In [13]:
url = f'https://api.data247.com/v3.0?key={key}&api=AP'
headers = {'content-type': 'application/json'}
body = {}

In [56]:
# first = 'larry'
# last= 'grose'
# address= '10819 s drake'
# city= 'chicago'
# state= 'il'
# zipcode= '60655'
# parameters = {'firstname':first, 'lastname': last,'address':address, 'city':city,'state':state,'zzip':zipcode,'out':json}
response_2 =  requests.post(url, test, headers=headers)
results_2 = response_2.json()

In [45]:
dict_list = []
for thing in results_2['response']['results']:
    if thing['status']=='OK':
        dicto = {
         'phone': thing['phone'],
         'type': thing['type'],
         'firstname': thing['firstname'],
         'lastname': thing['lastname'],
         'address': thing['address'],
         'city': thing['city'],
         'state': thing['state'],
         'zip': thing['zip'],
         'addtl': thing['addtl']}
        dict_list.append(dicto)

In [58]:
test_df = pd.DataFrame(dict_list)

In [48]:
first_sample[["PHYSICIAN_LAST_NAME",'OFFICE_TELEPHONE','OFFICE_ADDRESS_LINE_2']]

   PHYSICIAN_LAST_NAME OFFICE_TELEPHONE        OFFICE_ADDRESS_LINE_2
0                VADER       9702492421                 947 S 5TH ST
1                 HORD       8066370344                706 E FELT ST
2              LUBBERS       3092773500                 608 35TH AVE
3                QUINN       5742710700                 52500 FIR RD
4              NEGRETE       7603527216                 702 WAKE AVE
5         AGYEI-GYAMFI       9107395197         4348 FAYETTEVILLE RD
6                GREIG       8643313230                373 HALTON RD
7                  LEE       5155746080                800 KENYON RD
8                 THUR       9203038700           855 N WESTHAVEN DR
9                SAUER       5858696600        7796 VICTOR MENDON RD
10              CARNEY       3372897689           1214 COOLIDGE BLVD
11             O'BRIEN       6147223435             700 CHILDRENS DR
12               PATEL       5206940111  2380 N FERGUSON AVE STE 104
13                ROWE       4342440162     2331 SEMINOLE LN STE 102
14             ALLEGRA       3522737766            1600 SW ARCHER RD
15            GOTTLIEB       7183511212              2905 HYLAN BLVD
16           DEVILBISS       8087919400             2239 N SCHOOL ST
17               KNOLL       8569886250                100 BOWMAN DR
18           ROMBERGER       7175444934                555 N DUKE ST
19               THYES       9204574461      2414 KOHLER MEMORIAL DR

In [42]:
first_sample['OFFICE_TELEPHONE'] = first_sample['OFFICE_TELEPHONE'].astype('int64').astype(str)

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
results

{'response': {'status': 'OK',
  'results': [{'status': 'OK',
    'phone': '9705904243',
    'type': 'Mobile',
    'firstname': 'MARY',
    'lastname': 'VADER',
    'address': '947 S 5TH ST',
    'city': 'MONTROSE',
    'state': 'CO',
    'zip': 81401,
    'addtl': []},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'OK',
    'phone': '3092773500',
    'type': 'Landline',
    'firstname': 'ROGER',
    'lastname': 'LUBBERS',
    'address': '608 35TH AVE',
    'city': 'MOLINE',
    'state': 'IL',
    'zip': '61265',
    'addtl': []},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'OK',
    'phone': '5155746820',
    'type': 'Landline',
    'firstname': 'MICHAEL',
    'lastname': 'LEE',
    'address': '800 KENYON RD',
    'city': 'FORT DODGE',
    'state': 'IA',
    'zip': '50501',
    'addtl': []},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'OK',
    'phone': '5858696600',
    'type': 'Landline',
    'firstname': 'JUDE',
    'lastname': 'SAUER',
    'address': '7796 VICTOR MENDON RD',
    'city': 'VICTOR',
    'state': 'NY',
    'zip': '14564',
    'addtl': []},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'D247_NO_DATA_FOUND',
    'message': 'Data247 data service is unable to find relevant data for requested search, Please make sure you provide correct parameters.'},
   {'status': 'OK',
    'phone': '9205762052',
    'type': 'Mobile',
    'firstname': 'RICK',
    'lastname': 'THYES',
    'address': '2414 KOHLER MEMORIAL DR',
    'city': 'SHEBOYGAN',
    'state': 'WI',
    'zip': 53081,
    'addtl': []}]}}

In [57]:
results_2

{'response': {'status': 'D247_ACCOUNT_INACTIVE',
  'message': 'The account is not active'}}

In [62]:
pd.merge(test_df, first_sample, left_on=['firstname','lastname'], right_on=['PHYSICIAN_FIRST_NAME','PHYSICIAN_LAST_NAME'], how='right').to_csv('../../../Data/Results/data_247_results.csv')