In [11]:
import pandas as pd

In [13]:
df = pd.read_csv('Insurance_Sample_2.csv')

In [14]:
df.columns

Index(['PARTY_ID', 'ME', 'POST_CD_ID', 'FROM_DT', 'ADDR_TYPE', 'ADDR_1',
       'ADDR_2', 'ADDR_3', 'CITY', 'STATE_CD', 'ZIP', 'POST_CD_ID_PPMA',
       'ADDR_1_PPMA', 'ADDR_2_PPMA', 'ADDR_3_PPMA', 'CITY_PPMA',
       'STATE_CD_PPMA', 'ZIP_PPMA', 'FROM_DT_PPMA', 'POST_CD_ID_POLO',
       'ADDR_1_POLO', 'ADDR_2_POLO', 'ADDR_3_POLO', 'CITY_POLO',
       'STATE_CD_POLO', 'ZIP_POLO', 'FROM_DT_POLO', 'POST_KEY', 'Match',
       'Match_2', 'NPI', 'ME_feb', 'Additional Office Locations_feb',
       'Phone_Number_feb', 'Zip Code_feb', 'State_feb', 'City_feb',
       'Address_feb', 'First Name_feb', 'Physician Name_feb',
       'Middle Name_feb', 'Primary Specialty_feb',
       'Primary Hospital Affiliation_feb', 'Last Name_feb', 'Address1_feb',
       'ME_mar', 'Additional Office Locations_mar', 'Phone_Number_mar',
       'Zip Code_mar', 'State_mar', 'City_mar', 'Address_mar',
       'First Name_mar', 'Physician Name_mar', 'Middle Name_mar',
       'Primary Specialty_mar', 'Primary Hospital Affiliation_mar',
       'Last Name_mar', 'Address1_mar', 'New', 'Phone_Update',
       'Address_Update', 'DHC_MATCH'],
      dtype='object')

In [29]:
pure = df[(df.Match==False)&(df.Phone_Number_mar!='None')]

In [19]:
df[['CITY','CITY_PPMA','CITY_POLO']]

,CITY,CITY_PPMA,CITY_POLO
0,Little Rock,Houston,Houston
1,La Pine,Bend,Redmond
2,Campbell,Santa Clara,Santa Clara
3,Linden,Tullahoma,Red Bay
4,Eau Claire,New York,Brooklyn
...,...,...,...
1232,West Reading,Reading,Reading
1233,San Marcos,Redwood City,Redwood City
1234,Escondido,San Marcos,San Marcos
1235,San Dimas,Baldwin Park,Baldwin Park
1236,San Marcos,Carlsbad,Carlsbad

In [24]:
count = 0
match = []
for row in df.itertuples():
    if row.CITY != row.CITY_PPMA and row.CITY!= row.CITY_POLO:
        count += 1
        match.append(False)
    else:
        match.append(True)

In [25]:
df['CITY_MATCH']=match

In [31]:
impure = df[(df.Match==True)&(df.Phone_Number_mar!='None')&(df.CITY_MATCH==False)]

In [30]:
pure.drop_duplicates('Phone_Number_mar')

,PARTY_ID,ME,POST_CD_ID,FROM_DT,ADDR_TYPE,ADDR_1,ADDR_2,ADDR_3,CITY,STATE_CD,...,Middle Name_mar,Primary Specialty_mar,Primary Hospital Affiliation_mar,Last Name_mar,Address1_mar,New,Phone_Update,Address_Update,DHC_MATCH,CITY_MATCH
0,3591098,5104090984,14996656,2020-03-18 00:04:36.000000,Billing,4301 W Markham St,Slot 503,NaN,Little Rock,AR,...,S,Pathology,Houston Methodist Hospital (FKA the Methodist ...,Ipe,None,True,True,True,True,False
4,4627590,74811050087,25898736,2020-03-14 04:13:13.000000,Billing,900 W Clairemont Ave,Hshs Sacred Heart Hospital,NaN,Eau Claire,WI,...,V,Internal Medicine,"St Barnabas Hospital (Bronx, NY)",Victoria,None,True,True,True,True,False
5,4548458,2701100703,27166681,2020-03-14 04:13:13.000000,Billing,13123 E 16th Ave,University Of Colorado,Limited To Official Government Duties On,Aurora,CO,...,Sutton,Physical Medicine and Rehabilitation,"University of Utah Hospital (Salt Lake City, UT)",Mann,None,True,True,True,True,False
7,5295891,13002120776,28395475,2020-03-14 04:13:13.000000,Billing,420 S 5th Ave,Reading Hospital,NaN,West Reading,PA,...,None,Psychiatry,Mount Sinai Beth Israel (FKA Mount Sinai Beth ...,Ojo,None,True,True,True,True,False
8,7609247,1104180317,28915286,2020-03-14 04:13:13.000000,Billing,38135 Market Sq,NaN,NaN,Zephyrhills,FL,...,G,Hospitalist,Medical Center of Trinity (FKA Community Hospi...,Roberts,None,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,5127125,3840121312,28486707,2018-10-17 00:27:19.000000,Billing,530 NE Glen Oak Avenue,None,None,Peoria,IL,...,M,Oncology - Hematology/Oncology,"OSF Saint Francis Medical Center (Peoria, IL)",D'souza,None,True,True,True,True,False
1037,3588408,4813090312,11245929,2018-10-06 05:28:38.000000,Billing,6406 N New Braunfels Ave,NaN,NaN,San Antonio,TX,...,Christopher,Pain Management - Interventional Pain Management,CHRISTUS Ochsner St Patrick Hospital (Lake Cha...,Jones,None,False,True,False,True,False
1045,6219359,55004140264,21975846,2018-08-28 00:04:16.000000,Billing,75 Sylvan St,Ste B102,NaN,Danvers,MA,...,A,Hospice and Palliative Care,"CHA Cambridge Hospital (Cambridge, MA)",Lewis,None,True,True,True,True,False
1095,4551039,3306101071,27829727,2017-06-17 00:04:17.000000,Billing,140 Bergen St,Acc D 1610,None,Newark,NJ,...,M,Surgery - Hand Surgery,The University Hospital (FKA UMDNJ University ...,Vosbikian,Acc D1610 - Umdnj Dept Of Orthopaedics,False,True,False,True,False
1097,4558601,49599050093,23715692,2017-06-09 00:56:28.000000,Billing,611 W Park St,NaN,NaN,Urbana,IL,...,None,Hospitalist,"Carle Foundation Hospital (Urbana, IL)",Sirigeere Prabhakar,None,False,False,True,True,False

In [38]:
impure_2 = impure.drop_duplicates('Phone_Number_mar').head(212)

In [40]:
pd.concat([pure, impure_2]).drop_duplicates('Phone_Number_mar', keep='first').to_csv('True_Sample.csv',index=False)