In [1]:
import pandas as pd
import pyodbc

In [2]:
password = 'slytherin10946'
username = 'vigrose'

In [3]:
s = "DSN=PRDDW; UID={}; PWD={}".format(username, password)
AMAEDW = pyodbc.connect(s)

In [6]:
sql_query = \
    """ 
    SELECT DISTINCT
    M.MED_EDU_NBR
    FROM 
    AMAEDW.PERSON M
    WHERE  
    M.MORTALITY_STS_CD ='C'
    OR
    M.MORTALITY_STS_CD ='P';
    """

In [7]:
FILTER = pd.read_sql(con=AMAEDW, sql=sql_query)

In [20]:
df = pd.read_excel('../../../Data/Medscape/Memorium_USA_Physicians_2020-04-13.xlsx', dtype={'ME': str})

In [13]:
PROCESSED_MES = list(FILTER.MED_EDU_NBR)

In [22]:
df[df.ME.isin(PROCESSED_MES)==False]

,NAME,FIRST_NAME,LAST_NAME,MIDDLE_NAME,SUFFIX,NICKNAME,TITLE,AGE,SPECIALTY,CITY,STATE,COUNTRY,LOCATION,LINK,ME
5,James T. Goodrich,JAMES,GOODRICH,T.,NaN,NaN,NaN,73,Neurosurgeon Director of the Division of Pedia...,New York City,New York,USA,Pediatrics,https://www.nytimes.com/2020/04/01/obituaries/...,03501801606
10,Victor C. Rivera,VICTOR,RIVERA,C.,NaN,NaN,NaN,77,"Pediatrician,",Langhorne,Pennsylvania,USA,None,https://www.buckscountycouriertimes.com/news/2...,74802660425
12,Elliott Samet,ELLIOTT,SAMET,NaN,NaN,NaN,NaN,69,"Pediatrician,",Passaic,New Jersey,USA,None,https://www.northjersey.com/story/news/coronav...,39631810024
13,Stephen Schwartz,STEPHEN,SCHWARTZ,NaN,NaN,NaN,NaN,78,Pathologist,Seattle,Washington,USA,None,https://q13fox.com/2020/03/18/longtime-uw-prof...,02405670502
14,David Wolin,DAVID,WOLIN,NaN,NaN,NaN,NaN,74,Radiologist Mammography and Breast Imaging,Piermont,New York,USA,Brooklyn Hospital Center,https://www.legacy.com/obituaries/nytimes/obit...,03005731398

In [17]:
len(PROCESSED_MES)

254080

In [19]:
df.dtypes

NAME            object
FIRST_NAME      object
LAST_NAME       object
MIDDLE_NAME     object
SUFFIX         float64
NICKNAME       float64
TITLE          float64
AGE              int64
SPECIALTY       object
CITY            object
STATE           object
COUNTRY         object
LOCATION        object
LINK            object
ME               int64
dtype: object