In [1]:
import pandas as pd
import datacompy

In [14]:
april_7 = pd.read_csv('../../../Data/Medscape/Memorium_2020-04-07_161344.csv')
april_8 = pd.read_csv('../../../Data/Medscape/Memorium_2020-04-08_090440.csv')

In [5]:
compare = datacompy.Compare(
    april_7,
    april_8,
    join_columns='NAME',
    df1_name='April 7',
    df2_name='April 8'
)
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0   April 7        7   277
1   April 8        8   313

Column Summary
--------------

Number of columns in common: 7
Number of columns in April 7 but not in April 8: 0
Number of columns in April 8 but not in April 7: 1

Row Summary
-----------

Matched on: name
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 277
Number of rows in April 7 but not in April 8: 0
Number of rows in April 8 but not in April 7: 36

Number of rows with some compared columns unequal: 4
Number of rows with all compared columns equal: 273

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 10

Columns with Unequal Values or Types
------------------------------------

      Column April 7 dtype April 8 dtype  # Unequal  Max Diff  # Null Diff
4        age        object        object          1         0            0
1       city        object        object          1         0            0
2    country        object        object          2         0            0
3   location        object        object          3         0            0
0  specialty        object        object          3         0            0

Sample Rows with Unequal Values
-------------------------------

                      name           specialty (April 7)                                specialty (April 8)
9              John Alagos  Nursing Assistant (presumed)                        Nursing Assistant(presumed)
204  Hermes Roberto Radtke           PhysicianRadiology,  Physician Radiology,Omnimagem RioMarClínica Tr...
57         Lynsay Coventry                Midwife,Harlow      Midwife,Princess Alexandra Hospital NHS Trust

                      name city (April 7) city (April 8)
204  Hermes Roberto Radtke      Fortaleza          Ceará

               name country (April 7) country (April 8)
9       John Alagos                UK           England
57  Lynsay Coventry                UK           England

                      name location (April 7)        location (April 8)
9              John Alagos               None  Watford General Hospital
204  Hermes Roberto Radtke               None                 Fortaleza
57         Lynsay Coventry               None                    Harlow

                    name age (April 7) age (April 8)
218  Arastu Rostamnezhad   age unknown            69

Sample Rows Only in April 8 (First 10 Columns)
----------------------------------------------

                            name          age                                          specialty                    city     state              country                                           location                                               link
307           Efrizal Syamsuddin           53                    Medical Doctor Director of RSUD          South Sumatera      None            Indonesia                                         Prabumulih  https://www.liputan6.com/news/read/4216461/idi...
280                 Carlo Amodio  age unknown                                        Radiologist  Former Radiology Chief      None                Italy                                               None  https://portale.fnomceo.it/elenco-dei-medici-c...
302    Jorge Manuel Reyes Villón  age unknown  General Practitioner Director of Health Center...               Guayaquil      None              Ecuador                                Cristo del Consuelo  http://www.pichinchacomunicaciones.com.ec/en-g...
277       Divinia "Debbie" Accad           72      Registered NurseJohnD.DingellVAMedicalCenter,                 Detroit  Michigan                  USA                                               None  https://www.freep.com/story/news/local/2020/04...
299                   Luis Pérez           61                                   Emergency Doctor                  Madrid      None                Spain                                               None  https://elpais.com/espana/madrid/2020-04-05/mu...
282     Luiz Eduardo Ayres Ramos           49                                 Nursing Technician               São Paulo      None               Brazil                      Santos Central Emergency Unit  https://g1.globo.com/sp/santos-regiao/noticia/...
287             Iwan Dwiprahasto           58                                     Medical Doctor              Yogyakarta      None            Indonesia  Professor of Pharmacology and Pharmacoepidemio...  https://coconuts.co/jakarta/news/dont-be-stubb...
296                  Ghvont Mrad  age unknown                                     Thermal Doctor                    None      None                Italy                                               None  https://portale.fnomceo.it/elenco-dei-medici-c...
309  Giovanni Battista Tommasino  age unknown                               General Practitioner                    None      None                Italy                                               None  https://portale.fnomceo.it/elenco-dei-medici-c...
285              Ludmila Caraion           65                                      Family Doctor                  Soroca      None  Republic of Moldova                                               None  https://moldova.europalibera.org/a/la-soroca-a...

In [8]:
compare.intersect_columns()

{'age', 'city', 'country', 'location', 'name', 'specialty', 'state'}

In [15]:
april_7.head()

,NAME,AGE,SPECIALTY,CITY,STATE,COUNTRY,LOCATION
0,Isaac Abadi,90,Founder Professor of Internal Medicine and Rhe...,Miami,Florida,USA,Hospital Universitario de Caracas
1,Musa Fath Abadi,age unknown,Emergency Medicine Specialist,Tehran,None,Iran,None
2,Abdullah Abbasi,age unknown,Infectious Disease Specialist,Gorgan,None,Iran,None
3,Ashraf Abdo,60,General Practitioner,New York City,New York,USA,None
4,Luigi Ablondi,66,Epidemiologist,Cremona,None,Italy,Former General Manager of the Crema Hospital

In [19]:
same_names = list(pd.merge(april_7, april_8, on=['NAME','AGE','SPECIALTY','LOCATION','CITY','STATE','COUNTRY'])['NAME'])

In [23]:
april_8[april_8.NAME.isnotin(same_names)]

AttributeError: 'Series' object has no attribute 'isnotin'