In [1]:
import pandas as pd
import pyodbc
username = 'vigrose'
password = 'Hufflepuff~10946'
q = "DSN=eprdods; UID={}; PWD={}".format(username, password)
ODS = pyodbc.connect(q)

In [2]:
s = "DSN=PRDDW; UID={}; PWD={}".format(username, password)
AMAEDW = pyodbc.connect(s)

In [3]:
iqvia_address = \
    """
    SELECT 'ADDRESS' AS LABEL,
    COUNT(PE.ME_NUMBER) AS TOTAL
    FROM
    ODS.ODS_PPD_FILE PE, ODS.ODS_IMS_BUSINESS B, ODS.SAS_ODS_IMS_PROVIDER_BEST_AFFIL A, ODS.ODS_IMS_PROFESSIONAL P 
    WHERE
    SUBSTR(PE.ME_NUMBER,1,10)=P.ME
    AND
    P.PROFESSIONAL_ID=A.PROFESSIONAL_ID
    AND
    A.IMS_ORG_ID=B.IMS_ORG_ID
    AND
    PE.TOPCODE='020'
    AND
    PE.PENDINGDEAD_IND IS NULL
    AND
    P.CURRENT_BATCH_FLAG='Y'
    AND
    A.CURRENT_BATCH_FLAG='Y'
    AND
    B.CURRENT_BATCH_FLAG='Y'
    AND
    B.POSTAL_ADDR_1 IS NOT NULL
    """

iqvia_phone = \
    """
    SELECT 'PHONE' AS LABEL,
    COUNT(PE.ME_NUMBER) AS TOTAL
    FROM
    ODS.ODS_PPD_FILE PE, ODS.ODS_IMS_BUSINESS B,
    ODS.SAS_ODS_IMS_PROVIDER_BEST_AFFIL A, ODS.ODS_IMS_PROFESSIONAL P 
    WHERE
    SUBSTR(PE.ME_NUMBER,1,10)=P.ME
    AND
    P.PROFESSIONAL_ID=A.PROFESSIONAL_ID
    AND
    A.IMS_ORG_ID=B.IMS_ORG_ID
    AND
    PE.TOPCODE='020'
    AND
    PE.PENDINGDEAD_IND IS NULL
    AND
    P.CURRENT_BATCH_FLAG='Y'
    AND
    A.CURRENT_BATCH_FLAG='Y'
    AND
    B.CURRENT_BATCH_FLAG='Y'
    AND
    B.PHONE IS NOT NULL
    """

In [4]:
pd.read_sql(con=ODS, sql=iqvia_phone)

   LABEL   TOTAL
0  PHONE  744746

In [5]:
pd.read_sql(con=ODS, sql=iqvia_address)

     LABEL   TOTAL
0  ADDRESS  746649

In [ ]:
SELECT
'PHONE' AS LABEL,
COUNT(PE.ME_NUMBER) AS TOTAL
FROM
ODS_PROD.ODS_PPD_FILE PE, ODS_PROD.PRACTITIONER_DEMOGRAPHIC_LAYOUT D, ODS_PROD.PRACTITIONER_ADDL_IDS_LAYOUT L, EDW_PROD.PARTY_ID_TO_ME_VW M

WHERE
PE.ME_NUMBER=M.ME
AND
PE.TOPCODE='020'
AND
PE.PENDINGDEAD_IND IS NULL
AND
D.DS_PRCTR_ID=L.DS_PRCTR_ID
AND
L.ID_QLFR_TYP_CDE=38
AND
L.OTHER_ID=SUBSTR(M.ME,1,10) 
AND
D.ADDR_FRST_TLPHN_NBR IS NOT NULL

SELECT
'ADDRESS' AS LABEL,
COUNT(PE.ME_NUMBER) AS TOTAL
FROM
ODS_PROD.ODS_PPD_FILE PE, ODS_PROD.PRACTITIONER_DEMOGRAPHIC_LAYOUT D, ODS_PROD.PRACTITIONER_ADDL_IDS_LAYOUT L, EDW_PROD.PARTY_ID_TO_ME_VW M

WHERE
PE.ME_NUMBER=M.ME
AND
PE.TOPCODE='020'
AND
PE.PENDINGDEAD_IND IS NULL
AND
D.DS_PRCTR_ID=L.DS_PRCTR_ID
AND
L.ID_QLFR_TYP_CDE=38
AND
L.OTHER_ID=SUBSTR(M.ME,1,10) 
AND
D.ADDR_LINE_1_TXT IS NOT NULL

In [6]:
symphony_phone = \
    """
    SELECT 'PHONE' AS LABEL,
    COUNT_BIG(PE.ME_NUMBER) AS TOTAL
    FROM
    ODS.ODS_PPD_FILE PE, ODS.PRACTITIONER_DEMOGRAPHIC_LAYOUT D, ODS.PRACTITIONER_ADDL_IDS_LAYOUT L
    WHERE
    PE.TOPCODE='020'
    AND
    PE.PENDINGDEAD_IND IS NULL
    AND
    D.DS_PRCTR_ID=L.DS_PRCTR_ID
    AND
    L.OTHER_ID=SUBSTR(PE.ME_NUMBER,1,10) 
    AND
    L.ID_QLFR_TYP_CDE=38
    AND
    D.ADDR_FRST_TLPHN_NBR IS NOT NULL
    """
symphony_address = \
    """
    SELECT
    'ADDRESS' AS LABEL,
    COUNT(PE.ME_NUMBER) AS TOTAL
    FROM
    ODS.ODS_PPD_FILE PE, ODS.PRACTITIONER_DEMOGRAPHIC_LAYOUT D, ODS.PRACTITIONER_ADDL_IDS_LAYOUT L
    WHERE
    PE.TOPCODE='020'
    AND
    PE.PENDINGDEAD_IND IS NULL
    AND
    D.DS_PRCTR_ID=L.DS_PRCTR_ID
    AND
    L.ID_QLFR_TYP_CDE=38
    AND
    L.OTHER_ID=SUBSTR(PE.ME_NUMBER,1,10) 
    AND
    D.ADDR_LINE_1_TXT IS NOT NULL
    """

In [7]:
pd.read_sql(con=ODS, sql=symphony_phone)

   LABEL     TOTAL
0  PHONE  703017.0

In [8]:
pd.read_sql(con=ODS, sql=symphony_address)

     LABEL   TOTAL
0  ADDRESS  806171

In [ ]:
    EDW_PROD.PARTY_ID_TO_ME_VW M
    WHERE
    PE.ME_NUMBER=M.ME