In [1]:
import pandas as pd
import useful_functions as use

In [2]:
humach = pd.read_csv('../../Data/Humach/DataGov_Humach.csv')

In [20]:
hmach_multi = humach[humach.Source=='DGM']

In [8]:
humach.groupby(['Source','WSLIVE_SOURCE','COMMENTS','OFFICE_PHONE_VERIFIED_UPDATED']).count()[['PHYSICIAN_ME_NUMBER']]

                                                                              PHYSICIAN_ME_NUMBER
Source WSLIVE_SOURCE COMMENTS                  OFFICE_PHONE_VERIFIED_UPDATED
DGM    FAIL          2ND ATTEMPT               1                                               40
                     FAIL                      0                                             5220
       OTHERS        ANSWERING SERVICE         1                                               12
                     DECEASED                  1                                                7
                     DO NOT CALL               1                                                3
                     DUPLICATE                 1                                               18
                     FAX MODEM                 1                                               61
                     LANGUAGE/HEARING          1                                                7
                     MOVED, NO FORWARDING INFO 1                                             1368
                     NOT IN SERVICE            1                                              547
                                               2                                                1
                     REFUSAL                   1                                              335
                                               2                                                2
                     RETIRED                   1                                               49
                                               2                                                2
                     WRONG NUMBER              1                                               45
       UPDATED       COMPLETE                  1                                              990
                                               2                                              294
NB     FAIL          2ND ATTEMPT               1                                                5
                     FAIL                      0                                             2204
       OTHERS        ANSWERING SERVICE         1                                                7
                     DECEASED                  1                                                2
                     DO NOT CALL               1                                                1
                     FAX MODEM                 1                                                9
                     LANGUAGE/HEARING          1                                                3
                     MOVED, NO FORWARDING INFO 1                                              166
                                               2                                                1
                     NOT IN SERVICE            1                                              165
                     REFUSAL                   1                                              154
                                               2                                                1
                     RESPONDED TO SURVEY - AMA 1                                                1
                     RETIRED                   1                                               31
                     WRONG NUMBER              1                                               12
       UPDATED       COMPLETE                  1                                             1001
                                               2                                               70
NR     FAIL          2ND ATTEMPT               1                                                4
                     FAIL                      0                                             4293
       OTHERS        ANSWERING SERVICE         1                                               12
                     DECEASED                  1                                                2
                     DO NOT CALL               1                                                1
                     FAX MODEM                 1                                               33
                     LANGUAGE/HEARING          1                                               43
                     MOVED, NO FORWARDING INFO 1                                              469
                     NOT IN SERVICE            1                                              358
                     REFUSAL                   1                                              262
                     RETIRED                   1                                               48
                     WRONG NUMBER              1                                               25
       UPDATED       COMPLETE                  1                                             2101
                                               2                                              171

In [9]:
humach.groupby(['COMMENTS','Source']).count()[['PHYSICIAN_ME_NUMBER']]

                                  PHYSICIAN_ME_NUMBER
COMMENTS                  Source
2ND ATTEMPT               DGM                      40
                          NB                        5
                          NR                        4
ANSWERING SERVICE         DGM                      12
                          NB                        7
                          NR                       12
COMPLETE                  DGM                    1284
                          NB                     1071
                          NR                     2272
DECEASED                  DGM                       7
                          NB                        2
                          NR                        2
DO NOT CALL               DGM                       3
                          NB                        1
                          NR                        1
DUPLICATE                 DGM                      18
FAIL                      DGM                    5220
                          NB                     2204
                          NR                     4293
FAX MODEM                 DGM                      61
                          NB                        9
                          NR                       33
LANGUAGE/HEARING          DGM                       7
                          NB                        3
                          NR                       43
MOVED, NO FORWARDING INFO DGM                    1368
                          NB                      167
                          NR                      469
NOT IN SERVICE            DGM                     548
                          NB                      165
                          NR                      358
REFUSAL                   DGM                     337
                          NB                      155
                          NR                      262
RESPONDED TO SURVEY - AMA NB                        1
RETIRED                   DGM                      51
                          NB                       31
                          NR                       48
WRONG NUMBER              DGM                      45
                          NB                       12
                          NR                       25

In [11]:
multi = pd.read_excel('../../Data/DataGov/DataGov_Multiples.xlsx')

In [12]:
multi.columns

Index(['ME', 'FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'SUFFIX',
       'PRIM_SPEC_CD', 'PE_CD', 'FAX_NUMBER', 'TOP_CD', 'frst_nm', 'mid_nm',
       'lst_nm', 'adrs_id', 'POLO_MAILING_LINE_2', 'POLO_MAILING_LINE_1',
       'POLO_CITY', 'POLO_STATE', 'zip', 'org_pac_id', 'phn_numbr', 'NPI',
       'TELEPHONE_NUMBER', 'present_emp_cd', 'DESCRIPTION', 'POLO_ZIP'],
      dtype='object')

In [13]:
humach.columns

Index(['PHYSICIAN_ME_NUMBER', 'PHYSICIAN_FIRST_NAME', 'PHYSICIAN_MIDDLE_NAME',
       'PHYSICIAN_LAST_NAME', 'SUFFIX', 'DEGREE', 'OFFICE_ADDRESS_LINE_1',
       'OFFICE_ADDRESS_LINE_2', 'OFFICE_ADDRESS_CITY', 'OFFICE_ADDRESS_STATE',
       'OFFICE_ADDRESS_ZIP', 'OFFICE_ADDRESS_VERIFIED_UPDATED',
       'OFFICE_TELEPHONE', 'OFFICE_PHONE_VERIFIED_UPDATED', 'OFFICE_FAX',
       'OFFICE_FAX_VERIFIED_UPDATED', 'EMAIL_ADDRESS',
       'EMAIL_ADDRESS_VERIFIED_UPDATED', 'PRESENT_EMPLOYMENT_CODE',
       'PRESENT_EMPLOYMENT_UPDATED', 'COMMENTS', 'Source', 'WSLIVE_SOURCE',
       'WSLIVE_FILE_DT', 'MATCH_ADDR', 'MATCH_PHONE', 'MATCH_ADDR_LONG',
       'SPECIALTY', 'SPECIALTY_UPDATED', 'SOURCE_FILE_DT'],
      dtype='object')

In [15]:
pd.merge(humach, multi, left_on='PHYSICIAN_ME_NUMBER', right_on='ME').drop_duplicates()

,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,SUFFIX_x,DEGREE,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,...,POLO_CITY,POLO_STATE,zip,org_pac_id,phn_numbr,NPI,TELEPHONE_NUMBER,present_emp_cd,DESCRIPTION,POLO_ZIP
0,30501840498,ALAN,NaN,KAUFMAN,NaN,NaN,STE 202,3626 E TREMONT AVE,BRONX,NY,...,BRONX,NY,104652030,None,7.185979e+09,1437150513,7185979000,11,Self-Employed Solo Practice ...,10465
1,30501840498,ALAN,NaN,KAUFMAN,NaN,NaN,STE 202,3626 E TREMONT AVE,BRONX,NY,...,MOUNT VERNON,NY,105523009,None,9.146652e+09,1437150513,9146652000,11,Self-Employed Solo Practice ...,10552
2,30501840498,ALAN,NaN,KAUFMAN,NaN,NaN,NaN,3626 E TREMONT AVE,BRONX,NY,...,BRONX,NY,104652030,None,7.185979e+09,1437150513,7185979000,11,Self-Employed Solo Practice ...,10465
3,30501840498,ALAN,NaN,KAUFMAN,NaN,NaN,NaN,3626 E TREMONT AVE,BRONX,NY,...,MOUNT VERNON,NY,105523009,None,9.146652e+09,1437150513,9146652000,11,Self-Employed Solo Practice ...,10552
4,30501840498,ALAN,NaN,KAUFMAN,NaN,NaN,FL 2,504 GRAMATAN AVE,MOUNT VERNON,NY,...,BRONX,NY,104652030,None,7.185979e+09,1437150513,7185979000,11,Self-Employed Solo Practice ...,10465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35685,3547841378,LLOYD,NaN,WAGNER,NaN,NaN,NaN,6415 N CALIFORNIA AVE,CHICAGO,IL,...,CHICAGO,IL,606455208,6507939204.0,7.732625e+09,1124161872,7732625400,63,City/County/State Government-Hospital,60645
35686,3547841378,LLOYD,NaN,WAGNER,NaN,NaN,NaN,6415 N CALIFORNIA AVE,CHICAGO,IL,...,INDIANAPOLIS,IN,462378606,2062734858.0,3.616588e+09,1124161872,3616587991,63,City/County/State Government-Hospital,46237
35687,3547841378,LLOYD,NaN,WAGNER,NaN,NaN,NaN,6415 N CALIFORNIA AVE,CHICAGO,IL,...,SANTA MONICA,CA,904022515,3577838689,3.109804e+09,1124161872,3109803682,63,City/County/State Government-Hospital,90402
35688,2002870676,JOHN,ERIC,LINDNER,NaN,NaN,SUITE C1,3707 CHARLESTOWN RD,NEW ALBANY,IN,...,NEW ALBANY,IN,471509254,840504114,8.129444e+09,1932199114,8129444470,63,City/County/State Government-Hospital,47150
35689,2002870676,JOHN,ERIC,LINDNER,NaN,NaN,SUITE C1,3707 CHARLESTOWN RD,NEW ALBANY,IN,...,JEFFERSONVILLE,IN,471303704,840504114,8.122828e+09,1932199114,8122828494,63,City/County/State Government-Hospital,47130

In [28]:
test = hmach_multi[hmach_multi.COMMENTS=='COMPLETE'].drop_duplicates('PHYSICIAN_ME_NUMBER', keep=False)

In [22]:
len(hmach_multi).drop_duplicates('')

9001

In [40]:
DUBLES = hmach_multi[(hmach_multi.PHYSICIAN_ME_NUMBER.isin(test.PHYSICIAN_ME_NUMBER)==False)&(hmach_multi.COMMENTS=='COMPLETE')][['OFFICE_PHONE_VERIFIED_UPDATED','OFFICE_ADDRESS_VERIFIED_UPDATED','PHYSICIAN_ME_NUMBER','OFFICE_ADDRESS_LINE_1','OFFICE_ADDRESS_LINE_2', 'OFFICE_ADDRESS_CITY', 'OFFICE_ADDRESS_STATE',
       'OFFICE_ADDRESS_ZIP',
       'OFFICE_TELEPHONE']]

In [47]:
table = pd.merge(DUBLES, multi, left_on='PHYSICIAN_ME_NUMBER', right_on='ME').drop_duplicates()

In [46]:
pd.merge(DUBLES, multi, left_on='PHYSICIAN_ME_NUMBER', right_on='ME').drop_duplicates()[['ME', 'OFFICE_PHONE_VERIFIED_UPDATED','OFFICE_ADDRESS_VERIFIED_UPDATED','OFFICE_ADDRESS_LINE_1','OFFICE_ADDRESS_LINE_2', 'POLO_MAILING_LINE_2', 'POLO_MAILING_LINE_1','TELEPHONE_NUMBER','OFFICE_TELEPHONE']].to_csv('../../Data/DataGov/Confirmed_Multiples.csv', index=False)

In [42]:
multi.columns

Index(['ME', 'FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'SUFFIX',
       'PRIM_SPEC_CD', 'PE_CD', 'FAX_NUMBER', 'TOP_CD', 'frst_nm', 'mid_nm',
       'lst_nm', 'adrs_id', 'POLO_MAILING_LINE_2', 'POLO_MAILING_LINE_1',
       'POLO_CITY', 'POLO_STATE', 'zip', 'org_pac_id', 'phn_numbr', 'NPI',
       'TELEPHONE_NUMBER', 'present_emp_cd', 'DESCRIPTION', 'POLO_ZIP'],
      dtype='object')

In [50]:
keeps = []
for row in table.itertuples():
    keep = True
    if row.OFFICE_PHONE_VERIFIED_UPDATED == 1:
        if row.OFFICE_TELEPHONE != row.TELEPHONE_NUMBER:
            keep = False
    if row.OFFICE_PHONE_VERIFIED_UPDATED == 2:
        if row.OFFICE_TELEPHONE == row.TELEPHONE_NUMBER:
            keep = False
    if row.OFFICE_ADDRESS_VERIFIED_UPDATED == 1:
        if row.POLO_MAILING_LINE_2 != row.OFFICE_ADDRESS_LINE_2:
            keep = False
    if row.OFFICE_ADDRESS_VERIFIED_UPDATED == 2:
        if row.POLO_MAILING_LINE_2 == row.OFFICE_ADDRESS_LINE_2:
            keep = False
    keeps.append(keep)

In [52]:
table[keeps]

,OFFICE_PHONE_VERIFIED_UPDATED,OFFICE_ADDRESS_VERIFIED_UPDATED,PHYSICIAN_ME_NUMBER,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,OFFICE_ADDRESS_ZIP,OFFICE_TELEPHONE,ME,...,POLO_CITY,POLO_STATE,zip,org_pac_id,phn_numbr,NPI,TELEPHONE_NUMBER,present_emp_cd,DESCRIPTION,POLO_ZIP
0,1,2,70421850150,NaN,2003 A PIONEER ST,OKEFENOKEE,GA,31501,9124870965,70421850150,...,HOMERVILLE,GA,316349701,None,9.124871e+09,1932209962,9124870965,11,Self-Employed Solo Practice ...,31634
3,1,1,70421850150,SUITE A,2003 PIONEER ST,WAYCROSS,GA,31501,9122841210,70421850150,...,WAYCROSS,GA,315016249,None,9.122841e+09,1932209962,9122841210,11,Self-Employed Solo Practice ...,31501
4,1,1,3515941770,NaN,1880 E JERICHO TPKE,HUNTINGTON,NY,11743,6316294628,3515941770,...,HUNTINGTON,NY,117435766,7810999539,6.316295e+09,1053325647,6316294628,30,Group Practice,11743
7,1,1,3515941770,FL 7,13633 37TH AVE,FLUSHING,NY,11354,7183213262,3515941770,...,FLUSHING,NY,113544110,7810999539,7.183213e+09,1053325647,7183213262,30,Group Practice,11354
10,2,2,1102050840,NaN,3100 WESTON RD,WESTON,FL,33331,9546895110,1102050840,...,WESTON,FL,333313609,7911807128,9.546595e+09,1235394990,9546595000,63,City/County/State Government-Hospital,33331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,1,1,3844861213,NaN,620 S BERKLEY RD,KOKOMO,IN,46902,7654528602,3844861213,...,KOKOMO,IN,469025144,3678675329,7.654529e+09,1326076530,7654528602,11,Self-Employed Solo Practice ...,46902
1505,2,2,511831253,NaN,3209 DRYDEN DR,MADISON,WI,53704,6082419020,511831253,...,MADISON,WI,537151348,6608785464,6.082872e+09,1972564870,6082872076,63,City/County/State Government-Hospital,53715
1506,2,2,511831253,NaN,3209 DRYDEN DR,MADISON,WI,53704,6082419020,511831253,...,MADISON,WI,537151849,6608785464.0,6.082516e+09,1972564870,6082516100,63,City/County/State Government-Hospital,53715
1508,2,2,511831253,NaN,3209 DRYDEN DR,MADISON,WI,53704,6082419020,511831253,...,MADISON,WI,537045341,6608785464.0,6.082427e+09,1972564870,6082426865,63,City/County/State Government-Hospital,53704
1515,1,1,511831253,NaN,3209 DRYDEN DR,MADISON,WI,53704,6082419020,511831253,...,MADISON,WI,537043015,6608785464.0,6.082419e+09,1972564870,6082419020,63,City/County/State Government-Hospital,53704

In [54]:
table[keeps][['ME', 'OFFICE_PHONE_VERIFIED_UPDATED','OFFICE_ADDRESS_VERIFIED_UPDATED','OFFICE_ADDRESS_LINE_1','OFFICE_ADDRESS_LINE_2', 'POLO_MAILING_LINE_2', 'POLO_MAILING_LINE_1','TELEPHONE_NUMBER','OFFICE_TELEPHONE']].to_csv('../../Data/DataGov/Confirmed_Multiples.csv', index=False)

In [59]:
humach[['MATCH_PHONE','OFFICE_TELEPHONE']]

                MATCH_PHONE  OFFICE_TELEPHONE
0      04202850379897235540        9897235540
1      42201123296813423490        6813423490
2      01720041213173559315        3173559315
3      03305080497325089390        7325089390
4      02401820946172775000        6172775000
...                     ...               ...
20651  03509931626109884831        6109884831
20652  03519811517182701422        7182701422
20653  03508862437328404666        7328404666
20654  03605800047724618100        7724618100
20655  16507780032036266541        2036266541

[20656 rows x 2 columns]

In [61]:
for row in humach.itertuples():
    if str(row.OFFICE_TELEPHONE) not in str(row.MATCH_PHONE):
        print('oof')

In [64]:
hmach_multi.groupby(['OFFICE_PHONE_VERIFIED_UPDATED','OFFICE_ADDRESS_VERIFIED_UPDATED']).count()

                                                               PHYSICIAN_ME_NUMBER  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                               5220
1                             1                                               3331
                              2                                                151
2                             1                                                100
                              2                                                199

                                                               PHYSICIAN_FIRST_NAME  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                                5220
1                             1                                                3331
                              2                                                 151
2                             1                                                 100
                              2                                                 199

                                                               PHYSICIAN_MIDDLE_NAME  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                                 4448
1                             1                                                 2830
                              2                                                  134
2                             1                                                   86
                              2                                                  171

                                                               PHYSICIAN_LAST_NAME  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                               5220
1                             1                                               3331
                              2                                                151
2                             1                                                100
                              2                                                199

                                                               SUFFIX  DEGREE  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                   194       0
1                             1                                   113       0
                              2                                     7       0
2                             1                                     4       0
                              2                                    15       0

                                                               OFFICE_ADDRESS_LINE_1  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                                 2131
1                             1                                                 1278
                              2                                                   83
2                             1                                                   31
                              2                                                   72

                                                               OFFICE_ADDRESS_LINE_2  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                                 5220
1                             1                                                 3331
                              2                                                  151
2                             1                                                  100
                              2                                                  199

                                                               OFFICE_ADDRESS_CITY  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                               5220
1                             1                                               3331
                              2                                                151
2                             1                                                100
                              2                                                199

                                                               OFFICE_ADDRESS_STATE  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                                5220
1                             1                                                3331
                              2                                                 151
2                             1                                                 100
                              2                                                 199

                                                               ...  COMMENTS  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED  ...
0                             0                                ...      5220
1                             1                                ...      3331
                              2                                ...       151
2                             1                                ...       100
                              2                                ...       199

                                                               Source  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                  5220
1                             1                                  3331
                              2                                   151
2                             1                                   100
                              2                                   199

                                                               WSLIVE_SOURCE  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                         5220
1                             1                                         3331
                              2                                          151
2                             1                                          100
                              2                                          199

                                                               WSLIVE_FILE_DT  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                          5220
1                             1                                          3331
                              2                                           151
2                             1                                           100
                              2                                           199

                                                               MATCH_ADDR  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                      5220
1                             1                                      3331
                              2                                       151
2                             1                                       100
                              2                                       199

                                                               MATCH_PHONE  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                       5220
1                             1                                       3331
                              2                                        151
2                             1                                        100
                              2                                        199

                                                               MATCH_ADDR_LONG  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                              0
1                             1                                              0
                              2                                              0
2                             1                                              0
                              2                                              0

                                                               SPECIALTY  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                        0
1                             1                                     3331
                              2                                      151
2                             1                                      100
                              2                                      199

                                                               SPECIALTY_UPDATED  \
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                                0
1                             1                                             3331
                              2                                              151
2                             1                                              100
                              2                                              199

                                                               SOURCE_FILE_DT
OFFICE_PHONE_VERIFIED_UPDATED OFFICE_ADDRESS_VERIFIED_UPDATED
0                             0                                          5220
1                             1                                          3331
                              2                                           151
2                             1                                           100
                              2                                           199

[5 rows x 28 columns]

In [83]:
fails = hmach_multi[hmach_multi.COMMENTS=='FAIL']

In [85]:
fail_data = pd.merge(multi, fails, left_on = ['ME', 'TELEPHONE_NUMBER'], right_on=['ME','OFFICE_TELEPHONE'])

In [86]:
fail_data

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX_x,PRIM_SPEC_CD,PE_CD,FAX_NUMBER,TOP_CD,frst_nm,...,COMMENTS,Source,WSLIVE_SOURCE,WSLIVE_FILE_DT,MATCH_ADDR,MATCH_PHONE,MATCH_ADDR_LONG,SPECIALTY,SPECIALTY_UPDATED,SOURCE_FILE_DT
0,00301080638,ANDREA,ELIZABETH,GOLDBERG,NaN,IM,50,4.808906e+09,20,ANDREA,...,FAIL,DGM,FAIL,07/31/2021,0030108063437585050,00301080634808905800,NaN,NaN,NaN,06/28/2021
1,00301080638,ANDREA,ELIZABETH,GOLDBERG,NaN,IM,50,4.808906e+09,20,ANDREA,...,FAIL,DGM,FAIL,07/31/2021,00301080631364085381,00301080636238763800,NaN,NaN,NaN,06/28/2021
2,00375041171,BRIAN,F,WHITE,NaN,PM,50,6.075476e+09,20,BRIAN,...,FAIL,DGM,FAIL,07/31/2021,003750411717812043,00375041175182543456,NaN,NaN,NaN,06/28/2021
3,00376150917,JOHN,NaN,HEATHCOTE,NaN,US,50,NaN,20,JOHN,...,FAIL,DGM,FAIL,07/31/2021,003761509182179745,00376150914325868299,NaN,NaN,NaN,06/28/2021
4,00376160955,JOSHUA,NaN,NEAD,NaN,P,50,NaN,20,JOSHUA,...,FAIL,DGM,FAIL,07/31/2021,003761609557085201,00376160954803442000,NaN,NaN,NaN,06/28/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5204,01002911660,DAVID,CARY,ROSENBERG,NaN,DR,22,NaN,20,DAVID,...,FAIL,DGM,FAIL,07/31/2021,0100291166386233573,01002911668136429299,NaN,NaN,NaN,06/28/2021
5205,01201840224,FRANK,THEODORE,CANTRELL,NaN,EM,22,NaN,20,FRANK,...,FAIL,DGM,FAIL,07/31/2021,0120184022145132159,01201840223527518000,NaN,NaN,NaN,06/28/2021
5206,02312011649,HERBERT,PETER,KWON,NaN,IM,22,3.607045e+09,20,HERBERT,...,FAIL,DGM,FAIL,07/31/2021,023120116420998405,02312011642535963300,NaN,NaN,NaN,06/28/2021
5207,02312011649,HERBERT,PETER,KWON,NaN,IM,22,3.607045e+09,20,HERBERT,...,FAIL,DGM,FAIL,07/31/2021,0231201164390098502,02312011643607044743,NaN,NaN,NaN,06/28/2021
5208,02512970608,KRISTIN,S,PENA,NaN,FM,22,9.737542e+09,20,KRISTIN,...,FAIL,DGM,FAIL,07/31/2021,025129706042293010,02512970608053834510,NaN,NaN,NaN,06/28/2021

In [186]:
humach[humach.PHYSICIAN_ME_NUMBER.isin(list(fails[fails.PHYSICIAN_ME_NUMBER.isin(fail_data.PHYSICIAN_ME_NUMBER)==False].PHYSICIAN_ME_NUMBER))].to_csv('../../Data/DataGov/CONFUSING_FAILS.csv', index=False)

In [81]:
hmach_multi['ME'] = use.fix_me(hmach_multi.PHYSICIAN_ME_NUMBER)

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
multi['ME'] = use.fix_me(multi.ME)

In [96]:
multi[multi.ME=='70401030130']

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX,PRIM_SPEC_CD,PE_CD,FAX_NUMBER,TOP_CD,frst_nm,...,POLO_CITY,POLO_STATE,zip,org_pac_id,phn_numbr,NPI,TELEPHONE_NUMBER,present_emp_cd,DESCRIPTION,POLO_ZIP
17624,70401030130,KHAWAJA,MUHAMMAD,MUDDASSIR,NaN,PCC,110,9.013875e+09,20,KHAWAJA,...,MEMPHIS,TN,381047544,2769623669.0,9.012726e+09,1003043043,9012726010,110,No Classification,38104
17625,70401030130,KHAWAJA,MUHAMMAD,MUDDASSIR,NaN,PCC,110,9.013875e+09,20,KHAWAJA,...,MEMPHIS,TN,381195200,None,9.017651e+09,1003043043,9017651000,110,No Classification,38119
17626,70401030130,KHAWAJA,MUHAMMAD,MUDDASSIR,NaN,PCC,110,9.013875e+09,20,KHAWAJA,...,MEMPHIS,TN,381047542,2769623669.0,9.012726e+09,1003043043,9012726018,110,No Classification,38104

In [98]:
not_fail = hmach_multi[hmach_multi.COMMENTS!='FAIL']

In [99]:
not_fail_data = pd.merge(multi, not_fail, on = 'ME')

In [103]:
len(not_fail)

3781

In [104]:
not_fail_data[keeps].groupby('COMMENTS').count()

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX_x,PRIM_SPEC_CD,PE_CD,FAX_NUMBER,TOP_CD,frst_nm,...,PRESENT_EMPLOYMENT_UPDATED,Source,WSLIVE_SOURCE,WSLIVE_FILE_DT,MATCH_ADDR,MATCH_PHONE,MATCH_ADDR_LONG,SPECIALTY,SPECIALTY_UPDATED,SOURCE_FILE_DT
COMMENTS,,,,,,,,,,,,,,,,,,,,,
2ND ATTEMPT,40,40,37,40,1,40,40,32,40,40,...,40,40,40,40,40,40,0,40,40,40
ANSWERING SERVICE,12,12,9,12,0,12,12,6,12,12,...,12,12,12,12,12,12,0,12,12,12
COMPLETE,1526,1526,1315,1526,91,1526,1526,1225,1526,1526,...,1526,1526,1526,1526,1526,1526,0,1526,1526,1526
DECEASED,7,7,7,7,0,7,7,4,7,7,...,7,7,7,7,7,7,0,7,7,7
DO NOT CALL,3,3,3,3,0,3,3,2,3,3,...,3,3,3,3,3,3,0,3,3,3
DUPLICATE,18,18,17,18,1,18,18,18,18,18,...,18,18,18,18,18,18,0,18,18,18
FAX MODEM,61,61,53,61,0,61,61,52,61,61,...,61,61,61,61,61,61,0,61,61,61
LANGUAGE/HEARING,7,7,4,7,0,7,7,6,7,7,...,7,7,7,7,7,7,0,7,7,7
"MOVED, NO FORWARDING INFO",1368,1368,1148,1368,41,1368,1368,1022,1368,1368,...,1368,1368,1368,1368,1368,1368,0,1368,1368,1368
NOT IN SERVICE,548,548,474,548,20,548,548,418,548,548,...,548,548,548,548,548,548,0,548,548,548
REFUSAL,337,337,283,337,8,337,337,252,337,337,...,337,337,337,337,337,337,0,337,337,337
RETIRED,53,53,43,53,3,53,53,44,53,53,...,53,53,53,53,53,53,0,53,53,53
WRONG NUMBER,45,45,37,45,2,45,45,32,45,45,...,45,45,45,45,45,45,0,45,45,45

In [101]:
keeps = []
for row in not_fail_data.itertuples():
    keep = True
    if row.OFFICE_PHONE_VERIFIED_UPDATED == 1:
        if row.OFFICE_TELEPHONE != row.TELEPHONE_NUMBER:
            keep = False
    if row.OFFICE_PHONE_VERIFIED_UPDATED == 2:
        if row.OFFICE_TELEPHONE == row.TELEPHONE_NUMBER:
            keep = False
    if row.OFFICE_ADDRESS_VERIFIED_UPDATED == 1:
        if row.POLO_MAILING_LINE_2 != row.OFFICE_ADDRESS_LINE_2:
            keep = False
    if row.OFFICE_ADDRESS_VERIFIED_UPDATED == 2:
        if row.POLO_MAILING_LINE_2 == row.OFFICE_ADDRESS_LINE_2:
            keep = False
    keeps.append(keep)

In [120]:
no_dupes = hmach_multi[(hmach_multi.WSLIVE_SOURCE == 'UPDATED')&(hmach_multi.OFFICE_ADDRESS_VERIFIED_UPDATED == 1)].drop_duplicates('ME', keep=False)

In [122]:
hmach_multi[(hmach_multi.WSLIVE_SOURCE == 'UPDATED')&(hmach_multi.OFFICE_ADDRESS_VERIFIED_UPDATED == 1)&(hmach_multi.ME.isin(no_dupes.ME) == False)].drop_duplicates('ME')

,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,SUFFIX,DEGREE,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,...,Source,WSLIVE_SOURCE,WSLIVE_FILE_DT,MATCH_ADDR,MATCH_PHONE,MATCH_ADDR_LONG,SPECIALTY,SPECIALTY_UPDATED,SOURCE_FILE_DT,ME
11668,3515941770,ALAN,CHIANG L,YAO,NaN,NaN,NaN,1880 E JERICHO TPKE,HUNTINGTON,NY,...,DGM,UPDATED,07/01/2021,0351594177188011743,03515941776316294628,NaN,GE,1.0,06/28/2021,03515941770
11689,49641950016,ACHAL,KANTIBHAI,DESAI,NaN,NaN,NaN,732 W FRONTIER LN,OLATHE,KS,...,DGM,UPDATED,07/01/2021,496419500173266061,49641950019133904937,NaN,NEP,1.0,06/28/2021,49641950016
11698,3520060978,ADAM,M,WEITZMAN,NaN,NaN,SUITE 201,1300 S PACIFIC COAST HWY,REDONDO BEACH,CA,...,DGM,UPDATED,07/01/2021,0352006097130090277,03520060973105437779,NaN,PMM,1.0,06/28/2021,03520060978
11717,4814960434,ADRIAN,EOIN,O'MALLEY,NaN,NaN,NaN,601 GARRY OAK DR,SEQUIM,WA,...,DGM,UPDATED,07/01/2021,048149604360198382,04814960433606835100,NaN,OPH,1.0,06/28/2021,04814960434
11723,42201972471,AFSHIN,NaN,SAADAT,NaN,NaN,SUITE 204,1334 W COVINA BLVD,SAN DIMAS,CA,...,DGM,UPDATED,07/01/2021,4220197247133491773,42201972479095996300,NaN,IM,1.0,06/28/2021,42201972471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15271,2416100031,JOHN,LEO,FALARDEAU,NaN,NaN,NaN,187 BILLERICA RD,CHELMSFORD,MA,...,DGM,UPDATED,08/05/2021,024161000318701824,02416100039782501866,NaN,RNR,1.0,06/28/2021,02416100031
15282,1104000998,JOHN,OREL,NUNES,NaN,NaN,CHATTANOOGA IMAGING DOWNTOWN,440 N HOLTZ CLAW,CHATTANOOGA,TN,...,DGM,UPDATED,08/05/2021,011040009944037404,01104000994235531234,NaN,DR,1.0,06/28/2021,01104000998
15286,1611954090,LISA,U,HALLER,NaN,NaN,SUITE 100,5650 N GREEN BAY AVE,GLENDALE,WI,...,DGM,UPDATED,08/05/2021,0161195409565053209,01611954094144315971,NaN,NEP,1.0,06/28/2021,01611954090
15318,1875060267,LUCAS,JOHN HENRY,BRINKMAN,NaN,NaN,NaN,115 SCHULT RIDGE RD,FREDERICKSBURG,IA,...,DGM,UPDATED,08/05/2021,018750602611550630,01875060265632375316,NaN,FM,1.0,06/28/2021,01875060267
15321,3844861213,JOHN,K,RANDALL,NaN,NaN,NaN,124 SAGAMORE PKWY W,WEST LAFAYETTE,IN,...,DGM,UPDATED,08/05/2021,038448612112447906,03844861217654636722,NaN,D,1.0,06/28/2021,03844861213

In [130]:
hmach_multi[(hmach_multi.WSLIVE_SOURCE == 'UPDATED')].drop_duplicates('ME', keep=False)

,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,SUFFIX,DEGREE,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,OFFICE_ADDRESS_CITY,OFFICE_ADDRESS_STATE,...,Source,WSLIVE_SOURCE,WSLIVE_FILE_DT,MATCH_ADDR,MATCH_PHONE,MATCH_ADDR_LONG,SPECIALTY,SPECIALTY_UPDATED,SOURCE_FILE_DT,ME
11655,1642030643,AARON,MATTHEW,PERDUE,NaN,NaN,304 IHA ANN ARBOR ORTHOPAEDIC SPECIALIST,5315 ELLIOTT DR,YPSILANTI,MI,...,DGM,UPDATED,07/01/2021,0164203064531548197,01642030647347120655,NaN,ORS,1.0,06/28/2021,01642030643
11656,4706000696,AASHISH,KIRAN,DESAI,NaN,NaN,460 NORTHSIDE CHEROKEE BLVD. SUITE 190,NORTHSIDE HEART STE 150,CANTON,GA,...,DGM,UPDATED,07/01/2021,0470600069NORTHSIDE30115,04706000694706396250,NaN,IC,1.0,06/28/2021,04706000696
11657,57501940277,ABDALLAH,MOHAMMAD,SHOLI,NaN,NaN,NaN,1100 GRAMPIAN BLVD,WILLIAMSPORT,PA,...,DGM,UPDATED,07/01/2021,5750194027110017701,57501940275703268470,NaN,HO,1.0,06/28/2021,57501940277
11658,3508930614,ADRIENNE,NaN,FUEG,NaN,NaN,SUITE 105,1 CROSSFIELD AVE,WEST NYACK,NY,...,DGM,UPDATED,07/01/2021,0350893061110994,03508930618455353362,NaN,GS,1.0,06/28/2021,03508930614
11659,3508080297,ADAM,ROSS,BRENNER,NaN,NaN,NaN,3201 KINGS HWY,BROOKLYN,NY,...,DGM,UPDATED,07/01/2021,0350808029320111234,03508080297189512851,NaN,IEC,1.0,06/28/2021,03508080297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15334,1720960768,JOHN,ALFRED,CARR,NaN,NaN,SUITE 200,295 MAPLE ST,TAWAS CITY,MI,...,DGM,UPDATED,08/05/2021,017209607629548763,01720960769899843788,NaN,CCS,1.0,06/28/2021,01720960768
15335,1902131503,KYSHA,COLEEN,NICHOLS-TOTTEN,NaN,NaN,NaN,310 E COLLEGE DR,COLBY,KS,...,DGM,UPDATED,08/05/2021,019021315031067701,01902131507854626184,NaN,FM,1.0,06/28/2021,01902131503
15336,2101071505,LIAT,NaN,GOLDMAN,NaN,NaN,SUITE 405,11850 BLACKFOOT ST SW,COON RAPIDS,MN,...,DGM,UPDATED,08/05/2021,02101071501185055433,02101071507632360888,NaN,PM,1.0,06/28/2021,02101071505
15337,4815130052,LINDA,NaN,DO,NaN,NaN,SUITE 115,1005 W RALPH HALL PARKWAY,ROCKWALL,TX,...,DGM,UPDATED,08/05/2021,0481513005100575032,04815130054698003030,NaN,OBG,1.0,06/28/2021,04815130052
15338,69014120025,OMOKOREDE,NaN,APAMPA,NaN,NaN,NaN,4311 E LOHMAN AVE,LAS CRUCES,NM,...,DGM,UPDATED,08/05/2021,6901412002431188011,69014120025755567785,NaN,IM,1.0,06/28/2021,69014120025

In [136]:
humach[(humach.WSLIVE_SOURCE == 'UPDATED')].groupby(['Source','OFFICE_PHONE_VERIFIED_UPDATED']).count()[['PHYSICIAN_ME_NUMBER']]

                                      PHYSICIAN_ME_NUMBER
Source OFFICE_PHONE_VERIFIED_UPDATED
DGM    1                                              990
       2                                              294
NB     1                                             1001
       2                                               70
NR     1                                             2101
       2                                              171

In [141]:
duplicate = list(humach[(humach.COMMENTS == 'DUPLICATE')].PHYSICIAN_ME_NUMBER)

In [180]:
len(duplicate)

18

In [178]:
humach[humach.PHYSICIAN_ME_NUMBER.isin(duplicate)].sort_values('PHYSICIAN_ME_NUMBER').to_csv('../../Data/DataGov/DUPLICATE.csv', index=False)

In [159]:
ADDRESS_UPDATES = hmach_multi[(hmach_multi.WSLIVE_SOURCE=='UPDATED')&(hmach_multi.OFFICE_ADDRESS_VERIFIED_UPDATED==2)]

In [164]:
hmm = pd.merge(ADDRESS_UPDATES, multi, left_on=['ME','OFFICE_ADDRESS_ZIP'], right_on=['ME','POLO_ZIP']).drop_duplicates('ME')

In [163]:
len(ADDRESS_UPDATES)

346

In [170]:
hmm[['ME','OFFICE_ADDRESS_LINE_1','OFFICE_ADDRESS_LINE_2','POLO_MAILING_LINE_1','POLO_MAILING_LINE_2']].drop_duplicates('ME')

,ME,OFFICE_ADDRESS_LINE_1,OFFICE_ADDRESS_LINE_2,POLO_MAILING_LINE_1,POLO_MAILING_LINE_2
0,04706000696,460 NORTHSIDE CHEROKEE BLVD. SUITE 190,NORTHSIDE HEART STE 150,460 NORTHSIDE CHEROKEE BLVD. SUITE 190,NORTHSIDE HEART
1,03548040727,STE D,6 MEDICAL DR,SUITE D,6 MEDICAL DR
2,16004850029,STE U3,6201 GREENBELT RD,U18,6201 GREENBELT RD
3,64914880376,NaN,972 RT 36,None,972 HWY 36
4,70421850150,NaN,2003 A PIONEER ST,SUITE A,2003 PIONEER ST
...,...,...,...,...,...
368,03875871284,SUITE A,455 W MCPHERSON HWY,SUITE B,455 W MCPHERSON HWY
369,49531020188,STE 157,12000 MCCRACKEN RD,SUITE 153,12000 MCCRACKEN RD
370,06506750227,NaN,6B FULLER ST,None,4 FULLER ST
371,00511831253,NaN,3209 DRYDEN DR,None,3209 DRYDEN DR
375,01902131503,NaN,310 E COLLEGE DR,None,100 E COLLEGE DR

In [167]:
ppd = use.get_ppd()

C:/Users/vigrose/Data/PPD\ppd_data_20210731.csv

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,14,20,21,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [168]:
ppd

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
0,00102000013,A,1,2.0,MICHAEL J STANFORD MD,STANFORD,MICHAEL,JAMES,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00102000021,A,1,3.0,MERI K MARTIN MD,MARTIN,MERI,KING,NaN,NaN,...,NC,27617,7408.0,R077,NaN,NaN,NaN,NaN,NaN,NaN
2,00102000030,A,1,1.0,MARK T JACKSON MD,JACKSON,MARK,THOMAS,NaN,NaN,...,NC,28805,1262.0,C082,NaN,NaN,NaN,NaN,NaN,NaN
3,00102000048,A,1,2.0,NADHIWAN S MAISIAK MD,MAISIAK,NADHIWAN,SAKARIN,NaN,NaN,...,AZ,85375,5282.0,C045,NaN,NaN,NaN,NaN,NaN,NaN
4,00102000056,A,1,2.0,RAJIV B GALA MD,GALA,RAJIV,BABULAL,NaN,NaN,...,LA,70115,6949.0,C003,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301989,96501960028,A,1,2.0,ROBERT SAKULANDA MD,SAKULANDA,ROBERT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301990,96501960036,A,1,2.0,KAMISHELE MAILA MD,MAILA,KAMISHELE,NaN,NaN,NaN,...,OH,45801,4667.0,C005,NaN,NaN,NaN,NaN,NaN,NaN
1301991,96501960044,A,1,2.0,MWIZA GAUSI MD,GAUSI,MWIZA,NaN,NaN,NaN,...,VA,24541,2987.0,C002,NaN,NaN,NaN,NaN,NaN,NaN
1301992,96501960052,A,1,2.0,MASIKU A MDALA-GAUSI MD,MDALA-GAUSI,MASIKU,AGATHA,NaN,NaN,...,NC,27157,1.0,C000,NaN,NaN,NaN,NaN,NaN,NaN
1301993,96501980029,A,1,1.0,GEORGE N MWANDIA MD,MWANDIA,GEORGE,NSENGA,NaN,NaN,...,OH,45429,2219.0,C017,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
multi

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX,PRIM_SPEC_CD,PE_CD,FAX_NUMBER,TOP_CD,frst_nm,...,POLO_CITY,POLO_STATE,zip,org_pac_id,phn_numbr,NPI,TELEPHONE_NUMBER,present_emp_cd,DESCRIPTION,POLO_ZIP
0,00102000056,RAJIV,BABULAL,GALA,NaN,OBG,50,5.048430e+09,20,RAJIV,...,NEW ORLEANS,LA,701212429,8224933619.0,5.048423e+09,1477519775,5048423000,50,Non-Government Hospital,70121
1,00102000056,RAJIV,BABULAL,GALA,NaN,OBG,50,5.048430e+09,20,RAJIV,...,NEW ORLEANS,LA,701156969,8224933619,5.048425e+09,1477519775,5048425300,50,Non-Government Hospital,70115
2,00102011562,JOHN,ADAMS,WEBSTER,4.0,PCP,50,2.288182e+09,20,JOHN,...,OCEAN SPRINGS,MS,395644361,3476859703.0,2.288181e+09,1598811374,2288181111,50,Non-Government Hospital,39564
3,00102011562,JOHN,ADAMS,WEBSTER,4.0,PCP,50,2.288182e+09,20,JOHN,...,PASCAGOULA,MS,395815301,3476859703.0,2.288092e+09,1598811374,2288092254,50,Non-Government Hospital,39581
4,00102811402,ROBERT,WAYNE,SMITH,NaN,FM,50,2.567341e+09,20,ROBERT,...,DECATUR,AL,356015514,446680862.0,2.569764e+09,1508937723,2569763600,50,Non-Government Hospital,35601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18324,04501870868,CHANCE,TAYLOR,KAPLAN,NaN,PS,81,9.547730e+09,20,CHANCE,...,LANCASTER,PA,176012644,941103683,7.172911e+09,1790741296,7172911300,81,Federal Government-Hospital/Army,17601
18325,03601952920,MARILYN,ROSEANN,PEARSON,NaN,FM,84,9.199895e+09,20,MARILYN,...,SMITHFIELD,NC,275774407,8224011861,9.199895e+09,1720141377,9199895200,84,Federal Government-Hospital/Usphs,27577
18326,03601952920,MARILYN,ROSEANN,PEARSON,NaN,FM,84,9.199895e+09,20,MARILYN,...,SMITHFIELD,NC,275774407,8224011861.0,9.196895e+09,1720141377,9196895200,84,Federal Government-Hospital/Usphs,27577
18327,41201870249,NELSON,K,ASANTE,NaN,P,84,5.709699e+09,20,NELSON,...,MAYFIELD,PA,184331973,6002153376,5.702816e+09,1770546525,5702816222,84,Federal Government-Hospital/Usphs,18433
18328,41201870249,NELSON,K,ASANTE,NaN,P,84,5.709699e+09,20,NELSON,...,SCRANTON,PA,185052707,6002153376,5.703428e+09,1770546525,5703428305,84,Federal Government-Hospital/Usphs,18505

In [176]:
multi.drop_duplicates(['ME','TELEPHONE_NUMBER'])

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX,PRIM_SPEC_CD,PE_CD,FAX_NUMBER,TOP_CD,frst_nm,...,POLO_CITY,POLO_STATE,zip,org_pac_id,phn_numbr,NPI,TELEPHONE_NUMBER,present_emp_cd,DESCRIPTION,POLO_ZIP
0,00102000056,RAJIV,BABULAL,GALA,NaN,OBG,50,5.048430e+09,20,RAJIV,...,NEW ORLEANS,LA,701212429,8224933619.0,5.048423e+09,1477519775,5048423000,50,Non-Government Hospital,70121
1,00102000056,RAJIV,BABULAL,GALA,NaN,OBG,50,5.048430e+09,20,RAJIV,...,NEW ORLEANS,LA,701156969,8224933619,5.048425e+09,1477519775,5048425300,50,Non-Government Hospital,70115
2,00102011562,JOHN,ADAMS,WEBSTER,4.0,PCP,50,2.288182e+09,20,JOHN,...,OCEAN SPRINGS,MS,395644361,3476859703.0,2.288181e+09,1598811374,2288181111,50,Non-Government Hospital,39564
3,00102011562,JOHN,ADAMS,WEBSTER,4.0,PCP,50,2.288182e+09,20,JOHN,...,PASCAGOULA,MS,395815301,3476859703.0,2.288092e+09,1598811374,2288092254,50,Non-Government Hospital,39581
4,00102811402,ROBERT,WAYNE,SMITH,NaN,FM,50,2.567341e+09,20,ROBERT,...,DECATUR,AL,356015514,446680862.0,2.569764e+09,1508937723,2569763600,50,Non-Government Hospital,35601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18324,04501870868,CHANCE,TAYLOR,KAPLAN,NaN,PS,81,9.547730e+09,20,CHANCE,...,LANCASTER,PA,176012644,941103683,7.172911e+09,1790741296,7172911300,81,Federal Government-Hospital/Army,17601
18325,03601952920,MARILYN,ROSEANN,PEARSON,NaN,FM,84,9.199895e+09,20,MARILYN,...,SMITHFIELD,NC,275774407,8224011861,9.199895e+09,1720141377,9199895200,84,Federal Government-Hospital/Usphs,27577
18326,03601952920,MARILYN,ROSEANN,PEARSON,NaN,FM,84,9.199895e+09,20,MARILYN,...,SMITHFIELD,NC,275774407,8224011861.0,9.196895e+09,1720141377,9196895200,84,Federal Government-Hospital/Usphs,27577
18327,41201870249,NELSON,K,ASANTE,NaN,P,84,5.709699e+09,20,NELSON,...,MAYFIELD,PA,184331973,6002153376,5.702816e+09,1770546525,5702816222,84,Federal Government-Hospital/Usphs,18433
18328,41201870249,NELSON,K,ASANTE,NaN,P,84,5.709699e+09,20,NELSON,...,SCRANTON,PA,185052707,6002153376,5.703428e+09,1770546525,5703428305,84,Federal Government-Hospital/Usphs,18505

In [175]:
len(multi)

18329