In [18]:
import pandas as pd
from npi_me import get_npi_to_me
from datamart import fix_me

In [43]:
gov = pd.read_csv('../../Data/DataGov/DAC_NationalDownloadableFile_210617.csv', encoding='latin')
phones = pd.read_csv('../../Data/DataGov/PhysicianComparePhoneNumberFile_210617.csv', encoding='latin')
ppd = pd.read_csv("../../Data/PPD/ppd_data_20210612.csv")

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14,15,17,25,29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
# ppd = ppd.fillna('None')
gov = gov.fillna('None')
# phones = phones.fillna('None')

In [19]:
npi_to_me = get_npi_to_me()

In [8]:
phones.columns = [c.strip() for c in phones.columns.values]
phones['NPI'] = phones.NPI.astype(str)
phones = pd.merge(phones, npi_to_me, on='NPI')

In [45]:
gov.columns = [c.strip() for c in gov.columns.values]
gov['NPI'] = gov.NPI.astype(str)
gov = pd.merge(gov, npi_to_me, on='NPI')

In [46]:
phones['ME'] = fix_me(phones.ME)
ppd['ME'] = fix_me(ppd.ME)
gov['ME'] = fix_me(gov.ME)

In [36]:
dpcs = ppd[ppd.TOP_CD==20]

In [50]:
pd.merge(gov, phones, on=['frst_nm', 'mid_nm', 'lst_nm', 'adrs_id', 'adr_ln_1',
       'adr_ln_2', 'cty', 'st', 'zip', 'org_pac_id', 'phn_numbr', 'NPI','ME'], how='outer')

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,...,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id,ME,prvdr_id
0,1225029242,5.496796e+09,I20050504000221,BATASH,STEVEN,None,None,M,MD,NEW YORK UNIVERSITY SCHOOL OF MEDICINE,...,None,None,None,None,None,Y,M,NY113742243RE9712XDRXX300,03519860081,NaN
1,1225029242,5.496796e+09,I20050504000221,BATASH,STEVEN,None,None,M,MD,NEW YORK UNIVERSITY SCHOOL OF MEDICINE,...,None,None,None,None,None,Y,M,NY100169400NE343XXSTXX400,03519860081,NaN
2,1225089436,9.411017e+08,I20040116000190,ELLO,FLORENCIO,V,None,M,MD,OTHER,...,None,None,None,None,None,Y,M,FL328073293OR172XXBLVD400,74801670486,NaN
3,1225036304,2.466348e+09,I20040421001890,YOUSSEF,SAMEH,None,None,M,MD,OTHER,...,None,None,None,None,None,Y,M,FL334364500BO3925XBLVD501,91504890100,NaN
4,1225036304,2.466348e+09,I20040421001890,YOUSSEF,SAMEH,None,None,M,MD,OTHER,...,None,None,None,None,None,Y,Y,FL334357995BO2815XBLVD400,91504890100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818914,1699126359,NaN,NaN,SWADE,CHRISTINE,J,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX770815333HO5420XDRXX302,65401151774,9.931534e+09
2818915,1801215561,NaN,NaN,DASS,SHILPA,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CT065048901NE1XXXXSTXX300,04115120323,9.931535e+09
2818916,1093198392,NaN,NaN,HUSAIN,ABDURRAHMAN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA919116617CH751XXCTXX400,70402110081,9.931538e+09
2818917,1093198392,NaN,NaN,HUSAIN,ABDURRAHMAN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA921154637SA4940XBLVD400,70402110081,9.931538e+09
2818918,1093198392,NaN,NaN,HUSAIN,ABDURRAHMAN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA921232701SA7901XSTXX300,70402110081,9.931538e+09

In [14]:
phones[phones.NPI.isin(gov.NPI)==False]

,prvdr_id,frst_nm,mid_nm,lst_nm,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI
0,42100026,PETER,K,FUNG,CA906404314MO101XXBLVD403,101 E BEVERLY BLVD,SUITE 103,MONTEBELLO,CA,906404314,7.517858e+09,3.237281e+09,1871519561
1,42100026,PETER,K,FUNG,CA918013705AL220XXSTXX400,220 S 1ST ST,NaN,ALHAMBRA,CA,918013705,7.517858e+09,6.262819e+09,1871519561
8,42100273,SAJI,NaN,JOHN,TX750104468CA2501XPKWY403,2501 E HEBRON PKWY,SUITE 200,CARROLLTON,TX,750104468,4.385536e+09,9.724924e+09,1982641247
12,42100323,DRUANNE,M,LAPLANTE,OR970156913CL10151RDXX401,10151 SE SUNNYSIDE RD,SUITE 100,CLACKAMAS,OR,970156913,7.012828e+09,5.036591e+09,1285691733
13,42100422,ALLAN,Y,WU,CA922251651BL321XXHOBS301,321 W HOBSONWAY,SUITE C,BLYTHE,CA,922251651,5.496657e+09,7.609225e+09,1265538912
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3124506,9931539830,KYLE,NaN,WYSS,MA021223206DO960XXBLVD500,960 WILLIAM T MORRISSEY BLVD,NaN,DORCHESTER,MA,21223206,9.830323e+09,6.176883e+09,1013536572
3124507,9931539830,KYLE,NaN,WYSS,MA021864943MI475XXSTXX300,475 ADAMS ST,NaN,MILTON,MA,21864943,9.830323e+09,6.176968e+09,1013536572
3124515,9931539954,VINNETTE,A,FISHER,NY105301811HA359XXAVEX400,359 N CENTRAL AVE,NaN,HARTSDALE,NY,105301811,5.193030e+09,9.144482e+09,1023642980
3124516,9931539954,VINNETTE,A,FISHER,NY105983605YO3379XRDXX300,3379 CROMPOND RD,NaN,YORKTOWN HEIGHTS,NY,105983605,5.193030e+09,9.149306e+09,1023642980
3124517,9931539970,ERIC,NaN,PETERS,NY147601100OL1XXXXDRXX401,1 LEO MOSS DR,SUITE 4308,OLEAN,NY,147601100,3.375455e+09,7.163738e+09,1225419237

In [16]:
phones.columns

Index(['prvdr_id', 'frst_nm', 'mid_nm', 'lst_nm', 'adrs_id', 'adr_ln_1',
       'adr_ln_2', 'cty', 'st', 'zip', 'org_pac_id', 'phn_numbr', 'NPI'],
      dtype='object')

In [48]:
meese = list(gov.ME)
meese+=list(phones.ME)

In [41]:
gov.ME

0                None
1         03519860081
2         74801670486
3         91504890100
4         69005830028
             ...
791239           None
791240           None
791241           None
791242           None
791243           None
Name: ME, Length: 791244, dtype: object

In [49]:
dpcs[dpcs.ME.isin(meese)]

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
3,00102000048,A,1,2,NADHIWAN S MAISIAK MD,MAISIAK,NADHIWAN,SAKARIN,None,None,...,AZ,85375,5282,C045,None,None,None,None,None,None
4,00102000056,A,1,2,RAJIV B GALA MD,GALA,RAJIV,BABULAL,None,None,...,LA,70115,6949,C003,None,None,None,None,None,None
5,00102000064,A,1,2,CAROL L ADAMS MD,ADAMS,CAROL,LYNN,None,None,...,AL,35504,2516,C009,DANIELS,LYNN,CAROL,None,None,None
6,00102000072,A,1,2,JAMES H BANKSTON JR MD,BANKSTON,JAMES,HAROLD,2,None,...,AL,35406,1800,C057,None,None,None,None,None,None
7,00102000081,A,1,2,ANDREA B MCMURPHY MD,MCMURPHY,ANDREA,BARBER,None,None,...,AL,36606,2457,C022,BARBER,ELIZABETH,ANDREA,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302789,96501940019,A,1,1,MUKUL GUPTA MD,GUPTA,MUKUL,None,None,None,...,CA,93105,4230,C013,None,None,None,None,None,None
1302790,96501950014,A,1,2,DINESH BHASKARAN MD,BHASKARAN,DINESH,None,None,None,...,PA,15009,9727,R001,None,None,None,None,None,None
1302794,96501960036,A,1,2,KAMISHELE MAILA MD,MAILA,KAMISHELE,None,None,None,...,OH,45801,4667,C005,None,None,None,None,None,None
1302795,96501960044,A,1,2,MWIZA GAUSI MD,GAUSI,MWIZA,None,None,None,...,VA,24541,2987,C002,None,None,None,None,None,None
1302796,96501960052,A,1,2,MASIKU A MDALA-GAUSI MD,MDALA-GAUSI,MASIKU,AGATHA,None,None,...,NC,27157,1,C000,None,None,None,None,None,None

In [51]:
pd.merge(gov, phones, on=['adrs_id', 'phn_numbr','NPI','ME'])

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm_x,frst_nm_x,mid_nm_x,suff,gndr,Cred,Med_sch,...,prvdr_id,frst_nm_y,mid_nm_y,lst_nm_y,adr_ln_1_y,adr_ln_2_y,cty_y,st_y,zip_y,org_pac_id_y
0,1225036304,2466348404,I20040421001890,YOUSSEF,SAMEH,None,None,M,MD,OTHER,...,2466348404,SAMEH,None,YOUSSEF,2815 S SEACREST BLVD,None,BOYNTON BEACH,FL,334357995,8.62813e+09
1,1225039563,9032103148,I20040412001505,HASSAN,SOHAIL,A,None,M,MD,OTHER,...,9032103148,SOHAIL,A,HASSAN,33101 ANNAPOLIS ST,None,WAYNE,MI,481842405,7.2143e+09
2,1225039563,9032103148,I20040412001505,HASSAN,SOHAIL,A,None,M,MD,OTHER,...,9032103148,SOHAIL,A,HASSAN,25250 KELLY RD,SUITE 100,ROSEVILLE,MI,480664473,7.2143e+09
3,1225061062,6507813458,I20050404000536,FURREY,JOHN,A,None,M,MD,RUTGERS NEW JERSEY MEDICAL SCHOOL,...,6507813458,JOHN,A,FURREY,299 FAUNCE CORNER RD,FL 1,DARTMOUTH,MA,027476244,None
4,1225122310,8820981129,I20040202001051,RUSSAKOFF,LEWIS,M,None,M,MD,STATE UNIVERSITY OF NEW YORK DOWNSTATE MEDICAL...,...,8820981129,LEWIS,M,RUSSAKOFF,701 N BROADWAY,None,SLEEPY HOLLOW,NY,105911020,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106895,1811244270,547558660,I20190920000645,BUENDIA,FRANCISCO,I,None,M,None,UNIVERSITY OF TEXAS MEDICAL SCHOOL AT HOUSTON,...,547558660,FRANCISCO,I,BUENDIA,2000 TRANS MOUNTAIN RD,None,EL PASO,TX,799113601,9.93152e+09
1106896,1811244270,547558660,I20190920000645,BUENDIA,FRANCISCO,I,None,M,None,UNIVERSITY OF TEXAS MEDICAL SCHOOL AT HOUSTON,...,547558660,FRANCISCO,I,BUENDIA,1801 N OREGON ST,None,EL PASO,TX,799023524,9.93152e+09
1106897,1245436591,941451975,I20121121000218,GOPAL,ARUN,K,None,M,None,UNIVERSITY OF NORTH CAROLINA AT CHAPEL HILL SC...,...,941451975,ARUN,K,GOPAL,1982 CALLE YUCCA,None,THOUSAND OAKS,CA,913602255,9.93153e+09
1106898,1538369830,5395046122,I20200408003958,KAMANU ELIAS,NNEMDI,None,None,F,None,YALE UNIVERSITY SCHOOL OF MEDICINE,...,5395046122,NNEMDI,None,KAMANU ELIAS,4024 PLANK RD,None,FREDERICKSBURG,VA,224074800,9.93154e+09
1106899,1467683300,6507164506,I20200214001634,THOMPSON,SETH,CLAYTON,None,M,None,OTHER,...,6507164506,SETH,CLAYTON,THOMPSON,301 FALLS DR NW,None,ABINGDON,VA,242108093,9.93154e+09

In [ ]:
528,458 DPCs in phone file
528,739 DPCS in DAC file
No DPCs in phone file are not in DAC file
No addresses in phone file are not in DAC file

In [ ]:
Are there additional addresses in phone file?

In [54]:
dpc_gov = gov[gov.ME.isin(dpcs.ME)]

In [57]:
dpc_phone = phones[phones.ME.isin(dpcs.ME)]

In [55]:
gov_address_dict = {}
for row in dpc_gov.itertuples():
    if row.ME in gov_address_dict.keys():
        gov_address_dict[row.ME].append(row.adrs_id)
    else:
        gov_address_dict[row.ME]=[row.adrs_id]

In [58]:
count = 0
for row in dpc_phone.itertuples():
    if row.adrs_id not in gov_address_dict[row.ME]:
        count+=1
        print(row.phn_numbr)

In [59]:
count

0

In [62]:
528739/len(dpcs)

0.6457944016552223

In [65]:
dpc_phone[['ME','adrs_id','phn_numbr']]

                  ME                    adrs_id    phn_numbr
2        00506930502  CA926634162NE1XXXXDRXX300  9.49891e+09
3        04705920406  SC296075253GR104XXDRXX303  8.64604e+09
4        04705920406  SC296211580AN2000XSTXX400  8.64512e+09
5        02307791008  AR728012724RU1808XSTXX400  5.01968e+09
6        02512921046  MI495032560GR100XXNEXX300  6.16391e+09
...              ...                        ...          ...
1878212  01102130690  FL331361005MI1611XWXXX600  3.05243e+09
1878213  01102130690  FL331361005MI1611XWXXX600  3.05244e+09
1878214  01102130690  FL331361005MI1611XWXXX600  3.05244e+09
1878215  04707160361  NV891021535LA4750XBLVD400  7.02579e+09
1878217  04813150137  OR972393011PO3181XRDXX600  5.03495e+09

[1629853 rows x 3 columns]

In [72]:
pd.merge(dpc_phone, dpc_gov, on=['ME','adrs_id','phn_numbr']).drop_duplicates('ME')

,prvdr_id,frst_nm_x,mid_nm_x,lst_nm_x,adrs_id,adr_ln_1_x,adr_ln_2_x,cty_x,st_x,zip_x,...,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn
0,42100042,BIJAN,None,HAGHIGHI,CA926634162NE1XXXXDRXX300,1 HOAG DR,None,NEWPORT BEACH,CA,926634162,...,None,None,None,None,None,None,None,None,Y,Y
1,42100117,DAVID,None,GRIFFIN,SC296075253GR104XXDRXX303,104 INNOVATION DR,SUITE 2000,GREENVILLE,SC,296075253,...,420023,ST FRANCIS-DOWNTOWN,None,None,None,None,None,None,Y,Y
3,42100133,JEFFREY,M,SPEAR,AR728012724RU1808XSTXX400,1808 W MAIN ST,None,RUSSELLVILLE,AR,728012724,...,None,None,None,None,None,None,None,None,Y,Y
4,42100190,JOHN,D,VERBRUGGE,MI495032560GR100XXNEXX300,100 MICHIGAN NE,None,GRAND RAPIDS,MI,495032560,...,230093,SPECTRUM HEALTH BIG RAPIDS HOSPITAL,None,None,None,None,None,None,Y,Y
6,42100273,SAJI,None,JOHN,TX750104468CA2501XPKWY403,2501 E HEBRON PKWY,SUITE 200,CARROLLTON,TX,750104468,...,None,None,None,None,None,None,None,None,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971356,9931529997,SAGAR,None,PATIL,FL336134613TA3100XAVEX400,3100 E FLETCHER AVE,None,TAMPA,FL,336134613,...,None,None,None,None,None,None,None,None,Y,Y
971358,9931530300,GREGORY,ALLAN,HOLTON,MI494425542MU1675XSTXX307,1675 LEAHY ST,201A,MUSKEGON,MI,494425542,...,231320,MERCY HEALTH LAKESHORE CAMPUS,None,None,None,None,None,None,Y,Y
971359,9931531324,AMI,None,SHUKLA,FL331361003MI1400XCONS601,1400 NW 12TH AVE HEMATOLOGY CONSULT,UMHC UHEALTH TOWER,MIAMI,FL,331361003,...,100079,None,None,None,None,None,None,None,Y,Y
971378,9931532553,TEINESHA,M,IRVEY,NV891021535LA4750XBLVD400,4750 W OAKEY BLVD,None,LAS VEGAS,NV,891021535,...,None,None,None,None,None,None,None,None,Y,Y
971379,9931533122,KRISTIN,None,THOMPSON,OR972393011PO3181XRDXX600,3181 SW SAM JACKSON PARK RD,None,PORTLAND,OR,972393011,...,None,None,None,None,None,None,None,None,Y,Y

In [70]:
dpc_phone[dpc_phone.phn_numbr=='None']

,prvdr_id,frst_nm,mid_nm,lst_nm,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI,ME
16924,42535619,GEORGE,T,THOTT,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1124317367,66502100093
101864,547313637,MICHAEL,J,HERSH,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1407076888,03548030161
243770,1254566649,DOROTHY,A,DSCHIDA,IL600161209DE100XXRDXX400,100 N RIVER RD,None,DES PLAINES,IL,600161209,2.8604e+09,None,1164743241,01643100424
257316,1355471475,EVELYN,S,WHITE,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1699855924,01643961217
359107,1850610064,ELIZABETH,M,PEREZ,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1316232796,01611102336
411796,2163616004,SARAH,C,PETERSON,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1114174828,03545070676
453718,2365736972,FULVIO,ROBERTO,GIL,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1801185822,01601110861
484598,2567536485,GREGORY,J,LINDSAY,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1942416607,01611053220
495915,2668407701,PAUL,A,RUZUMNA,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1033133111,02507921909
580268,3072666171,HEIDI,None,WEHLUS,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1912163130,01611060501
798284,4284675083,SUSAN,E,NELSON,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1144208612,01611862071
817693,4385684372,STUART,S,FERBER,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1952389413,01611860788
869642,4688579105,CARL,R,LANG,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1730167339,01642800554
881341,4688818578,JOWELLA,REAL,PINEDA,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1790016004,74802070059
904266,4789930736,ROBERT,None,ANDER,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1588051122,01803151179
907727,4880599307,DAVID,S,CHARMAN,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1346228954,01611850561
950243,5092755082,RICHARD,A,HIGGINS,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1679551139,01611851274
1008508,5395833206,IRINA,C,GOLDVEKHT,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1154309755,01676000441
1049958,5597902189,JOSEPH,None,LLINAS,FL329312881CO465XXCSWY304,465 MINUTEMEN CSWY,SUITE 485,COCOA BEACH,FL,329312881,None,None,1013962158,04203881130
1132576,6002060191,VICTORIA,None,RYVKIN,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1881815173,01611070761
1170772,6204087174,HEIDI,E,CHATHAM,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1659509834,16601080081
1341899,7113096140,BHUPINDER,None,SINGH,IL600161209DE100XXRDXX400,100 N RIVER RD,None,DES PLAINES,IL,600161209,2.8604e+09,None,1932250446,49529990081
1380327,7315163011,TRAYTON,B,MAINS,OH458013984LI830XXSTXX402,830 W HIGH ST,SUITE 350,LIMA,OH,458013984,3.37561e+09,None,1720217383,01175090084
1391470,7315987302,WENDI,G,MARCUS,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1548249113,01643880705
1440247,7618282963,CHUCK,RICHARD,VRASICH,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1114214111,01601111370
1485882,7810993144,AAKAR,MAYUR,SHAH,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1669415899,01676031037
1538946,8123320355,MARCIN,S,JUNGIEWICZ,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1851680839,01676110441
1545594,8224071634,CHRISTIAN,A,DANIELS,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1063490605,01601840207
1561300,8325037856,STEVEN,D,LUPOVITCH,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1710901889,02501891021
1643979,8729144084,ROBERT,M,GOLDMAN,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1588879571,01875001180
1664157,8820216252,NEWTON,T,LI,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1285897728,01606081355
1699767,9032248497,ENA,ELIZABETH,HENNEGAN,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1407851470,01676971056
1711087,9133024656,GARY,N,MEYERS,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1275511883,01611821952
1773006,9436193901,NIKOS,G,CHRISTOPOULOS,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1881708444,01642990922
1774040,9436217809,RAJESH,None,JINDAL,IL600161209DE100XXRDXX400,100 N RIVER RD,None,DES PLAINES,IL,600161209,2.8604e+09,None,1184818791,49546980013
1789435,9537158050,MICHAEL,R,BAUER,IL600894541BU1450XPKWY300,1450 BUSCH PKWY,None,BUFFALO GROVE,IL,600894541,3.37574e+09,None,1205832128,01611890164

In [73]:
no_phone = dpc_gov[dpc_gov.phn_numbr=='None']

In [75]:
pd.merge(no_phone, dpc_phone, on=['ME','adrs_id']).drop_duplicates('ME')

,NPI_x,Ind_PAC_ID,Ind_enrl_ID,lst_nm_x,frst_nm_x,mid_nm_x,suff,gndr,Cred,Med_sch,...,mid_nm_y,lst_nm_y,adr_ln_1_y,adr_ln_2_y,cty_y,st_y,zip_y,org_pac_id_y,phn_numbr_y,NPI_y
0,1225029242,5496795973,I20050504000221,BATASH,STEVEN,None,None,M,MD,NEW YORK UNIVERSITY SCHOOL OF MEDICINE,...,None,BATASH,9712 63RD DR,None,REGO PARK,NY,113742243,None,7.1883e+09,1225029242
2,1225089436,941101687,I20040116000190,ELLO,FLORENCIO,V,None,M,MD,OTHER,...,V,ELLO,172 S SEMORAN BLVD,None,ORLANDO,FL,328073293,None,4.0738e+09,1225089436
3,1225036304,2466348404,I20040421001890,YOUSSEF,SAMEH,None,None,M,MD,OTHER,...,None,YOUSSEF,3925 W BOYNTON BEACH BLVD,SUITE 102,BOYNTON BEACH,FL,334364500,None,5.61735e+09,1225036304
4,1225113814,6608815360,I20050502000953,OHAJEKWE,OGEDI,None,None,M,MD,OTHER,...,None,OHAJEKWE,1 PONDFIELD RD W,SUITE 51A,BRONXVILLE,NY,107082666,None,9.14338e+09,1225113814
5,1225027873,8123019726,I20041129000112,ZAHID,MOHAMMAD,None,None,M,MD,OTHER,...,None,ZAHID,1000 E BRIGHTON LN,None,CRYSTAL LAKE,IL,600122074,None,8.15478e+09,1225027873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672447,1952568750,4284944778,I20151112003108,BROOKS,RONALD,M,None,M,None,INDIANA UNIVERSITY SCHOOL OF MEDICINE,...,M,BROOKS,2451 UNIVERSITY HOSPITAL DR,None,MOBILE,AL,366172300,9.93144e+09,2.51446e+09,1952568750
672450,1952515736,6901087303,I20181001002180,HOWARD,JOHN,H,None,M,None,UNIVERSITY OF ALABAMA SCHOOL OF MEDICINE,...,H,HOWARD,2451 UNIVERSITY HOSPITAL DR,None,MOBILE,AL,366172300,9.93144e+09,2.51446e+09,1952515736
672453,1104266980,6305145004,I20190913001469,RICHARDSON,KRISTIN,JOY,None,F,None,RUSH MEDICAL COLLEGE OF RUSH UNIVERSITY,...,JOY,RICHARDSON,120 N OAK ST,None,HINSDALE,IL,605213829,9.93149e+09,6.30857e+09,1104266980
672455,1154581783,6507981446,I20110615000457,MACRINICI,VALENTINA,None,None,F,None,OTHER,...,None,MACRINICI,120 N OAK ST,None,HINSDALE,IL,605213829,9.93149e+09,6.30857e+09,1154581783
672459,1467659318,8325020100,I20040604000454,HARTING,REKHA,R,None,F,MD,RUSH MEDICAL COLLEGE OF RUSH UNIVERSITY,...,R,HARTING,120 N OAK ST,None,HINSDALE,IL,605213829,9.93149e+09,6.30857e+09,1467659318

In [76]:
COLS = ['frst_nm', 'mid_nm', 'lst_nm', 'adrs_id', 'adr_ln_1',
       'adr_ln_2', 'cty', 'st', 'zip', 'org_pac_id', 'phn_numbr', 'NPI','ME']

In [79]:
pd.concat([gov[COLS],phones[COLS]]).drop_duplicates().to_csv('../../Data/DataGov/All_Data_210617.csv', index=False)

In [80]:
all_data = pd.concat([gov[COLS],phones[COLS]])

In [84]:
pure = all_data.drop_duplicates(['ME','adr_ln_1'], keep=False)

In [85]:
pure

,frst_nm,mid_nm,lst_nm,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI,ME
117,MATTHEW,W,SHAWL,NY100034703NE853XXAVEX301,853 BROADWAY AVE,SUITE 903,NEW YORK,NY,100034703,None,None,1225086598,02101941178
201,MICHAEL,D,FOX,CA949041901GR501XXCASI300,501 VIA CASITAS,None,GREENBRAE,CA,949041901,None,None,1225027709,03509741491
232,CHITRA,None,KANDASWAMY,CA937208015FR7035XAVEX401,7035 N MAPLE AVE,102B,FRESNO,CA,937208015,None,None,1225146293,49516970111
317,HEATHER,P,PEIRCE,MD215022442CU224XXAVEX301,224 BALTIMORE AVE,BASEMENT,CUMBERLAND,MD,215022442,None,None,1225043045,04113791271
345,MOHAMMAD,H,AL ASHA,NJ077193538WA1930X35XX400,1930 STATE ROUTE 35,None,WALL TOWNSHIP,NJ,077193538,None,None,1225114440,87501720451
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867907,EDWARD,A,GILL,CO801112142GR7447XAVEX405,7447 E BERRY AVE;,250 CU FAMILY MEDICINE LANDMARK,GREENWOOD VILLAGE,CO,801112142,3.47647e+09,3.0377e+09,1518046275,05404840519
1869867,COLIN,KERST,GRISSOM,UT841430000SA8XXXXSTXX501,8 TH AVE & C ST,LDS HOSP EEG PHYS GRP,SALT LAKE CITY,UT,84143,1.85021e+09,8.01508e+09,1124044532,00801901247
1872622,CHRISTINE,C,WELLES,CO802181024DE835XXAVEX402,835 E 18TH AVE;,110 MIDTOWN INPATIENT MEDICINE,DENVER,CO,802181024,8.40514e+08,3.03825e+09,1780864017,01902071004
1873985,CLAYTON,M,SHAKER,MI498079661BA2845X41XX401,2845 US 2 & 41,203 DICKINSON MEDICAL SERVICES CEDAR HILL,BARK RIVER,MI,498079661,6.80078e+09,9.06466e+09,1598913279,02507061241
1875491,PURVI,M,DOSHI,FL331361002MI1475XFLRX901,1475 NW 12TH AVE HEAD & NECK CLINIC 1ST FLR,UMHC SCCC,MIAMI,FL,331361002,3.2748e+09,3.05586e+09,1669787057,49522010307

In [86]:
all_data.drop_duplicates(['ME','phn_numbr'])

,frst_nm,mid_nm,lst_nm,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI,ME
0,STEVEN,None,BATASH,NY113742243RE9712XDRXX300,9712 63RD DR,None,REGO PARK,NY,113742243,None,None,1225029242,03519860081
2,FLORENCIO,V,ELLO,FL328073293OR172XXBLVD400,172 S SEMORAN BLVD,None,ORLANDO,FL,328073293,None,None,1225089436,74801670486
3,SAMEH,None,YOUSSEF,FL334364500BO3925XBLVD501,3925 W BOYNTON BEACH BLVD,SUITE 102,BOYNTON BEACH,FL,334364500,None,None,1225036304,91504890100
4,SAMEH,None,YOUSSEF,FL334357995BO2815XBLVD400,2815 S SEACREST BLVD,None,BOYNTON BEACH,FL,334357995,8.62813e+09,5.61738e+09,1225036304,91504890100
5,OGEDI,None,OHAJEKWE,NY107082666BR1XXXXWXXX401,1 PONDFIELD RD W,SUITE 51A,BRONXVILLE,NY,107082666,None,None,1225113814,69005830028
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1878205,AMI,None,SHUKLA,FL331361005MI1611XWEST600,1611 NW 12TH AVE ACC WEST,None,MIAMI,FL,331361005,3.2748e+09,3.05244e+09,1952747305,01102130690
1878207,AMI,None,SHUKLA,FL331361005MI1611XWEST600,1611 NW 12TH AVE ACC WEST,None,MIAMI,FL,331361005,3.2748e+09,3.0569e+09,1952747305,01102130690
1878210,AMI,None,SHUKLA,FL331361005MI1611XWING600,1611 NW 12TH AVE N WING,None,MIAMI,FL,331361005,3.2748e+09,3.05251e+09,1952747305,01102130690
1878212,AMI,None,SHUKLA,FL331361005MI1611XWXXX600,1611 NW 12TH AVE ACC W,None,MIAMI,FL,331361005,3.2748e+09,3.05243e+09,1952747305,01102130690
1878214,AMI,None,SHUKLA,FL331361005MI1611XWXXX600,1611 NW 12TH AVE ACC W,None,MIAMI,FL,331361005,3.2748e+09,3.05244e+09,1952747305,01102130690