In [69]:
import pandas as pd
import useful_functions as use
import datacompy

In [2]:
npi_me = use.get_npi_to_me()

In [107]:
# og = pd.read_csv('../../Data/DataGov/DAC_NationalDownloadableFile_211109.csv', encoding='latin')
load_1 = pd.read_csv('../../Data/DataGov/address_load_national_downloadable_2021-11-15.csv')

In [4]:
og.NPI = og.NPI.astype(str)
gov = pd.merge(npi_me, og, on='NPI')

In [5]:
gov.columns = [c.strip() for c in gov.columns.values]

In [10]:
def create(gov):
    col_rename = {
            'adr_ln_1':'addr_line_1',
            'cty':'addr_city',
            'st':'addr_state',
            'adr_ln_2':'addr_line_2',
            'ME':'me#'
        }
    gov = gov.rename(columns=col_rename)
    cols = ['entity_id',
                'me#',
                'comm_id',
                'usage',
                'load_type',
                'addr_type',
                'addr_line_1',
                'addr_line_2',
                'addr_line_3',
                'addr_city',
                'addr_state',
                'addr_zip',
                'addr_plus4',
                'addr_country',
                'source',
                'adrs_id'
                ]
    gov['addr_zip'] = [use.fix_zipcode(x) for x in gov.zip]
    gov['addr_plus4'] = [x if len(str(x))==9 else '' for x in gov.zip]
    gov['load_type'] = 'A'
    gov['addr_type'] = 'OF'
    gov['source'] = 'NAT-DOWN'
    gov['entity_id'] = ''
    gov['comm_id'] = ''
    gov['usage'] = ''
    gov['addr_country'] = ''
    gov['addr_line_3'] = ''
    gov = gov.drop_duplicates(['me#','adrs_id'])[cols]
    return (gov)

In [11]:
gov = create(gov)

In [14]:
load['me#'] = use.fix_me(load['me#'])

In [24]:
load['addr_zip'] = [use.fix_zipcode(x) for x in load.addr_zip]

In [41]:
load.addr_plus4 = load.addr_plus4.fillna(0)

In [52]:
def fix_zipcode_long(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    if len(num) == 1:
        num = ''
    if len(num) == 8:
        num = '0' + num
    elif len(num) == 7:
        num = '00' + num
    return num

In [54]:
load.addr_plus4 = [fix_zipcode_long(x) for x in load.addr_plus4]

In [97]:
merged = pd.merge(load, gov, on=['me#',
                'addr_line_1',
                'addr_line_2',
                'addr_city',
                'addr_state',
                'addr_zip',
                'addr_plus4'], how='left', suffixes=['','_og'])[list(gov.columns)]

In [115]:
with_id = merged.drop_duplicates()

In [83]:
gov.addr_plus4 = [str(x) for x in gov.addr_plus4]

In [84]:
compare_2 = datacompy.Compare(gov, load, join_columns='me#', df1_name = 'og', df2_name = 'loaded')

In [85]:
print(compare_2.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns     Rows
0        og       16  1331043
1    loaded       16  1330936

Column Summary
--------------

Number of columns in common: 15
Number of columns in og but not in loaded: 1
Number of columns in loaded but not in og: 1

Row Summary
-----------

Matched on: me#
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1,330,897
Number of rows in og but not in loaded: 146
Number of rows in loaded but not in og: 39

Number of rows with some compared columns unequal: 1,330,897
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 11
Number of columns compared with all values equal: 4
Total number of values which compare unequal: 6,654,542

Columns with Unequal Values or Types
------------------------------------

          Column og dtype loaded dtype  # Unequal  Max Diff  # Null Diff
8      addr_city   object       object          5       0.0            0
6   addr_country   object      float64    1330897       0.0      1330897
7    addr_line_1   object       object          5       0.0            0
9    addr_line_2   object       object          5       0.0            5
3    addr_line_3   object      float64    1330897       0.0      1330897
1     addr_plus4   object       object         32       0.0            0
5     addr_state   object       object          5       0.0            0
2       addr_zip   object       object          5   41624.0            0
0        comm_id   object      float64    1330897       0.0      1330897
10     entity_id   object      float64    1330897       0.0      1330897
4          usage   object      float64    1330897       0.0      1330897

Sample Rows with Unequal Values
-------------------------------

                 me# comm_id (og)  comm_id (loaded)
27372    02576850754                            NaN
921421   02275070621                            NaN
858044   02607951163                            NaN
1064671  49502960121                            NaN
737920   01002890883                            NaN
1232873  03806141037                            NaN
839341   03843020851                            NaN
69832    02101891634                            NaN
77639    02507800672                            NaN
1155324  03175120172                            NaN

                 me# addr_plus4 (og) addr_plus4 (loaded)
847716   58313040028       3007638ND           003007638
168693   03547952145       3050125ND           003050125
634098   01676030600       3053464ND           003053464
209631   03509831288       4804827ND           004804827
753445   01222970390       3028162ND           003028162
1142571  01102140181       334143164           200162633
969888   01103110277       3050125ND           003050125
683019   01201811267       3050125ND           003050125
726924   01201821122       3050125ND           003050125
1330976  24347930543       432052664           770304000

                 me# addr_zip (og) addr_zip (loaded)
1142571  01102140181         33414             20016
1328659  05501140050         77030             35406
1118729  02002130931         45504             40509
1330976  24347930543         43205             77030
1142572  01102140181         33186             21157

                me# addr_line_3 (og)  addr_line_3 (loaded)
755976  00512931031                                    NaN
987996  04102020206                                    NaN
186479  03841991523                                    NaN
645671  02307990761                                    NaN
122046  03840751138                                    NaN
832788  49505790102                                    NaN
385191  74811890280                                    NaN
560056  00576020881                                    NaN
640061  02604060632                                    NaN
208542  02846930607                                    NaN

                 me# usage (og)  usage (loaded)
435628   30807833088                        NaN
1321634  04201951726                        NaN
1023609  52801990053                        NaN
220369   03844890060                        NaN
932454   42201081968                        NaN
1171300  04115091901                        NaN
217717   03515871739                        NaN
1070686  49537090111                        NaN
1096097  02501071041                        NaN
91033    01902960828                        NaN

                 me# addr_state (og) addr_state (loaded)
1118729  02002130931              OH                  KY
1142572  01102140181              FL                  MD
1142571  01102140181              FL                  DC
1328659  05501140050              TX                  AL
1330976  24347930543              OH                  TX

                 me# addr_country (og)  addr_country (loaded)
975245   03519060719                                      NaN
32164    01676940851                                      NaN
706896   01601010794                                      NaN
1057125  83001890029                                      NaN
552497   18780970011                                      NaN
245979   04177920946                                      NaN
628972   03840061565                                      NaN
361890   04101980397                                      NaN
613729   49563030088                                      NaN
1254090  03547150260                                      NaN

                 me#        addr_line_1 (og)               addr_line_1 (loaded)
1118729  02002130931      100 MEDICAL CTR DR                 120 N EAGLE CRK DR
1142572  01102140181       12485 SW137TH AVE                   200 MEMORIAL AVE
1330976  24347930543        700 CHILDRENS DR  1515 HOLCOMBE BLVD DEPT OF PATHOL
1142571  01102140181  1447 MEDICAL PARK BLVD               5255 LOUGHBORO RD NW
1328659  05501140050       7200 CAMBRIDGE ST              1850 MCFARLAND N BLVD

                 me# addr_city (og) addr_city (loaded)
1142572  01102140181          MIAMI        WESTMINSTER
1328659  05501140050        HOUSTON         TUSCALOOSA
1330976  24347930543       COLUMBUS            HOUSTON
1118729  02002130931    SPRINGFIELD          LEXINGTON
1142571  01102140181     WELLINGTON         WASHINGTON

                 me# addr_line_2 (og) addr_line_2 (loaded)
1328659  05501140050          SUITE 1                  NaN
1330976  24347930543           D00651                  NaN
1118729  02002130931              NaN            SUITE 211
1142572  01102140181        SUITE 103                  NaN
1142571  01102140181        SUITE 205                  NaN

                 me# entity_id (og)  entity_id (loaded)
1039170  03509081106                                NaN
1115127  73706040240                                NaN
113762   03901710057                                NaN
629178   00401061185                                NaN
792834   02501990267                                NaN
1132453  02802130620                                NaN
150851   03006931188                                NaN
99292    03844952391                                NaN
452179   49547890018                                NaN
1166637  04812140286                                NaN

Sample Rows Only in og (First 10 Columns)
-----------------------------------------

        entity_id          me# comm_id usage load_type addr_type       addr_line_1 addr_line_2 addr_line_3         addr_city
1331003            03306120955                       A        OF    777 PARK AVE W         NaN                 HIGHALND PARK
11804              05575141759                       A        OF    1888 S 14TH ST         NaN              FERNANDINA BEACH
1331022            91502000328                       A        OF      3000 MACK RD         NaN                     FAIRFIELD
1330949            04115180253                       A        OF  8206 GEORGIA AVE         NaN                 SILVER SPRING
19206              05575171496                       A        OF   200 HOSPITAL DR         NaN                    MEYERSDALE
1149564            13002140386                       A        OF   103 JACKSON AVE           B                       SYOSSET
1330975            04112121141                       A        OF  15031 RINALDI ST         NaN                 MISSION HILLS
1149562            13002140386                       A        OF      270 PARK AVE     SUITE 1                    HUNTINGTON
1330971            36601100104                       A        OF     111 S 11TH ST         NaN                  PHILADELPHIA
1118730            02002130931                       A        OF     904 SCIOTO ST         NaN                        URBANA

Sample Rows Only in loaded (First 10 Columns)
---------------------------------------------

         entity_id          me#  comm_id  usage load_type addr_type             addr_line_1 addr_line_2  addr_line_3    addr_city
1331050        NaN  03605100430      NaN    NaN         A        OF        3009 N BALLAS RD  SUITE 360C          NaN  SAINT LOUIS
1331079        NaN  01222210069      NaN    NaN         A        OF     1430 DALE MABRY HWY         NaN          NaN         LUTZ
1331080        NaN  01222210069      NaN    NaN         A        OF           9330 STATE RD    SUITE 54          NaN      TRINITY
1331063        NaN  02101031520      NaN    NaN         A        OF    2460 NW STEWART PKWY         NaN          NaN     ROSEBURG
1331065        NaN  05575140884      NaN    NaN         A        OF   1830 MEDITERRANEAN DR         NaN          NaN     SYCAMORE
1331077        NaN  58302580586      NaN    NaN         A        OF     1 GUSTAVE L LEVY PL         NaN          NaN     NEW YORK
1331053        NaN  03841130188      NaN    NaN         A        OF      100 MEDICAL CTR DR         NaN          NaN  SPRINGFIELD
1331058        NaN  04101070668      NaN    NaN         A        OF        1000 MONTAUK HWY         NaN          NaN   WEST ISLIP
1331043        NaN  03375831154      NaN    NaN         A        OF  1447 MEDICAL PARK BLVD   SUITE 205          NaN   WELLINGTON
1331051        NaN  02407540410      NaN    NaN         A        OF   2500 NESCONSET HWY 69         NaN          NaN  STONY BROOK

In [89]:
gov.drop_duplicates(subset=['adrs_id'])

,entity_id,me#,comm_id,usage,load_type,addr_type,addr_line_1,addr_line_2,addr_line_3,addr_city,addr_state,addr_zip,addr_plus4,addr_country,source,adrs_id
0,,04201040791,,,A,OF,ADMINISTRACION DE SERVICIOS MEDICOS(MANEJO DE,CENTRO MEDICO DE PUERTO RICO BO MONACILLOS,,RIO PIEDRAS,PR,00935,,,NAT-DOWN,PR009350000RIADMINDEXX601
1,,49575000010,,,A,OF,951 NW 13TH ST,SUITE 4E,,BOCA RATON,FL,33486,334862337,,NAT-DOWN,FL334862337BO951XXSTXX417
2,,49575000010,,,A,OF,840 US HWY 1,SUITE 120,,NORTH PALM BEACH,FL,33408,334083858,,NAT-DOWN,FL334083858NO840XX1XXX401
3,,49575000010,,,A,OF,2330 S CONGRESS AVE,NaN,,PALM SPRINGS,FL,33406,334067608,,NAT-DOWN,FL334067608PA2330XAVEX400
4,,02106050565,,,A,OF,7777 HENNESSY BLVD,SUITE 4000,,BATON ROUGE,LA,70808,708080306,,NAT-DOWN,LA708080306BA7777XBLVD302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348563,,06509140021,,,A,OF,110 E 59TH ST,FL 10,,NEW YORK,NY,10022,100221304,,NAT-DOWN,NY100221304NE110XXSTXX410
1348612,,03901171199,,,A,OF,50 BUCK CREEK RD,SUITE 100,,AVON,CO,81620,816205428,,NAT-DOWN,CO816205428AV50XXXRDXX404
1348625,,01105161014,,,A,OF,3009 N BALLAS RD,SUITE 360C,,SAINT LOUIS,MO,63131,631312349,,NAT-DOWN,MO631312349SA3009XRDXX401
1348656,,04720170278,,,A,OF,1840 MEDICAL CTR PKWY,SUITE 400,,MURFREESBORO,TN,37129,371293237,,NAT-DOWN,TN371293237MU1840XPKWY410
1348660,,04775171885,,,A,OF,1937 W HARVARD AVE,NaN,,ROSEBURG,OR,97471,974712720,,NAT-DOWN,OR974712720RO1937XAVEX400

In [90]:
for row in gov.itertuples():
    if 'ND' in row.addr_plus4:
        print(row.adrs_id)

GA3050125NDGA1640XSEXX501
MI4804827NDNE58144AVEX300
FL3257050NDMI5934XDRXX501
GA3031223NDAT285XXNEXX302
FL3257050NDMI5978XDRXX500
GA3050125NDGA1640XSEXX501
FL3257050NDMI5934XDRXX501
NY1169136NDFA1919XAVEX301
MI4804827NDNE58144AVEX300
GA3053464NDDA81XXXDRXX401
NY1142224NDRO24411AVEX300
GA3050125NDGA1640XSEXX501
GA3050125NDGA1640XSEXX501
GA3050125NDGA1640XSEXX501
GA3028162NDST140XXCOUR401
GA3007638NDRO1340XRDXX401
CA9140261NDPA8110XAVEX300
GA3050125NDGA1640XSEXX501
GA3050125NDGA1640XSEXX501
GA3050125NDGA1640XSEXX501
NY1169136NDFA1919XAVEX301
NY1169136NDFA1919XAVEX301
GA3050125NDGA1640XSEXX501
NY1169136NDFA1919XAVEX301
GA3050125NDGA1640XSEXX501
MI4886435NDOK2270XRDXX302
GA3050125NDGA1640XSEXX501

In [94]:
merged.drop_duplicates()

,entity_id_x,me#,comm_id_x,usage_x,load_type_x,addr_type_x,addr_line_1,addr_line_2,addr_line_3_x,addr_city,...,source_dtm,entity_id_y,comm_id_y,usage_y,load_type_y,addr_type_y,addr_line_3_y,addr_country_y,source_y,adrs_id
0,NaN,04201040791,NaN,NaN,A,OF,ADMINISTRACION DE SERVICIOS MEDICOS(MANEJO DE,CENTRO MEDICO DE PUERTO RICO BO MONACILLOS,NaN,RIO PIEDRAS,...,2021-11-15,,,,A,OF,,,NAT-DOWN,PR009350000RIADMINDEXX601
1,NaN,49575000010,NaN,NaN,A,OF,951 NW 13TH ST,SUITE 4E,NaN,BOCA RATON,...,2021-11-15,,,,A,OF,,,NAT-DOWN,FL334862337BO951XXSTXX417
2,NaN,49575000010,NaN,NaN,A,OF,840 US HWY 1,SUITE 120,NaN,NORTH PALM BEACH,...,2021-11-15,,,,A,OF,,,NAT-DOWN,FL334083858NO840XX1XXX401
3,NaN,49575000010,NaN,NaN,A,OF,2330 S CONGRESS AVE,NaN,NaN,PALM SPRINGS,...,2021-11-15,,,,A,OF,,,NAT-DOWN,FL334067608PA2330XAVEX400
4,NaN,02106050565,NaN,NaN,A,OF,7777 HENNESSY BLVD,SUITE 4000,NaN,BATON ROUGE,...,2021-11-15,,,,A,OF,,,NAT-DOWN,LA708080306BA7777XBLVD302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333265,NaN,01001161802,NaN,NaN,A,OF,915 OLENTANGY RIVER RD,FL 5,NaN,COLUMBUS,...,2021-11-15,,,,A,OF,,,NAT-DOWN,OH432123153CO915XXRDXX402
1333266,NaN,49500170025,NaN,NaN,A,OF,2350 SCHILLINGER S RD,A,NaN,MOBILE,...,2021-11-15,,,,A,OF,,,NAT-DOWN,AL366954177MO2350XRDXX401
1333267,NaN,49500170025,NaN,NaN,A,OF,7943 MOFFETT RD,NaN,NaN,SEMMES,...,2021-11-15,,,,A,OF,,,NAT-DOWN,AL365755409SE7943XRDXX300
1333268,NaN,49500170025,NaN,NaN,A,OF,4402 OLD SHELL RD,NaN,NaN,MOBILE,...,2021-11-15,,,,A,OF,,,NAT-DOWN,AL366081912MO4402XRDXX400
1333269,NaN,03845180392,NaN,NaN,A,OF,7545 BEECHMONT AVE C,NaN,NaN,CINCINNATI,...,2021-11-15,,,,A,OF,,,NAT-DOWN,OH452554238CI7545XCXXX400

In [96]:
len(load)-len(merged)

-2334

In [117]:
# none = with_id.fillna('None')
with_id[(none.adrs_id=='None')].to_csv('../../Data/DataGov/NO_ID.csv', index=False)

In [114]:
with_id.fillna('')

,entity_id,me#,comm_id,usage,load_type,addr_type,addr_line_1,addr_line_2,addr_line_3,addr_city,addr_state,addr_zip,addr_plus4,addr_country,source,adrs_id
0,None,04201040791,None,None,A,OF,ADMINISTRACION DE SERVICIOS MEDICOS(MANEJO DE,CENTRO MEDICO DE PUERTO RICO BO MONACILLOS,None,RIO PIEDRAS,PR,00935,,None,NAT-DOWN,PR009350000RIADMINDEXX601
1,None,49575000010,None,None,A,OF,951 NW 13TH ST,SUITE 4E,None,BOCA RATON,FL,33486,334862337,None,NAT-DOWN,FL334862337BO951XXSTXX417
2,None,49575000010,None,None,A,OF,840 US HWY 1,SUITE 120,None,NORTH PALM BEACH,FL,33408,334083858,None,NAT-DOWN,FL334083858NO840XX1XXX401
3,None,49575000010,None,None,A,OF,2330 S CONGRESS AVE,None,None,PALM SPRINGS,FL,33406,334067608,None,NAT-DOWN,FL334067608PA2330XAVEX400
4,None,02106050565,None,None,A,OF,7777 HENNESSY BLVD,SUITE 4000,None,BATON ROUGE,LA,70808,708080306,None,NAT-DOWN,LA708080306BA7777XBLVD302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333333,None,01001161802,None,None,A,OF,915 OLENTANGY RIVER RD,FL 5,None,COLUMBUS,OH,43212,432123153,None,NAT-DOWN,OH432123153CO915XXRDXX402
1333334,None,49500170025,None,None,A,OF,2350 SCHILLINGER S RD,A,None,MOBILE,AL,36695,366954177,None,NAT-DOWN,AL366954177MO2350XRDXX401
1333335,None,49500170025,None,None,A,OF,7943 MOFFETT RD,None,None,SEMMES,AL,36575,365755409,None,NAT-DOWN,AL365755409SE7943XRDXX300
1333336,None,49500170025,None,None,A,OF,4402 OLD SHELL RD,None,None,MOBILE,AL,36608,366081912,None,NAT-DOWN,AL366081912MO4402XRDXX400
1333337,None,03845180392,None,None,A,OF,7545 BEECHMONT AVE C,None,None,CINCINNATI,OH,45255,452554238,None,NAT-DOWN,OH452554238CI7545XCXXX400

In [110]:
load_1['me#'] = use.fix_me(load_1['me#'])

In [112]:
load_1['adrs_id']=with_id.adrs_id

In [113]:
load_1

,entity_id,me#,comm_id,usage,load_type,addr_type,addr_line_1,addr_line_2,addr_line_3,addr_city,addr_state,addr_zip,addr_plus4,addr_country,source,source_dtm,adrs_id
0,NaN,04201040791,NaN,NaN,A,OF,ADMINISTRACION DE SERVICIOS MEDICOS(MANEJO DE,CENTRO MEDICO DE PUERTO RICO BO MONACILLOS,NaN,RIO PIEDRAS,PR,935,NaN,NaN,NAT-DOWN,2021-11-15,PR009350000RIADMINDEXX601
1,NaN,49575000010,NaN,NaN,A,OF,951 NW 13TH ST,SUITE 4E,NaN,BOCA RATON,FL,33486,3.34862e+08,NaN,NAT-DOWN,2021-11-15,FL334862337BO951XXSTXX417
2,NaN,49575000010,NaN,NaN,A,OF,840 US HWY 1,SUITE 120,NaN,NORTH PALM BEACH,FL,33408,3.34084e+08,NaN,NAT-DOWN,2021-11-15,FL334083858NO840XX1XXX401
3,NaN,49575000010,NaN,NaN,A,OF,2330 S CONGRESS AVE,NaN,NaN,PALM SPRINGS,FL,33406,3.34068e+08,NaN,NAT-DOWN,2021-11-15,FL334067608PA2330XAVEX400
4,NaN,02106050565,NaN,NaN,A,OF,7777 HENNESSY BLVD,SUITE 4000,NaN,BATON ROUGE,LA,70808,7.0808e+08,NaN,NAT-DOWN,2021-11-15,LA708080306BA7777XBLVD302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330931,NaN,01001161802,NaN,NaN,A,OF,915 OLENTANGY RIVER RD,FL 5,NaN,COLUMBUS,OH,43212,432123153,NaN,NAT-DOWN,2021-11-15,PA156012282GR532XXSTXX402
1330932,NaN,49500170025,NaN,NaN,A,OF,2350 SCHILLINGER S RD,A,NaN,MOBILE,AL,36695,366954177,NaN,NAT-DOWN,2021-11-15,CA941432204SA521XXAVEX300
1330933,NaN,49500170025,NaN,NaN,A,OF,7943 MOFFETT RD,NaN,NaN,SEMMES,AL,36575,365755409,NaN,NAT-DOWN,2021-11-15,CA941432204SA505XXAVEX300
1330934,NaN,49500170025,NaN,NaN,A,OF,4402 OLD SHELL RD,NaN,NaN,MOBILE,AL,36608,366081912,NaN,NAT-DOWN,2021-11-15,CA941432204SA505XXAVEX302
1330935,NaN,03845180392,NaN,NaN,A,OF,7545 BEECHMONT AVE C,NaN,NaN,CINCINNATI,OH,45255,452554238,NaN,NAT-DOWN,2021-11-15,CA947022498BE3100XAVEX400

In [173]:
og[og[' adr_ln_1']=='5978 BERRYHILL MEDICAL PARK DR'][[' adr_ln_1',' adr_ln_2', ' adrs_id']]

                              adr_ln_1  adr_ln_2                    adrs_id
517689  5978 BERRYHILL MEDICAL PARK DR       NaN  FL3257050NDMI5978XDRXX500

In [176]:
manual = pd.read_csv('../../Data/DataGov/NO_ID.csv')

In [179]:
all_id = pd.concat([with_id[(none.adrs_id!='None')],manual])

In [180]:
all_id.to_csv('../../Data/DataGov/address_load_national_downloadable_with_id_2021-11-15.csv', index=False)

In [184]:
og[' phn_numbr']

0                   NaN
1                   NaN
2                   NaN
3          9.178286e+09
4          7.035910e+09
               ...
2352941    3.033214e+09
2352942    9.016858e+09
2352943    9.016858e+09
2352944    9.072780e+09
2352945    9.072780e+09
Name:  phn_numbr, Length: 2352946, dtype: float64