In [1]:
import pandas as pd
import useful_functions as use
from datetime import date
import os

In [19]:
import datacompy

In [25]:
path = '../../Data/DataGov'
og_file = use.get_newest(path, 'DAC_National')
og = pd.read_csv(og_file, encoding='latin')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (15,17,25,29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
npi_me = use.get_npi_to_me()

In [3]:
new_data = pd.read_csv('../../Data/DataGov/address_load_national_downloadable_2021-11-15.csv')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
og.NPI = og.NPI.astype(str)
gov = pd.merge(npi_me, og, on='NPI')

In [28]:
og.columns = [c.strip() for c in og.columns.values]

In [8]:
gov[['NPI', 'ME', 'adr_ln_1', 'adr_ln_2', 'cty',
       'st', 'zip', 'adrs_id']]

,NPI,ME,adr_ln_1,adr_ln_2,ln_2_sprs,cty,st,zip,adrs_id
0,1528265030,04201040791,ADMINISTRACION DE SERVICIOS MEDICOS(MANEJO DE,CENTRO MEDICO DE PUERTO RICO BO MONACILLOS,NaN,RIO PIEDRAS,PR,00935,PR009350000RIADMINDEXX601
1,1447466313,49575000010,951 NW 13TH ST,SUITE 4E,NaN,BOCA RATON,FL,334862337,FL334862337BO951XXSTXX417
2,1447466313,49575000010,840 US HWY 1,SUITE 120,NaN,NORTH PALM BEACH,FL,334083858,FL334083858NO840XX1XXX401
3,1447466313,49575000010,2330 S CONGRESS AVE,NaN,NaN,PALM SPRINGS,FL,334067608,FL334067608PA2330XAVEX400
4,1447468301,02106050565,7777 HENNESSY BLVD,SUITE 4000,NaN,BATON ROUGE,LA,708080306,LA708080306BA7777XBLVD302
...,...,...,...,...,...,...,...,...,...
1348559,1427412550,01001161802,915 OLENTANGY RIVER RD,FL 5,NaN,COLUMBUS,OH,432123153,OH432123153CO915XXRDXX402
1348560,1285139667,49500170025,2350 SCHILLINGER S RD,A,NaN,MOBILE,AL,366954177,AL366954177MO2350XRDXX401
1348561,1285139667,49500170025,7943 MOFFETT RD,NaN,NaN,SEMMES,AL,365755409,AL365755409SE7943XRDXX300
1348562,1285139667,49500170025,4402 OLD SHELL RD,NaN,NaN,MOBILE,AL,366081912,AL366081912MO4402XRDXX400
1348563,1558866301,03845180392,7545 BEECHMONT AVE C,NaN,NaN,CINCINNATI,OH,452554238,OH452554238CI7545XCXXX400

In [1]:
og_file.columns

NameError: name 'og_file' is not defined

In [12]:
cols = ['entity_id',
                'me#',
                'comm_id',
                'usage',
                'load_type',
                'addr_type',
                'addr_line_1',
                'addr_line_2',
                'addr_line_3',
                'addr_city',
                'addr_state',
                'addr_zip',
                'addr_plus4',
                'addr_country',
                'source',
                'source_dtm'
                ] 
def create(gov):
    today = str(date.today())
    col_rename = {
            'adr_ln_1':'addr_line_1',
            'cty':'addr_city',
            'st':'addr_state',
            'adr_ln_2':'addr_line_2',
            'ME':'me#'
        }
    gov = gov.rename(columns=col_rename)
    cols = ['entity_id',
                'me#',
                'comm_id',
                'usage',
                'load_type',
                'addr_type',
                'addr_line_1',
                'addr_line_2',
                'addr_line_3',
                'addr_city',
                'addr_state',
                'addr_zip',
                'addr_plus4',
                'addr_country',
                'source',
                'source_dtm'
                ]
    gov['addr_zip'] = [use.fix_zipcode(x) for x in gov.zip]
    gov['addr_plus4'] = [x if len(str(x))==9 else '' for x in gov.zip]
    gov['load_type'] = 'A'
    gov['addr_type'] = 'OF'
    gov['source'] = 'NAT-DOWN'
    gov['source_dtm'] = today
    gov['entity_id'] = ''
    gov['comm_id'] = ''
    gov['usage'] = ''
    gov['addr_country'] = ''
    gov['addr_line_3'] = ''
    gov = gov.drop_duplicates(['me#','adrs_id'])[cols]
    return (gov)

In [14]:
gov.drop_duplicates(['me#','adrs_id'])[cols].to_csv('../../Data/DataGov/address_load_national_downloadable_2021-11-15.csv',index=False)

In [4]:
files = os.listdir('../../Data/DataGov')

In [6]:
path = '../../Data/DataGov'
paths = [os.path.join(path, basename) for basename in files if 'DAC_NationalDownloadableFile' in basename]

In [7]:
paths.remove(max(paths, key=os.path.getctime))
old = max(paths,key=os.path.getctime)

In [8]:
old_data = pd.read_csv(old, encoding='latin')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14,15,17,22,25,29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
old_data.columns = [c.strip() for c in old_data.columns.values]

In [10]:
old_data.NPI = old_data.NPI.astype(str)
old_data = pd.merge(npi_me, old_data, on='NPI')

In [13]:
gaga = create(old_data)

In [16]:
gaga = gaga.drop_duplicates(['me#','adrs_id'])[cols]

In [18]:
new_data

,entity_id,me#,comm_id,usage,load_type,addr_type,addr_line_1,addr_line_2,addr_line_3,addr_city,addr_state,addr_zip,addr_plus4,addr_country,source,source_dtm
0,NaN,4201040791,NaN,NaN,A,OF,ADMINISTRACION DE SERVICIOS MEDICOS(MANEJO DE,CENTRO MEDICO DE PUERTO RICO BO MONACILLOS,NaN,RIO PIEDRAS,PR,935,NaN,NaN,NAT-DOWN,2021-11-15
1,NaN,49575000010,NaN,NaN,A,OF,951 NW 13TH ST,SUITE 4E,NaN,BOCA RATON,FL,33486,3.34862e+08,NaN,NAT-DOWN,2021-11-15
2,NaN,49575000010,NaN,NaN,A,OF,840 US HWY 1,SUITE 120,NaN,NORTH PALM BEACH,FL,33408,3.34084e+08,NaN,NAT-DOWN,2021-11-15
3,NaN,49575000010,NaN,NaN,A,OF,2330 S CONGRESS AVE,NaN,NaN,PALM SPRINGS,FL,33406,3.34068e+08,NaN,NAT-DOWN,2021-11-15
4,NaN,2106050565,NaN,NaN,A,OF,7777 HENNESSY BLVD,SUITE 4000,NaN,BATON ROUGE,LA,70808,7.0808e+08,NaN,NAT-DOWN,2021-11-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330931,NaN,1001161802,NaN,NaN,A,OF,915 OLENTANGY RIVER RD,FL 5,NaN,COLUMBUS,OH,43212,432123153,NaN,NAT-DOWN,2021-11-15
1330932,NaN,49500170025,NaN,NaN,A,OF,2350 SCHILLINGER S RD,A,NaN,MOBILE,AL,36695,366954177,NaN,NAT-DOWN,2021-11-15
1330933,NaN,49500170025,NaN,NaN,A,OF,7943 MOFFETT RD,NaN,NaN,SEMMES,AL,36575,365755409,NaN,NAT-DOWN,2021-11-15
1330934,NaN,49500170025,NaN,NaN,A,OF,4402 OLD SHELL RD,NaN,NaN,MOBILE,AL,36608,366081912,NaN,NAT-DOWN,2021-11-15
1330935,NaN,3845180392,NaN,NaN,A,OF,7545 BEECHMONT AVE C,NaN,NaN,CINCINNATI,OH,45255,452554238,NaN,NAT-DOWN,2021-11-15

In [ ]:
compare_2 = datacompy.Compare(new_data, old_data, join_columns=['me#', df1_name = 'oneview', df2_name = 'iqvia')

In [20]:
pd.merge(new_data, gaga, on=cols)

ValueError: You are trying to merge on float64 and object columns. If you wish to proceed you should use pd.concat

In [22]:
new_data.dtypes

entity_id       float64
me#               int64
comm_id         float64
usage           float64
load_type        object
addr_type        object
addr_line_1      object
addr_line_2      object
addr_line_3     float64
addr_city        object
addr_state       object
addr_zip          int64
addr_plus4       object
addr_country    float64
source           object
source_dtm       object
dtype: object

In [23]:
gaga.dtypes

entity_id       object
me#             object
comm_id         object
usage           object
load_type       object
addr_type       object
addr_line_1     object
addr_line_2     object
addr_line_3     object
addr_city       object
addr_state      object
addr_zip        object
addr_plus4      object
addr_country    object
source          object
source_dtm      object
dtype: object

In [37]:
old_data['id'] = old_data.NPI+old_data.adrs_id

In [38]:
og['id'] = og.NPI+og.adrs_id

In [40]:
og[~og.id.isin(old_data.id)]

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,...,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id,id
0,1205900388,1557457900,I20071016000148,LLOYD,BETH,A,NaN,F,NaN,OTHER,...,100070,VENICE REGIONAL BAYFRONT HEALTH,100075,ST JOSEPHS HOSPITAL,NaN,NaN,Y,M,FL342923084VE9000XWAYX300,1205900388FL342923084VE9000XWAYX300
1,1215043302,345205878,I20041124000220,SCOTT-TOMLINSON,TASHA,N,NaN,F,MD,UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE,...,50492,CLOVIS COMMUNITY MEDICAL CENTER,NaN,NaN,NaN,NaN,Y,M,CA932304434HA224XXBLVD400,1215043302CA932304434HA224XXBLVD400
7,1215013297,2264448075,I20060306000107,FERGUSON,OTIS,B,III,M,MD,WAYNE STATE UNIVERSITY SCHOOL OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MI482143730DE7633XAVEX408,1215013297MI482143730DE7633XAVEX408
9,1205962032,4486784006,I20100608000864,THACHER,JOHN,HOLLISTER,NaN,M,NaN,UNIVERSITY OF SOUTHERN CALIFORNIA KECK SCHOOL ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,CA930233100OJ115XXRDXX302,1205962032CA930233100OJ115XXRDXX302
10,1215039037,1759457948,I20080912000249,NOVICK,BRIAN,E,NaN,M,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NY113757206FO11821BLVD302,1215039037NY113757206FO11821BLVD302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2352916,1538369830,5395046122,I20200408003958,KAMANU ELIAS,NNEMDI,NaN,NaN,F,NaN,YALE UNIVERSITY SCHOOL OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,VA224074800FR4024XRDXX300,1538369830VA224074800FR4024XRDXX300
2352917,1467683300,6507164506,I20200214001634,THOMPSON,SETH,CLAYTON,NaN,M,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,VA242108093AB301XXNWXX400,1467683300VA242108093AB301XXNWXX400
2352920,1770699613,7911001763,I20070403000607,FAROOQI,SHAZIA,HABIB,NaN,F,MD,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,VA245417352DA1555XDRXX302,1770699613VA245417352DA1555XDRXX302
2352921,1770699613,7911001763,I20070403000607,FAROOQI,SHAZIA,HABIB,NaN,F,MD,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,VA224074800FR4024XRDXX300,1770699613VA224074800FR4024XRDXX300
2352945,1710963681,4587619978,I20081110000780,JOHNSON,STEVEN,P,NaN,M,MD,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,AK995086804AN2751XRDXX303,1710963681AK995086804AN2751XRDXX303

In [41]:
old

'../../Data/DataGov\\DAC_NationalDownloadableFile_21-10-07.csv'

In [ ]:
#mash ME and adrs_id
#1038101