In [1]:
import pandas as pd
import useful_functions as use
import psycopg2
import pyodbc
import datetime
from tqdm.notebook import tqdm
tqdm.pandas()
from fuzzywuzzy import fuzz

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\tqdm\std.py:648: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
conn = psycopg2.connect(
    host='oneview-prd-content-aurora-cluster.cluster-cxgp9osuwqi3.us-east-1.rds.amazonaws.com',
    database='oneview_content',
    user='oneviewadmin',
    password='VFauC8cRXqKapC8A')

In [3]:
username = 'vigrose'
password_edw = 'Hufflepuff~10946'
w = "DSN=PRDDW; UID={}; PWD={}".format(username, password_edw)
AMAEDW = pyodbc.connect(w)
password_aims = 'DQA8K@T7pXEqEt'
s = "DSN=aims_prod; UID={}; PWD={}".format(username, password_aims)
informix = pyodbc.connect(s)

In [4]:
ov_me_sql = '''
    SELECT medical_education_number,type FROM ONEVIEW.physician
    '''
ov_me = pd.read_sql_query(ov_me_sql, conn)

In [5]:
ME_QUERY = \
    """
    SELECT
    P.PARTY_ID,
    P.KEY_VAL AS ME
    FROM
    AMAEDW.PARTY_KEY P
    WHERE
    P.KEY_TYPE_ID = 18
    AND
    P.ACTIVE_IND = 'Y'
    """
party_ids = pd.read_sql(con=AMAEDW, sql=ME_QUERY)

ME_QUERY = \
    """
    SELECT
    P.PARTY_ID,
    P.KEY_VAL AS ENTITY_ID
    FROM
    AMAEDW.PARTY_KEY P
    WHERE
    P.KEY_TYPE_ID = 9
    """
entity_ids = pd.read_sql(con=AMAEDW, sql=ME_QUERY)

In [6]:
DEATH_QUERY = \
    """
    SELECT
    MORTALITY_STS_CD, DEATH_DT, MED_EDU_NBR, PARTY_ID, INSERT_TMSTP, UPDATE_TMSTP, DEATH_CONF_DT
    FROM
    AMAEDW.PERSON
    WHERE
    ACTIVE_IND = 'Y'
    AND
    MORTALITY_STS_CD is not null
    """
DEATH_EDW = pd.read_sql(con=AMAEDW, sql=DEATH_QUERY)

In [7]:
DEATH_QUERY = \
    """
    SELECT
    ENTITY_ID, MORTALITY_STS, DEATH_DT, UPDATE_DTM, CONF_DT
    FROM
    informix.MORTALITY_INFO_GT
    WHERE
    MORTALITY_STS is not null
    """
DEATH_AIMS = pd.read_sql(con=informix, sql=DEATH_QUERY)

In [17]:
DEATH_AIMS['ENTITY_ID'] = [str(x) for x in DEATH_AIMS.entity_id]

In [18]:
# IDS = pd.merge(entity_ids, party_ids, on='PARTY_ID')
# test = pd.merge(IDS, ov_me, left_on='ME', right_on='medical_education_number')
# test_cont = pd.merge(test, DEATH_EDW, on='PARTY_ID').drop_duplicates()
all_death = pd.merge(test_cont, DEATH_AIMS, on='ENTITY_ID', how='left').drop_duplicates()

In [21]:
hmm = all_death[~all_death.DEATH_DT.isna()]

In [25]:
hmm.dtypes

PARTY_ID                             int64
ENTITY_ID                           object
ME                                  object
medical_education_number            object
type                                object
MORTALITY_STS_CD                    object
DEATH_DT                            object
MED_EDU_NBR                         object
INSERT_TMSTP                datetime64[ns]
UPDATE_TMSTP                datetime64[ns]
DEATH_CONF_DT                       object
entity_id                            int64
mortality_sts                       object
death_dt                            object
update_dtm                  datetime64[ns]
conf_dt                             object
dtype: object

In [29]:
mismatch_list = []
for row in hmm.itertuples():
    mismatch_list.append(row.UPDATE_TMSTP.date() != row.update_dtm.date())

In [30]:
hmm[mismatch_list]

,PARTY_ID,ENTITY_ID,ME,medical_education_number,type,MORTALITY_STS_CD,DEATH_DT,MED_EDU_NBR,INSERT_TMSTP,UPDATE_TMSTP,DEATH_CONF_DT,entity_id,mortality_sts,death_dt,update_dtm,conf_dt
912,1943352,3319858,01611391320,01611391320,Physician,P,2002-01-01,01611391320,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-06-02,3319858,P,2002-01-01,2014-09-04 17:21:49.966,None
1128,1978763,4853533,02307390127,02307390127,Physician,P,2014-07-22,02307390127,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-11-05,4853533,P,2014-07-22,2014-11-05 10:51:35.167,None
1604,2048008,4412261,02012940893,02012940893,Physician,C,2022-02-15,02012940893,2005-12-16 18:28:15,2022-05-16 20:39:35,2022-05-16,4412261,P,None,2022-02-23 14:37:17.432,None
1612,2048403,4171982,01902470324,01902470324,Physician,P,1989-04-19,01902470324,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-10-26,4171982,P,1989-04-19,2011-10-31 01:24:21.208,None
1771,2067465,5527193,02501852301,02501852301,Physician,P,2011-04-01,02501852301,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-10-27,5527193,P,2011-04-01,2012-04-10 10:18:41.611,None
2077,2114349,4442148,02101380761,02101380761,Physician,P,1996-09-17,02101380761,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-10-26,4442148,P,1996-09-17,2011-10-31 01:24:21.208,None
2169,2129730,4857459,02307430498,02307430498,Physician,P,1996-01-01,02307430498,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-11-16,4857459,P,1996-01-01,2011-11-16 13:46:45.387,None
2537,2177607,6537826,03005780887,03005780887,Physician,C,2022-04-10,03005780887,2005-12-16 18:28:15,2022-05-12 20:39:25,2022-05-12,6537826,P,None,2022-04-12 12:20:45.917,None
2583,2184750,6896236,03501541060,03501541060,Physician,P,2012-12-12,03501541060,2005-12-16 18:28:15,2015-08-14 12:27:27,2013-08-05,6896236,P,2012-12-12,2013-08-05 12:16:27.387,None
2707,2198776,7200592,03508571274,03508571274,Physician,P,2012-03-24,03508571274,2005-12-16 18:28:15,2015-08-14 12:27:27,2012-06-28,7200592,P,2012-03-24,2012-06-28 14:54:29.590,None
2726,2201677,7460488,03515440312,03515440312,Physician,C,2022-04-11,03515440312,2005-12-16 18:28:15,2022-05-16 20:39:35,2022-05-16,7460488,P,None,2020-01-11 06:16:29.531,None
3446,2307424,8887043,04002540491,04002540491,Physician,P,2013-01-21,04002540491,2005-12-16 18:28:15,2015-08-14 12:27:27,2013-06-14,8887043,P,2013-01-21,2013-06-14 10:15:29.777,None
3623,2333605,7082487,03506570246,03506570246,Physician,C,2022-03-17,03506570246,2005-12-16 18:28:15,2022-05-04 20:38:55,2022-05-04,7082487,P,None,2022-03-22 15:41:33.163,None
3756,2350847,7349520,03509570981,03509570981,Physician,P,1900-01-01,03509570981,2005-12-16 18:28:15,2015-08-14 12:27:27,2013-02-21,7349520,C,2009-10-01,2010-07-12 11:43:50.133,None
3757,2350847,7349520,03509570981,03509570981,Physician,P,1900-01-01,03509570981,2005-12-16 18:28:15,2015-08-14 12:27:27,2013-02-21,7349520,R,None,2013-02-21 10:24:14.726,None
3758,2350847,7349520,03509570981,03509570981,Physician,P,1900-01-01,03509570981,2005-12-16 18:28:15,2015-08-14 12:27:27,2013-02-21,7349520,P,1900-01-01,2013-02-21 10:24:14.764,None
4147,2408883,9391300,04109761490,04109761490,Physician,P,2006-09-27,04109761490,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-05-25,9391300,P,2006-09-27,2011-05-25 11:37:32.264,None
4709,2497025,9855881,04201850946,04201850946,Physician,P,2009-04-09,04201850946,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-10-27,9855881,P,2009-04-09,2011-10-27 15:24:08.388,None
4799,2514981,11129309,05104380524,05104380524,Physician,P,1986-04-22,05104380524,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-10-26,11129309,P,1986-04-22,2011-10-31 01:24:21.208,None
5260,2582835,10986348,05002640271,05002640271,Physician,P,1980-07-25,05002640271,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-03-18,10986348,P,1980-07-25,2014-03-18 15:01:50.028,None
5283,2585989,10400685,04802540855,04802540855,Physician,C,2022-04-04,04802540855,2005-12-16 18:28:15,2022-05-12 20:39:25,2022-05-12,10400685,P,None,2022-04-13 10:55:26.039,None
5600,2630352,12313960,30803814674,30803814674,Physician,P,2008-01-01,30803814674,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-10-25,12313960,P,2008-01-01,2011-10-25 16:05:58.863,None
5609,2630540,12192787,27501431767,27501431767,Physician,P,1994-03-05,27501431767,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-03-07,12192787,P,1994-03-05,2014-03-07 10:10:10.253,None
5802,2644999,12795337,49521730730,49521730730,Physician,P,2008-12-30,49521730730,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-10-13,12795337,P,2008-12-30,2011-10-13 10:02:04.737,None
5824,2647202,12623386,46201630053,46201630053,Physician,P,2009-12-01,46201630053,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-08-02,12623386,P,2009-12-01,2011-08-02 10:42:53.260,None
5944,2663546,13262713,56101710934,56101710934,Physician,C,2022-03-31,56101710934,2005-12-16 18:28:15,2022-05-06 20:39:29,2022-05-06,13262713,P,None,2014-12-10 17:07:18.205,None
6364,2710049,12206450,27501500394,27501500394,Physician,P,2011-06-15,27501500394,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-06-30,12206450,P,2011-06-15,2011-06-30 13:40:41.356,None
6733,2751787,14343338,86907630015,86907630015,Physician,P,2012-04-03,86907630015,2005-12-16 18:28:15,2015-08-14 12:27:27,2012-04-09,14343338,P,2012-04-03,2012-04-09 12:51:29.897,None
6849,2767436,13916015,74801681852,74801681852,Physician,P,1996-06-04,74801681852,2005-12-16 18:28:15,2015-08-14 12:27:27,2011-06-09,13916015,P,1996-06-04,2011-06-20 14:53:06.123,None
7110,2796127,12607071,44001520072,44001520072,Physician,P,2012-12-19,44001520072,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-11-06,12607071,P,2012-12-19,2014-11-06 17:21:12.155,None
7198,2803307,13578249,64914795174,64914795174,Physician,P,2013-06-26,64914795174,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-07-09,13578249,P,2013-06-26,2014-07-09 16:12:52.488,None
7211,2805740,12383016,35203520032,35203520032,Physician,P,2012-03-23,35203520032,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-02-24,12383016,P,2012-03-23,2014-02-24 16:15:07.763,None
7357,2819562,13602507,64914844892,64914844892,Physician,P,2006-12-13,64914844892,2005-12-16 18:28:15,2015-08-14 12:27:27,2012-04-09,13602507,P,2006-12-13,2012-04-09 14:32:15.238,None
7424,2828480,13929873,74801730268,74801730268,Physician,P,2014-03-17,74801730268,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-05-14,13929873,P,2014-03-17,2014-05-14 10:21:13.536,None
7500,2838071,14256693,84704690079,84704690079,Physician,P,2013-11-17,84704690079,2005-12-16 18:28:15,2015-08-14 12:27:27,2014-10-20,14256693,P,2013-11-17,2014-10-20 13:55:39.974,None
7501,2838108,14261022,84704830164,84704830164,Physician,P,2010-05-01,84704830164,2005-12-16 18:28:15,2015-08-14 12:27:27,2012-03-30,14261022,P,2010-05-01,2012-03-30 09:24:54.341,None