In [1]:
import pandas as pd
import useful_functions as use
import psycopg2
import pyodbc
import datetime

In [2]:
conn = psycopg2.connect(
    host='oneview-prd-content-aurora-cluster.cluster-cxgp9osuwqi3.us-east-1.rds.amazonaws.com',
    database='oneview_content',
    user='oneviewadmin',
    password='VFauC8cRXqKapC8A')

In [3]:
username = 'vigrose'
password_edw = 'Slytherin~10946'
w = "DSN=PRDDW; UID={}; PWD={}".format(username, password_edw)
AMAEDW = pyodbc.connect(w)

In [4]:
ov_me_sql = '''
    SELECT medical_education_number,type, medical_school, medical_school_state FROM ONEVIEW.physician
    '''
ov_me = pd.read_sql_query(ov_me_sql, conn)

In [5]:
ME_QUERY = \
    """
    SELECT
    P.PARTY_ID,
    P.KEY_VAL AS ME
    FROM
    AMAEDW.PARTY_KEY P
    WHERE
    P.KEY_TYPE_ID = 18
    AND
    P.ACTIVE_IND = 'Y'
    """
party_ids = pd.read_sql(con=AMAEDW, sql=ME_QUERY)

In [6]:
MORE_SCHOOL_QUERY = \
    """
    SELECT
    PARTY_ID AS PARTY_ID_SCHOOL,
    KEY_VAL AS SCHOOL_ID
    FROM
    AMAEDW.PARTY_KEY
    WHERE
    KEY_TYPE_ID = 23
    """
more_school_ids = pd.read_sql(con=AMAEDW, sql=MORE_SCHOOL_QUERY)

In [7]:
SCHOOL_QUERY = \
    """
    SELECT
    P.PARTY_ID AS PARTY_ID_SCHOOL,
    P.KEY_VAL AS SCHOOL_ID,
    C.STATE_ID,
    C.COUNTRY_ID
    FROM
    AMAEDW.PARTY_KEY P, AMAEDW.POST_CD C, AMAEDW.PARTY_ADDR A
    WHERE
    P.KEY_TYPE_ID = 23
    AND
    P.PARTY_ID = A.PARTY_ID
    AND 
    A.POST_CD_ID = C.POST_CD_ID
    """
school_ids = pd.read_sql(con=AMAEDW, sql=SCHOOL_QUERY)

In [8]:
MED_SCHOOL_QUERY = \
    """
    SELECT
    SCH_PARTY_ID,
    STU_PARTY_ID AS PARTY_ID,
    GRAD_DT,
    STS_TYPE_ID,
    DEGREE_CD,
    GRAD_CONF_IND
    FROM
    AMAEDW.SCHOOL_ATT
    WHERE
    THRU_DT is null
    """
med_school = pd.read_sql(con=AMAEDW, sql=MED_SCHOOL_QUERY)

In [9]:
GME_QUERY = \
    """
    SELECT
    G.PARTY_HOSPITAL_ID,
    G.PERSON_PARTY_ID AS PARTY_ID,
    G.BEGIN_DT,
    G.END_DT,
    G.PRIM_SPEC_ID,
    G.SEC_SPEC_ID,
    G.TRAIN_TYPE,
    G.CONF_STS_ID,
    G.GME_STS_TYPE_CD,
    C.STATE_ID,
    C.COUNTRY_ID
    FROM
    AMAEDW.EDW_GME G, AMAEDW.POST_CD C, AMAEDW.PARTY_ADDR A
    WHERE
    G.THRU_DT is null
    AND
    G.PARTY_HOSPITAL_ID = A.PARTY_ID
    AND 
    A.POST_CD_ID = C.POST_CD_ID
    """
gme = pd.read_sql(con=AMAEDW, sql=GME_QUERY)

In [10]:
YEAR_QUERY = \
    """
    SELECT
    PARTY_ID, 
    PROG_YEAR,
    PROG_GRAD_YR
    FROM
    AMAEDW.MED_PROF
    WHERE
    THRU_DT is null
    """
gme_year = pd.read_sql(con=AMAEDW, sql=YEAR_QUERY)

In [11]:
ORG_QUERY = \
    """
    SELECT
    PARTY_ID AS PARTY_HOSPITAL_ID,
    ORG_NM, 
    THRU_DT
    FROM
    AMAEDW.ORG_NM
    """
org_names = pd.read_sql(con=AMAEDW, sql=ORG_QUERY)

In [12]:
org_names.THRU_DT = pd.to_datetime(org_names.THRU_DT)

In [13]:
org_names = org_names.sort_values('THRU_DT').drop_duplicates('PARTY_HOSPITAL_ID', keep='last')

In [14]:
school_ids = school_ids.drop_duplicates()

In [15]:
gme_singular = gme.drop_duplicates('PARTY_ID')

In [16]:
extra = more_school_ids[~more_school_ids.SCHOOL_ID.isin(school_ids.SCHOOL_ID)]
school_ids = pd.concat([school_ids, extra])

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [17]:
test = pd.merge(party_ids, ov_me[['medical_education_number', 'type']], left_on='ME', right_on='medical_education_number')
school_info = pd.merge(school_ids, org_names, left_on='PARTY_ID_SCHOOL', right_on='PARTY_HOSPITAL_ID', how='left').drop_duplicates()
med_with_info = pd.merge(med_school, school_info, left_on='SCH_PARTY_ID', right_on='PARTY_ID_SCHOOL', how='left').drop_duplicates()
gme_with_info = pd.merge(gme_singular, org_names, on='PARTY_HOSPITAL_ID', how='left').drop_duplicates()

In [18]:
date_list = []
for row in med_with_info.itertuples():
    try:
        new_date = datetime.datetime.strptime(str(row.GRAD_DT), '%Y-%m-%d')
    except:
        new_date = None
    date_list.append(new_date)
med_with_info['GRAD_DATE'] = date_list
med_with_info = med_with_info.sort_values('GRAD_DATE')

In [19]:
countries = []
statuses = []
for row in med_with_info.itertuples():
    country = 0
    status = 0
    if row.COUNTRY_ID == 6705:
        country = 1
    if row.STS_TYPE_ID == 9:
        status = 2
    if row.STS_TYPE_ID == 54:
        status = 1
    countries.append(country)
    statuses.append(status)
med_with_info['COUNTRY'] = countries
med_with_info['STATUS'] = statuses
med_with_info = med_with_info.sort_values(['STATUS','COUNTRY','GRAD_DATE'])

In [20]:
cc = med_with_info.drop_duplicates('PARTY_ID', keep=False)
DUPES = med_with_info[med_with_info.duplicated('PARTY_ID', keep=False)]
plz = DUPES.drop_duplicates('PARTY_ID', keep='last')
med_with_info_2 = pd.concat([plz, cc])

In [21]:
ALL = pd.merge(test, gme_year, on='PARTY_ID', how='left')
ALL = pd.merge(ALL, med_with_info_2, on='PARTY_ID',how='left')
ALL = pd.merge(ALL, gme_with_info, on='PARTY_ID', how='left', suffixes = ['_SCH', '_GME'])

In [28]:
ALL.columns

Index(['PARTY_ID', 'ME', 'medical_education_number', 'type', 'PROG_YEAR',
       'PROG_GRAD_YR', 'SCH_PARTY_ID', 'GRAD_DT', 'STS_TYPE_ID', 'DEGREE_CD',
       'GRAD_CONF_IND', 'COUNTRY_ID_SCH', 'PARTY_ID_SCHOOL', 'SCHOOL_ID',
       'STATE_ID_SCH', 'PARTY_HOSPITAL_ID_SCH', 'ORG_NM_SCH', 'THRU_DT_SCH',
       'GRAD_DATE', 'COUNTRY', 'STATUS', 'PARTY_HOSPITAL_ID_GME', 'BEGIN_DT',
       'END_DT', 'PRIM_SPEC_ID', 'SEC_SPEC_ID', 'TRAIN_TYPE', 'CONF_STS_ID',
       'GME_STS_TYPE_CD', 'STATE_ID_GME', 'COUNTRY_ID_GME', 'ORG_NM_GME',
       'THRU_DT_GME'],
      dtype='object')

In [31]:
ALL.groupby(['type','PROG_GRAD_YR']).count()

                        PARTY_ID       ME  medical_education_number  \
type      PROG_GRAD_YR
Physician 0.0            1126963  1126963                   1126963
          1.0               6926     6926                      6926
          2.0              14556    14556                     14556
          3.0              20466    20466                     20466
          4.0              15773    15773                     15773
          5.0              11394    11394                     11394
          6.0               6766     6766                      6766
          7.0               2312     2312                      2312
          8.0                746      746                       746
          9.0                296      296                       296
          10.0                81       81                        81
          11.0                33       33                        33
          12.0                14       14                        14
          13.0                 5        5                         5
          14.0                 2        2                         2
          19.0                 1        1                         1
          21.0                 1        1                         1
          99.0                 1        1                         1
Resident  0.0             103245   103245                    103245
          1.0              10200    10200                     10200
          2.0               9228     9228                      9228
          3.0               5618     5618                      5618
          4.0               1793     1793                      1793
          5.0                572      572                       572
          6.0                191      191                       191
          7.0                 65       65                        65
          8.0                 21       21                        21
          9.0                  6        6                         6
          11.0                 4        4                         4
          13.0                 1        1                         1
          15.0                 1        1                         1
          28.0                 1        1                         1

                        PROG_YEAR  SCH_PARTY_ID  GRAD_DT  STS_TYPE_ID  \
type      PROG_GRAD_YR
Physician 0.0             1126963       1126963  1126963      1126963
          1.0                6926          6926     6926         6926
          2.0               14556         14556    14556        14556
          3.0               20466         20466    20466        20466
          4.0               15773         15773    15773        15773
          5.0               11394         11394    11394        11394
          6.0                6766          6766     6766         6766
          7.0                2312          2312     2312         2312
          8.0                 746           746      746          746
          9.0                 296           296      296          296
          10.0                 81            81       81           81
          11.0                 33            33       33           33
          12.0                 14            14       14           14
          13.0                  5             5        5            5
          14.0                  2             2        2            2
          19.0                  1             1        1            1
          21.0                  1             1        1            1
          99.0                  1             1        1            1
Resident  0.0              103245        103245   103245       103245
          1.0               10200         10200    10200        10200
          2.0                9228          9228     9228         9228
          3.0                5618          5618     5618         5618
          4.0                1793          1793     1793         1793
          5.0                 572           572      572          572
          6.0                 191           191      191          191
          7.0                  65            65       65           65
          8.0                  21            21       21           21
          9.0                   6             6        6            6
          11.0                  4             4        4            4
          13.0                  1             1        1            1
          15.0                  1             1        1            1
          28.0                  1             1        1            1

                        DEGREE_CD  GRAD_CONF_IND  COUNTRY_ID_SCH  ...  \
type      PROG_GRAD_YR                                            ...
Physician 0.0             1126963         992031         1099516  ...
          1.0                6926           6863            6926  ...
          2.0               14556          10868           14549  ...
          3.0               20466          15179           20457  ...
          4.0               15773          12201           15762  ...
          5.0               11394           8373           11391  ...
          6.0                6766           5035            6757  ...
          7.0                2312           1747            2309  ...
          8.0                 746            588             746  ...
          9.0                 296            248             294  ...
          10.0                 81             70              81  ...
          11.0                 33             28              32  ...
          12.0                 14             14              14  ...
          13.0                  5              3               5  ...
          14.0                  2              1               2  ...
          19.0                  1              1               1  ...
          21.0                  1              1               1  ...
          99.0                  1              1               1  ...
Resident  0.0              103245          90325          103206  ...
          1.0               10200          10177           10200  ...
          2.0                9228           7492            9225  ...
          3.0                5618           4215            5610  ...
          4.0                1793           1447            1793  ...
          5.0                 572            466             572  ...
          6.0                 191            163             191  ...
          7.0                  65             55              65  ...
          8.0                  21             19              21  ...
          9.0                   6              6               6  ...
          11.0                  4              4               4  ...
          13.0                  1              1               1  ...
          15.0                  1              1               1  ...
          28.0                  1              1               1  ...

                         END_DT  PRIM_SPEC_ID  SEC_SPEC_ID  TRAIN_TYPE  \
type      PROG_GRAD_YR
Physician 0.0           1047550       1047550      1047550     1047550
          1.0              6926          6926         6926        6926
          2.0             14556         14556        14556       14556
          3.0             20466         20466        20466       20466
          4.0             15773         15773        15773       15773
          5.0             11394         11394        11394       11394
          6.0              6766          6766         6766        6766
          7.0              2312          2312         2312        2312
          8.0               746           746          746         746
          9.0               296           296          296         296
          10.0               81            81           81          81
          11.0               33            33           33          33
          12.0               14            14           14          14
          13.0                5             5            5           5
          14.0                2             2            2           2
          19.0                1             1            1           1
          21.0                1             1            1           1
          99.0                1             1            1           1
Resident  0.0             78894         78894        78894       78894
          1.0             10200         10200        10200       10200
          2.0              9228          9228         9228        9228
          3.0              5618          5618         5618        5618
          4.0              1793          1793         1793        1793
          5.0               572           572          572         572
          6.0               191           191          191         191
          7.0                65            65           65          65
          8.0                21            21           21          21
          9.0                 6             6            6           6
          11.0                4             4            4           4
          13.0                1             1            1           1
          15.0                1             1            1           1
          28.0                1             1            1           1

                        CONF_STS_ID  GME_STS_TYPE_CD  STATE_ID_GME  \
type      PROG_GRAD_YR
Physician 0.0               1047550          1047550       1044272
          1.0                  6926             6926          6925
          2.0                 14556            14556         14556
          3.0                 20466            20466         20466
          4.0                 15773            15773         15773
          5.0                 11394            11394         11394
          6.0                  6766             6766          6765
          7.0                  2312             2312          2312
          8.0                   746              746           746
          9.0                   296              296           295
          10.0                   81               81            81
          11.0                   33               33            33
          12.0                   14               14            14
          13.0                    5                5             5
          14.0                    2                2             2
          19.0                    1                1             1
          21.0                    1                1             1
          99.0                    1                1             1
Resident  0.0                 78894            78894         78891
          1.0                 10200            10200         10200
          2.0                  9228             9228          9228
          3.0                  5618             5618          5618
          4.0                  1793             1793          1793
          5.0                   572              572           572
          6.0                   191              191           191
          7.0                    65               65            65
          8.0                    21               21            21
          9.0                     6                6             6
          11.0                    4                4             4
          13.0                    1                1             1
          15.0                    1                1             1
          28.0                    1                1             1

                        COUNTRY_ID_GME  ORG_NM_GME  THRU_DT_GME
type      PROG_GRAD_YR
Physician 0.0                  1047550     1047550            0
          1.0                     6926        6926            0
          2.0                    14556       14556            0
          3.0                    20466       20466            0
          4.0                    15773       15773            0
          5.0                    11394       11394            0
          6.0                     6766        6766            0
          7.0                     2312        2312            0
          8.0                      746         746            0
          9.0                      296         296            0
          10.0                      81          81            0
          11.0                      33          33            0
          12.0                      14          14            0
          13.0                       5           5            0
          14.0                       2           2            0
          19.0                       1           1            0
          21.0                       1           1            0
          99.0                       1           1            0
Resident  0.0                    78894       78894            0
          1.0                    10200       10200            0
          2.0                     9228        9228            0
          3.0                     5618        5618            0
          4.0                     1793        1793            0
          5.0                      572         572            0
          6.0                      191         191            0
          7.0                       65          65            0
          8.0                       21          21            0
          9.0                        6           6            0
          11.0                       4           4            0
          13.0                       1           1            0
          15.0                       1           1            0
          28.0                       1           1            0

[32 rows x 31 columns]

In [39]:
today = datetime.date.today()
types = ['Physician','Student','Resident']
all_mes = list(ALL.ME)
us_schools = list(ALL[(ALL.COUNTRY_ID_SCH==6705)].ME)
us_gmes = list(ALL[(ALL.COUNTRY_ID_GME==6705)].ME)
elements = [
    {'data_element': 'Medical School Name',
     'element':'ORG_NM_SCH',
    'null': [''],
    'universe': all_mes},
    {'data_element': 'Medical School State',
     'element':'STATE_ID_SCH',
    'null': ['',-1],
    'universe': us_schools},
    {'data_element': 'Medical School Country',
     'element':'COUNTRY_ID_SCH',
    'null': ['',-1],
    'universe': all_mes},
    {'data_element': 'Medical School Grad Date',
     'element':'GRAD_DT',
    'null': ['',-1, datetime.date(1900, 1, 30)],
    'universe': all_mes},
    {'data_element': 'Education Status',
     'element':'STS_TYPE_ID',
    'null': ['',-1,61,43],
    'universe': all_mes},
    {'data_element': 'Medical Degree',
     'element':'DEGREE_CD',
    'null': [''],
    'universe': all_mes},
    {'data_element': 'GME Institution',
     'element':'ORG_NM_GME',
    'null': [''],
    'universe': all_mes},
    {'data_element': 'GME Institution State',
     'element':'STATE_ID_GME',
    'null': ['',-1],
    'universe': us_gmes},
    {'data_element': 'GME Begin Date',
     'element':'BEGIN_DT',
    'null': ['',-1],
    'universe': all_mes},
    {'data_element': 'GME End Date',
     'element':'END_DT',
    'null': ['',-1],
    'universe': all_mes},
    {'data_element': 'GME Primary Specialty',
     'element':'PRIM_SPEC_ID',
    'null': ['',-1,1883],
    'universe':all_mes},
    {'data_element': 'GME Secondary Specialty',
     'element':'SEC_SPEC_ID',
    'null': ['',-1,1883],
    'universe': all_mes},
    {'data_element': 'GME Training Type',
     'element':'TRAIN_TYPE',
    'null': ['',-1],
    'universe': all_mes},
    {'data_element': 'GME Confirmation Status',
     'element':'CONF_STS_ID',
    'null': ['',-1],
    'universe': all_mes},
    {'data_element': 'GME Status Type',
     'element':'GME_STS_TYPE_CD',
    'null': ['',-1],
    'universe':all_mes},
    {'data_element': 'GME Year in Program',
     'element':'PROG_YEAR',
    'null': ['',-1],
    'universe':all_mes},
    {'data_element': 'GME Post Grad Year',
     'element':'PROG_GRAD_YR',
    'null': ['',-1],
    'universe':all_mes}
]
dict_list = []
for typo in types:
    total = len(ALL[ALL.type==typo])
    for element in elements:
        universe = len(ALL[(ALL.type==typo)&(ALL.ME.isin(element['universe']))])
        complete = len(ALL[(ALL.type==typo)&~(ALL[element['element']].isna())&(ALL.ME.isin(element['universe']))])
        true_complete = len(ALL[(ALL.type==typo)&~(ALL[element['element']].isin(element['null']))&~(ALL[element['element']].isna())&(ALL.ME.isin(element['universe']))])
        new_dict = {
            'Universe': typo,
            'Data Element': element['data_element'],
            'Complete': complete,
            'Complete and Known': true_complete,
            'Universe Total': universe,
            'Date': today,
            'Measure':'Completeness'
        }
        dict_list.append(new_dict)

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [40]:
pd.DataFrame(dict_list).to_csv(f'../../Data/Measurement/Education_Completeness_{str(datetime.date.today())}.csv', index=False)

In [ ]:
datetime.datetime.strptime(today, '%Y-%m-%d')

In [28]:
ALL[(ALL.type=='Student')&(ALL.GRAD_DT<datetime.date(2022,8,16))&~(ALL.GME_STS_TYPE_CD.isna())]

,PARTY_ID,ME,medical_education_number,type,PROG_YEAR,PROG_GRAD_YR,SCH_PARTY_ID,GRAD_DT,STS_TYPE_ID,DEGREE_CD,...,END_DT,PRIM_SPEC_ID,SEC_SPEC_ID,TRAIN_TYPE,CONF_STS_ID,GME_STS_TYPE_CD,STATE_ID_GME,COUNTRY_ID_GME,ORG_NM_GME,THRU_DT_GME
71081,6160542,02405180131,02405180131,Student,NaN,NaN,2696235,2018-05-01,17,MD,...,2020-06-30,1724.0,1883.0,R,52.0,COMPLETED,198.0,6705.0,University of Florida College of Medicine,NaT
71747,6161268,02604190366,02604190366,Student,NaN,NaN,2692975,2020-05-01,13,MD,...,2024-06-30,1793.0,1883.0,R,52.0,CURRENT,249.0,6705.0,University of Minnesota Medical School,NaT
71763,6161285,02604190382,02604190382,Student,NaN,NaN,2692975,2020-05-01,13,MD,...,2021-06-30,1724.0,1883.0,R,52.0,CURRENT,248.0,6705.0,Johns Hopkins University School of Medicine,NaT
71797,6161344,02604190391,02604190391,Student,NaN,NaN,2692975,2020-05-01,13,MD,...,2021-06-30,1800.0,1883.0,R,52.0,COMPLETED,239.0,6705.0,University of Texas Southwestern Medical School,NaT
71919,6161495,02802151040,02802151040,Student,NaN,NaN,2855141,2020-05-15,13,MD,...,2023-06-30,1845.0,1883.0,R,52.0,CURRENT,232.0,6705.0,Stanford Hospital and Clinics,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383528,16129144,04975210303,04975210303,Student,NaN,NaN,11474036,2021-05-15,8,DO,...,2024-06-30,1693.0,1883.0,R,52.0,CURRENT,232.0,6705.0,St Agnes Medical Center (Fresno),NaT
1383556,16132427,05175210441,05175210441,Student,NaN,NaN,3533461,2021-05-08,8,DO,...,2024-06-30,1724.0,1883.0,R,52.0,CURRENT,224.0,6705.0,Prisma Health,NaT
1383690,16151651,04177211201,04177211201,Student,NaN,NaN,2848789,2021-05-24,8,DO,...,2029-06-30,1921.0,1883.0,R,52.0,CURRENT,200.0,6705.0,University of Michigan Hospitals and Health Ce...,NaT
1384107,16210406,04178210535,04178210535,Student,NaN,NaN,2701307,2021-05-30,8,DO,...,2024-06-30,1724.0,1883.0,R,52.0,CURRENT,222.0,6705.0,Albany Medical Center,NaT
1384337,16232603,02576211972,02576211972,Student,NaN,NaN,2855140,2021-05-05,8,DO,...,2024-06-20,1682.0,1883.0,R,52.0,CURRENT,200.0,6705.0,McLaren Health Care Corporation,NaT

In [37]:
ALL[(ALL.type=='Resident')&(ALL.END_DT<datetime.date(2021,8,16))&(ALL.GME_STS_TYPE_CD=='COMPLETED ')]

,PARTY_ID,ME,medical_education_number,type,PROG_YEAR,PROG_GRAD_YR,SCH_PARTY_ID,GRAD_DT,STS_TYPE_ID,DEGREE_CD,...,END_DT,PRIM_SPEC_ID,SEC_SPEC_ID,TRAIN_TYPE,CONF_STS_ID,GME_STS_TYPE_CD,STATE_ID_GME,COUNTRY_ID_GME,ORG_NM_GME,THRU_DT_GME
11166,1897541,00514961581,00514961581,Resident,0.0,0.0,2701282,1996-05-01,9,MD,...,1999-06-30,1693.0,1883.0,R,52.0,COMPLETED,232.0,6705.0,Kaiser Permanente Southern California,NaT
19289,1908288,00702990220,00702990220,Resident,0.0,0.0,2778202,1999-05-01,9,MD,...,2002-06-30,1800.0,1883.0,R,52.0,COMPLETED,232.0,6705.0,Stanford Hospital and Clinics,NaT
32509,6155045,03401150268,03401150268,Resident,2.0,3.0,2701300,2016-05-14,9,MD,...,2021-06-30,1679.0,1883.0,R,52.0,COMPLETED,244.0,6705.0,Duke University Hospital,NaT
32520,6155056,03401150373,03401150373,Resident,3.0,3.0,2701300,2016-05-01,9,MD,...,2020-06-30,1769.0,1883.0,R,52.0,COMPLETED,234.0,6705.0,University of New Mexico School of Medicine,NaT
32570,3687523,26404080031,26404080031,Resident,0.0,0.0,2696290,2008-01-01,9,MD,...,2013-06-30,1724.0,1883.0,R,52.0,COMPLETED,239.0,6705.0,Texas Tech University Health Sciences Center a...,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420832,5805489,91338090159,91338090159,Resident,0.0,0.0,2693403,2009-01-01,9,MD,...,2021-07-31,1724.0,1883.0,R,52.0,COMPLETED,200.0,6705.0,Detroit Medical Center Corporation,NaT
1421121,9388058,49537170211,49537170211,Resident,0.0,0.0,2701380,2017-01-01,9,MD,...,2021-06-30,1800.0,1883.0,R,52.0,COMPLETED,239.0,6705.0,University of Texas Medical Branch Hospitals,NaT
1421124,9113897,49659160128,49659160128,Resident,0.0,0.0,3534695,2016-01-01,9,MD,...,2021-06-30,1800.0,1883.0,R,52.0,COMPLETED,239.0,6705.0,University of Texas Medical Branch Hospitals,NaT
1422219,9053973,42201178341,42201178341,Resident,0.0,0.0,2837054,2017-01-01,9,MD,...,2021-06-30,1639.0,1883.0,R,52.0,COMPLETED,239.0,6705.0,Texas Tech University Health Sciences Center a...,NaT
1422587,10008550,66501190731,66501190731,Resident,0.0,0.0,2837102,2019-01-01,9,MD,...,2020-06-30,1693.0,1883.0,R,52.0,COMPLETED,257.0,6705.0,UPMC Medical Education,NaT

In [45]:
ALL.columns

Index(['PARTY_ID', 'ME', 'medical_education_number', 'type', 'PROG_YEAR',
       'PROG_GRAD_YR', 'SCH_PARTY_ID', 'GRAD_DT', 'STS_TYPE_ID', 'DEGREE_CD',
       'GRAD_CONF_IND', 'COUNTRY_ID_SCH', 'PARTY_ID_SCHOOL', 'SCHOOL_ID',
       'STATE_ID_SCH', 'PARTY_HOSPITAL_ID_SCH', 'ORG_NM_SCH', 'THRU_DT_SCH',
       'GRAD_DATE', 'COUNTRY', 'STATUS', 'PARTY_HOSPITAL_ID_GME', 'BEGIN_DT',
       'END_DT', 'PRIM_SPEC_ID', 'SEC_SPEC_ID', 'TRAIN_TYPE', 'CONF_STS_ID',
       'GME_STS_TYPE_CD', 'STATE_ID_GME', 'COUNTRY_ID_GME', 'ORG_NM_GME',
       'THRU_DT_GME'],
      dtype='object')

In [90]:
ALL.GME_STS_TYPE_CD.unique()

array(['COMPLETED ', 'NO-REPORT ', 'INCOMPLETE', 'CURRENT   ', nan],
      dtype=object)

In [62]:
sts = pd.read_csv('../../Data/Measurement/STATE.csv')
state_ids = list(sts.STATE_ID)

In [96]:
spec = pd.read_csv('../../Data/Measurement/SPECIALTY.csv')

In [100]:
ALL = pd.merge(ALL, spec[['SPEC_CD','SPEC_ID']], left_on='PRIM_SPEC_ID', right_on='SPEC_ID')

In [104]:
with_specs = pd.merge(ALL, ppd[['PRIM_SPEC_CD','ME']], on='ME')

In [107]:
with_specs[(with_specs.PRIM_SPEC_CD!=with_specs.SPEC_CD)&(with_specs.PRIM_SPEC_CD=='US')]

,PARTY_ID,ME,medical_education_number,type,PROG_YEAR,PROG_GRAD_YR,SCH_PARTY_ID,GRAD_DT,STS_TYPE_ID,DEGREE_CD,...,TRAIN_TYPE,CONF_STS_ID,GME_STS_TYPE_CD,STATE_ID_GME,COUNTRY_ID_GME,ORG_NM_GME,THRU_DT_GME,SPEC_CD,SPEC_ID,PRIM_SPEC_CD
3037,6156511,00518150413,00518150413,Physician,0.0,0.0,2762583,2016-06-05,9,MD,...,R,52.0,INCOMPLETE,256.0,6705.0,Rutgers New Jersey Medical School,NaT,GS,1703,US
4719,1798827,00102760786,00102760786,Physician,0.0,0.0,2701280,1976-01-01,9,MD,...,R,52.0,NO-REPORT,196.0,6705.0,Baptist Health System Inc,NaT,GS,1703,US
4934,1833432,01102811948,01102811948,Physician,0.0,0.0,2778203,1981-05-01,9,MD,...,I,52.0,NO-REPORT,232.0,6705.0,Los Angeles County-Harbor-UCLA Medical Center,NaT,GS,1703,US
8489,1844042,00106830525,00106830525,Physician,0.0,0.0,2855125,1983-06-01,9,MD,...,R,52.0,NO-REPORT,196.0,6705.0,Baptist Health System Inc,NaT,GS,1703,US
12027,2128515,02301900832,02301900832,Physician,0.0,0.0,2762593,1990-05-01,9,MD,...,I,52.0,NO-REPORT,252.0,6705.0,Case Western Reserve University/University Hos...,NaT,GS,1703,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227907,10833405,57503150095,57503150095,Physician,0.0,0.0,5824088,2015-01-01,9,MD,...,R,52.0,COMPLETED,257.0,6705.0,Lehigh Valley Health Network,NaT,TRN,1873,US
1227908,6638187,30813180126,30813180126,Physician,0.0,0.0,2848837,2018-01-01,9,MD,...,R,52.0,COMPLETED,258.0,6705.0,Damas Hospital,NaT,TRN,1873,US
1228351,9252935,49641150061,49641150061,Physician,0.0,0.0,2770568,2015-01-01,9,MD,...,F,52.0,COMPLETED,248.0,6705.0,St Agnes HealthCare,NaT,IAN,1946,US
1228632,8572013,05176180040,05176180040,Physician,0.0,0.0,6654093,2018-05-19,9,DO,...,R,52.0,CURRENT,226.0,6705.0,Mountain State Osteopathic Postdoctoral Traini...,NaT,ONM,1952,US
1228645,12839711,02576192064,02576192064,Resident,0.0,0.0,2855140,2016-08-01,9,DO,...,R,49.0,CURRENT,200.0,6705.0,MSUCOM Statewide Campus System,NaT,ONM,1952,US

In [102]:
ppd.columns

Index(['ME', 'RECORD_ID', 'UPDATE_TYPE', 'ADDRESS_TYPE', 'MAILING_NAME',
       'LAST_NAME', 'FIRST_NAME', 'MIDDLE_NAME', 'SUFFIX', 'MAILING_LINE_1',
       'MAILING_LINE_2', 'CITY', 'STATE', 'ZIP', 'SECTOR', 'CARRIER_ROUTE',
       'ADDRESS_UNDELIVERABLE_FLAG', 'FIPS_COUNTY', 'FIPS_STATE',
       'PRINTER_CONTROL_CODE', 'PC_ZIP', 'PC_SECTOR', 'DELIVERY_POINT_CODE',
       'CHECK_DIGIT', 'PRINTER_CONTROL_CODE_2', 'REGION', 'DIVISION', 'GROUP',
       'TRACT', 'SUFFIX_CENSUS', 'BLOCK_GROUP', 'MSA_POPULATION_SIZE',
       'MICRO_METRO_IND', 'CBSA', 'CBSA_DIV_IND', 'MD_DO_CODE', 'BIRTH_YEAR',
       'BIRTH_CITY', 'BIRTH_STATE', 'BIRTH_COUNTRY', 'GENDER',
       'TELEPHONE_NUMBER', 'PRESUMED_DEAD_FLAG', 'FAX_NUMBER', 'TOP_CD',
       'PE_CD', 'PRIM_SPEC_CD', 'SEC_SPEC_CD', 'MPA_CD', 'PRA_RECIPIENT',
       'PRA_EXP_DT', 'GME_CONF_FLG', 'FROM_DT', 'TO_DT', 'YEAR_IN_PROGRAM',
       'POST_GRADUATE_YEAR', 'GME_SPEC_1', 'GME_SPEC_2', 'TRAINING_TYPE',
       'GME_INST_STATE', 'GME_INST_ID', 'MEDSCHOOL_STATE', 'MEDSCHOOL_ID',
       'MEDSCHOOL_GRAD_YEAR', 'NO_CONTACT_IND', 'NO_WEB_FLAG', 'PDRP_FLAG',
       'PDRP_START_DT', 'POLO_MAILING_LINE_1', 'POLO_MAILING_LINE_2',
       'POLO_CITY', 'POLO_STATE', 'POLO_ZIP', 'POLO_SECTOR',
       'POLO_CARRIER_ROUTE', 'MOST_RECENT_FORMER_LAST_NAME',
       'MOST_RECENT_FORMER_MIDDLE_NAME', 'MOST_RECENT_FORMER_FIRST_NAME',
       'NEXT_MOST_RECENT_FORMER_LAST', 'NEXT_MOST_RECENT_FORMER_MIDDLE',
       'NEXT_MOST_RECENT_FORMER_FIRST'],
      dtype='object')

In [76]:
ppd = use.get_newest_ppd()

INFO:useful_functions:PPD file has not been updated since Aug 13 2022
INFO:useful_functions:Reading local ppd from Aug 13 2022
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (13,14,20,21,42,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [95]:
ppd[ppd.FIRST_NAME=="DE'ANDRE"].PRIM_SPEC_CD

237316    OTO
Name: PRIM_SPEC_CD, dtype: object

In [58]:
school_list = ['University','School','Institute','College','Univ']
for thing in ALL.ORG_NM_SCH.unique():
    for word in school_list:
        school_word = False
        if word in thing:
            school_word = True
            break
    if school_word == False:
        print(thing)

Coll Osteo Phys & Surgs Of Los Angeles, Los Angeles (Now Allopathic)
Faculdade de Ciencias Medicas de Santos (UNILUS)
Inst Superior de Ciencias Med Villa Clara 'Dr Serafin Ruiz de Zarate'
Omsk State Medical Academy
Escuela Autonoma de Ciencias Medicas de Centro America
Ruth and Bruce Rappaport Fac of Med, Technion Israel Inst of Technology
Ma Coll Of Osteo,Boston
Tashkent Medical Academy
Mid West Med Coll, Kansas City (See 028-43)
Toronto Sch Of Med, Toronto, Ont, Canada (Inactive)
Jawaharlal Inst of Post-Graduate Medical Education and Research (JIPMER)
Escola Superior de Cien da Santa Casa de Misericordia de Vitoria Fac de Med
Faculdade de Medicina de Jundiai (FMJ)
UNIVAS Faculdade de Ciencias da Saude Dr Joao Antonio Garcia Coutinho
Faculdade de Medicina de Sao Jose do Rio Preto (FAMERP)
Faculdade de Medicina de Valenca (FMV)
Faculdade Evangelica do Parana (FEPAR) Faculdade de Medicina
Escola de Med Souza Marques (EMSM), Fundacao Tecnico Educacao Souza Marques
Fac de Med de Catanduva, Faculdades Integradas Padre Albino (FIPA)
Faculdade Estadual de Medicina do Para
Hsiangya Med Coll, Changsha, Hunan, China (Extinct)(243-76 In 1953)
Womens Christian Med Coll, Shanghai, Kiangsu, China (Extinct)
Natl Shanghai Med Coll, Shanghai, Kiangsu, China
Colegio Mayor de Nuestra Senora del Rosario Facultad de Medicina
Faculdade de Medicina de Ribeirao Preto (FMRP-USP)
Faculdade de Ciencias Medicas da Santa Casa de Sao Paulo (FCMSCSP)
Faculdade de Medicina de Petropolis (FMP)
Escola Bahiana de Medicina e Saude Publica (EBMSP)
National Defense Medical Center
Instituto Tecnologico de Santo Domingo (INTEC) Fac de Ciencias de la Salud
Reg Qualification Granted By English Conjoint Board (917-11 Eff 1/1971)
Kaohsiung (Takau) Med Coll, Kaohsiung, Taiwan (244-01 Eff 1/1971)
Natl Defense Med Ctr, Taipei, Taiwan (244-03 Eff 1/1971)
Faculte de Medecine Grange Blanche
Faculte de Medecine Montpellier-Nimes
Faculte de Medecine Necker-Enfants Malades
UFR de Medecine Saint-Antoine
Faculte de Medecine d'Angers
Med Akad In Dusseldorf, Dusseldorf, Nordrhein Westfalen
Leopold Franzen U Med Fac, Innsbruck, (154-02 Prior 3-13-38 Since 6-45)
Faculte de Medecine de Reims
Faculte de Medecine de Rennes
Faculte de Medecine de Nice
UFR de Medecine Cochin-Port Royal
UFR de Medecine Lariboisiere-Saint-Louis
Faculdade de Ciencias Medicas de Minas Gerais (FCMMG)
Esc Med Cirugica De Goa Med Coll, Goa, India
UFR de Medecine Orsay
Faculdade de Ciencias Medicas de Pernambuco (UPE)
Academy of Military Medical Sciences Faculty of Medicine
Lekarska Fakulta UK v Hradci Kralove
South China Med Coll Canton, China (Extinct)
Tung Teh Med Coll, Shanghai, Kiangsu,China (Extinct)
Tung Nan Med Coll, Shanghai, Kiangsu, China (Extinct)
Natl Kweiyang Med Coll, Kweiyang, Kweichow, China
Fukien Prov Med Coll, Foochow, Fukien, China
Natl Chung Cheng Med Coll, Nanchang, Nanchang, Kiangsi (Extinct)
Kuang Hua Med Sch, Canton, Kwangtung, China
Chekiang Prov Med Coll, Hangchow, Chekiang, China
Second Shanghai Med Coll, Shanghai, Shanghai, China
Shantung Prov Med Coll, Tsinan, Shan Tung, China
Escuela Colombiana de Medicina
Natl Defense Med Ctr Sch Of Med, Shanghai, Kiangsu, China
Wuhan Med Coll, Hankow, Hupeh, China
North Kiangsu Med Coll, Kiangsu, Nantung, China
Dairen Med Coll, Liaotung, Dairen, China
Instituto Superior de Ciencias Medicas de Santiago de Cuba
UPEC Faculte de Medecine
UFR de Sante, Medecine et Biologie Humaine Leonard da Vinci
Faculte de Medecine Paris-Ouest
UFR de Medecine Pitie-Salpetriere
Faculte de Medecine et des Sciences de la Sante (FMSS)
Tokyo Med Coll (Nippon Ikadaigaku) Hongo, Tokyo, Japan (Extinct)
Taipei Med Coll, Taipei, Taiwan (244-04 Eff 1/1971)
China Med Coll, Taichung, Taiwan (244-05 Eff 1/1971)
Medizinische Hochschule Hannover
Rheinisch-Westfaelische Technische Hochschule Aachen Medizinische Fakultaet
Escuela Libre de Homeopatia de Mexico
Esc Libre De Homeopatia Estado De Puebla, Puebla, (Extinct)
Instituto Politecnico Nacional Escuela Superior de Medicina
Rajshahi Med Coll Rajshahi (160-05 After 7/72)
Lytton Med Coll Mymensingh (160-04 After 7/72)
Faculty of Medicine Malang
Reg Qualif Granted By Scottish Conjoint Bd, Scotld (919-09 Eff 1/1971)
Registrable Qualification Granted By Apothecaries Hall Of Dublin
Collegium Medicum im Ludwika Rydygiera, Uniwersytet Mikolaja Kopernika
Ecole de Medecine et de Pharmacie
Manchuria Med Coll, Mukden, Manchuria (Now 243-72)
Mukden Med Coll, Mukden, Manchuria (Extinct)
Siriraj Hospital Faculty of Medicine
Medical Center of Iran
Perm State Medical Academy
Escuela de Medicina Ignacio A Santos
Instituto Politecnico Nacional Escuela Nacional de Medicina y Homeopatia
Ramathibodi Hospital Faculty of Medicine
Faculte de Medecine et de Pharmacie de Tunis
Voronez State Medical Academy Named for N N Burdenko
Dniepropetrovsk Medical Academy of Health Ministry of Ukraine
Military Medical Academy S M Kirov
Ukrainian Medical Stomatological Academy
Pomorski Uniwersytet Medyczny w Szczecinie
Akademia Medyczna, Lodz
Smolensk State Medical Academy
Rijksuniversiteit Groningen Faculteit der Medische Wetenschappen
Medicinski Fakultet, Sveucilista u Zagrebu
Gulhane Askeri Tip Akademisi
Astrakhan State Medical Academy
Chita State Medical Academy
North Ossetian State Medical Academy
Ivanovo State Medical Academy
Izhevsk State Medical Academy
Yaroslavl State Medical Academy
Tver State Medical Academy
Kemerovo State Medical Academy
Euskal Herriko Unibertsitatea Medikuntza eta Odontologia Fakultatea
Naval Academy of Medicine
Orenburg State Medical Academy
Dagestan State Medical Academy
I K Akhunbaev Kyrgyz State Medical Academy Faculty of General Medicine
Nizhni Novgorod State Medical Academy
Tyumen State Medical Academy
Faculdade de Medicina de Barbacena (FAME-FUNJOB)
Tungchi Med Coll Hupeh, Tsungnan, Wuchang, China
Amur State Medical Academy
Army Med Coll, Nanking, Kiangsu, China (Extinct)
Natl Kiangsu Med Coll, Chingkiang, Kiangsu, China
Faculdade de Medicina de Campos (FMC)
Faculte de Medecine Paris-Sud
Hackett Med Coll For Women, Canton, Kwangtung, China (Extinct)
Medizinische Akademie Magdeburg
Medizinische Akademie Erfurt
Tientsin Med Coll, Tientsin, Hopei, China
Faculdade de Medicina de Marilia (FAMEMA)
Polish Sch Of Med, Edinburgh, Scotland (Extinct)
Military Medical Academy
Reg Qualification Granted By Eng Conjoint Board (352-11 Prior 1/71)
Reg Qualification Granted-Soc Apothecaries, London (352-17 Pr 1/71)
Centro Biomedico Cuauhnahuac Escuela de Medicina
Faculte de Medecine 'Ibn El Jazzar' de Sousse
Reg Qualif Granted-Scottish Conjoint Board, Scotland (803-09 Pr 1/71)
Anwhei Med Coll, Anwhei, Hofei, China
UFR des Sciences Medicales de Purpan
Faculdade de Medicina e Cirurgia de Pernambuco
Reg Qualif Granted By Soc Of Apothecaries Of London (917-17 Eff 1/1971)
Third Med Inst, Leningrad (Extinct)
Faculte de Medecine de Limoges
Akad Med, Bytom (Beuthen), Poland
Faculte de Medecine de Sfax
Facultad de Ciencias Medicas de Holguin 'Mariana Grajales'
UFR de Medecine Xavier-Bichat
Inst Politecnico Nacional Centro Interdisciplinario de Ciencias de la Salud
Faculte de Medecine de Monastir
MVP Samaj's Dr Vasantrao Pawar Medical Coll Hosp & Research Centre
Faculty of Medicine and Dentistry in Zabrze
Escuela Medico Naval de la Secretaria de Marina
Faculte de Medecine Laennec
Faculdade de Medicina de Itajuba (FMIt)
Faculte de Medecine Lyon Nord
Escola Superior de Medicina Eduardo Mondlane
Facultad de Ciencias Medicas Matanzas 'Juan Guiteras Gener'
Kirov State Medical Academy
Bukovynian State Med Academy, Chernovtsy, Ukraine
Fac de Ciencias Med Pinar del Rio 'Dr Ernesto Che Guevara de la Serna'
State Classical Academy named for Maimonid Medical Faculty
Facultad De Ciencias Medicas, Pinar Del Rio
Meram Tip Fakultesi
Facultad de Ciencias Medicas de Granma 'Celia Sanchez Manduley'
St Luke Sch of Med
Academy of Medical Sciences Pariyaram
Faculty of Medicine Vajira Hospital
Escuela Latinoamericana de Medicina
K S Hegde Medical Academy
Paracelsus Medizinische Privatuniversitaet
Alluri Sitaram Raju Academy of Medical Sciences
Faculte de Medecine Paris Descartes
Faculte de Medecine Pierre et Marie Curie
Al-Azhar Faculty of Medicine for Men in Asyut
Instituto de Ciencias Biomedicas Abel Salazar
Adesh Inst of Med Sci & Rsrch, Punjab, India
S D M Med Coll, Karnataka, India
Tbilisi Med Inst 'Vita', Tbilisi, Georgia
Natl Med Coll, Birgunj, Birgunj, Parsa, Nepal
Petre Shotadze Tbilisi Medical Academy Faculty of Med, Tbilisi, Georgia
Faculte de Medecine et de Maieutique Lyon Sud Charles Merieux
Gansu Coll Of Trad Chinese Med, Lanzhou City, Gansu, China
UNIMONTES Centro de Ciencias Biologicas e da Saude
Faculdade de Medicina Nova Esperanca (FAMENE)
Escola Superior de Ciencias da Saude (ESCS)
Medicinski Fakultet u Splitu
Faculte de Medecine Paris-Diderot
Faculte de Medecine Paul Broca
Faculdade da Saude e Ecologia Humana (FASEH)
Faculte de Medecine Victor Pachon
Northern Ontario Med Sch, Sudbury & Thunder Bay, Ont, Canada
Sree Uthradom Thirunal Academy of Medical Sciences
Faculdade De Medicina Estacio De Juazeiro Do Norte

In [24]:
bads = pd.read_csv('../../Data/Measurement/bad_countries_new.csv')

In [25]:
bads = bads[bads.DESC!='Unknown']

In [32]:
ALL.columns

Index(['PARTY_ID', 'ME', 'medical_education_number', 'type', 'PROG_YEAR',
       'PROG_GRAD_YR', 'SCH_PARTY_ID', 'GRAD_DT', 'STS_TYPE_ID', 'DEGREE_CD',
       'GRAD_CONF_IND', 'COUNTRY_ID_SCH', 'PARTY_ID_SCHOOL', 'SCHOOL_ID',
       'STATE_ID_SCH', 'PARTY_HOSPITAL_ID_SCH', 'ORG_NM_SCH', 'THRU_DT_SCH',
       'GRAD_DATE', 'COUNTRY', 'STATUS', 'PARTY_HOSPITAL_ID_GME', 'BEGIN_DT',
       'END_DT', 'PRIM_SPEC_ID', 'SEC_SPEC_ID', 'TRAIN_TYPE', 'CONF_STS_ID',
       'GME_STS_TYPE_CD', 'STATE_ID_GME', 'COUNTRY_ID_GME', 'ORG_NM_GME',
       'THRU_DT_GME'],
      dtype='object')

In [48]:
ALL.groupby(['GME_STS_TYPE_CD','type']).count()

                           PARTY_ID      ME  medical_education_number  \
GME_STS_TYPE_CD type
COMPLETED       Physician    631463  631463                    631463
                Resident      21098   21098                     21098
                Student        2144    2144                      2144
CURRENT         Physician     14756   14756                     14756
                Resident      82878   82878                     82878
                Student        3228    3228                      3228
INCOMPLETE      Physician     33127   33127                     33127
                Resident       2157    2157                      2157
                Student         121     121                       121
NO-REPORT       Physician    447608  447608                    447608
                Resident        276     276                       276
                Student           5       5                         5

                           PROG_YEAR  PROG_GRAD_YR  SCH_PARTY_ID  GRAD_DT  \
GME_STS_TYPE_CD type
COMPLETED       Physician     631463        631463        631463   631463
                Resident       21097         21097         21098    21098
                Student            0             0          2144     2144
CURRENT         Physician      14756         14756         14756    14756
                Resident       82878         82878         82878    82878
                Student            0             0          3228     3228
INCOMPLETE      Physician      33127         33127         33127    33127
                Resident        2157          2157          2157     2157
                Student            0             0           121      121
NO-REPORT       Physician     447608        447608        447608   447608
                Resident         276           276           276      276
                Student            0             0             5        5

                           STS_TYPE_ID  DEGREE_CD  GRAD_CONF_IND  ...  \
GME_STS_TYPE_CD type                                              ...
COMPLETED       Physician       631463     631463         512646  ...
                Resident         21098      21098          16672  ...
                Student           2144       2144             11  ...
CURRENT         Physician        14756      14756           9769  ...
                Resident         82878      82878          71794  ...
                Student           3228       3228            189  ...
INCOMPLETE      Physician        33127      33127          25651  ...
                Resident          2157       2157           1777  ...
                Student            121        121              1  ...
NO-REPORT       Physician       447608     447608         445662  ...
                Resident           276        276            114  ...
                Student              5          5              0  ...

                           BEGIN_DT  END_DT  PRIM_SPEC_ID  SEC_SPEC_ID  \
GME_STS_TYPE_CD type
COMPLETED       Physician    631463  631463        631463       631463
                Resident      21098   21098         21098        21098
                Student        2144    2144          2144         2144
CURRENT         Physician     14756   14756         14756        14756
                Resident      82878   82878         82878        82878
                Student        3228    3228          3228         3228
INCOMPLETE      Physician     33127   33127         33127        33127
                Resident       2157    2157          2157         2157
                Student         121     121           121          121
NO-REPORT       Physician    447608  447608        447608       447608
                Resident        276     276           276          276
                Student           5       5             5            5

                           TRAIN_TYPE  CONF_STS_ID  STATE_ID_GME  \
GME_STS_TYPE_CD type
COMPLETED       Physician      631463       631463        631003
                Resident        21098        21098         21096
                Student          2144         2144          2144
CURRENT         Physician       14756        14756         14736
                Resident        82878        82878         82878
                Student          3228         3228          3228
INCOMPLETE      Physician       33127        33127         33124
                Resident         2157         2157          2157
                Student           121          121           121
NO-REPORT       Physician      447608       447608        445126
                Resident          276          276           276
                Student             5            5             5

                           COUNTRY_ID_GME  ORG_NM_GME  THRU_DT_GME
GME_STS_TYPE_CD type
COMPLETED       Physician          631463      631463            0
                Resident            21098       21098            0
                Student              2144        2144            0
CURRENT         Physician           14756       14756            0
                Resident            82878       82878            0
                Student              3228        3228            0
INCOMPLETE      Physician           33127       33127            0
                Resident             2157        2157            0
                Student               121         121            0
NO-REPORT       Physician          447608      447608            0
                Resident              276         276            0
                Student                 5           5            0

[12 rows x 31 columns]

PHYS - 6
RES - 5
33127+14756
2190