In [1]:
import pandas as pd
import pyodbc
import datetime as dt
username = 'vigrose'
password = 'Ravenclaw~10946'

In [2]:
s = "DSN=PRDDM; UID={}; PWD={}".format(username, password)
AMADM = pyodbc.connect(s)

In [6]:
current_date = "2020-12-31"

In [7]:
query= \
    f""" 
    SELECT
    AMADM.DIM_PHYSICIAN.EMAIL_STATUS,
    count(all AMADM.FACT_MBRSHP_HIST.PERSON_ID)
    FROM
    AMADM.DIM_PHYSICIAN,
    AMADM.FACT_MBRSHP_HIST
    WHERE
    AMADM.DIM_PHYSICIAN.PERSON_ID=AMADM.FACT_MBRSHP_HIST.PERSON_ID
    AND
    AMADM.DIM_PHYSICIAN.CURRENT_IND='Y'
    AND
    AMADM.DIM_PHYSICIAN.IS_SEED_ACCOUNT='N'
    AND  
    AMADM.FACT_MBRSHP_HIST.MBRSHP_YR  =  2020
    AND
    AMADM.FACT_MBRSHP_HIST.EFFECTIVE_BEGIN_DT  <=  '2021-08-31'
    AND
    AMADM.FACT_MBRSHP_HIST.EFFECTIVE_END_DT  >=  '2021-08-01'
    AND
    AMADM.DIM_PHYSICIAN.EMAIL_STATUS  Is Not Null  
    GROUP BY
    AMADM.DIM_PHYSICIAN.EMAIL_STATUS
    """

In [8]:
email_report = pd.read_sql(con=AMADM, sql=query)
email_report

  EMAIL_STATUS       2
0         TEST       2
1      invalid  140253
2        valid  759317

In [31]:
email_report.groupby('EMAIL_STATUS').sum()

              STS_ID       3
EMAIL_STATUS
TEST               1       2
invalid           19   91255
valid             19  792483