In [1]:
import pandas as pd
import pyodbc
username = 'vigrose'
password = 'Hufflepuff~10946'
q = "DSN=eprdods; UID={}; PWD={}".format(username, password)
ODS = pyodbc.connect(q)
s = "DSN=PRDDW; UID={}; PWD={}".format(username, password)
AMAEDW = pyodbc.connect(s)

In [ ]:
#symphony
sym_query = \
        """
        SELECT
        d.ADDR_LINE_2_TXT AS MAILING_LINE_1,
        d.ADDR_LINE_1_TXT AS MAILING_LINE_2,
        d.ADDR_CITY_NAM AS CITY,
        d.ADDR_ST_CDE AS STATE,
        d.ADDR_ZIP_CDE AS ZIP,
        l.OTHER_ID AS SYM_ME
        FROM
        ODS.PRACTITIONER_DEMOGRAPHIC_LAYOUT d, ODS.PRACTITIONER_ADDL_IDS_LAYOUT l
        WHERE
        d.DS_PRCTR_ID = l.DS_PRCTR_ID
        and
        l.ID_QLFR_TYP_CDE = 38
        """  
symphony = pd.read_sql(con=ODS, sql=sym_query)
symphony.head()

In [2]:
def get_unique_values(column, table):
    query = \
    f"""
    SELECT DISTINCT {column}
    FROM 
    ODS.{table}
    """
    print(query)
#     values = pd.read_sql(con=ODS, sql=query)
    return values

In [3]:
iqvia_query = \
        """
        SELECT COUNT(IMS_ORG_ID)
        FROM 
        ODS.ODS_IMS_BUSINESS
        WHERE  
        CURRENT_BATCH_FLAG='Y'
        AND
        STATUS_INDICATOR='A'
        """
iqvia = pd.read_sql(con=ODS, sql=iqvia_query)
iqvia

        1
0  739584

In [ ]:
1,073,535
739,584

In [5]:
iqvia_query = \
        """
        SELECT
        ROLE,
        ME
        FROM 
        ODS.ODS_IMS_PROFESSIONAL P
        WHERE  
        P.CURRENT_BATCH_FLAG='Y'
        """
iqvia = pd.read_sql(con=ODS, sql=iqvia_query)
iqvia.head()

  ROLE    ME
0    C  None
1    C  None
2    C  None
3    C  None
4    C  None

In [6]:
iqvia[iqvia.ME!='None'].groupby('ROLE').count()

          ME
ROLE
B      79739
C          0
P     921788

In [ ]:
ODS_IMS_PROFESSIONAL

In [13]:
iqvia_list = [
    {'TABLE':'ODS_IMS_BUSINESS',
    'COLUMN': 'COT_CLASSIFICATION'},
    {'TABLE':'ODS_IMS_BUSINESS',
    'COLUMN': 'COT_FACILITY_TYPE'},
    {'TABLE':'ODS_IMS_BUSINESS',
    'COLUMN': 'COT_SPECIALTY'},
    {'TABLE':'ODS_IMS_BUSINESS',
    'COLUMN': 'RECORD_TYPE'},
    {'TABLE':'ODS_IMS_PROFESSIONAL',
    'COLUMN': 'DESIGNATION'},
    {'TABLE':'ODS_IMS_PROFESSIONAL',
    'COLUMN': 'PRIMARY_SPEC'},
    {'TABLE':'ODS_IMS_PROFESSIONAL',
    'COLUMN': 'SECONDARY_SPEC'},
    {'TABLE':'ODS_IMS_PROFESSIONAL',
    'COLUMN': 'TERTIARY_SPEC'},
    {'TABLE':'ODS_IMS_PROFESSIONAL',
    'COLUMN': 'PRIMARY_PROF_DESC'},
    {'TABLE':'ODS_IMS_AFFILIATION_TYPE',
    'COLUMN': 'AFFIL_TYPE_DESC'},
    {'TABLE':'ODS_IMS_AFFILIATION_TYPE',
    'COLUMN': 'AFFIL_GROUP_DESC'}
]

In [10]:
iqvia_list[9:]

[{'TABLE': 'ODS_IMS_AFFILIATON_TYPE', 'COLUMN': 'ADDIL_TYPE_DESC'},
 {'TABLE': 'ODS_IMS_AFFILIATON_TYPE', 'COLUMN': 'ADDIL_GROUP_DESC'}]

In [46]:
# NEW_LIST = []
for item in iqvia_list[9:]:
    unique_df = get_unique_values(item['COLUMN'], item['TABLE'])
    item['VALUES'] = list(unique_df[item['COLUMN']])
    NEW_LIST.append(item)
    print(item)

    SELECT DISTINCT AFFIL_TYPE_DESC
    FROM
    ODS.ODS_IMS_AFFILIATION_TYPE

NameError: name 'values' is not defined

In [18]:
pd.DataFrame(NEW_LIST).to_excel('../../Data/New_Products/Unique_IQVia_Values.xlsx',index=False)

In [19]:
x = pd.DataFrame(NEW_LIST)

In [26]:
for column in x.columns:
    if x[column].dtype == 'object':
        print('yes')

yes
yes
yes

In [36]:
x['TEST']= '       test '

In [43]:
def remove_whitespaces(dataframe):
    for column in dataframe.columns:
        print(column)
        if dataframe[column].dtype == 'object':
            dataframe[column] = [str(z).strip() for z in dataframe[column]]
    return dataframe

In [41]:
[z.strip() for z in x.TEST]

['test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test']

In [44]:
remove_whitespaces(x)

TABLE
COLUMN
VALUES
TEST

,TABLE,COLUMN,VALUES,TEST
0,ODS_IMS_BUSINESS,COT_CLASSIFICATION,"['Academic', 'Buying Organization', 'Corporate...",test
1,ODS_IMS_BUSINESS,COT_FACILITY_TYPE,"['Accountable Care Organization', 'Acute Care ...",test
2,ODS_IMS_BUSINESS,COT_SPECIALTY,"['Addiction Medicine', 'Administrative Office'...",test
3,ODS_IMS_BUSINESS,RECORD_TYPE,"['01', '02', '03', '04', '05', '06', '07']",test
4,ODS_IMS_PROFESSIONAL,DESIGNATION,[None],test
5,ODS_IMS_PROFESSIONAL,PRIMARY_SPEC,"['ABDOMINAL RADIOLOGY', 'ABDOMINAL SURGERY', '...",test
6,ODS_IMS_PROFESSIONAL,SECONDARY_SPEC,"['ABDOMINAL RADIOLOGY', 'ABDOMINAL SURGERY', '...",test
7,ODS_IMS_PROFESSIONAL,TERTIARY_SPEC,"['ABDOMINAL RADIOLOGY', 'ABDOMINAL SURGERY', '...",test
8,ODS_IMS_PROFESSIONAL,PRIMARY_PROF_DESC,"['Alternative Medicine', 'Audiologist', 'Chiro...",test
9,ODS_IMS_AFFILIATION_TYPE,AFFIL_TYPE_DESC,"['Admitting', 'Admitting (Inferred)', 'Attendi...",test
10,ODS_IMS_AFFILIATION_TYPE,AFFIL_GROUP_DESC,"['Admitting', 'Attending', 'Long Term Care']",test

In [ ]:
unique_df = get_unique_values(item['COLUMN'], item['TABLE'])
item['VALUES'] = list(unique_df[item['COLUMN']])