In [1]:

today.month

8

In [2]:
datetime.now.ToString("MMMM")

NameError: name 'DateTime' is not defined

In [17]:
date.today().strftime("%Y-%m")

'2021-08'

In [5]:
LICENSE_DIR = 'U:/Infoverity/Full Source Files - {this_month}/License/North Carolina'

In [6]:
f'{LICENSE_DIR}'

'U:/Infoverity/Full Source Files - {this_month}/License/North Carolina'

In [10]:
str(datetime.today())

'2021-08-02 09:00:39.894675'

In [12]:
from datetime import date
str(date.today())

'2021-08-02'

In [21]:
import os
z = "../../Data/License/"
for file in os.listdir(z):
    if file.startswith("NC_License_Status"):
        print(f'{z}{file}')

../../Data/License/NC_License_Status_1.csv
../../Data/License/NC_License_Status_2.csv
../../Data/License/NC_License_Status_2020-07-28_165406582558.csv
../../Data/License/NC_License_Status_2020-07-29_084111710764.csv
../../Data/License/NC_License_Status_2020-07-29_112010985463.csv
../../Data/License/NC_License_Status_2020-07-29_125032325190.csv
../../Data/License/NC_License_Status_2020-07-29_164825394880.csv
../../Data/License/NC_License_Status_2020-07-30_090142500240.csv
../../Data/License/NC_License_Status_2020-07-30_103214478550.csv
../../Data/License/NC_License_Status_2020-07-30_113625349752.csv
../../Data/License/NC_License_Status_2020-07-30_151853694804.csv
../../Data/License/NC_License_Status_2020-07-30_152517136907.csv
../../Data/License/NC_License_Status_2020-07-30_161402421081.csv
../../Data/License/NC_License_Status_2020-07-31_110205904430.csv
../../Data/License/NC_License_Status_2020-07-31_113149985198.csv
../../Data/License/NC_License_Status_2020-08-03.csv
../../Data/License/NC_License_Status_2020-09-11.csv
../../Data/License/NC_License_Status_2020-09-12.csv
../../Data/License/NC_License_Status_2020-10-14.csv
../../Data/License/NC_License_Status_2020-10-15_2.csv
../../Data/License/NC_License_Status_2020-10-16.xlsx
../../Data/License/NC_License_Status_2020-11-11_1.csv
../../Data/License/NC_License_Status_2020-11-12_1.csv
../../Data/License/NC_License_Status_2020-11-12_2.csv
../../Data/License/NC_License_Status_2020-11-13.xlsx
../../Data/License/NC_License_Status_2020-11-13_0.csv
../../Data/License/NC_License_Status_2020-11-13_1.csv
../../Data/License/NC_License_Status_2020-11-13_2.csv
../../Data/License/NC_License_Status_2020-11-13_3.csv
../../Data/License/NC_License_Status_2020-11-13_4.csv
../../Data/License/NC_License_Status_2021-01-07_143838597551.csv
../../Data/License/NC_License_Status_2021-01-07_143845678551.csv
../../Data/License/NC_License_Status_2021-01-07_144139951359.csv
../../Data/License/NC_License_Status_2021-01-07_144141712681.csv
../../Data/License/NC_License_Status_2021-01-07_155335134951.csv
../../Data/License/NC_License_Status_2021-01-07_155337177455.csv
../../Data/License/NC_License_Status_2021-01-09.xlsx
../../Data/License/NC_License_Status_2021-01-09_132159658627.csv
../../Data/License/NC_License_Status_2021-02-11.csv
../../Data/License/NC_License_Status_2021-03-09_01.csv
../../Data/License/NC_License_Status_2021-03-09_013211288910.csv
../../Data/License/NC_License_Status_2021-03-09_04.csv
../../Data/License/NC_License_Status_2021-03-09_043218408827.csv
../../Data/License/NC_License_Status_2021-03-10.csv
../../Data/License/NC_License_Status_2021-04-15_0.csv
../../Data/License/NC_License_Status_2021-04-15_084717642946.csv
../../Data/License/NC_License_Status_2021-04-15_2.csv
../../Data/License/NC_License_Status_2021-04-15_225627589087.csv
../../Data/License/NC_License_Status_2021-04-16_0.csv
../../Data/License/NC_License_Status_2021-04-16_043831093261.csv
../../Data/License/NC_License_Status_2021-04-16_1.csv
../../Data/License/NC_License_Status_2021-04-16_103942246958.csv
../../Data/License/NC_License_Status_2021-04-16_185132151204.csv
../../Data/License/NC_License_Status_2021-04-16_2.csv
../../Data/License/NC_License_Status_2021-04-17.csv
../../Data/License/NC_License_Status_2021-04-20.csv
../../Data/License/NC_License_Status_2021-05-11.csv
../../Data/License/NC_License_Status_2021-05-12.csv
../../Data/License/NC_License_Status_2021-06-03_0.csv
../../Data/License/NC_License_Status_2021-06-03_022538380457.csv
../../Data/License/NC_License_Status_2021-06-03_1.csv
../../Data/License/NC_License_Status_2021-06-03_125027630582.csv
../../Data/License/NC_License_Status_2021-06-04.csv
../../Data/License/NC_License_Status_2021-06-04_0.csv
../../Data/License/NC_License_Status_2021-06-04_1.csv
../../Data/License/NC_License_Status_2021-07-12.csv
../../Data/License/NC_License_Status_2021-07-12_150331371864.csv
../../Data/License/NC_License_Status_2021-07-13_085208720297.csv
../../Data/License/NC_License_Status_2021-07-13_085208931752.csv
../../Data/License/NC_License_Status_2021-07-14.csv

In [29]:
# import pandas as pd
Z = pd.read_excel('../../Data/License/MD Active.xlsx')

In [27]:
test = pd.read_csv('../../Data/License/MD Active Type Fixed.txt', sep='\t')

In [28]:
test.to_excel('../../Data/License/wtf.xlsx')

In [30]:
Z.head(10).to_excel('../../Data/MD Active.xlsx', index=False)

In [2]:
import pandas as pd
pd.read_csv('../../Data/License/MD Active Type Fixed.txt', sep='\t')

,Last_Name,First_Name,MiddleName,Suffix,Lisense_Type,License_Number,LicenseIssueDate,LicenseExpDate,Status,AnnualRenewalDate,...,MedSchool,MedSchoolState,Medical_School_Graduation_Year,SuperLastName,SuperFirtName,SuperMilddleName,SuperSuffix,Limitation,Race,Gender
0,Aachen-Winans,James,Meryl,NaN,MD,2007-01286,07/27/2007,NaN,Active,09/01/2021,...,Keck School of Medicine of the University of S...,CA,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aalto,Meaghan,Margaret,NaN,MD,2018-02560,10/03/2018,NaN,Active,02/13/2022,...,Ross University,NaN,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aaron,Ronee,NaN,NaN,DO,2013-02286,11/18/2013,NaN,Active,05/08/2022,...,Nova Southeastern University College of Medicine,FL,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aarons,Alan,Lawrence,NaN,MD,38886,05/22/1993,NaN,Active,12/08/2021,...,Unc Hospitals,NaN,1989.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aarons,Maureen,Leahy,NaN,MD,38647,01/26/1990,NaN,Active,08/23/2021,...,Nc Memorial,NaN,1989.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43812,Zwirn,Ilene,NaN,NaN,MD,2021-00527,02/19/2021,NaN,Active,NaN,...,Hahnemann University School of Medicine,PA,1989.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43813,Zwischenberger,Brittany,Anne,NaN,MD,2015-01831,08/17/2015,NaN,Active,03/04/2022,...,University of Texas Southwestern Medical Cente...,TX,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43814,Zychowski,Diana,Lynn,NaN,MD,2021-01133,04/05/2021,NaN,Active,01/16/2022,...,Virginia Tech Carilion School of Medicine,VA,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43815,Zygowiec,Jonathan,Peter,NaN,DO,2019-01183,05/02/2019,NaN,Active,07/14/2022,...,Midwestern University,AZ,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43816,de Neef,Dawn,Elissa,NaN,MD,200300606,06/19/2003,NaN,Active,02/06/2022,...,Baylor College of Medicine,TX,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
test = pd.read_csv('../../Data/License/MD Active Type Fixed.txt', sep='\t')

In [21]:
test.PublicFlag.count()

2653

In [5]:
len(test)

43817

In [27]:
import numpy as np

In [25]:
def public_flag_update(data):
    types = ['DO Faculty Limited/WFU & Affiliated Institutions',
            'DO Limited Emergency License',
            'DO Retired Limited Volunteer',
            'MD Faculty Limited',
            'MD Faculty Limited/Duke & Affiliated Institutions',
            'MD Faculty Limited/ECU & Affiliated Institutions',
            'MD Faculty Limited/UNC & Affiliated Institutions',
            'MD Faculty Limited/WFU & Affiliated Institutions',
            'MD Limited Emergency License',
            'MD Limited License Volunteer',
            'MD Retired Limited Volunteer',
            'MD Special Permit License',
            'MD Special Volunteer',
            'MD Volunteer Limited']
    data['PublicFlag'] = ['Y' if x in types else np.NaN for x in data.Lisense_Type]
    return data

def license_update(data):
    data['Lisense_Type'] = [x.split(' ')[0] for x in data.License_Type]
    return data

In [28]:
public_field_update(test).PublicFlag.count()

0

In [23]:
test.groupby('Lisense_Type').count()

,Last_Name,First_Name,MiddleName,Suffix,License_Number,LicenseIssueDate,LicenseExpDate,Status,AnnualRenewalDate,PrimaryAreaofPractice,...,MedSchool,MedSchoolState,Medical_School_Graduation_Year,SuperLastName,SuperFirtName,SuperMilddleName,SuperSuffix,Limitation,Race,Gender
Lisense_Type,,,,,,,,,,,,,,,,,,,,,
DO,3387,3387,3116,143,3387,3387,0,3387,3266,3276,...,3382,2982,3346,0,0,0,0,0,0,0
MD,40605,40605,35927,2483,40605,40605,0,40605,38776,38719,...,40503,22095,38980,0,0,0,0,0,0,0

In [24]:
test.groupby('Limitation').count()

Empty DataFrame
Columns: [Last_Name, First_Name, MiddleName, Suffix, Lisense_Type, License_Number, LicenseIssueDate, LicenseExpDate, Status, AnnualRenewalDate, PrimaryAreaofPractice, AreaofPractice, PublicFlag, ADD1, ADD2, ADD3, City, State, County, Zip_Code_Public, MedSchool, MedSchoolState, Medical_School_Graduation_Year, SuperLastName, SuperFirtName, SuperMilddleName, SuperSuffix, Race, Gender]
Index: []

[0 rows x 29 columns]

In [31]:
old = 150
new = 140
diff = abs(old - new) < 0.05*old
diff

False

In [33]:
abs(old - new)

10

In [41]:
[int(x) for x in test.Medical_School_Graduation_Year]

ValueError: cannot convert float NaN to integer

In [ ]:
def sanity_check(old, new):
    diff = abs(old - new) < 0.05(old)
    return diff