In [9]:
import pandas as pd
import pyodbc
from fuzzywuzzy import fuzz
import datetime as dt
from nameparser import HumanName

In [11]:
#PPD Directory
PPD = pd.read_csv('../../Data/PPD/ppd_data_20200404.csv')

#Out Directory
medscape = pd.read_csv('../../Data/Medscape/2020-07-01/Memorium_USA_2020-07-01.csv')
twitter = pd.read_csv('../../Data/Medscape/2020-07-01/Twitter_Doctors_2020-07-01.csv')
heroes = pd.read_excel('../../Data/Medscape/2020-07-01/Heroes_Physicians_2020-07-01.xlsx')

#Specialty Table
SPEC_FILE = pd.read_csv('../../Data/PPD/speciality_id.csv')

In [13]:
def get_processed_list():
    '''Get latest processed ME list from EDW'''
    username = 'vigrose'
    password = 'Hufflepuff10946'
    sql_query = \
        """
        SELECT DISTINCT
        M.MED_EDU_NBR
        FROM
        AMAEDW.PERSON M
        WHERE
        M.MORTALITY_STS_CD ='C'
        OR
        M.MORTALITY_STS_CD ='P';
        """
    s = "DSN=PRDDW; UID={}; PWD={}".format(username, password)
    AMAEDW = pyodbc.connect(s)
    known_mortality_status = pd.read_sql(con=AMAEDW, sql=sql_query)

    processed_mes = list(known_mortality_status.MED_EDU_NBR)

    return processed_mes

def remove_processed_mes(physicians):
    '''Remove physicians whose ME numbers are already processed'''
    processed_list = get_processed_list()
    unprocessed_physicians = physicians[physicians.ME.isin(processed_list) == False]

    return unprocessed_physicians

def match_spec(ppd_df, specialty, spec_table):
    '''Checks fuzzy matching on specialty'''
    mf_spec_cd = ppd_df.iloc[0]['PRIM_SPEC_CD']
    specialty_og = specialty.title()
    specialty = specialty_og.replace('Doctor ', '')
    mf_spec = spec_table[spec_table.SPEC_CD == mf_spec_cd].iloc[0]['DESC'].title()
    specialty = specialty.replace('Primary Care', 'Family Medicine')
    specialty = specialty.replace('Ob-Gyn', 'Obstetrics & Gynecology')
    specialty = specialty.replace('Ob/Gyn', 'Obstetrics & Gynecology')
    specialty = specialty.replace('trist', 'try').replace('gist', 'gy')
    specialty = specialty.replace('eon', 'ery').replace('cian', 's')
    if mf_spec in specialty:
        return True
    elif fuzz.ratio(mf_spec, specialty) > 40:
        return True
    elif mf_spec == 'Unspecified' and 'Resident' in specialty:
        return True
    elif mf_spec == 'Unspecified':
        return True
    elif 'Physician' in specialty_og or specialty_og == 'Doctor':
        return True
    elif 'Family Medicine' in specialty_og and mf_spec == 'Pediatrics':
        return True
    else:
        return False

In [17]:
def fix_me(me_list):
    '''Add leading zeroes to ME numbers'''
    nums = []
    for num in me_list:
        num = str(num)
        num = num.replace('.0', '')
        if len(num) == 10:
            num = '0' + num
        elif len(num) == 9:
            num = '00' + num
        elif len(num) == 8:
            num = '000' + num
        nums.append(num)
    return nums

In [115]:
def split_names(roster_df):
    '''Splits name column into components'''
    roster_df = roster_df.drop_duplicates()
    dict_list = []
    for row in roster_df.itertuples():
        name_parsed = HumanName(row.NAME)
        name_dict = {
            'NAME': row.NAME,
            'FIRST_NAME': name_parsed.first.upper(),
            'LAST_NAME': name_parsed.last.upper(),
            'MIDDLE_NAME': name_parsed.middle.upper(),
            'SUFFIX': name_parsed.suffix.upper(),
            'NICKNAME': name_parsed.nickname.upper(),
            'TITLE': name_parsed.title.upper(),
        }
        dict_list.append(name_dict)
    name_df = pd.DataFrame(dict_list)
    new_df = pd.merge(name_df, roster_df, on='NAME')
    return new_df

def append_me(roster_df, spec_df):
    potential = []
    '''Matches to PPD and appends ME'''
    from_twitter = False
    if 'DATE' in roster_df.columns or 'Date' in roster_df.columns:
        from_twitter = True
        data_split = roster_df
    else:
        data_split = split_names(roster_df)

    bad_spec_words = [
        'NURS',
        'VET',
        'TRANSPORT',
        'ASSISTANT',
        'RECEPTIONIST',
        'TECHNICIAN',
        'PARAMEDIC',
        'AIDE',
        'SOCIAL WORKER',
        'ENTREPRENEUR',
        'SERVICES',
        'GROUPHOME',
        'SECURITY',
        'PHARMACIST',
        'FIRE',
        'EMPLOYEE',
        'DEVELOPER',
        'ADMINISTRATOR',
        'LEADER',
        'LPN',
        'THERAPIST',
        'CLERK',
        'COUNSELOR',
        'ATTENDANT',
        'ADMIN',
        'SUPPLY',
        'CLEAN',
        'PRIEST',
        'STAFF',
        'INVESTIGATOR',
        'MRI',
        'EDUCATOR',
        'OFFICER',
        'MAINTENANCE',
        'CNA',
        'SUPERVISOR',
        'COORDINATOR',
        'SUPERVISOR',
        'TECHNOLOGIST',
        'MECHANIC',
        'EMT'
    ]
    mes = []
    for row in data_split.itertuples():
        physician_me = 'None'
        keep = True
        if from_twitter == False:
            for word in bad_spec_words:
                if word in row.SPECIALTY.upper():
                    keep = False
#         if keep == False:
#             print('---')
#             print(row.NAME)
#             print(row.SPECIALTY)
        if keep:
            print('---')
            print(row.NAME)
            new_df = PPD[(PPD.FIRST_NAME == row.FIRST_NAME) & (PPD.LAST_NAME == row.LAST_NAME)]
            try:
                years = [2019.0 - int(row.AGE), 2020.0 - int(row.AGE)]
            except ValueError:
                years = []
                if len(new_df)>1:
                    if row.STATE == "New York":
                        new_df = new_df[new_df.POLO_STATE == 'NY']
                    elif from_twitter == False:
                        new_df = new_df[new_df.POLO_CITY == row.CITY.upper()]
                    else:
                        new_df = new_df[new_df.STATE == row.STATE]
            if len(new_df) == 0 and len(years) > 0:
                if '-' in row.LAST_NAME:
                    last = row.LAST_NAME.replace('-', ' ')
                elif ' ' in row.LAST_NAME:
                    last = row.LAST_NAME.replace(' ', '')
                else:
                    last = row.LAST_NAME.replace('J', 'G')
                    print(last)
                new_df = PPD[(PPD.LAST_NAME == last) & (PPD.BIRTH_YEAR.isin(years))]
                if len(new_df) == 0:
                    pass
                if len(new_df) > 1:
                    if from_twitter:
                        print(f'{row.NAME} potentially matched to multiple ME numbers.')
                    else:
                        new_df = new_df[new_df.CITY == row.CITY.upper()]
            elif len(new_df) > 1 and len(years) > 0:
                new_df = new_df[new_df.BIRTH_YEAR.isin(years)]
                if len(new_df) > 1 and not from_twitter:
                    new_df = new_df[new_df.CITY == row.CITY.upper()]   
            if len(new_df) == 1:
                if from_twitter:
                    physician_me = new_df.iloc[0]['ME']
                else:
                    if match_spec(new_df, row.SPECIALTY, spec_df):
                        physician_me = new_df.iloc[0]['ME']
            elif len(new_df) > 1:
                print(f'{row.NAME} potentially matched to multiple ME numbers.')
        mes.append(physician_me)
        if keep==True:
            print(physician_me)
            potential.append(row.NAME)

    data_split['ME'] = fix_me(mes)
    data_me = data_split[data_split.ME != 'None']
    return data_split, data_me, potential

In [110]:
ALL_MED, MED_ME, name_list = append_me(medscape, SPEC_FILE)

---
Ashraf Abdo
General Practitioner
91502920371
---
Nancy Ajemian
Family Medicine
42201850562
---
Niaz Ali
Pediatrics
30810840192
---
Nerissa Armesto
Nephrology Renal Dietician Hemodialysis
ARMESTO
None
---
Glenn Barquet
Physician Invasive Cardiologist
01103970403
---
Doug Bass
Medical Director
BASS
None
---
Joseph A. Bonjiorno
Psychiatrist
BONGIORNO
05605670093
---
James Boudwin
Family Practice Physician
03306800069
---
Kenneth Bradshaw
Director of Facilities (retired)
None
---
Irving Buterman
OB-GYN
66001710037
---
Luis Caldera-Nieves
OB-GYN
04201831399
---
John P. Careccia
Chief and Training Director
None
---
Evelyn Caro
Holy Cross Hospital
None
---
Ricardo Castaneda
Psychiatrist
42901790064
---
Sudheer Chauhan
Internal Medicine Chief of Medicine
49541720081
---
Charlie Chin Song Chen
Family Medicine/General Practitioner
02878920972
---
Reza Chowdhury
Internist and Infectious Diseases Physician,Westchester Medical Healthcare
16004870089
---
Kenneth Conte
Family Medicine/General practitioner
None
---
Jeannie Danker
Director of Radiology
DANKER
None
---
Leo dela Cruz
Geriatric Psychiatrist,Carepoint Hospital
74809860012
---
Ernesto "Audie" DeLeon
ADN
None
---
Elizabeth Edwards
Phlebotomist
None
---
Norman Einhorn
Other Optometrist Neuro Optometry
EINHORN
None
---
Jeffrey Escher
Physician Geriatrician
16501800035
---
Orlando Espinoza
Family Practitioner
30813980637
---
Jessie Ferreras
Primary Care Physician
74801820887
---
Chris Firlit
PGY6 Oral-Maxillofacial Surgery Chief Resident (presumed)
FIRLIT
02507173333
---
Louis Edouard Fontaine
Doctor
None
---
James Footit
Radiology
FOOTIT
None
---
Frank Gabrin
Emergency Medicine Physician
04177851693
---
Jay Galst
Ophthamologist
03501760446
---
Dulce Garcia
Interpreter
GARCIA
None
---
Deborah Gatewood
Phlebotomist
None
---
Michael Giuliano
Doctor
04177811080
---
James T. Goodrich
Neurosurgeon Director of the Division of Pediatric Neurosurgery at Montefiore Health System Professor of Clinical Neurological Surgery
03501801606
---
Sam Green
Radiology
GREEN
None
---
Harvey Hirsch
Pediatrics
64914790091
---
Mitchell Horowitz
Physician
04101830646
---
Alex Hsu
Internal Medicine
01401820236
---
Steven J. Huber
Orthodonist
HUBER
None
---
Albasha Hume
Men's Health Director,Open Cities Health Center
HUME
None
---
Victor de Jesus
Pediatrician
None
---
Stephan Kamholz
Pulmonary Medicine Critical Care Medicine Internal Medicine
None
---
Rabbi Mordechai Katz
Hospital Medicine
None
---
Jay Alan Kavet
Internal Medicine
64914753544
---
DonaldKennedy
Neurobiologist (retired) Former President

None
---
Priya Khanna
Nephrologist
02878030471
---
Satyender Dev Khanna
General Surgery
49545640031
---
Robert Lancaster
Psychiatrist
02101450808
---
John Lara
Emergency Dept Tech,Clara Maass Medical Center and Orange Regional
LARA
None
---
Elizabeth Levan
Caregiver
LEVAN
None
---
Mortimer Levin
Physician
01875500241
---
James Mahoney
Doctor Pulmonary/Critical Care Medicine
03508861221
---
Adan Maldonado
Medical Imaging
MALDONADO
None
---
Sal Mancuso
Ambulance Volunteer
MANCUSO
None
---
John Mutah Mbah
Radiology
MBAH
None
---
Sydney Mehl
Cardiology
03519720794
---
Francis "Frankie" Molinari
Internal MedicinePhysician
56101770911
---
Nola Mae Moore
Physician
05605580434
---
Ferdinando Moretti
Painting Crew Foreman
MORETTI
None
---
John F. Murray
Pulmonary and Critical Care Physician
00511530385
---
Darioush Nasseri
Orthopedic Surgeon (retired)
40902690052
---
Sandra "Sandy" Oldfield
Telemetry
OLDFIELD
None
---
Angelo Patsalis
Family Physician,Henry Ford Medical Group
41804880010
---
Tomas Pattugalan
Internal Medicine Physician
74810740365
---
Steven Perez
Internal MedicineMedical Center of
00506780853
---
Robert V. Piemonte
Former President and Director
PIEMONTE
None
---
Bredy Pierre-Louis
Family Medicine/General Practitioner
64914771810
---
Nisar Quraishi
Internal Medicine
70403680085
---
Mark Respler
Urologist
03508801512
---
Victor C. Rivera
Pediatrician,
74802660425
---
Burton "Bud" Rose
Nephrologist (retired) Creator of UpToDate
03519670851
---
Charlie Safley
Dermatologist
SAFLEY
04706661609
---
Barry Sakowitz
Internal and Pulmonary Medicine
03508701526
---
Elliott Samet
Pediatrician,
39631810024
---
Eugene Sayfie
Cardiology
02802600570
---
Stephen Schwartz
Pathologist
02405670502
---
Gary Sclar
Neurologist
03515921221
---
Javier Sloyer
Physician Anesthesiologist
26407760017
---
Charles Rodney Smith
Psychiatrist
02101531085
---
Joshua Suzuki
OB-GYN
57210680014
---
Arthur Sydeco Tayengco
OB-GYN
74810630471
---
Arthur Turetsky
Pulmonary and Critical Care
03546741051
---
Ronald Verrier
Trauma Surgeon
VERRIER
44001860078
---
Barry Webber
General Surgery
01002821971
---
David Wolin
Radiologist Mammography and Breast Imaging
03005731398
---
Sina Zaim
Physician,Electrophysiology,Hackensack University Medical Center
03520811361
---
Jesus Zambrano
Pediatrician,Mt. Sinai South NassauOceanside,
30801900221
---
Jack Zoller
OB-GYN
02105500664
---
Anonymous Healthcare Worker
Hartford
None
---
Anonymous Healthcare Worker
John D. Dingell VA Medical Center
WORKER
None
---
Anonymous Healthcare Worker
Hartford
None
---
Anonymous Healthcare Worker
John D. Dingell VA Medical Center
WORKER
None
---
Anonymous Nurse
Atlanta
None
---
Anonymous Pharmacy Technician
San Diego County
TECHNICIAN
None

In [55]:
me_name = list(MED_ME['NAME'])

In [46]:
MED_ME[60:]

,NAME,FIRST_NAME,LAST_NAME,MIDDLE_NAME,SUFFIX,NICKNAME,TITLE,AGE,SPECIALTY,CITY,STATE,COUNTRY,LOCATION,LINK,ME
278,Ronald Verrier,RONALD,VERRIER,,,,,59,Trauma Surgeon,Bronx,New York,USA,None,https://twitter.com/DoctorChrys/status/1248015...,44001860078
287,Barry Webber,BARRY,WEBBER,,,,,67,General Surgery,Queens,New York,USA,Mount Sinai Hospital,https://www.facebook.com/1053125492/posts/1021...,01002821971
291,David Wolin,DAVID,WOLIN,,,,,74,Radiologist Mammography and Breast Imaging,Piermont,New York,USA,Brooklyn Hospital Center,https://www.legacy.com/obituaries/nytimes/obit...,03005731398
294,Sina Zaim,SINA,ZAIM,,,,,68,"Physician,Electrophysiology,Hackensack Univers...",Hackensack,New Jersey,USA,None,https://www.legacy.com/amp/obituaries/nytimes/...,03520811361
295,Jesus Zambrano,JESUS,ZAMBRANO,,,,,54,"Pediatrician,Mt. Sinai South NassauOceanside,",Oceanside,New York,USA,None,https://www.liherald.com/stories/three-employe...,30801900221
297,Jack Zoller,JACK,ZOLLER,,,,,91,OB-GYN,New Orleans,Louisiana,USA,None,https://obits.nola.com/obituaries/nola/obituar...,02105500664

In [36]:
bad_spec_words = ['NURS',
        'VET',
        'TRANSPORT',
        'ASSISTANT',
        'RECEPTIONIST',
        'TECHNICIAN',
        'PARAMEDIC',
        'AIDE',
        'SOCIAL WORKER',
        'ENTREPRENEUR',
        'SERVICES',
        'GROUPHOME',
        'RN',
        'SECURITY',
        'PHARMACIST',
        'FIRE',
        'EMPLOYEE',
        'DEVELOPER',
        'ADMINISTRATOR',
        'LEADER',
        'LPN',
        'THERAPIST',
        'CLERK',
        'COUNSELOR',
        'ATTENDANT',
        'ADMIN',
        'SUPPLY',
        'CLEAN',
        'PRIEST',
        'STAFF',
        'INVESTIGATOR',
        'MRI',
        'EDUCATOR',
        'OFFICER',
        'MAINTENANCE',
        'CNA',
        'SUPERVISOR',
        'COORDINATOR',
        'SUPERVISOR',
        'TECHNOLOGIST',
        'MECHANIC',
        'EMT'
    ]

In [37]:
sp = 'Internal Medicine Chief of Medicine'
for word in bad_spec_words:
    if word in sp.upper():
        print(word)

RN

In [50]:
len(name_list)

95

In [58]:
beep = medscape[(medscape.NAME.isin(name_list))&(medscape.NAME.isin(me_name)==False)]

In [67]:
len(MED_ME)

66

In [68]:
len(beep)

33

In [71]:
zz = pd.merge(beep, MED_ME, on='NAME', how='left')

In [73]:
PPD['ME']=fix_me(PPD['ME'])

In [80]:
ppd = PPD[['ME','POLO_CITY','POLO_STATE','MAILING_NAME','LAST_NAME','FIRST_NAME','MIDDLE_NAME','BIRTH_YEAR','PRIM_SPEC_CD']]

In [82]:
ppd = pd.merge(ppd, SPEC_FILE, left_on='PRIM_SPEC_CD', right_on='SPEC_CD')

In [83]:
pd.merge(zz, ppd, on='ME', how='left')

,NAME,AGE_x,SPECIALTY_x,CITY_x,STATE_x,COUNTRY_x,LOCATION_x,LINK_x,FIRST_NAME_x,LAST_NAME_x,...,POLO_STATE,MAILING_NAME,LAST_NAME_y,FIRST_NAME_y,MIDDLE_NAME_y,BIRTH_YEAR,PRIM_SPEC_CD,SPEC_CD,SPEC_ID,DESC
0,Nerissa Armesto,64,Nephrology Renal Dietician Hemodialysis,Brooklyn,New York,USA,Rogosin Institute NFB Brooklyn East,https://www.gofundme.com/f/nerissa-armesto-mem...,NERISSA,ARMESTO,...,PA,DAVID M ARMESTO MD,ARMESTO,DAVID,MICHAEL,1955.0,OPH,OPH,1783.0,OPHTHALMOLOGY
1,Doug Bass,64,Medical Director,New York City,New York,USA,None,https://abc7ny.com/doctor-dead-doug-bass-kille...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kenneth Bradshaw,64,Director of Facilities (retired),Memphis,Tennessee,USA,University of Health Science Center,https://www.legacy.com/obituaries/commercialap...,KENNETH,BRADSHAW,...,NaN,KENNETH G BRADSHAW DO,BRADSHAW,KENNETH,G,1955.0,FM,FM,1691.0,FAMILY MEDICINE
3,John P. Careccia,age unknown,Chief and Training Director,Woodbridge,New Jersey,USA,Woodbridge Township Ambulance & Rescue Squad,https://www.firehouse.com/safety-health/news/2...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Evelyn Caro,69,Holy Cross Hospital,Silver Spring,Maryland,USA,None,https://www.baltimoresun.com/coronavirus/bs-md...,EVELYN,CARO,...,CA,EVELYN A CARO MD,CARO,EVELYN,A,1937.0,P,P,1793.0,PSYCHIATRY
5,Kenneth Conte,75,Family Medicine/General practitioner,Garfield,New Jersey,USA,None,https://www.northjersey.com/story/news/bergen/...,KENNETH,CONTE,...,NJ,KENNETH S CONTE DO,CONTE,KENNETH,S,1941.0,R,R,1853.0,RADIOLOGY
6,Jeannie Danker,60,Director of Radiology,Columbus,Ohio,USA,OSU Wexner Medical Center,https://www.dispatch.com/news/20200331/coronav...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Ernesto ""Audie"" DeLeon",61,ADN,New York City,New York,USA,None,https://www.dignitymemorial.com/obituaries/new...,ERNESTO,DELEON,...,NaN,ERNESTO DELEON MD,DELEON,ERNESTO,NaN,1969.0,EM,EM,1682.0,EMERGENCY MEDICINE
8,Elizabeth Edwards,age unknown,Phlebotomist,New Bern,North Carolina,USA,CarolinaEast Medical Center,https://www.newbernsj.com/news/20200416/craven...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Norman Einhorn,69,Other Optometrist Neuro Optometry,Belmar,New Jersey,USA,Center for Visual Rehabilitation,https://www.dignitymemorial.com/obituaries/oce...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Louis Edouard Fontaine,None,Doctor,Brooklyn,New York,USA,None,https://twitter.com/ClaireZebra/status/1253121...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,James Footit,56,Radiology,Springfield,Massachusetts,USA,Baystate Hospital,https://obits.masslive.com/obituaries/masslive...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Dulce Garcia,29,Interpreter,Chapel Hill,North Carolina,USA,University of Hospital,https://www.facebook.com/COVID19MedicalMemoria...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Deborah Gatewood,None,Phlebotomist,Farmington Hills,Michigan,USA,Beaumont Health Farmington Hills,https://www.fox2detroit.com/news/beaumont-work...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Sam Green,57,Radiology,New York City,New York,USA,X-ray Technician,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Steven J. Huber,62,Orthodonist,Jefferson City,Missouri,USA,None,https://www.dulletrimble.com/obituaries/Dr-Ste...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Albasha Hume,63,"Men's Health Director,Open Cities Health Center",St. Paul,Minnesota,USA,None,https://kstp.com/coronavirus/st-paul-health-ca...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Victor de Jesus,58,Pediatrician,Caguas,Puerto Rico,USA,Hospital HIMA,https://www.elnuevodia.com/noticias/locales/no...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Stephan Kamholz,72,Pulmonary Medicine Critical Care Medicine Inte...,Brooklyn,New York,USA,Maimonides Medical Center,https://collive.com/chief-doctor-at-maimonides...,STEPHAN,KAMHOLZ,...,NY,STEPHAN L KAMHOLZ MD,KAMHOLZ,STEPHAN,LEONARD,1947.0,MDM,MDM,1733.0,MEDICAL MANAGEMENT
19,Rabbi Mordechai Katz,age unknown,Hospital Medicine,New York City,New York,USA,Chaplain,https://matzav.com/rabbi-motti-katz-zl/,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,DonaldKennedy,88,Neurobiologist (retired) Former President,Redwood City,California,USA,Stanford University; Former Chief of US FDA,https://www.latimes.com/obituaries/story/2020-...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,John Lara,40,"Emergency Dept Tech,Clara Maass Medical Center...",Belleville,New Jersey,USA,None,https://www.facebook.com/groups/61237398056/,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Elizabeth Levan,45,Caregiver,Bensalem Township,Pennsylvania,USA,The Birches Nursing Home,https://www.legacy.com/obituaries/buckscountyc...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Adan Maldonado,39,Medical Imaging,El Centro,California,USA,El Centro Regional Medical Center,https://calexicochronicle.com/2020/06/covid-19...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Sal Mancuso,66,Ambulance Volunteer,Blooming Grove,New York,USA,Blooming Grove Volunteer Ambulance Corps,https://www.ems1.com/coronavirus-covid-19/arti...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,John Mutah Mbah,55,Radiology,Cheverly,Maryland,USA,Prince George's Hospital Center,https://www.forevermissed.com/john-mutah-mbah/...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ferdinando Moretti,73,Painting Crew Foreman,Oceanside,New York,USA,Mt. Sinai South Nassau,https://www.liherald.com/stories/three-employe...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Sandra ""Sandy"" Oldfield",53,Telemetry,Fresno,California,USA,Kaiser Permanente,https://www.nationalnursesunited.org/press/can...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Robert V. Piemonte,86,Former President and Director,New York City,New York,USA,Chief Nurse of the 8th Army Medical Unit,https://www.legacy.com/obituaries/name/robert-...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Anonymous Healthcare Worker,age unknown,Hartford,None,Connecticut,USA,None,https://www.wfsb.com/news/hartford-healthcare-...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Anonymous Healthcare Worker,70,John D. Dingell VA Medical Center,Detroit,Michigan,USA,None,https://www.michiganradio.org/post/va-employee...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Anonymous Nurse,age unknown,Atlanta,None,Georgia,USA,None,https://www.georgiahealthnews.com/2020/04/geor...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Anonymous Pharmacy Technician,25,San Diego County,None,California,USA,None,https://www.recordgazette.net/news/breaking/co...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
ppd[(ppd.LAST_NAME=='BASS')&(ppd.FIRST_NAME=='DOUGLAS')]

,ME,POLO_CITY,POLO_STATE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,BIRTH_YEAR,PRIM_SPEC_CD,SPEC_CD,SPEC_ID,DESC
820920,03503830077,ASTORIA,NY,DOUGLAS H BASS MD,BASS,DOUGLAS,HOWARD,1956.0,AN,AN,1639,ANESTHESIOLOGY

In [108]:
ppd[(ppd.LAST_NAME=='MBAH')]

,ME,POLO_CITY,POLO_STATE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,BIRTH_YEAR,PRIM_SPEC_CD,SPEC_CD,SPEC_ID,DESC
16073,02002141259,PITTSBURGH,PA,NSEHNIITOOH A MBAH MD,MBAH,NSEHNIITOOH,APPOLINARISE,1980.0,EM,EM,1682,EMERGENCY MEDICINE
44836,04802182151,HOUSTON,TX,BRIAN N MBAH MD,MBAH,BRIAN,NNAMDI,1991.0,EM,EM,1682,EMERGENCY MEDICINE
278671,69012970013,NEWARK,OH,MAY U MBAH MD,MBAH,MAY,UZOAMAKA,1971.0,IM,IM,1724,INTERNAL MEDICINE
348943,69007940092,GREEN BAY,WI,NGOZI N MBAH MD,MBAH,NGOZI,NWAMAKA,1966.0,OBG,OBG,1769,OBSTETRICS & GYNECOLOGY
573770,04814100109,PLANO,TX,LYNDA E MBAH MD,MBAH,LYNDA,EBERE,1975.0,FM,FM,1691,FAMILY MEDICINE
1147637,69014980041,NaN,NaN,ENJONG M MBAH MD,MBAH,ENJONG,MARY,1970.0,US,US,1883,UNSPECIFIED

In [87]:
ppd[(ppd.LAST_NAME=='CONTE')&(ppd.FIRST_NAME=='KENNETH')]

,ME,POLO_CITY,POLO_STATE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,BIRTH_YEAR,PRIM_SPEC_CD,SPEC_CD,SPEC_ID,DESC
945129,02878660733,GARFIELD,NJ,KENNETH S CONTE DO,CONTE,KENNETH,S,1941.0,R,R,1853,RADIOLOGY

In [111]:
MED_ME

,NAME,FIRST_NAME,LAST_NAME,MIDDLE_NAME,SUFFIX,NICKNAME,TITLE,AGE,SPECIALTY,CITY,STATE,COUNTRY,LOCATION,LINK,ME
0,Ashraf Abdo,ASHRAF,ABDO,,,,,60,General Practitioner,New York City,New York,USA,None,https://www.egypttoday.com/Article/1/83243/Egy...,91502920371
5,Nancy Ajemian,NANCY,AJEMIAN,,,,,60,Family Medicine,Grosse Pointe,Michigan,USA,Beaumont Hospital,https://twitter.com/DexterCMason/status/124988...,42201850562
9,Niaz Ali,NIAZ,ALI,,,,,71,Pediatrics,Red Bank,New Jersey,USA,Riverview Medical Center,None,30810840192
21,Glenn Barquet,GLENN,BARQUET,,,,,50,Physician Invasive Cardiologist,Miami,Florida,USA,Mercy Hospital and South Miami Hospital,https://www.cardiovascularbusiness.com/topics/...,01103970403
38,Joseph A. Bonjiorno,JOSEPH,BONJIORNO,A.,,,,78,Psychiatrist,Chicago,Illinois,USA,St. Joseph Hospital (affiliated),https://www.cremation-society.com/obituaries/D...,05605670093
39,James Boudwin,JAMES,BOUDWIN,,,,,67,Family Practice Physician,New Brunswick,New Jersey,USA,Robert Wood Johnson University Hospital,https://www.legacy.com/obituaries/name/james-b...,03306800069
51,Irving Buterman,IRVING,BUTERMAN,,,,,78,OB-GYN,New York City,New York,USA,None,https://www.google.com/amp/s/www.legacy.com/ob...,66001710037
55,Luis Caldera-Nieves,LUIS,CALDERA-NIEVES,,,,,63,OB-GYN,Miami,Florida,USA,None,https://www.local10.com/news/local/2020/04/09/...,04201831399
63,Ricardo Castaneda,RICARDO,CASTANEDA,,,,,64,Psychiatrist,New York City,New York,USA,None,None,42901790064
66,Sudheer Chauhan,SUDHEER,CHAUHAN,,,,,age unknown,Internal Medicine Chief of Medicine,Queens,New York,USA,Jamaica Hospital Medical Center,https://www.moloneyfh.com/obituary/sudheer-sin...,49541720081
67,Charlie Chin Song Chen,CHARLIE,CHEN,CHIN SONG,,,,age unknown,Family Medicine/General Practitioner,New York City,New York,USA,None,https://www.addabbo.org/news/a-tribute-to-char...,02878920972
69,Reza Chowdhury,REZA,CHOWDHURY,,,,,58,"Internist and Infectious Diseases Physician,We...",Bronx,New York,USA,None,https://engnews24h.com/bangladeshi-doctor-dies...,16004870089
80,Leo dela Cruz,LEO,DELA CRUZ,,,,,age unknown,"Geriatric Psychiatrist,Carepoint Hospital",Jersey City,New Jersey,USA,None,https://usa.inquirer.net/53986/fil-am-front-li...,74809860012
97,Jeffrey Escher,JEFFREY,ESCHER,,,,,72,Physician Geriatrician,Westchester County,New York,USA,NaN,https://www.scarsdalenews.com/obituaries/dr-je...,16501800035
99,Orlando Espinoza,ORLANDO,ESPINOZA,,,,,53,Family Practitioner,Broward County,Florida,USA,None,https://www.vitals.com/doctors/Dr_Orlando_Espi...,30813980637
103,Jessie Ferreras,JESSIE,FERRERAS,,,,,52,Primary Care Physician,Waldwick,New Jersey,USA,None,None,74801820887
106,Chris Firlit,CHRIS,FIRLIT,,,,,37,PGY6 Oral-Maxillofacial Surgery Chief Resident...,Detroit,Michigan,USA,None,https://www.detroitnews.com/story/business/202...,02507173333
115,Frank Gabrin,FRANK,GABRIN,,,,,60,Emergency Medicine Physician,New York City,New York,USA,None,https://www.nj.com/coronavirus/2020/04/nj-er-d...,04177851693
116,Jay Galst,JAY,GALST,,,,,age unknown,Ophthamologist,New York City,New York,USA,None,https://forums.collectors.com/discussion/10359...,03501760446
121,Michael Giuliano,MICHAEL,GIULIANO,,,,,64,Doctor,Nutley,New Jersey,USA,Mountainside Medical Group,http://newjersey.news12.com/story/42028013/com...,04177811080
122,James T. Goodrich,JAMES,GOODRICH,T.,,,,73,Neurosurgeon Director of the Division of Pedia...,New York City,New York,USA,Pediatrics,https://www.nytimes.com/2020/04/01/obituaries/...,03501801606
134,Harvey Hirsch,HARVEY,HIRSCH,,,,,68,Pediatrics,Lakewood,New Jersey,USA,CHEMED,https://www.app.com/story/news/2020/04/29/coro...,64914790091
137,Mitchell Horowitz,MITCHELL,HOROWITZ,,,,,None,Physician,New York City,New York,USA,Radiologist,https://twitter.com/ClaireZebra/status/1252262...,04101830646
139,Alex Hsu,ALEX,HSU,,,,,67,Internal Medicine,Margate,Florida,USA,Northwest Medical Center,https://www.wptv.com/news/coronavirus/dr-alex-...,01401820236
150,Jay Alan Kavet,JAY,KAVET,ALAN,,,,72,Internal Medicine,New York City,New York,USA,None,https://www.facebook.com/permalink.php?id=1043...,64914753544
154,Priya Khanna,PRIYA,KHANNA,,,,,43,Nephrologist,Glen Ridge,New Jersey,USA,Khanna Nephrology,https://twitter.com/Covid19Docs/status/1249752...,02878030471
155,Satyender Dev Khanna,SATYENDER,KHANNA,DEV,,,,78,General Surgery,Belleville,New Jersey,USA,Clara Maass Hospital,https://www.pix11.com/news/coronavirus/nj-fath...,49545640031
161,Robert Lancaster,ROBERT,LANCASTER,,,,,98,Psychiatrist,New Orleans,Louisiana,USA,None,https://obits.nola.com/obituaries/nola/obituar...,02101450808
165,Mortimer Levin,MORTIMER,LEVIN,,,,,99,Physician,Detroit,Michigan,USA,None,https://m.legacy.com/obituaries/detroitnews/ob...,01875500241
174,James Mahoney,JAMES,MAHONEY,,,,,age unknown,Doctor Pulmonary/Critical Care Medicine,Brooklyn,New York,USA,University Hospital of Brooklyn/SUNY Downstate...,https://www.facebook.com/COVID19MedicalMemoria...,03508861221
191,Sydney Mehl,SYDNEY,MEHL,,,,,72,Cardiology,New York City,New York,USA,None,https://www.facebook.com/michellegreenwald123/...,03519720794
201,"Francis ""Frankie"" Molinari",FRANCIS,MOLINARI,,,FRANKIE,,70,Internal MedicinePhysician,Belleville,New Jersey,USA,Clara Maass Medical Center,https://www.nj.com/essex/2020/04/i-think-ive-g...,56101770911
203,Nola Mae Moore,NOLA,MOORE,MAE,,,,88,Physician,Shoreline,Washington,USA,None,https://www.legacy.com/obituaries/seattletimes...,05605580434
207,John F. Murray,JOHN,MURRAY,F.,,,,92,Pulmonary and Critical Care Physician,San Francisco,California,USA,San Francisco General Hospital,https://www.mercurynews.com/2020/03/25/longtim...,00511530385
210,Darioush Nasseri,DARIOUSH,NASSERI,,,,,None,Orthopedic Surgeon (retired),Baltimore,Maryland,USA,Good Samaritan Hospital,https://www.baltimoresun.com/obituaries/bs-md-...,40902690052
223,Angelo Patsalis,ANGELO,PATSALIS,,,,,63,"Family Physician,Henry Ford Medical Group",Detroit,Michigan,USA,None,https://www.dignitymemorial.com/obituaries/liv...,41804880010
224,Tomas Pattugalan,TOMAS,PATTUGALAN,,,,,70,Internal Medicine Physician,Queens,New York,USA,None,http://www.oleantimesherald.com/news/state/pri...,74810740365
226,Steven Perez,STEVEN,PEREZ,,,,,68,Internal MedicineMedical Center of,Annandale,Virginia,USA,None,https://annandaleva.blogspot.com/2020/05/annan...,00506780853
228,Bredy Pierre-Louis,BREDY,PIERRE-LOUIS,,,,,74,Family Medicine/General Practitioner,Brooklyn,New York,USA,None,https://medium.com/@mocombemd1/for-the-love-of...,64914771810
233,Nisar Quraishi,NISAR,QURAISHI,,,,,74,Internal Medicine,New York City,New York,USA,Clinical Assistant Professor,https://tribecacitizen.com/2020/04/15/dr-nisar...,70403680085
238,Mark Respler,MARK,RESPLER,,,,,66,Urologist,Brooklyn,New York,USA,None,https://hamodia.com/2020/03/27/bde-dr-mark-all...,03508801512
240,Victor C. Rivera,VICTOR,RIVERA,C.,,,,77,"Pediatrician,",Langhorne,Pennsylvania,USA,None,https://www.buckscountycouriertimes.com/news/2...,74802660425
245,"Burton ""Bud"" Rose",BURTON,ROSE,,,BUD,,77,Nephrologist (retired) Creator of UpToDate,Boston,Massachusetts,USA,Beth Israel Deaconess Medical Center,https://www.statnews.com/2020/04/25/rememberin...,03519670851
251,Charlie Safley,CHARLIE,SAFLEY,,,,,78,Dermatologist,Memphis,Tennessee,USA,None,https://www.commercialappeal.com/story/news/lo...,04706661609
253,Barry Sakowitz,BARRY,SAKOWITZ,,,,,75,Internal and Pulmonary Medicine,Paramus,New Jersey,USA,None,https://www.legacy.com/obituaries/northjersey/...,03508701526
255,Elliott Samet,ELLIOTT,SAMET,,,,,69,"Pediatrician,",Passaic,New Jersey,USA,None,https://www.northjersey.com/story/news/coronav...,39631810024
257,Eugene Sayfie,EUGENE,SAYFIE,,,,,85,Cardiology,Miami,Florida,USA,University of Miami Hospital/Mount Sinai Medic...,https://www.msn.com/en-us/news/us/miami-cardio...,02802600570
260,Stephen Schwartz,STEPHEN,SCHWARTZ,,,,,78,Pathologist,Seattle,Washington,USA,None,https://q13fox.com/2020/03/18/longtime-uw-prof...,02405670502
261,Gary Sclar,GARY,SCLAR,,,,,66,Neurologist,New York City,New York,USA,None,https://www.facebook.com/groups/317464005892297/,03515921221
266,Javier Sloyer,JAVIER,SLOYER,,,,,71,Physician Anesthesiologist,New York City,New York,USA,None,https://twitter.com/CTZebra/status/12647432941...,26407760017
267,Charles Rodney Smith,CHARLES,SMITH,RODNEY,,,,92,Psychiatrist,New Orleans,Louisiana,USA,None,https://www.legacy.com/obituaries/nola/obituar...,02101531085
270,Joshua Suzuki,JOSHUA,SUZUKI,,,,,78,OB-GYN,Seattle,Washington,USA,None,https://www.legacy.com/obituaries/seattletimes...,57210680014
273,Arthur Sydeco Tayengco,ARTHUR,TAYENGCO,SYDECO,,,,81,OB-GYN,Las Vegas,Nevada,USA,University Medical Center of Southern,https://www.asianjournal.com/usa/lasvegas/unwi...,74810630471
277,Arthur Turetsky,ARTHUR,TURETSKY,,,,,None,Pulmonary and Critical Care,Bridgeport,Connecticut,USA,None,https://www.facebook.com/COVID19MedicalMemoria...,03546741051
278,Ronald Verrier,RONALD,VERRIER,,,,,59,Trauma Surgeon,Bronx,New York,USA,None,https://twitter.com/DoctorChrys/status/1248015...,44001860078
287,Barry Webber,BARRY,WEBBER,,,,,67,General Surgery,Queens,New York,USA,Mount Sinai Hospital,https://www.facebook.com/1053125492/posts/1021...,01002821971
291,David Wolin,DAVID,WOLIN,,,,,74,Radiologist Mammography and Breast Imaging,Piermont,New York,USA,Brooklyn Hospital Center,https://www.legacy.com/obituaries/nytimes/obit...,03005731398
294,Sina Zaim,SINA,ZAIM,,,,,68,"Physician,Electrophysiology,Hackensack Univers...",Hackensack,New Jersey,USA,None,https://www.legacy.com/amp/obituaries/nytimes/...,03520811361
295,Jesus Zambrano,JESUS,ZAMBRANO,,,,,54,"Pediatrician,Mt. Sinai South NassauOceanside,",Oceanside,New York,USA,None,https://www.liherald.com/stories/three-employe...,30801900221
297,Jack Zoller,JACK,ZOLLER,,,,,91,OB-GYN,New Orleans,Louisiana,USA,None,https://obits.nola.com/obituaries/nola/obituar...,02105500664

In [116]:
ALL_T, T_ME, T_name_list = append_me(twitter, SPEC_FILE)

---
Dr. Barry Fisher
Dr. Barry Fisher potentially matched to multiple ME numbers.
None
---
Dr. Guido Volcovici
78101620041
---
Dr. Hooshang Behroozi
51701560764
---
Dr. Robert Oglesbee
OGLESBEE
03901680727
---
Dr. John Makley
03841610490
---
Dr. Albasha Hume
HUME
None
---
Dr. Craig Smallwood
None
---
Dr. Michael Medici
01002670662
---
Dr. Stephan Kamholz
03509720559
---
Dr. Robert “Ray” Hull
04706711649
---
Dr. Herbert Henderson Jr
04501940441
---
Dr. Jean Lau Chin
None
---
Dr. Norman Einhorn
EINHORN
Dr. Norman Einhorn potentially matched to multiple ME numbers.
Dr. Norman Einhorn potentially matched to multiple ME numbers.
None
---
Dr. Chaihan Korn
89104710094
---
Dr. Franklin Sequeira
49552730029
---
Dr. Edgar Ednalino
74801722028
---
Dr. Niaz Ali
30810840192
---
Dr. Jay Kavet
64914753544
---
Dr. Ronald Brisman
02401650141
---
Dr. Ivan Rodriguez
64935850884
---
Dr. Earline Austin
AUSTIN
Dr. Earline Austin potentially matched to multiple ME numbers.
Dr. Earline Austin potentially matched to multiple ME numbers.
None
---
Dr. Richard Shugarman
02301640750
---
Dr. John Guy
01102770257
---
Dr. Leonardo Aponte
40905620012
---
Dr. Nola Mae Moore
05605580434
---
Dr. Paul Constantine
04113630201
---
Dr. Danilo Bolima
BOLIMA
None
---
Dr. Kenneth Conte
02878660733
---
Dr. Javier Sloyer
26407760017
---
Dr. Valery G. Bayshtok
91389680023
---
Dr. Eugene “Gene” Sayfie
02802600570
---
Dr. Ali Mamun
16006830076
---
Dr. Sydney Mehl
03519720794
---
Dr. François Hebert Brutus
BRUTUS
44001780350
---
Dr. Richard Miles
00515841121
---
Dr. Sudheer Singh Chauhan
49541720081
---
Dr. Royce Ocmer Villa
VILLA
Dr. Royce Ocmer Villa potentially matched to multiple ME numbers.
Dr. Royce Ocmer Villa potentially matched to multiple ME numbers.
None
---
Dr. John Coman
56101800321
---
Dr. Arthur Friedman
64935820900
---
Dr. Steven Perez
00506780853
---
Dr. Richard Mills
00801680518
---
Dr. Andrew “Drew” Slaby
03501681228
---
Dr. Gene Nebel
None
---
Dr. Sina Zaim
03520811361
---
Dr. Charles Goodstein
04112620228
---
Dr. Jose Ramon Tapanes Mondeja
MONDEGA
None
---
Dr. Shalom Buchbinder
03546810207
---
Dr. Glenn Barquet
01103970403
---
Dr. Arthur Tayengco
74810630471
---
Dr. Barry Sakowitz
03508701526
---
Dr. Alyce Gullatee
GULLATEE
None
---
Dr. Peter Pressman
03501590851
---
Dr. Yasuo (Joshua) Suzuki
None
---
Dr. Charlie Chin Song Chen
02878920972
---
Dr. Sol Dan
03520740120
---
Dr. Harvey Hirsch
64914790091
---
Dr. Mark Marunick
MARUNICK
None
---
Dr. James Boudwin
03306800069
---
Dr. Jeffrey Escher
16501800035
---
Dr. Lorna Breen
05104991558
---
Dr. Joseph Anthony Bongiorno
05605670093
---
Dr. Burton “Bud” Rose
03519670851
---
Dr. Zoao Makumbi Sr
MAKUMBI
None
---
Dr. Murray Hamada
84710800013
---
Dr. Arthur Turetsky
03546741051
---
Dr. Casey McVea
None
---
Dr. Amedeo Scolamiero
56101770333
---
Dr. Louis Edouard Fontaine
FONTAINE
None
---
Dr. Orlando Espinoza
30813980637
---
Dr. Caleb Anya
None
---
Dr. Hari Bansal
BANSAL
Dr. Hari Bansal potentially matched to multiple ME numbers.
Dr. Hari Bansal potentially matched to multiple ME numbers.
None
---
Dr. Michael Giuliano
Dr. Michael Giuliano potentially matched to multiple ME numbers.
None
---
Dr. Mitch Horowitz
None
---
Dr. Nagi Tawfik Yaccoub (Abraham)
YACCOUB
None
---
Dr. Barry Webber
01002821971
---
Dr. Jack Zoller
02105500664
---
Dr. Jesus Zambrano
30801900221
---
Dr. Jacob Zeiger Slepian
56101680474
---
Dr. Nisar A. Quraishi
70403680085
---
Dr. Satyavardhana Rao Yerubandi
YERUBANDI
None
---
Dr. Ali Akbar Mojumder
None
---
Dr. Charles Rodney Smith
02101531085
---
Dr. John Mahoney
02834720666
---
Dr. Saif Titi
None
---
Dr. Gary Sclar
03515921221
---
Dr. Alejandro V. Albano
74801810377
---
Dr. Jay M Galst
03501760446
---
Dr. Priya Khanna
02878030471
---
Dr. Bobby Webster
WEBSTER
Dr. Bobby Webster potentially matched to multiple ME numbers.
Dr. Bobby Webster potentially matched to multiple ME numbers.
None
---
Dr. Francis (Frankie) Molinari
56101770911
---
Dr. Isaac Schaver
55002730072
---
Dr. Angelo Nick Patsalis
41804880010
---
Dr. Víctor de Jesús
None
---
Dr. Luis Caldera-Nieves
None
---
Dr. Doug Bass
BASS
Dr. Doug Bass potentially matched to multiple ME numbers.
Dr. Doug Bass potentially matched to multiple ME numbers.
None
---
Dr. Ronald Verrier
None
---
Dr. Nancy Ajeman
None
---
Dr. Jessie Ariel M. Ferreras
74801820887
---
Dr. David Wolin
03005731398
---
Dr. James Wilson
Dr. James Wilson potentially matched to multiple ME numbers.
None
---
Dr. Elliott Samet
39631810024
---
Dr. Marques Bolden
01720102877
---
Dr. Irving Buterman
66001710037
---
Dr. Gregory V. Miller
02803860630
---
Dr. Victor Rivera
Dr. Victor Rivera potentially matched to multiple ME numbers.
None
---
Dr. Chris Firlit
None
---
Dr. Ashraf Metwally
91503870156
---
Dr. Steven Huber
HUBER
Dr. Steven Huber potentially matched to multiple ME numbers.
Dr. Steven Huber potentially matched to multiple ME numbers.
None
---
Dr. Mark Allen Respler
03508801512
---
Dr. Frank Gabrin
04177851693
---
Dr. Stephen Schwartz
02405670502
---
Dr. Alex Hsu
01401820236

In [117]:
T_ME

,NAME,FIRST_NAME,LAST_NAME,MIDDLE_NAME,SUFFIX,NICKNAME,TITLE,AGE,DATE,STATE,LINK,ME
1,Dr. Guido Volcovici,GUIDO,VOLCOVICI,NaN,NaN,NaN,DR.,79,2020-06-27 00:39:00+00:00,None,https://www.pleasantmanorfh.com/obituary/Guido...,78101620041
2,Dr. Hooshang Behroozi,HOOSHANG,BEHROOZI,NaN,NaN,NaN,DR.,91,2020-06-26 23:29:00+00:00,None,https://www.legacy.com/obituaries/nytimes/obit...,51701560764
3,Dr. Robert Oglesbee,ROBERT,OGLESBEE,NaN,NaN,NaN,DR.,80,2020-06-25 00:37:00+00:00,OK,http://totallytahlequah.blogspot.com/2020/04/o...,03901680727
4,Dr. John Makley,JOHN,MAKLEY,NaN,NaN,NaN,DR.,84,2020-06-24 23:01:00+00:00,None,https://ryortho.com/2020/06/renowned-orthopedi...,03841610490
7,Dr. Michael Medici,MICHAEL,MEDICI,NaN,NaN,NaN,DR.,78,2020-06-13 13:40:09+00:00,CA,https://www.google.com/amp/s/www.legacy.com/ob...,01002670662
...,...,...,...,...,...,...,...,...,...,...,...,...
106,Dr. Ashraf Metwally,ASHRAF,METWALLY,NaN,NaN,NaN,DR.,None,2020-04-05 11:59:10+00:00,None,None,91503870156
108,Dr. Mark Allen Respler,MARK,RESPLER,ALLEN,NaN,NaN,DR.,66,2020-04-03 02:58:13+00:00,None,https://hamodia.com/2020/03/27/bde-dr-mark-all...,03508801512
109,Dr. Frank Gabrin,FRANK,GABRIN,NaN,NaN,NaN,DR.,None,2020-04-01 13:19:36+00:00,None,None,04177851693
110,Dr. Stephen Schwartz,STEPHEN,SCHWARTZ,NaN,NaN,NaN,DR.,78,2020-04-01 01:38:07+00:00,None,None,02405670502
111,Dr. Alex Hsu,ALEX,HSU,NaN,NaN,NaN,DR.,67,2020-03-31 23:15:17+00:00,FL,None,01401820236

In [123]:
xx = pd.merge(T_ME, heroes, on='ME', how='outer', suffixes=('_twitter','_hero'))

In [119]:
heroes['ME']=fix_me(heroes['ME'])

In [125]:
remove_processed_mes(xx)

,NAME_twitter,FIRST_NAME_twitter,LAST_NAME_twitter,MIDDLE_NAME_twitter,SUFFIX_twitter,NICKNAME_twitter,TITLE_twitter,AGE_twitter,DATE,STATE_twitter,...,SUFFIX_hero,NICKNAME_hero,TITLE_hero,AGE_hero,SPECIALTY,CITY,STATE_hero,COUNTRY,LOCATION,LINK_hero
0,Dr. Guido Volcovici,GUIDO,VOLCOVICI,NaN,NaN,NaN,DR.,79,2020-06-27 00:39:00+00:00,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dr. Hooshang Behroozi,HOOSHANG,BEHROOZI,NaN,NaN,NaN,DR.,91,2020-06-26 23:29:00+00:00,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dr. Robert Oglesbee,ROBERT,OGLESBEE,NaN,NaN,NaN,DR.,80,2020-06-25 00:37:00+00:00,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dr. John Makley,JOHN,MAKLEY,NaN,NaN,NaN,DR.,84,2020-06-24 23:01:00+00:00,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Dr. Richard Miles,RICHARD,MILES,NaN,NaN,NaN,DR.,None,2020-05-20 19:08:35+00:00,MI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Dr. Richard Mills,RICHARD,MILLS,NaN,NaN,NaN,DR.,None,2020-05-12 14:28:13+00:00,WA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Dr. Sol Dan,SOL,DAN,NaN,NaN,NaN,DR.,70,2020-05-02 17:55:29+00:00,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Dr. Jacob Zeiger Slepian,JACOB,SLEPIAN,ZEIGER,NaN,NaN,DR.,82,2020-04-18 12:46:48+00:00,MA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Dr. Gregory V. Miller,GREGORY,MILLER,V.,NaN,NaN,DR.,None,2020-04-05 19:34:48+00:00,GA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Dr. Ashraf Metwally,ASHRAF,METWALLY,NaN,NaN,NaN,DR.,None,2020-04-05 11:59:10+00:00,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
xx = xx.drop_duplicates()

In [161]:
med_me['ME']=fix_me(med_me['ME'])

In [162]:
remove_processed_mes(med_me)

Empty DataFrame
Columns: [NAME, FIRST_NAME, LAST_NAME, MIDDLE_NAME, SUFFIX, NICKNAME, TITLE, AGE, SPECIALTY, CITY, STATE, COUNTRY, LOCATION, LINK, ME]
Index: []

In [157]:
remove_processed_mes(VV).to_excel('../../Data/Medscape/2020-07-01/Other_Unprocessed_2020-07-01.xlsx')

In [156]:
ppd[ppd['ME']=='56101680474']

,ME,POLO_CITY,POLO_STATE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,BIRTH_YEAR,PRIM_SPEC_CD,SPEC_CD,SPEC_ID,DESC
444246,56101680474,AKRON,OH,JACOB Z SLEPIAN MD,SLEPIAN,JACOB,ZEIGER,1938.0,OTO,OTO,1791,OTOLARYNGOLOGY-HEAD AND NECK SURGERY

In [130]:
MED_ME.to_excel('../../Data/Medscape/2020-07-01/Memorium_USA_Physicians_2020-07-01.xlsx')

In [159]:
med_me = pd.read_excel('../../Data/Medscape/2020-07-01/Memorium_USA_Physicians_2020-07-01.xlsx')

In [133]:
medscape[medscape['NAME']=='Kenneth Conte']

,NAME,AGE,SPECIALTY,CITY,STATE,COUNTRY,LOCATION,LINK
74,Kenneth Conte,75,Family Medicine/General practitioner,Garfield,New Jersey,USA,None,https://www.northjersey.com/story/news/bergen/...

In [137]:
xx = xx.fillna('None')

In [144]:
def clean_other(xx):
    xx = xx.fillna('None')
    xx = xx.drop_duplicates()
    YY = xx[['ME','DATE']]
    dict__list = []
    for row in xx.itertuples():
        me=row.ME
        if row.NAME_twitter=='None':
            name = row.NAME_hero
            first_name = row.FIRST_NAME_hero
            middle_name = row.MIDDLE_NAME_hero
            title = row.TITLE_hero
            nickname = row.NICKNAME_hero
            last_name = row.LAST_NAME_hero
            age = row.AGE_hero
            state = row.STATE_hero
        else:
            name = row.NAME_twitter
            first_name = row.FIRST_NAME_twitter
            middle_name = row.MIDDLE_NAME_twitter
            title = row.TITLE_twitter
            nickname = row.NICKNAME_twitter
            last_name = row.LAST_NAME_twitter
            age = row.AGE_twitter
            state = row.STATE_twitter
        if row.LINK_twitter =='None':
            link = row.LINK_hero
        else:
            link = row.LINK_twitter
        new_dict = {
            'NAME':name,
            'FIRST_NAME':first_name,
            'MIDDLE_NAME': middle_name,
            'LAST_NAME': last_name,
            'NICKNAME': nickname,
            'TITLE': title,
            'AGE': age,
            'STATE': state,
            'LINK': link,
            'ME':me
        }
        dict__list.append(new_dict)
    WW = pd.DataFrame(dict__list)
    VV = pd.merge(YY, WW, on='ME')
    return('VV')

In [148]:
WW = pd.DataFrame(dict__list)

In [142]:
xx.columns

Index(['NAME_twitter', 'FIRST_NAME_twitter', 'LAST_NAME_twitter',
       'MIDDLE_NAME_twitter', 'SUFFIX_twitter', 'NICKNAME_twitter',
       'TITLE_twitter', 'AGE_twitter', 'DATE', 'STATE_twitter', 'LINK_twitter',
       'ME', 'NAME_hero', 'FIRST_NAME_hero', 'LAST_NAME_hero',
       'MIDDLE_NAME_hero', 'SUFFIX_hero', 'NICKNAME_hero', 'TITLE_hero',
       'AGE_hero', 'SPECIALTY', 'CITY', 'STATE_hero', 'COUNTRY', 'LOCATION',
       'LINK_hero'],
      dtype='object')

In [147]:
YY = xx[['ME','CITY','COUNTRY','LOCATION','DATE']]

In [150]:
VV = pd.merge(YY, WW, on='ME')

In [166]:
VV[['ME', 'DATE', 'NAME', 'FIRST_NAME',
       'MIDDLE_NAME', 'LAST_NAME', 'NICKNAME', 'TITLE', 'AGE', 'STATE',
       'LINK']].to_excel('../../Data/Medscape/2020-07-01/Other_Physicians_2020-07-01.xlsx')

In [170]:
VV['DATE'][0].strftime("%m-%d-%Y")

AttributeError: 'str' object has no attribute 'strftime'

In [175]:
ppd[ppd.ME=='00801680518']

,ME,POLO_CITY,POLO_STATE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,BIRTH_YEAR,PRIM_SPEC_CD,SPEC_CD,SPEC_ID,DESC
637880,00801680518,NaN,NaN,RICHARD P MILLS MD,MILLS,RICHARD,PENCE,1943.0,OPH,OPH,1783,OPHTHALMOLOGY