In [1]:
import pandas as pd
import useful_functions as use

In [2]:
inst = pd.read_csv('../../Data/MasterfileCore/ProgramInstitution.txt', sep='|', encoding='latin')

In [43]:
inst.groupby('affiliation_type').count()

,pgm_id,ins_id,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id
affiliation_type,,,,,,,,
A,27039,27039,17965,27014,7,7,7,27039
S,11612,11612,8668,11359,2,2,2,11612

In [39]:
inst[inst.affiliation_type=='S'].drop_duplicates('pgm_id')

,pgm_id,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
2,200121109,10498,S,NaN,2010.0,NaN,NaN,NaN
9,200300001,30509,S,NaN,2013.0,NaN,NaN,NaN
13,200300002,260173,S,NaN,2015.0,NaN,NaN,NaN
16,200500131,50737,S,1.0,2012.0,NaN,NaN,NaN
18,200511038,59503,S,1.0,1996.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
39993,9995500248,559502,S,0.0,2010.0,NaN,NaN,NaN
39994,9995500249,559510,S,NaN,2017.0,NaN,NaN,NaN
39998,9995600147,568030,S,1.0,1996.0,NaN,NaN,NaN
40002,9995600148,568020,S,0.0,2010.0,NaN,NaN,NaN
40005,9995600184,560441,S,NaN,2015.0,NaN,NaN,NaN

In [25]:
insti = inst[inst.affiliation_type=='S']

In [3]:
institution = pd.read_csv('../../Data/MasterfileCore/InstitutionInformation.txt', sep='|', error_bad_lines=False)

b'Skipping line 601: expected 14 fields, saw 18\n'

In [4]:
program = pd.read_csv('../../Data/MasterfileCore/ProgramInformation.txt', sep='|', error_bad_lines=False, encoding='latin')

b'Skipping line 5168: expected 55 fields, saw 59\nSkipping line 5183: expected 55 fields, saw 106\n'

In [53]:
adds = pd.read_csv('../../Data/MasterfileCore/ProgramAddress.txt', sep='|', error_bad_lines=False, encoding='latin')

In [55]:
adds.columns

Index(['pgm_id', 'addr_type', 'addr1', 'addr2', 'addr3', 'city', 'state',
       'Zip+4', 'survey_cycle', 'last_upd_dt', 'last_upd_type', 'last_upd_id'],
      dtype='object')

In [5]:
prog = program[program.pgm_activity_code==0]

In [13]:
inst = inst[inst.pgm_id.isin(prog.pgm_id)]

In [27]:
insti[insti.id.isin(institution.id)==False]

,pgm_id,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id
1643,604912060,499503,S,0.0,2018.0,NaN,NaN,NaN,499503
2796,1101100199,119671,S,NaN,2016.0,NaN,NaN,NaN,119671
4670,1201100746,119671,S,NaN,2017.0,NaN,NaN,NaN,119671
8922,1403313523,339501,S,0.0,2010.0,NaN,NaN,NaN,339501
24442,3201100434,119671,S,NaN,2017.0,NaN,NaN,NaN,119671
29318,4001100316,119671,S,NaN,2017.0,NaN,NaN,NaN,119671

In [42]:
prog[prog.pgm_id=='1101100199']

,pgm_id,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,pgm_addit_length_training,pgm_addit_educ_exp_req,pgm_prev_edu_req_prior,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,AOA_Ind,AOA_Program_ID,Osteopathic_principles
903,1101100199,110.0,11.0,0,199,7,5,0.0,1.0,HCA Healthcare East Florida Division GME/St Lu...,...,NaN,NaN,4.0,2020.0,6/10/2020,V,cmathews,1.0,NaN,NaN

In [39]:
institution.sort_values(by='id')[1500:1528]

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id
1500,119621,23.0,N22,A,Compass Health Systems,NaN,NaN,0,NaN,NaN,2015.0,NaN,NaN,NaN,119621
1501,119622,23.0,N10,A,OneBlood Inc,NaN,NaN,0,NaN,9/28/2015,2015.0,9/28/2015,A,cmathews,119622
1502,119625,23.0,N22,A,Barry Cutler MD-Neurological Diagnostic/Therap...,NaN,NaN,0,NaN,NaN,2015.0,NaN,NaN,NaN,119625
1503,119626,23.0,N22,S,Community Health of South Florida Inc (CHI),NaN,NaN,0,NaN,NaN,2015.0,NaN,NaN,NaN,119626
1504,119627,23.0,N15,S,University of Miami/JFK Medical Center Palm Be...,NaN,NaN,0,NaN,1/13/2015,NaN,NaN,A,jwilson,119627
1505,119628,23.0,N09,A,Sulzbacher Health Center,NaN,NaN,0,NaN,9/28/2015,2015.0,9/28/2015,A,cmathews,119628
1506,119629,23.0,H01,A,West Marion Community Hospital,NaN,NaN,0,NaN,10/14/2016,NaN,NaN,NaN,NaN,119629
1507,119632,33.0,H01,A,Blake Medical Center,NaN,NaN,0,NaN,8/1/2015,2015.0,NaN,NaN,NaN,119632
1508,119633,16.0,H01,S,Lakeside Medical Center,NaN,NaN,0,NaN,6/25/2015,2018.0,1/28/2019,K,jwilson,119633
1509,119634,33.0,H01,A,St Petersburg General Hospital,NaN,NaN,0,NaN,12/15/2015,2015.0,NaN,NaN,NaN,119634
1510,119635,23.0,N18,S,Memorial Healthcare System (Hollywood Florida),NaN,NaN,0,NaN,2/4/2016,NaN,NaN,NaN,NaN,119635
1511,119636,32.0,H01,S,Manatee Memorial Hospital,NaN,NaN,0,NaN,NaN,2017.0,NaN,NaN,NaN,119636
1512,119637,33.0,H01,A,Northside Hospital,NaN,NaN,0,NaN,4/29/2015,2015.0,NaN,NaN,NaN,119637
1513,119638,23.0,N22,S,Centerstone,NaN,NaN,0,NaN,1/24/2018,2018.0,NaN,NaN,jwilson,119638
1514,119639,31.0,H01,S,Wellington Regional Medical Center,NaN,NaN,0,NaN,3/1/2018,2018.0,NaN,NaN,NaN,119639
1515,119646,16.0,H01,A,Broward Health Imperial Point,NaN,NaN,0,NaN,4/26/2016,2016.0,NaN,NaN,NaN,119646
1516,119648,33.0,H01,A,Palms West Hospital,NaN,NaN,0,NaN,NaN,2015.0,NaN,NaN,NaN,119648
1517,119649,16.0,H01,A,Memorial Regional Hospital South,NaN,NaN,0,NaN,4/21/2016,2016.0,NaN,NaN,NaN,119649
1518,119650,16.0,H01,A,Memorial Hospital West-South Broward Hospital ...,NaN,NaN,0,NaN,8/23/2016,NaN,NaN,NaN,NaN,119650
1519,119657,23.0,47,A,Institute of Non-Surgical Orthopedics,NaN,NaN,0,NaN,6/26/2018,2018.0,NaN,NaN,NaN,119657
1520,119658,23.0,N09,A,Shino Bay Cosmetic Dermatology and Laser Insti...,NaN,NaN,0,NaN,4/12/2017,2017.0,NaN,NaN,NaN,119658
1521,119663,NaN,13,A,Surgical Park Center,NaN,NaN,0,NaN,12/2/2019,2019.0,NaN,NaN,NaN,119663
1522,119665,23.0,N09,A,Nemours Children's Clinic-Pensacola,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,119665
1523,119667,23.0,46,A,Ayers Health and Rehabilitation Center,NaN,NaN,0,NaN,5/13/2016,2016.0,NaN,NaN,NaN,119667
1524,119668,23.0,N22,A,NeoGenomics Laboratories,NaN,NaN,0,NaN,8/23/2016,NaN,NaN,NaN,NaN,119668
1525,119669,23.0,N09,A,Langley Health Services,NaN,NaN,0,NaN,5/13/2016,2016.0,NaN,NaN,NaN,119669
1526,119672,23.0,N22,A,Physician Associates LLC,NaN,NaN,0,NaN,8/23/2016,NaN,NaN,NaN,NaN,119672
1527,119673,33.0,H01,A,Lawnwood Regional Medical Center,NaN,NaN,0,NaN,4/12/2017,2017.0,NaN,NaN,NaN,119673

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 ...]

In [70]:
def fix_id(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    if len(num) == 9:
        num = '0' + num
    return num

In [56]:
insti['program_id'] = [fix_id(x) for x in insti.pgm_id]

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
no_dupes = pd.merge(prog, insti, left_on='pgm_id', right_on='program_id').drop_duplicates('ins_id', keep=False)

In [87]:
all_ = pd.merge(prog, insti, left_on='pgm_id', right_on='program_id')

In [88]:
all_[(all_.ins_id.isin(no_dupes.ins_id))==False].sort_values('ins_id')

,pgm_id_x,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,Osteopathic_principles,pgm_id_y,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle_y,last_upd_dt_y,last_upd_type_y,last_upd_id_y,program_id
11266,7000132085,700.0,1.0,32,85,7,6,0.0,0.0,USA Health Program,...,0.0,7000132085,10406,S,0.0,2010.0,NaN,NaN,NaN,7000132085
5101,1870118125,187.0,1.0,18,125,7,6,0.0,1.0,USA Health Program,...,NaN,1870118125,10406,S,1.0,2011.0,NaN,NaN,NaN,1870118125
2656,1410111060,141.0,1.0,11,60,7,6,0.0,1.0,USA Health Program,...,NaN,1410111060,10406,S,1.0,2010.0,NaN,NaN,NaN,1410111060
1199,1200111024,120.0,1.0,11,24,7,6,0.0,1.0,USA Health Program,...,NaN,1200111024,10406,S,1.0,2010.0,NaN,NaN,NaN,1200111024
10281,4420144136,442.0,1.0,44,136,7,6,0.0,1.0,USA Health Program,...,0.0,4420144136,10406,S,1.0,2012.0,NaN,NaN,NaN,4420144136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,1205611343,120.0,56.0,11,343,7,3,0.0,1.0,University of Wisconsin (Madison) Program,...,1.0,1205611343,569501,S,0.0,2010.0,NaN,NaN,NaN,1205611343
1850,1205700370,120.0,57.0,0,370,7,8,0.0,1.0,University of Wyoming College of Health Scienc...,...,NaN,1205700370,579501,S,NaN,2018.0,NaN,NaN,NaN,1205700370
1851,1205712351,120.0,57.0,12,351,7,8,0.0,1.0,University of Wyoming (Casper) Program,...,1.0,1205712351,579501,S,1.0,2010.0,NaN,NaN,NaN,1205712351
1852,1205712369,120.0,57.0,12,369,7,8,0.0,1.0,University of Wyoming (Cheyenne) Program,...,0.0,1205712369,579501,S,0.0,1996.0,NaN,NaN,NaN,1205712369
1901,1255712001,125.0,57.0,12,001,7,8,0.0,1.0,University of Wyoming (Casper) Program,...,NaN,1255712001,579501,S,NaN,2015.0,NaN,NaN,NaN,1255712001

In [82]:
institution.sort_values('ins_name')[1000:1010]

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
1830,129548,33.0,H01,A,Cartersville Medical Center,NaN,NaN,0,NaN,10/9/2015,2015.0,NaN,NaN,NaN
4407,360015,23.0,N22,A,Cary Cardiology,NaN,NaN,0,NaN,10/23/2018,2018.0,NaN,NaN,NaN
814,059679,23.0,H06,A,Casa Colina Centers for Rehabilitation,NaN,NaN,0,NaN,1/16/2018,2018.0,NaN,NaN,NaN
236,038148,23.0,N22,A,Casa de Los Ninos,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
214,038116,23.0,H18,A,Casa de la Luz Hospice,NaN,NaN,0,NaN,1/28/2011,2010.0,1/28/2011,A,cmathews
5667,420003,23.0,N22,A,Casa la Providencia,NaN,NaN,0,NaN,10/8/2018,2018.0,NaN,NaN,NaN
4861,389068,23.0,N11,A,Case Western Reserve University School of Medi...,NaN,NaN,0,NaN,1/20/2010,2009.0,1/20/2010,A,cmathews
4774,380373,23.0,H01,S,Case Western Reserve University/University Hos...,9/7/2010,Case Western Reserve Univ/Univ Hospitals Case ...,0,N,NaN,2000.0,NaN,NaN,NaN
1913,148032,21.0,H01,A,Castle Medical Center,NaN,.,0,NaN,1/20/2012,2011.0,2/8/2012,M,Meded
936,070027,23.0,N22,A,Castle Pines Urgent Care,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN

In [89]:
all_[all_.ins_id==380373]

,pgm_id_x,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,Osteopathic_principles,pgm_id_y,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle_y,last_upd_dt_y,last_upd_type_y,last_upd_id_y,program_id
58,0203800130,20.0,38.0,0,130,7,3,0.0,1.0,Case Western Reserve University/University Hos...,...,1.0,203800130,380373,S,NaN,2016.0,NaN,NaN,NaN,0203800130
191,0403821119,40.0,38.0,21,119,7,3,0.0,1.0,Case Western Reserve University/University Hos...,...,NaN,403821119,380373,S,1.0,2015.0,NaN,NaN,NaN,0403821119
342,0423821015,42.0,38.0,21,015,7,3,0.0,1.0,Case Western Reserve University/University Hos...,...,NaN,423821015,380373,S,1.0,1998.0,NaN,NaN,NaN,0423821015
442,0453821012,45.0,38.0,21,12,7,3,0.0,1.0,Case Western Reserve University/University Hos...,...,0.0,453821012,380373,S,1.0,2010.0,NaN,NaN,NaN,0453821012
534,0603831070,60.0,38.0,31,070,7,3,0.0,1.0,Case Western Reserve University/University Hos...,...,NaN,603831070,380373,S,1.0,2009.0,NaN,NaN,NaN,0603831070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11088,5303804097,530.0,38.0,4,097,7,3,0.0,1.0,Case Western Reserve University/University Hos...,...,0.0,5303804097,380373,S,0.0,2010.0,NaN,NaN,NaN,5303804097
11323,7003832121,700.0,38.0,32,121,7,3,0.0,0.0,Case Western Reserve University/University Hos...,...,NaN,7003832121,380373,S,1.0,NaN,NaN,NaN,NaN,7003832121
11414,7523800001,752.0,38.0,0,001,7,3,0.0,1.0,Case Western Reserve University/University Hos...,...,NaN,7523800001,380373,S,NaN,2015.0,NaN,NaN,NaN,7523800001
11434,7653844002,765.0,38.0,44,002,7,3,0.0,0.0,Case Western Reserve University/University Hos...,...,0.0,7653844002,380373,S,1.0,1998.0,NaN,NaN,NaN,7653844002
11444,7663844001,766.0,38.0,44,001,7,3,0.0,0.0,Case Western Reserve University/University Hos...,...,NaN,7663844001,380373,S,1.0,2003.0,NaN,NaN,NaN,7663844001

In [90]:
all_[all_.pgm_spec==280.0]

,pgm_id_x,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,Osteopathic_principles,pgm_id_y,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle_y,last_upd_dt_y,last_upd_type_y,last_upd_id_y,program_id
6479,2800121010,280.0,1.0,21,10,7,6,0.0,1.0,University of Alabama Medical Center Program,...,0.0,2800121010,10498,S,1.0,2010.0,NaN,NaN,NaN,2800121010
6480,2800300142,280.0,3.0,0,142,7,8,0.0,1.0,University of Arizona College of Medicine-Tucs...,...,0.0,2800300142,30509,S,1.0,2012.0,NaN,NaN,NaN,2800300142
6481,2800331134,280.0,3.0,31,134,7,8,0.0,1.0,Mayo Clinic College of Medicine and Science (A...,...,NaN,2800331134,260173,S,0.0,2010.0,NaN,NaN,NaN,2800331134
6482,2800421012,280.0,4.0,21,12,7,7,0.0,1.0,University of Arkansas for Medical Sciences (U...,...,0.0,2800421012,49501,S,0.0,1996.0,NaN,NaN,NaN,2800421012
6483,2800511007,280.0,5.0,11,7,3,9,0.0,1.0,Naval Medical Center (San Diego) Program,...,NaN,2800511007,50386,S,1.0,2010.0,NaN,NaN,NaN,2800511007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6595,2805421112,280.0,54.0,21,112,7,9,0.0,1.0,University of Washington Program,...,0.0,2805421112,540502,S,0.0,2010.0,NaN,NaN,NaN,2805421112
6596,2805431005,280.0,54.0,31,5,2,9,0.0,1.0,Madigan Army Medical Center Program,...,0.0,2805431005,540393,S,1.0,2010.0,NaN,NaN,NaN,2805431005
6597,2805511113,280.0,55.0,11,113,7,5,0.0,1.0,West Virginia University Program,...,0.0,2805511113,559502,S,0.0,2010.0,NaN,NaN,NaN,2805511113
6598,2805621114,280.0,56.0,21,114,7,3,0.0,1.0,University of Wisconsin Hospitals and Clinics ...,...,0.0,2805621114,560176,S,1.0,1996.0,NaN,NaN,NaN,2805621114
6599,2805621115,280.0,56.0,21,115,7,3,0.0,1.0,Medical College of Wisconsin Affiliated Hospit...,...,0.0,2805621115,560441,S,0.0,2010.0,NaN,NaN,NaN,2805621115

In [92]:
institution

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
0,010004,23.0,N22,A,USA Strada Patient Care Center,NaN,NaN,0,NaN,10/28/2019,2019.0,NaN,NaN,NaN
1,010005,23.0,N22,A,West Mobile Medical Group,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN
2,010006,23.0,H01,A,Brewton Medical Center,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN
3,010008,23.0,N22,A,Tennessee River Dermatology,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN
4,010010,23.0,N22,A,Felix Morris MD LLC Office,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7177,570003,16.0,H01,A,Ivinson Memorial Hospital,NaN,NaN,0,NaN,5/28/2019,2019.0,NaN,NaN,NaN
7178,570100,23.0,H01,A,Wyoming Medical Center,8/1/1986,NaN,0,N,NaN,1997.0,NaN,NaN,NaN
7179,570106,13.0,H01,A,Cheyenne Regional Medical Center,2/2/2007,United Medical Center,0,N,NaN,2006.0,2/2/2007,A,cmathews
7180,578001,45.0,H01,A,Cheyenne Veterans Affairs Medical Center,NaN,NaN,0,NaN,6/6/1997,1996.0,NaN,NaN,NaN
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN

In [91]:
insti

,pgm_id,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,program_id
2,200121109,10498,S,NaN,2010.0,NaN,NaN,NaN,0200121109
9,200300001,30509,S,NaN,2013.0,NaN,NaN,NaN,0200300001
13,200300002,260173,S,NaN,2015.0,NaN,NaN,NaN,0200300002
16,200500131,50737,S,1.0,2012.0,NaN,NaN,NaN,0200500131
18,200511038,59503,S,1.0,1996.0,NaN,NaN,NaN,0200511038
...,...,...,...,...,...,...,...,...,...
39993,9995500248,559502,S,0.0,2010.0,NaN,NaN,NaN,9995500248
39994,9995500249,559510,S,NaN,2017.0,NaN,NaN,NaN,9995500249
39998,9995600147,568030,S,1.0,1996.0,NaN,NaN,NaN,9995600147
40002,9995600148,568020,S,0.0,2010.0,NaN,NaN,NaN,9995600148
40005,9995600184,560441,S,NaN,2015.0,NaN,NaN,NaN,9995600184

In [118]:
pd.merge(insti[['id', 'pri_clinical_loc_ind']],institution, left_on='id', right_on='ins_id')

,id,pri_clinical_loc_ind,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
0,010498,NaN,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
1,010498,1.0,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
2,010498,1.0,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
3,010498,1.0,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
4,010498,1.0,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11847,350223,1.0,350223,12.0,59,S,John R Oishei Children's Hospital,10/20/1999,Women and Children's Hospital of Buffalo,0,N,NaN,2003.0,1/30/2004,A,cmathews
11848,548096,NaN,548096,21.0,H01,S,St Joseph's Medical Center,2/27/2019,CHI Franciscan Health-St Joseph's Medical Center,0,NaN,6/9/2014,2014.0,NaN,NaN,NaN
11849,059585,1.0,059585,21.0,41,S,John Wayne Cancer Institute at St John's Healt...,NaN,NaN,0,NaN,2/28/2013,2013.0,NaN,NaN,NaN
11850,240448,1.0,240448,23.0,H01,S,Newton-Wellesley Hospital,NaN,NaN,0,N,NaN,1998.0,NaN,NaN,NaN
11851,498025,1.0,498025,23.0,H01,S,Intermountain Medical Center,NaN,NaN,0,NaN,1/17/2008,2003.0,1/25/2008,M,Meded

In [115]:
institution = institution[institution.ins_affiliation_type == 'S']

In [23]:
institution['id'] = [fix_id_2(x) for x in institution.ins_id]

In [22]:
inst['id'] = [fix_id_2(x) for x in inst.ins_id]

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [108]:
def fix_id_2(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    if len(num) == 5:
        num = '0' + num
    return num

In [119]:
institution

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
10,010017,16.0,H01,S,East Alabama Medical Center,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
28,010406,12.0,H01,S,USA Health,8/3/2020,University of South Alabama Medical Center,0,Y,NaN,2001.0,NaN,NaN,NaN
30,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
38,010515,23.0,H01,S,St Vincent's East,1/17/2008,Medical Center East,0,N,NaN,2003.0,1/27/2010,M,Meded
39,010519,23.0,N18,S,Brookwood Baptist Health,1/1/2016,Baptist Health System Inc,0,Y,NaN,1998.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7098,560441,23.0,N22,S,Medical College of Wisconsin Affiliated Hospit...,12/20/2001,Medical College of Wisconsin Affiliated Hospit...,0,Y,NaN,2001.0,NaN,NaN,NaN
7111,568020,23.0,H01,S,Aurora Health Care,NaN,NaN,0,NaN,NaN,1997.0,NaN,NaN,NaN
7115,568030,23.0,H01,S,Gundersen Lutheran Medical Foundation,NaN,Gundersen Medical Foundation,0,NaN,10/14/1998,2000.0,NaN,NaN,NaN
7135,569501,12.0,N11,S,University of Wisconsin School of Medicine and...,12/13/2005,University of Wisconsin Medical School,0,NaN,NaN,2005.0,1/11/2006,A,cmathews
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN

In [122]:
institution

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
10,010017,16.0,H01,S,East Alabama Medical Center,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
28,010406,12.0,H01,S,USA Health,8/3/2020,University of South Alabama Medical Center,0,Y,NaN,2001.0,NaN,NaN,NaN
30,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
38,010515,23.0,H01,S,St Vincent's East,1/17/2008,Medical Center East,0,N,NaN,2003.0,1/27/2010,M,Meded
39,010519,23.0,N18,S,Brookwood Baptist Health,1/1/2016,Baptist Health System Inc,0,Y,NaN,1998.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7098,560441,23.0,N22,S,Medical College of Wisconsin Affiliated Hospit...,12/20/2001,Medical College of Wisconsin Affiliated Hospit...,0,Y,NaN,2001.0,NaN,NaN,NaN
7111,568020,23.0,H01,S,Aurora Health Care,NaN,NaN,0,NaN,NaN,1997.0,NaN,NaN,NaN
7115,568030,23.0,H01,S,Gundersen Lutheran Medical Foundation,NaN,Gundersen Medical Foundation,0,NaN,10/14/1998,2000.0,NaN,NaN,NaN
7135,569501,12.0,N11,S,University of Wisconsin School of Medicine and...,12/13/2005,University of Wisconsin Medical School,0,NaN,NaN,2005.0,1/11/2006,A,cmathews
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN

In [127]:
insti.sort_values('ins_id')[['pgm_id', 'ins_id', 'affiliation_type', 'pri_clinical_loc_ind',
       'survey_cycle', 'last_upd_dt', 'last_upd_type', 'last_upd_id',
       'program_id']]

,pgm_id,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,program_id
12143,1470114001,10406,S,NaN,2017.0,NaN,NaN,NaN,1470114001
30776,4050140195,10406,S,1.0,2013.0,NaN,NaN,NaN,4050140195
7969,1400111024,10406,S,1.0,2010.0,NaN,NaN,NaN,1400111024
38878,7000132085,10406,S,0.0,2010.0,NaN,NaN,NaN,7000132085
9691,1410111060,10406,S,1.0,2010.0,NaN,NaN,NaN,1410111060
...,...,...,...,...,...,...,...,...,...
6893,1205621609,569501,S,0.0,2010.0,NaN,NaN,NaN,1205621609
6915,1205700370,579501,S,NaN,2018.0,NaN,NaN,NaN,1205700370
6920,1205712351,579501,S,1.0,2010.0,NaN,NaN,NaN,1205712351
6924,1205712369,579501,S,0.0,1996.0,NaN,NaN,NaN,1205712369
7126,1255712001,579501,S,NaN,2015.0,NaN,NaN,NaN,1255712001

In [74]:
ppd = use.get_ppd()

C:/Users/vigrose/Data/PPD\ppd_data_20210731.csv

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,14,20,21,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [11]:
ppd.columns

Index(['ME', 'RECORD_ID', 'UPDATE_TYPE', 'ADDRESS_TYPE', 'MAILING_NAME',
       'LAST_NAME', 'FIRST_NAME', 'MIDDLE_NAME', 'SUFFIX', 'MAILING_LINE_1',
       'MAILING_LINE_2', 'CITY', 'STATE', 'ZIP', 'SECTOR', 'CARRIER_ROUTE',
       'ADDRESS_UNDELIVERABLE_FLAG', 'FIPS_COUNTY', 'FIPS_STATE',
       'PRINTER_CONTROL_CODE', 'PC_ZIP', 'PC_SECTOR', 'DELIVERY_POINT_CODE',
       'CHECK_DIGIT', 'PRINTER_CONTROL_CODE_2', 'REGION', 'DIVISION', 'GROUP',
       'TRACT', 'SUFFIX_CENSUS', 'BLOCK_GROUP', 'MSA_POPULATION_SIZE',
       'MICRO_METRO_IND', 'CBSA', 'CBSA_DIV_IND', 'MD_DO_CODE', 'BIRTH_YEAR',
       'BIRTH_CITY', 'BIRTH_STATE', 'BIRTH_COUNTRY', 'GENDER',
       'TELEPHONE_NUMBER', 'PRESUMED_DEAD_FLAG', 'FAX_NUMBER', 'TOP_CD',
       'PE_CD', 'PRIM_SPEC_CD', 'SEC_SPEC_CD', 'MPA_CD', 'PRA_RECIPIENT',
       'PRA_EXP_DT', 'GME_CONF_FLG', 'FROM_DT', 'TO_DT', 'YEAR_IN_PROGRAM',
       'POST_GRADUATE_YEAR', 'GME_SPEC_1', 'GME_SPEC_2', 'TRAINING_TYPE',
       'GME_INST_STATE', 'GME_INST_ID', 'MEDSCHOOL_STATE', 'MEDSCHOOL_ID',
       'MEDSCHOOL_GRAD_YEAR', 'NO_CONTACT_IND', 'NO_WEB_FLAG', 'PDRP_FLAG',
       'PDRP_START_DT', 'POLO_MAILING_LINE_1', 'POLO_MAILING_LINE_2',
       'POLO_CITY', 'POLO_STATE', 'POLO_ZIP', 'POLO_SECTOR',
       'POLO_CARRIER_ROUTE', 'MOST_RECENT_FORMER_LAST_NAME',
       'MOST_RECENT_FORMER_MIDDLE_NAME', 'MOST_RECENT_FORMER_FIRST_NAME',
       'NEXT_MOST_RECENT_FORMER_LAST', 'NEXT_MOST_RECENT_FORMER_MIDDLE',
       'NEXT_MOST_RECENT_FORMER_FIRST'],
      dtype='object')

In [13]:
ppd.groupby('GME_INST_STATE').count()

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
GME_INST_STATE,,,,,,,,,,,,,,,,,,,,,
1.0,12305,12305,12305,12209,12305,12305,12305,10913,974,2066,...,9925,9927,9813,9847,2923,2654,2923,321,278,321
2.0,237,237,237,224,237,237,237,210,0,55,...,178,178,168,170,43,39,43,1,1,1
3.0,11723,11723,11723,11562,11723,11723,11722,9832,302,2029,...,9279,9279,9192,9215,2498,2171,2498,277,221,277
4.0,6867,6867,6867,6796,6867,6867,6867,5988,365,975,...,5411,5411,5359,5373,1608,1422,1608,170,147,170
5.0,117012,117012,117012,115704,117012,117008,117011,95516,2804,20547,...,90589,90646,89408,89727,24613,20960,24612,2834,2316,2834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64.0,88,88,88,83,88,88,88,74,3,19,...,56,58,56,56,20,18,20,0,0,0
65.0,723,723,723,637,723,723,723,561,9,200,...,468,493,464,465,196,161,196,14,9,14
67.0,539,539,539,469,539,539,539,385,9,176,...,354,369,343,346,160,137,160,18,18,18
68.0,54,54,54,49,54,54,54,45,0,17,...,39,42,38,38,16,15,16,4,4,4
69.0,40,40,40,39,40,40,40,34,1,7,...,28,29,28,28,8,7,8,0,0,0

In [14]:
ppd.groupby('GME_INST_ID').count()

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
GME_INST_ID,,,,,,,,,,,,,,,,,,,,,
3.0,4,4,4,4,4,4,4,3,0,0,...,0,0,0,0,0,0,0,0,0,0
40.0,160,160,160,152,160,160,160,110,3,36,...,44,44,44,44,7,3,7,0,0,0
63.0,191,191,191,187,191,191,191,125,4,65,...,81,81,80,80,8,4,8,0,0,0
100.0,286,286,286,280,286,286,286,261,10,51,...,243,243,239,240,97,88,97,21,17,21
101.0,1454,1454,1454,1437,1454,1454,1454,1123,43,174,...,1086,1087,1066,1071,396,318,396,49,38,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9824.0,6,6,6,5,6,6,6,5,0,0,...,2,2,2,2,0,0,0,0,0,0
9832.0,34,34,34,34,34,34,34,21,0,2,...,13,13,13,13,2,1,2,0,0,0
9854.0,45,45,45,44,45,45,45,35,0,2,...,9,9,9,9,1,1,1,0,0,0
9905.0,45,45,45,45,45,45,45,26,0,3,...,17,17,17,17,1,1,1,0,0,0
9953.0,146,146,146,146,146,146,146,92,3,11,...,45,45,44,44,4,3,4,1,0,1

In [17]:
[str(x).replace('.0','') for x in ppd.GME_INST_ID]

['440',
 '9502',
 '291',
 '136',
 '498',
 '519',
 '498',
 '211',
 '152',
 'nan',
 '738',
 '162',
 '498',
 '498',
 '8038',
 '316',
 '498',
 '498',
 '762',
 '184',
 '9501',
 '8038',
 '9501',
 '9501',
 '519',
 '302',
 '467',
 '173',
 '9501',
 '478',
 '9502',
 '498',
 '222',
 '9501',
 '498',
 '467',
 '8024',
 '9501',
 '132',
 '498',
 '132',
 '367',
 '498',
 '498',
 '256',
 '492',
 '441',
 '515',
 '467',
 '254',
 '176',
 'nan',
 '8168',
 '498',
 '515',
 '474',
 '498',
 '498',
 '498',
 '513',
 '722',
 '9501',
 '173',
 '348',
 '498',
 '184',
 '498',
 '405',
 '498',
 '498',
 '498',
 '498',
 '498',
 '515',
 '515',
 '487',
 '331',
 '9501',
 '703',
 '498',
 '498',
 '453',
 '8024',
 '9501',
 '498',
 '316',
 '256',
 '498',
 '498',
 '519',
 '474',
 '314',
 '513',
 '498',
 '507',
 '302',
 '8016',
 '136',
 '8001',
 '498',
 '438',
 '9501',
 '426',
 '498',
 '9501',
 '782',
 '247',
 '467',
 '498',
 '490',
 '492',
 '131',
 '9501',
 '132',
 '502',
 'nan',
 '406',
 '147',
 '9502',
 '467',
 '498',
 '547',
 '498',
 '467',
 '498',
 '498',
 'nan',
 '173',
 '498',
 '314',
 '515',
 '480',
 '498',
 '490',
 '498',
 '498',
 '517',
 '8012',
 '9502',
 '498',
 '8024',
 '378',
 '9503',
 '470',
 '762',
 '498',
 '498',
 '132',
 '204',
 '222',
 '258',
 '129',
 '480',
 '498',
 '498',
 '8116',
 '132',
 '281',
 '498',
 '498',
 '498',
 '173',
 '8024',
 '498',
 '498',
 '184',
 '498',
 '9501',
 'nan',
 '8012',
 '498',
 '498',
 '448',
 '498',
 '384',
 '498',
 '498',
 '438',
 '498',
 '224',
 '498',
 '498',
 '498',
 '9501',
 '405',
 '722',
 '247',
 '302',
 '8076',
 '498',
 '498',
 '406',
 '498',
 '498',
 '519',
 '9502',
 '498',
 '519',
 '8021',
 '498',
 '709',
 '8020',
 '498',
 '498',
 '124',
 '507',
 '123',
 '438',
 '498',
 '8002',
 '490',
 '9503',
 '316',
 '519',
 '498',
 '256',
 '498',
 '547',
 '502',
 '498',
 '519',
 '316',
 '8019',
 '498',
 '498',
 '316',
 '498',
 '498',
 '8116',
 '9502',
 'nan',
 '467',
 '492',
 '302',
 '738',
 '281',
 '165',
 '211',
 '9503',
 '498',
 '498',
 '498',
 '132',
 '132',
 '9501',
 '8009',
 '381',
 '498',
 '498',
 '9501',
 '737',
 '9502',
 '9501',
 '519',
 '132',
 '547',
 '737',
 '258',
 '498',
 '498',
 '498',
 '498',
 '8038',
 '498',
 '9502',
 '498',
 '129',
 '131',
 '467',
 '8020',
 '109',
 '480',
 '467',
 '8051',
 '498',
 '498',
 '498',
 '377',
 '8102',
 '519',
 '498',
 '490',
 '8115',
 '9503',
 '107',
 '9501',
 '222',
 '8051',
 '173',
 '498',
 '474',
 '467',
 '703',
 '404',
 '519',
 '404',
 '147',
 '9501',
 '519',
 '211',
 '515',
 '474',
 '498',
 '498',
 'nan',
 '477',
 '393',
 '433',
 '522',
 '256',
 '198',
 '498',
 '9503',
 '406',
 '490',
 '8076',
 '9501',
 'nan',
 'nan',
 '8051',
 '498',
 '510',
 '381',
 '405',
 '498',
 '152',
 '8060',
 '9502',
 '124',
 '7024',
 '498',
 '474',
 '8015',
 '507',
 '498',
 '498',
 '9501',
 '345',
 '211',
 '9502',
 '498',
 '547',
 '703',
 '519',
 '498',
 '480',
 '490',
 '467',
 '9501',
 '491',
 '498',
 '498',
 '498',
 '8005',
 '224',
 '498',
 '9502',
 '9501',
 '8030',
 '222',
 '498',
 '165',
 '498',
 '498',
 '9501',
 '173',
 '498',
 '491',
 '313',
 '386',
 '9501',
 '498',
 '498',
 '498',
 '367',
 '498',
 '467',
 '498',
 '498',
 '498',
 '498',
 '478',
 '498',
 '498',
 '9502',
 '184',
 '9503',
 '507',
 '509',
 '498',
 '9505',
 '351',
 '467',
 '311',
 '467',
 '474',
 '222',
 '222',
 '9501',
 '415',
 '173',
 '9501',
 '9501',
 '9501',
 '490',
 '474',
 '394',
 '513',
 '498',
 '247',
 '467',
 '474',
 '722',
 '480',
 '266',
 '519',
 '498',
 '9503',
 '132',
 '8051',
 '9501',
 '140',
 '132',
 '498',
 '519',
 '490',
 '513',
 '507',
 '198',
 'nan',
 '498',
 '9502',
 '498',
 '9502',
 '109',
 'nan',
 '106',
 '498',
 '498',
 '498',
 '467',
 '745',
 '498',
 '737',
 '8049',
 '124',
 '8068',
 '498',
 '8077',
 '519',
 '448',
 '498',
 '445',
 '498',
 '8009',
 '519',
 '498',
 '9502',
 '703',
 '8020',
 '498',
 '490',
 '498',
 '498',
 '745',
 '9502',
 '498',
 '737',
 '498',
 '498',
 '132',
 '480',
 '106',
 '490',
 '498',
 '222',
 '490',
 '498',
 '129',
 '8038',
 '513',
 '498',
 '174',
 '498',
 '480',
 '176',
 '281',
 '406',
 '381',
 '8051',
 '491',
 '498',
 '109',
 '291',
 '9501',
 '491',
 '8012',
 'nan',
 '490',
 '9502',
 '9503',
 '490',
 '547',
 '498',
 '247',
 '474',
 '498',
 '498',
 '331',
 '498',
 '8090',
 '211',
 '498',
 '8025',
 '9501',
 '498',
 '498',
 '498',
 '480',
 '131',
 '498',
 '9501',
 '498',
 '498',
 '513',
 '316',
 '498',
 '224',
 '211',
 '498',
 '513',
 '498',
 '490',
 '498',
 '498',
 '131',
 '132',
 '498',
 '498',
 '474',
 '405',
 '388',
 '737',
 '498',
 '515',
 '450',
 '480',
 '131',
 '513',
 '222',
 '498',
 '8020',
 '467',
 'nan',
 '480',
 '498',
 '9502',
 '547',
 '8025',
 '278',
 '9501',
 '9501',
 '498',
 '346',
 '8024',
 '281',
 '314',
 '222',
 '316',
 '513',
 '498',
 '256',
 '195',
 '480',
 '498',
 '9503',
 '394',
 '714',
 '8024',
 '465',
 '498',
 '498',
 '441',
 '9502',
 '438',
 '9501',
 '9501',
 '9501',
 'nan',
 '189',
 '498',
 '173',
 '256',
 '498',
 '8013',
 '313',
 '498',
 '474',
 '474',
 '224',
 'nan',
 'nan',
 '467',
 'nan',
 '465',
 '498',
 '467',
 '498',
 '502',
 '173',
 '8077',
 '173',
 '9502',
 '110',
 '124',
 '490',
 '284',
 '441',
 '498',
 '519',
 '373',
 '732',
 '498',
 '480',
 '474',
 '498',
 '478',
 '9501',
 '498',
 '465',
 '498',
 '498',
 'nan',
 '467',
 '9502',
 '313',
 '367',
 '498',
 '106',
 '498',
 '498',
 '498',
 '498',
 '480',
 '498',
 '448',
 '9502',
 '467',
 '8105',
 'nan',
 '498',
 '498',
 '9505',
 '498',
 '9501',
 '498',
 '498',
 '9501',
 '256',
 '467',
 '8013',
 '498',
 '8025',
 '9501',
 '9501',
 '498',
 '465',
 '131',
 '109',
 '490',
 '478',
 '498',
 '406',
 '498',
 '498',
 '498',
 '129',
 '498',
 '415',
 '9501',
 '448',
 '256',
 '8024',
 'nan',
 '313',
 '547',
 '316',
 '703',
 '302',
 '467',
 '291',
 '498',
 '9501',
 '490',
 '480',
 '8025',
 '515',
 '490',
 '519',
 '9505',
 '8025',
 '498',
 '498',
 '519',
 '132',
 '498',
 '256',
 '8025',
 '123',
 '498',
 '8025',
 '316',
 '9502',
 '222',
 '256',
 '498',
 '8024',
 '8005',
 '513',
 '498',
 '498',
 '498',
 '498',
 '490',
 '9501',
 '109',
 '314',
 '519',
 '123',
 '507',
 '9505',
 '316',
 '498',
 '448',
 '415',
 '8025',
 '490',
 '9501',
 '8015',
 '124',
 '9501',
 '9501',
 '498',
 '474',
 '8025',
 '502',
 '519',
 '415',
 '732',
 '9501',
 '474',
 '316',
 '432',
 '9501',
 '405',
 '515',
 '498',
 '8025',
 '498',
 '9502',
 '316',
 '474',
 'nan',
 '238',
 '247',
 '509',
 '173',
 '132',
 '9502',
 '311',
 '498',
 '9501',
 '438',
 '498',
 '278',
 '9501',
 '515',
 '406',
 '7005',
 '478',
 '8038',
 '498',
 '507',
 '130',
 '361',
 '477',
 '253',
 'nan',
 'nan',
 '152',
 '8025',
 '498',
 '498',
 '498',
 '498',
 '132',
 '8068',
 '498',
 '498',
 '498',
 '513',
 '373',
 '8025',
 '498',
 '8025',
 '493',
 '9505',
 '490',
 '498',
 '507',
 '498',
 '490',
 '498',
 '467',
 '498',
 '173',
 '502',
 'nan',
 '465',
 '498',
 '498',
 '519',
 '515',
 '8025',
 '381',
 '165',
 '381',
 '490',
 '8009',
 '498',
 '498',
 '478',
 '313',
 '256',
 '513',
 '515',
 'nan',
 '284',
 '498',
 '8038',
 '498',
 '316',
 '738',
 '498',
 '498',
 '705',
 '441',
 '448',
 '9502',
 '498',
 '498',
 '9501',
 '9501',
 '173',
 '498',
 '9501',
 '302',
 '9501',
 '8024',
 '9501',
 '515',
 '498',
 '404',
 '480',
 '148',
 '491',
 '498',
 '490',
 '8025',
 '247',
 '266',
 '498',
 '291',
 '9502',
 '467',
 '9505',
 '211',
 '498',
 '388',
 '150',
 '302',
 '238',
 '470',
 '467',
 '478',
 '456',
 '9503',
 'nan',
 '498',
 '498',
 '125',
 '184',
 '498',
 '394',
 '498',
 '222',
 '498',
 '490',
 '8025',
 '467',
 '434',
 '284',
 '498',
 '8025',
 '547',
 '222',
 '498',
 '498',
 '8051',
 '467',
 '498',
 '498',
 '8025',
 '8025',
 '498',
 '406',
 '498',
 '346',
 '8025',
 '9501',
 '373',
 '467',
 '9501',
 '498',
 '498',
 '502',
 '8025',
 '9501',
 '478',
 '9502',
 '519',
 '498',
 '498',
 '433',
 '176',
 '498',
 '498',
 '8116',
 '498',
 '498',
 '450',
 'nan',
 'nan',
 '490',
 '291',
 '222',
 '9501',
 '480',
 '498',
 '9501',
 '498',
 '129',
 '467',
 '362',
 '8025',
 '513',
 '498',
 '405',
 '9501',
 '302',
 '490',
 '738',
 '498',
 '247',
 '467',
 '498',
 '480',
 '498',
 '281',
 '490',
 '498',
 '490',
 '426',
 '256',
 '498',
 '490',
 '498',
 '467',
 '9501',
 '519',
 '490',
 '434',
 '498',
 '173',
 '519',
 '8024',
 '367',
 '9501',
 '136',
 '498',
 '498',
 '467',
 '222',
 '564',
 '173',
 '498',
 '453',
 '450',
 '498',
 '123',
 ...]

In [27]:
list(institution.ins_id)

['010004',
 '010005',
 '010006',
 '010008',
 '010010',
 '010011',
 '010012',
 '010013',
 '010014',
 '010015',
 '010017',
 '010027',
 '010033',
 '010047',
 '010048',
 '010049',
 '010050',
 '010051',
 '010052',
 '010053',
 '010055',
 '010056',
 '010057',
 '010187',
 '010196',
 '010306',
 '010307',
 '010309',
 '010406',
 '010497',
 '010498',
 '010500',
 '010502',
 '010507',
 '010508',
 '010510',
 '010511',
 '010512',
 '010515',
 '010519',
 '010531',
 '017003',
 '018004',
 '018009',
 '018011',
 '018012',
 '018013',
 '018015',
 '018016',
 '018017',
 '018018',
 '018019',
 '018020',
 '018021',
 '018023',
 '018025',
 '018027',
 '018032',
 '018035',
 '018038',
 '018041',
 '018045',
 '018047',
 '018052',
 '018053',
 '018054',
 '018057',
 '018058',
 '018059',
 '018060',
 '018061',
 '018062',
 '018063',
 '018070',
 '018071',
 '018073',
 '018076',
 '018077',
 '018079',
 '018081',
 '018084',
 '018086',
 '018087',
 '018088',
 '018090',
 '018091',
 '018092',
 '018096',
 '018097',
 '019150',
 '019151',
 '019152',
 '019153',
 '019154',
 '019155',
 '019156',
 '019158',
 '019164',
 '019166',
 '019167',
 '019168',
 '019170',
 '019171',
 '019172',
 '019174',
 '019175',
 '019176',
 '019177',
 '019178',
 '019181',
 '019182',
 '019185',
 '019187',
 '019188',
 '019190',
 '019191',
 '019192',
 '019193',
 '019194',
 '019195',
 '019196',
 '019197',
 '019200',
 '019204',
 '020102',
 '028001',
 '028002',
 '028003',
 '028006',
 '028007',
 '028009',
 '028010',
 '030002',
 '030003',
 '030004',
 '030008',
 '030014',
 '030020',
 '030024',
 '030032',
 '030033',
 '030035',
 '030036',
 '030037',
 '030038',
 '030039',
 '030041',
 '030042',
 '030043',
 '030045',
 '030050',
 '030057',
 '030070',
 '030071',
 '030073',
 '030078',
 '030079',
 '030080',
 '030082',
 '030091',
 '030092',
 '030136',
 '030235',
 '030253',
 '030345',
 '030497',
 '030501',
 '030504',
 '030506',
 '030509',
 '030512',
 '030516',
 '030517',
 '030523',
 '038015',
 '038019',
 '038024',
 '038026',
 '038029',
 '038034',
 '038035',
 '038044',
 '038046',
 '038047',
 '038048',
 '038049',
 '038051',
 '038054',
 '038055',
 '038062',
 '038064',
 '038065',
 '038066',
 '038069',
 '038070',
 '038073',
 '038074',
 '038075',
 '038085',
 '038086',
 '038091',
 '038093',
 '038094',
 '038095',
 '038097',
 '038098',
 '038099',
 '038101',
 '038103',
 '038106',
 '038107',
 '038109',
 '038110',
 '038115',
 '038116',
 '038118',
 '038119',
 '038120',
 '038122',
 '038124',
 '038125',
 '038126',
 '038127',
 '038128',
 '038130',
 '038131',
 '038132',
 '038133',
 '038134',
 '038135',
 '038136',
 '038137',
 '038139',
 '038142',
 '038144',
 '038145',
 '038148',
 '038150',
 '038151',
 '038152',
 '038155',
 '038156',
 '038157',
 '038158',
 '038159',
 '038161',
 '038162',
 '038163',
 '038164',
 '038167',
 '038168',
 '038169',
 '038171',
 '038172',
 '038173',
 '038174',
 '038175',
 '038176',
 '038178',
 '038179',
 '038180',
 '038181',
 '038182',
 '038183',
 '038185',
 '038186',
 '038187',
 '038189',
 '038190',
 '038191',
 '038192',
 '038193',
 '038195',
 '038197',
 '038198',
 '038199',
 '038200',
 '038201',
 '038202',
 '038203',
 '038205',
 '038207',
 '038209',
 '038210',
 '039561',
 '039562',
 '039563',
 '039564',
 '039565',
 '039566',
 '039567',
 '039568',
 '039569',
 '039570',
 '039571',
 '039572',
 '039573',
 '039574',
 '039575',
 '039576',
 '039579',
 '039580',
 '039581',
 '039582',
 '039583',
 '039584',
 '039585',
 '039586',
 '039588',
 '039589',
 '039591',
 '039592',
 '039598',
 '039600',
 '039608',
 '039617',
 '039621',
 '039623',
 '039626',
 '039627',
 '039628',
 '039631',
 '039632',
 '039633',
 '040008',
 '040009',
 '040013',
 '040015',
 '040018',
 '040019',
 '040020',
 '040025',
 '040026',
 '040027',
 '040029',
 '040261',
 nan,
 '040262',
 '040263',
 '040264',
 '040284',
 '040307',
 '040349',
 '040350',
 '040463',
 '040465',
 '040473',
 '040478',
 '040483',
 '047012',
 '048015',
 '048018',
 '048021',
 '048026',
 '048027',
 '048030',
 '048032',
 '048034',
 '048038',
 '048041',
 '048042',
 '048043',
 '048047',
 '048049',
 '048056',
 '048060',
 '048188',
 '049501',
 '049502',
 '049505',
 '049506',
 '049507',
 '049509',
 '049510',
 '049513',
 '049514',
 '049520',
 '049522',
 '049527',
 '049528',
 '049529',
 '049530',
 '049533',
 '049538',
 '049541',
 '049543',
 '049549',
 '049550',
 '049551',
 '049552',
 '049553',
 '049555',
 '049556',
 '049559',
 '049560',
 '049561',
 '049562',
 '049563',
 '049630',
 '050001',
 '050003',
 '050004',
 '050007',
 '050034',
 '050035',
 '050037',
 '050044',
 '050045',
 '050048',
 '050049',
 '050056',
 '050057',
 '050058',
 '050059',
 '050060',
 '050061',
 '050063',
 '050066',
 '050079',
 '050080',
 '050084',
 '050086',
 '050089',
 '050090',
 '050093',
 '050096',
 '050097',
 '050098',
 '050110',
 '050111',
 '050112',
 '050113',
 '050116',
 '050117',
 '050118',
 '050119',
 '050120',
 '050121',
 '050122',
 '050123',
 '050124',
 '050125',
 '050129',
 '050132',
 '050133',
 '050139',
 '050152',
 '050160',
 '050162',
 '050163',
 '050178',
 '050182',
 '050183',
 '050184',
 '050185',
 '050186',
 '050195',
 '050201',
 '050202',
 '050204',
 '050205',
 '050207',
 '050216',
 '050218',
 '050219',
 '050220',
 '050221',
 '050222',
 '050223',
 '050225',
 '050229',
 '050231',
 '050233',
 '050238',
 '050239',
 '050241',
 '050245',
 '050257',
 '050258',
 '050259',
 '050260',
 '050261',
 '050266',
 '050267',
 '050270',
 '050271',
 '050273',
 '050281',
 '050284',
 '050285',
 '050296',
 '050320',
 '050324',
 '050334',
 '050344',
 '050347',
 '050353',
 '050366',
 '050367',
 '050376',
 '050381',
 '050382',
 '050385',
 '050386',
 '050397',
 '050413',
 '050432',
 '050434',
 '050436',
 '050438',
 '050439',
 '050469',
 '050474',
 '050489',
 '050494',
 '050499',
 '050504',
 '050514',
 '050533',
 '050536',
 '050545',
 '050547',
 '050553',
 '050554',
 '050555',
 '050557',
 '050564',
 '050566',
 '050568',
 '050571',
 '050572',
 '050575',
 '050576',
 '050578',
 '050581',
 '050585',
 '050588',
 '050589',
 '050590',
 '050606',
 '050715',
 '050719',
 '050722',
 '050726',
 '050728',
 '050730',
 '050737',
 '050742',
 '050745',
 '050747',
 '050748',
 '050760',
 'Kaiser Permanente Zion Medical Center',
 '050761',
 '050762',
 '050764',
 '050767',
 '050772',
 '050792',
 '050793',
 '050794',
 '057058',
 '058029',
 '058030',
 '058031',
 '058043',
 '058046',
 '058048',
 '058060',
 '058061',
 '058065',
 '058066',
 '058067',
 '058068',
 '058070',
 '058072',
 '058073',
 '058076',
 '058079',
 '058085',
 '058086',
 '058089',
 '058090',
 '058092',
 '058093',
 '058094',
 '058098',
 '058099',
 '058105',
 '058106',
 '058107',
 '058109',
 '058112',
 '058115',
 '058116',
 '058117',
 '058118',
 '058119',
 '058120',
 '058126',
 '058127',
 '058129',
 '058131',
 '058133',
 '058137',
 '058140',
 '058141',
 '058143',
 '058145',
 '058146',
 '058147',
 '058148',
 '058151',
 '058153',
 '058155',
 '058156',
 '058159',
 '058161',
 '058165',
 '058166',
 '058168',
 '058173',
 '058174',
 '058175',
 '058178',
 '058180',
 '058184',
 '058185',
 '058186',
 '058188',
 '058189',
 '058190',
 '058191',
 '058192',
 '058193',
 '058194',
 '058195',
 '058199',
 '058200',
 '058201',
 '058202',
 '058204',
 '058205',
 '058209',
 '058211',
 '058212',
 '058213',
 '058214',
 '058216',
 '058217',
 '058222',
 '058223',
 '058224',
 '058226',
 '058227',
 '058228',
 '058229',
 '058232',
 '058233',
 '058234',
 '058235',
 '058241',
 '058244',
 '058246',
 '058251',
 '058252',
 '058258',
 '058259',
 '058260',
 '058261',
 '058263',
 '058264',
 '058269',
 '058270',
 '058271',
 '058273',
 '058274',
 '058275',
 '058280',
 '058281',
 '058283',
 '058284',
 '058285',
 '058286',
 '058288',
 '058292',
 '058293',
 '058296',
 '058297',
 '058300',
 '058305',
 '058306',
 '058308',
 '058309',
 '059501',
 '059503',
 '059504',
 '059505',
 '059508',
 '059510',
 '059511',
 '059512',
 '059513',
 '059514',
 '059515',
 '059516',
 '059517',
 '059521',
 '059522',
 '059523',
 '059525',
 '059526',
 '059527',
 '059529',
 '059531',
 '059535',
 '059536',
 '059537',
 '059538',
 '059539',
 '059540',
 '059543',
 '059547',
 '059548',
 '059550',
 '059551',
 '059552',
 '059553',
 '059554',
 '059557',
 '059558',
 '059559',
 '059560',
 '059561',
 '059562',
 '059563',
 '059564',
 '059565',
 '059566',
 '059567',
 '059568',
 '059569',
 '059571',
 '059574',
 '059575',
 '059576',
 '059577',
 '059578',
 '059579',
 '059580',
 '059581',
 '059582',
 '059583',
 '059584',
 '059585',
 '059586',
 '059587',
 '059588',
 '059593',
 '059594',
 '059595',
 '059597',
 '059601',
 '059603',
 '059604',
 '059606',
 '059607',
 '059609',
 '059610',
 '059611',
 '059612',
 '059613',
 '059614',
 '059617',
 '059619',
 '059620',
 '059623',
 '059624',
 '059625',
 '059627',
 '059628',
 '059629',
 '059630',
 '059631',
 '059633',
 '059636',
 '059637',
 '059638',
 '059639',
 '059641',
 '059642',
 '059645',
 '059646',
 '059647',
 '059648',
 '059649',
 '059650',
 '059651',
 '059652',
 '059653',
 '059654',
 '059655',
 '059656',
 '059657',
 '059658',
 '059659',
 '059660',
 '059667',
 '059668',
 '059670',
 '059671',
 '059672',
 '059676',
 '059678',
 '059679',
 '059680',
 '059681',
 '059682',
 '059685',
 '059686',
 '059687',
 '059688',
 '059689',
 '059693',
 '059694',
 '059695',
 '059696',
 '059697',
 '059698',
 '059699',
 '059700',
 '059701',
 '059703',
 '059704',
 '059705',
 '059706',
 '059707',
 '059708',
 '059709',
 '059711',
 '059712',
 '059713',
 '059720',
 '059721',
 '059722',
 '059723',
 '059725',
 '059726',
 '059728',
 '059729',
 '059731',
 '059735',
 '059736',
 '059737',
 '059738',
 '059739',
 '059740',
 '059741',
 '059742',
 '059745',
 '059747',
 '059748',
 '059749',
 '059750',
 '059751',
 '059752',
 '059753',
 '059754',
 '059755',
 '059759',
 '059765',
 '059766',
 '059767',
 '059769',
 '059770',
 '059772',
 '059773',
 '059774',
 '059775',
 '059777',
 '059779',
 '059780',
 '059782',
 '059783',
 '059784',
 '059785',
 '059788',
 '059790',
 '059791',
 '059795',
 '059796',
 '059798',
 '059799',
 '059800',
 '059802',
 '059804',
 '059806',
 '059807',
 '059808',
 '059809',
 '059810',
 '059821',
 '059853',
 '059854',
 '059861',
 '059862',
 '059863',
 '059866',
 '059867',
 '059868',
 '059870',
 '059871',
 '059872',
 '059873',
 '059875',
 '059877',
 '059878',
 '059879',
 '059880',
 '059881',
 '059882',
 '059884',
 '059887',
 '059888',
 '059889',
 '070003',
 '070004',
 '070006',
 '070007',
 '070008',
 '070011',
 '070014',
 '070021',
 '070024',
 '070025',
 '070026',
 '070027',
 '070028',
 '070029',
 '070030',
 '070036',
 '070040',
 '070043',
 '070051',
 '070052',
 '070054',
 '070157',
 '070269',
 '070277',
 '070280',
 '070287',
 '070313',
 '070327',
 '070348',
 '070351',
 '070360',
 '070378',
 '070451',
 '070469',
 '070705',
 '070713',
 '070718',
 '078016',
 '078017',
 '078018',
 '078020',
 '078022',
 '078023',
 '078024',
 '078025',
 '078026',
 '078027',
 '078028',
 '078030',
 '078031',
 '078032',
 '078034',
 '078035',
 '078036',
 '078037',
 '078038',
 '078039',
 '078040',
 '078041',
 '078043',
 '078044',
 '078045',
 '078046',
 '078048',
 '078050',
 '078051',
 '078052',
 '078053',
 '078056',
 '078057',
 '078058',
 '078059',
 '078062',
 '078063',
 '078064',
 ...]

In [21]:
def convert_state(state):
    state = str(state).replace('.0','')
    if len(state)==1:
        state = '0'+state
    return state
def convert_inst(inst):
    inst = str(inst).replace('.0','')
    if len(inst)==1:
        inst = '000'+inst
    elif len(inst)==2:
        inst = '00'+inst
    elif len(inst)==3:
        inst = '0'+inst
    return inst

In [47]:
test = []
for row in ppd.itertuples():
    i = convert_inst(row.GME_INST_ID)
    s = convert_state(row.GME_INST_STATE)
    test.append(s+i)

In [74]:
institution.fillna('None')

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
0,010004,23,N22,A,USA Strada Patient Care Center,None,None,0,None,10/28/2019,2019,None,None,None
1,010005,23,N22,A,West Mobile Medical Group,None,None,0,None,8/3/2020,2020,None,None,None
2,010006,23,H01,A,Brewton Medical Center,None,None,0,None,8/3/2020,2020,None,None,None
3,010008,23,N22,A,Tennessee River Dermatology,None,None,0,None,10/15/2019,2019,None,None,None
4,010010,23,N22,A,Felix Morris MD LLC Office,None,None,0,None,10/15/2019,2019,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7177,570003,16,H01,A,Ivinson Memorial Hospital,None,None,0,None,5/28/2019,2019,None,None,None
7178,570100,23,H01,A,Wyoming Medical Center,8/1/1986,None,0,N,None,1997,None,None,None
7179,570106,13,H01,A,Cheyenne Regional Medical Center,2/2/2007,United Medical Center,0,N,None,2006,2/2/2007,A,cmathews
7180,578001,45,H01,A,Cheyenne Veterans Affairs Medical Center,None,None,0,None,6/6/1997,1996,None,None,None
7181,579501,12,N12,S,University of Wyoming College of Health Sciences,None,None,0,None,None,2000,None,None,None

In [71]:
gah = [float(str(x)[2:]) for x in institution.ins_id]

ValueError: could not convert string to float: 'n'

In [86]:
institution['GME_INST_ID']=test_2

In [85]:
test_2 = []
for x in institution.ins_id:
    if str(x).isnumeric() == False:
        this = 0
    else:
        this = float(str(x)[2:])
    this = float(this)
    test_2.append(this)

In [42]:
institution[institution.ins_id==230100]

Empty DataFrame
Columns: [ins_id, ins_control_type, ins_type, ins_affiliation_type, ins_name, ins_name_change_dt, ins_old_name, ins_activity_status, ins_prog_survey_coord, add_date, survey_cycle, last_upd_dt, last_upd_type, last_upd_id]
Index: []

In [41]:
ppd[ppd.GME_INST_ID==100.0].GME_INST_STATE

4992       57.0
5078       57.0
5200       57.0
14413      57.0
14929      31.0
           ...
1264733    23.0
1281996    22.0
1290593    31.0
1293145    31.0
1301423    31.0
Name: GME_INST_STATE, Length: 286, dtype: float64

In [44]:
institution

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
0,010004,23.0,N22,A,USA Strada Patient Care Center,NaN,NaN,0,NaN,10/28/2019,2019.0,NaN,NaN,NaN
1,010005,23.0,N22,A,West Mobile Medical Group,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN
2,010006,23.0,H01,A,Brewton Medical Center,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN
3,010008,23.0,N22,A,Tennessee River Dermatology,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN
4,010010,23.0,N22,A,Felix Morris MD LLC Office,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7177,570003,16.0,H01,A,Ivinson Memorial Hospital,NaN,NaN,0,NaN,5/28/2019,2019.0,NaN,NaN,NaN
7178,570100,23.0,H01,A,Wyoming Medical Center,8/1/1986,NaN,0,N,NaN,1997.0,NaN,NaN,NaN
7179,570106,13.0,H01,A,Cheyenne Regional Medical Center,2/2/2007,United Medical Center,0,N,NaN,2006.0,2/2/2007,A,cmathews
7180,578001,45.0,H01,A,Cheyenne Veterans Affairs Medical Center,NaN,NaN,0,NaN,6/6/1997,1996.0,NaN,NaN,NaN
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN

In [48]:
ppd['ins_id'] = test

In [87]:
pd.merge(residents, institution, on='GME_INST_ID')[['STATE','CITY','MAILING_LINE_1','MAILING_LINE_2','ins_name']]

,STATE,CITY,MAILING_LINE_1,MAILING_LINE_2,ins_name
0,MD,BETHESDA,BLDG 10 CRC RM 10N311A,9000 ROCKVILLE PIKE,Kaiser Permanente San Francisco Medical Center
1,MD,BETHESDA,BLDG 10 CRC RM 10N311A,9000 ROCKVILLE PIKE,Clinical Center at the National Institutes of ...
2,MD,BETHESDA,BLDG 10 CRC RM 10N311A,9000 ROCKVILLE PIKE,Austin NeuroCare
3,MD,ROCKVILLE,NaN,11901 HUNTERS LN,Kaiser Permanente San Francisco Medical Center
4,MD,ROCKVILLE,NaN,11901 HUNTERS LN,Clinical Center at the National Institutes of ...
...,...,...,...,...,...
935279,WI,CHIPPEWA FLS,NaN,928 WARREN ST,Memorial Blood Centers of Minnesota
935280,WI,CHIPPEWA FLS,NaN,928 WARREN ST,Columbia VA Health Care System
935281,NC,GREENVILLE,NaN,2100 STANTONSBURG RD OFC,Captain James A Lovell Federal Health Care Center
935282,NC,GREENVILLE,NaN,2100 STANTONSBURG RD OFC,Christus Schumpert Health System
935283,NC,GREENVILLE,NaN,2100 STANTONSBURG RD OFC,Grand Rapids Medical Education Partners

In [88]:
len(residents)

144352

In [80]:
residents.GME_INST_ID

1174        204.0
1421       9502.0
1434        498.0
1469        491.0
1537        173.0
            ...
1301904    9503.0
1301917    9502.0
1301918       NaN
1301919       NaN
1301993     756.0
Name: GME_INST_ID, Length: 144352, dtype: float64

In [81]:
institution.GME_INST_ID

0          4
1          5
2          6
3          8
4         10
        ...
7177       3
7178     100
7179     106
7180    8001
7181    9501
Name: GME_INST_ID, Length: 7182, dtype: object

In [59]:
ppd.TOP_CD

0           20
1          100
2           20
3           20
4           20
          ...
1301989    100
1301990     20
1301991     20
1301992     20
1301993     12
Name: TOP_CD, Length: 1301994, dtype: int64

In [64]:
ppd[ppd.FIRST_NAME=="DE'ANDRE"][['ins_id','GME_INST_STATE','GME_INST_ID']]

        ins_id  GME_INST_STATE  GME_INST_ID
231441  380373            38.0        373.0

In [62]:
institution[institution.ins_id=='380373']

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
4774,380373,23.0,H01,S,Case Western Reserve University/University Hos...,9/7/2010,Case Western Reserve Univ/Univ Hospitals Case ...,0,N,NaN,2000.0,NaN,NaN,NaN

In [67]:
residents = ppd[ppd.TOP_CD==12]

In [91]:
prog.columns

Index(['pgm_id', 'pgm_spec', 'pgm_state', 'pgm_inst_control_type',
       'pgm_sequence_number', 'pgm_federal_code', 'pgm_region_code',
       'pgm_activity_code', 'prm_acgme_accred_ind', 'pgm_name',
       'pgm_web_address', 'pgm_old_name', 'pgm_name_change_date',
       'pgm_contact_dir_ind', 'pgm_accred_status', 'pgm_accred_eff_dt',
       'pgm_init_accred_dt', 'pgm_accred_length', 'pgm_yrs_offered',
       'pgm_gov_affil_ind', 'pgm_gme_eq_yr', 'pgm_prelim_yrs_req_ind',
       'pgm_prelim_yrs_req', 'pgm_prelim_pos_offered', 'pgm_other_match_ind',
       'pgm_type', 'pgm_chg_size', 'pgm_chg_type', 'pgm_%@_prim_site',
       'pgm_prim_site', 'pgm_prim_site_comments', 'pgm_add_date',
       'pgm_core_pgm_id', 'medical_records', 'pgm_web_address_case_sen',
       'ERAS', 'ERAS2', 'pgm_specify', 'pgm_prelim_training_ind',
       'pgm_prelim_training_excl_ind', 'official_addr_ind', 'pgm_sf_match',
       'pgm_oth_match_ind', 'pgm_oth_match', 'pgm_addit_educ_accred_length',
       'pgm_addit_length_training', 'pgm_addit_educ_exp_req',
       'pgm_prev_edu_req_prior', 'survey_cycle', 'last_upd_dt',
       'last_upd_type', 'last_upd_id', 'AOA_Ind', 'AOA_Program_ID',
       'Osteopathic_principles'],
      dtype='object')

In [50]:
person = pd.read_csv('../../Data/MasterfileCore/ProgramPersonnel.txt', sep='|', encoding='latin', error_bad_lines=False)

b'Skipping line 8397: expected 35 fields, saw 36\n'
b'Skipping line 31221: expected 35 fields, saw 52\n'
b'Skipping line 51840: expected 35 fields, saw 57\nSkipping line 51876: expected 35 fields, saw 44\n'
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,2,9,10,11,12,14,16,27,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [100]:
person[person.pers_type=='D']

,pgm_id,pers_type,aamc_id,pers_name_sfx,pers_name_last,pers_name_first,pers_name_mid,pers_deg1,pers_deg2,pers_deg3,...,prev_director_first,prev_director_md,prev_director_sfx,acgme_verified,approval_date,why_change,subscribe,diff_name,email_notify,me.
1,200121109,D,1.22474e+07,NaN,Atkinson,Thomas,P,MD,PhD,NaN,...,Thomas,P,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
6,200300001,D,1.12363e+07,NaN,Carr,Tara,F,MD,NaN,NaN,...,Tara,F,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
11,200300002,D,1.06684e+07,NaN,Lewis,John,C,MD,NaN,NaN,...,John,C,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
17,200400001,D,1.0274e+07,NaN,Jones,Stacie,M,MD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Y,NaN
23,200500131,D,1.41755e+07,NaN,Dorsey,Morna,NaN,MD,NaN,NaN,...,Morton,J,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65590,9995500248,D,1.01213e+07,NaN,Warden,Mary,D,MD,NaN,NaN,...,Mary,D,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
65595,9995500249,D,1.41528e+07,NaN,Frank,Abigail,NaN,DO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.0,Y,NaN
65601,9995600147,D,1.07041e+07,NaN,Weber,Lori,S,MD,NaN,NaN,...,Gregory,P,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
65606,9995600148,D,1.02472e+07,NaN,Nichols,Colleen,NaN,MD,NaN,NaN,...,Richard,J,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
65611,9995600184,D,1.50913e+07,NaN,Darisetty,Sriram,NaN,MD,NaN,NaN,...,Kesavan,NaN,NaN,N,NaN,2.0,NaN,0.0,Y,NaN

In [106]:
prog.groupby('pgm_oth_match').count()

,pgm_id,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,pgm_addit_length_training,pgm_addit_educ_exp_req,pgm_prev_edu_req_prior,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,AOA_Ind,AOA_Program_ID,Osteopathic_principles
pgm_oth_match,,,,,,,,,,,,,,,,,,,,,
AAN,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0
ACPM,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,1
ACPM SAP,3,3,3,3,3,3,3,3,3,3,...,0,0,3,3,3,3,3,3,0,1
ACPM SAP Voluntary Match date,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,0
ACPM Standardized Acceptance Process,3,3,3,3,3,3,3,3,3,3,...,0,0,3,3,3,3,3,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
military,2,2,2,2,2,2,2,2,2,2,...,0,0,2,2,1,1,1,2,0,0
military match,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,0
not sure,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
radiology/nuc med,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,0
urology match (American Urological Assoc) AUA,1,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,0

In [46]:
prog

,pgm_id,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,pgm_addit_length_training,pgm_addit_educ_exp_req,pgm_prev_edu_req_prior,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,AOA_Ind,AOA_Program_ID,Osteopathic_principles
0,0200121109,20.0,1.0,21,109,7,6,0.0,1.0,University of Alabama Medical Center Program,...,NaN,0.0,1.0,2020.0,6/11/2020,M,Meded,0.0,NaN,NaN
1,0200300001,20.0,3.0,0,001,7,8,0.0,1.0,University of Arizona College of Medicine-Tucs...,...,NaN,0.0,1.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,0.0
2,0200300002,20.0,3.0,0,002,7,8,0.0,1.0,Mayo Clinic College of Medicine and Science (A...,...,NaN,NaN,1.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,0.0
3,0200400001,20.0,4.0,0,001,7,7,0.0,1.0,University of Arkansas for Medical Sciences (U...,...,NaN,0.0,1.0,2020.0,9/10/2020,K,setzel,1.0,NaN,NaN
4,0200500131,20.0,5.0,0,131,7,9,0.0,1.0,University of California (San Francisco) Schoo...,...,NaN,0.0,1.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12475,9995400146,999.0,54.0,0,146,2,9,0.0,1.0,Madigan Army Medical Center Program,...,NaN,NaN,4.0,2020.0,7/14/2020,V,cmathews,0.0,NaN,0.0
12476,9995500248,999.0,55.0,0,248,7,5,0.0,1.0,West Virginia University Program,...,NaN,NaN,4.0,2020.0,6/10/2020,V,cmathews,0.0,NaN,0.0
12478,9995600147,999.0,56.0,0,147,7,3,0.0,1.0,Gundersen Lutheran Medical Foundation Program,...,NaN,NaN,4.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,NaN
12479,9995600148,999.0,56.0,0,148,7,3,0.0,1.0,Aurora Health Care Program,...,NaN,NaN,4.0,2020.0,6/16/2020,V,cmathews,0.0,NaN,0.0
12480,9995600184,999.0,56.0,0,184,7,3,0.0,1.0,Medical College of Wisconsin Affiliated Hospit...,...,NaN,NaN,4.0,2020.0,7/22/2020,V,cmathews,0.0,NaN,NaN

In [56]:
insti.columns

Index(['pgm_id', 'ins_id', 'affiliation_type', 'pri_clinical_loc_ind',
       'survey_cycle', 'last_upd_dt', 'last_upd_type', 'last_upd_id', 'id'],
      dtype='object')

In [47]:
prog.columns

Index(['pgm_id', 'pgm_spec', 'pgm_state', 'pgm_inst_control_type',
       'pgm_sequence_number', 'pgm_federal_code', 'pgm_region_code',
       'pgm_activity_code', 'prm_acgme_accred_ind', 'pgm_name',
       'pgm_web_address', 'pgm_old_name', 'pgm_name_change_date',
       'pgm_contact_dir_ind', 'pgm_accred_status', 'pgm_accred_eff_dt',
       'pgm_init_accred_dt', 'pgm_accred_length', 'pgm_yrs_offered',
       'pgm_gov_affil_ind', 'pgm_gme_eq_yr', 'pgm_prelim_yrs_req_ind',
       'pgm_prelim_yrs_req', 'pgm_prelim_pos_offered', 'pgm_other_match_ind',
       'pgm_type', 'pgm_chg_size', 'pgm_chg_type', 'pgm_%@_prim_site',
       'pgm_prim_site', 'pgm_prim_site_comments', 'pgm_add_date',
       'pgm_core_pgm_id', 'medical_records', 'pgm_web_address_case_sen',
       'ERAS', 'ERAS2', 'pgm_specify', 'pgm_prelim_training_ind',
       'pgm_prelim_training_excl_ind', 'official_addr_ind', 'pgm_sf_match',
       'pgm_oth_match_ind', 'pgm_oth_match', 'pgm_addit_educ_accred_length',
       'pgm_addit_length_training', 'pgm_addit_educ_exp_req',
       'pgm_prev_edu_req_prior', 'survey_cycle', 'last_upd_dt',
       'last_upd_type', 'last_upd_id', 'AOA_Ind', 'AOA_Program_ID',
       'Osteopathic_principles'],
      dtype='object')

In [87]:
column_changes = {'pgm_id':'id', 
'pgm_spec':'specialty', 
'pgm_inst_control_type':'institution_control',
'pgm_sequence_number':"sequence_number", 
'pgm_federal_code':'federal_code', 
'pgm_region_code':'region_code',
'prm_acgme_accred_ind':'acgme_accredited', 
'pgm_name':'name',
'pgm_web_address':'web_address', 
'pgm_contact_dir_ind':'contact_director', 
'pgm_accred_status':'accreditation_status', 
'pgm_accred_eff_dt':'accreditation_effective_date',
'pgm_init_accred_dt':'initial_accreditation_date', 
'pgm_accred_length':'accreditation_length', 
'pgm_yrs_offered':'duration',
'pgm_gov_affil_ind':'government_affiliated', 
'pgm_gme_eq_yr':'graduate_medical_education_equivalent_years', 
'pgm_prelim_yrs_req':'preliminary_years_required', 
'pgm_prelim_pos_offered':'preliminary_positions_offered', 
'pgm_type':'type', 
'pgm_chg_size':'max_residents_accepted_increase', 
'pgm_%@_prim_site':'percent_at_primary_site',
'pgm_prim_site':'primary_site',
'pgm_core_pgm_id':'core_program', 
'medical_records':'medical_records', 
'official_addr_ind':'official_address', 
'pgm_sf_match':'uses_sfmatch',
'pgm_oth_match_ind':'other_match_indicator', 
'pgm_oth_match':'other_match', 
'pgm_addit_educ_accred_length':'additional_education_accreditation_length',
'last_upd_dt':'last_update_date',
'last_upd_type':'last_update_type', 
'AOA_Ind':'american_osteopathic_association_indicator', 
'AOA_Program_ID' :'american_osteopathic_association_indicator_program',
'Osteopathic_principles':'osteopathic_principles',
'addr1':'address_1', 
'addr2':'address_2', 
'addr3':'address_3', 
'city':'city', 
'state':'state',
'Zip+4':'zipcode',
'pri_clinical_loc_ind':'primary_clinical_location'}

In [81]:
adds = adds[adds.addr_type=='D']

In [83]:
prog = pd.merge(prog, adds, on='pgm_id')

In [85]:
prog = pd.merge(prog, insti, on='pgm_id')

In [72]:
adds['pgm_id'] = [fix_id(x) for x in adds.pgm_id]

In [63]:
prog.pgm_id

0        0200121109
1        0200300001
2        0200300002
3        0200400001
4        0200500131
            ...
12475    9995400146
12476    9995500248
12478    9995600147
12479    9995600148
12480    9995600184
Name: pgm_id, Length: 12226, dtype: object

In [71]:
insti['pgm_id'] = [fix_id(x) for x in insti.pgm_id]

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
insti = insti[insti.id.isin(institution.ins_id)]

In [76]:
ppd.groupby('STATE').count().sort_values('ME', ascending=False)

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
STATE,,,,,,,,,,,,,,,,,,,,,
CA,154696,154696,154696,153255,154696,154689,154694,119877,2913,23505,...,116675,116674,115221,115636,32675,26495,32674,3939,3031,3939
NY,103574,103574,103574,102157,103574,103573,103571,72030,1484,19112,...,76834,76838,76012,76383,20614,16012,20615,2373,1768,2374
TX,88102,88102,88102,87358,88102,88102,88099,70684,3044,12338,...,65442,65441,64630,64954,20895,17594,20895,2379,1903,2379
FL,83042,83042,83042,82342,83042,83041,83041,64904,2593,10172,...,58378,58377,57701,57891,21327,17256,21328,2626,1942,2626
PA,58731,58731,58731,58113,58731,58726,58730,46435,1791,10393,...,44936,44937,44329,44516,12263,10371,12263,1399,1132,1399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AA,14,14,14,11,14,14,14,12,0,2,...,4,4,4,4,5,4,5,1,1,1
AS,10,10,10,8,10,10,10,10,2,1,...,3,3,2,2,1,1,1,0,0,0
PW,4,4,4,4,4,4,4,1,0,0,...,0,0,0,0,1,1,1,0,0,0
FM,2,2,2,2,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
MH,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [194]:
prog.rename(columns = column_changes)[prog_columns].head(100).to_csv('../../Data/MasterfileCore/Residency_Program_Reference.csv', index=False)

In [169]:
prog = prog.rename(columns = {'id':'wwrong_id'})

In [149]:
prog['Zip+4'] = [use.fix_zipcode(x) for x in prog['Zip+4']]

In [106]:
[len(str(x)) for x in prog.ins_id]

[5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 ...]

In [102]:
ppd.columns

Index(['ME', 'RECORD_ID', 'UPDATE_TYPE', 'ADDRESS_TYPE', 'MAILING_NAME',
       'LAST_NAME', 'FIRST_NAME', 'MIDDLE_NAME', 'SUFFIX', 'MAILING_LINE_1',
       'MAILING_LINE_2', 'CITY', 'STATE', 'ZIP', 'SECTOR', 'CARRIER_ROUTE',
       'ADDRESS_UNDELIVERABLE_FLAG', 'FIPS_COUNTY', 'FIPS_STATE',
       'PRINTER_CONTROL_CODE', 'PC_ZIP', 'PC_SECTOR', 'DELIVERY_POINT_CODE',
       'CHECK_DIGIT', 'PRINTER_CONTROL_CODE_2', 'REGION', 'DIVISION', 'GROUP',
       'TRACT', 'SUFFIX_CENSUS', 'BLOCK_GROUP', 'MSA_POPULATION_SIZE',
       'MICRO_METRO_IND', 'CBSA', 'CBSA_DIV_IND', 'MD_DO_CODE', 'BIRTH_YEAR',
       'BIRTH_CITY', 'BIRTH_STATE', 'BIRTH_COUNTRY', 'GENDER',
       'TELEPHONE_NUMBER', 'PRESUMED_DEAD_FLAG', 'FAX_NUMBER', 'TOP_CD',
       'PE_CD', 'PRIM_SPEC_CD', 'SEC_SPEC_CD', 'MPA_CD', 'PRA_RECIPIENT',
       'PRA_EXP_DT', 'GME_CONF_FLG', 'FROM_DT', 'TO_DT', 'YEAR_IN_PROGRAM',
       'POST_GRADUATE_YEAR', 'GME_SPEC_1', 'GME_SPEC_2', 'TRAINING_TYPE',
       'GME_INST_STATE', 'GME_INST_ID', 'MEDSCHOOL_STATE', 'MEDSCHOOL_ID',
       'MEDSCHOOL_GRAD_YEAR', 'NO_CONTACT_IND', 'NO_WEB_FLAG', 'PDRP_FLAG',
       'PDRP_START_DT', 'POLO_MAILING_LINE_1', 'POLO_MAILING_LINE_2',
       'POLO_CITY', 'POLO_STATE', 'POLO_ZIP', 'POLO_SECTOR',
       'POLO_CARRIER_ROUTE', 'MOST_RECENT_FORMER_LAST_NAME',
       'MOST_RECENT_FORMER_MIDDLE_NAME', 'MOST_RECENT_FORMER_FIRST_NAME',
       'NEXT_MOST_RECENT_FORMER_LAST', 'NEXT_MOST_RECENT_FORMER_MIDDLE',
       'NEXT_MOST_RECENT_FORMER_FIRST'],
      dtype='object')

In [103]:
ppd[['GME_INST_ID', 'GME_INST_STATE']]

         GME_INST_ID  GME_INST_STATE
0              440.0            11.0
1             9502.0            48.0
2              291.0            36.0
3              136.0             3.0
4              498.0             1.0
...              ...             ...
1301989        498.0            16.0
1301990        235.0            41.0
1301991        411.0            38.0
1301992          NaN             NaN
1301993        756.0            38.0

[1301994 rows x 2 columns]

In [114]:
prog['GME_INST_ID'] = [str(x)[-4:] for x in prog.ins_id]

In [132]:
prog['GME_INST_STATE'] = [str(x)[:-4] for x in prog.ins_id]

In [133]:
prog.GME_INST_STATE

0         1
1         3
2        26
3         5
4         5
         ..
11600    54
11601    55
11602    56
11603    56
11604    56
Name: GME_INST_STATE, Length: 11605, dtype: object

In [115]:
def fix_id_3(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    if len(num) == 3:
        num = '0' + num
    return num

In [117]:
ppd['GME_INST_ID'] = [fix_id_3(x) for x in ppd.GME_INST_ID]

In [120]:
pd.merge(ppd.head(50), prog, on='GME_INST_ID').GME_INST_ID

0        0440
1        0440
2        0440
3        9502
4        9502
         ...
10212    0441
10213    0441
10214    0441
10215    0515
10216    0515
Name: GME_INST_ID, Length: 10217, dtype: object

In [121]:
prog.sort_values('GME_INST_ID')

,pgm_id,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,last_upd_id_y,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id,GME_INST_ID
2154,1400500929,140.0,5.0,0,929,7,9,0.0,1.0,San Ysidro Health Program,...,cmathews,50001,S,NaN,2018.0,NaN,NaN,NaN,050001,0001
1247,1200500762,120.0,5.0,0,762,7,9,0.0,1.0,LifeLong Medical Care Program,...,cmathews,50003,S,NaN,2018.0,NaN,NaN,NaN,050003,0003
1600,1203621011,120.0,36.0,21,11,2,5,0.0,1.0,Womack Army Medical Center Program,...,cmathews,360101,S,1.0,2010.0,NaN,NaN,NaN,360101,0101
101,0401100205,40.0,11.0,0,205,7,5,0.0,1.0,Mount Sinai Medical Center of Florida Inc Program,...,cmathews,110101,S,NaN,2013.0,NaN,NaN,NaN,110101,0101
2490,1403600330,140.0,36.0,0,330,2,5,0.0,1.0,Womack Army Medical Center Program,...,NaN,360101,S,NaN,2018.0,NaN,NaN,NaN,360101,0101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,1203800706,120.0,38.0,0,706,7,3,0.0,1.0,University Hospitals Osteopathic Consortium (U...,...,cmathews,389832,S,NaN,2017.0,NaN,NaN,NaN,389832,9832
10238,4404800439,440.0,48.0,0,439,7,7,0.0,1.0,HCA Houston Healthcare (Kingwood)/University o...,...,cmathews,489854,S,NaN,2018.0,NaN,NaN,NaN,489854,9854
5650,2204800363,220.0,48.0,0,363,7,7,0.0,1.0,HCA Houston Healthcare (West)/University of Ho...,...,cmathews,489854,S,NaN,2018.0,NaN,NaN,NaN,489854,9854
1752,1204800724,120.0,48.0,0,724,7,7,0.0,1.0,HCA Houston Healthcare (West)/University of Ho...,...,cmathews,489854,S,NaN,2018.0,NaN,NaN,NaN,489854,9854
2603,1404800902,140.0,48.0,0,902,7,7,0.0,1.0,HCA Houston Healthcare (Kingwood)/University o...,...,cmathews,489854,S,NaN,2018.0,NaN,NaN,NaN,489854,9854

In [125]:
specs = pd.read_csv('../../Data/MasterfileCore/Specialty Code.csv', header=None)

In [188]:
specspec = specs.rename(columns = {0:'specialty_code',1:'specialty_alpha_code', 7:'specialty_name'})[['specialty_code','specialty_alpha_code','specialty_name']]

In [137]:
prog

,pgm_id,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id,GME_INST_ID,GME_INST_STATE
0,0200121109,20,1.0,21,109,7,6,0.0,1.0,University of Alabama Medical Center Program,...,10498,S,NaN,2010.0,NaN,NaN,NaN,010498,0498,1
1,0200300001,20,3.0,0,001,7,8,0.0,1.0,University of Arizona College of Medicine-Tucs...,...,30509,S,NaN,2013.0,NaN,NaN,NaN,030509,0509,3
2,0200300002,20,3.0,0,002,7,8,0.0,1.0,Mayo Clinic College of Medicine and Science (A...,...,260173,S,NaN,2015.0,NaN,NaN,NaN,260173,0173,26
3,0200500131,20,5.0,0,131,7,9,0.0,1.0,University of California (San Francisco) Schoo...,...,50737,S,1.0,2012.0,NaN,NaN,NaN,050737,0737,5
4,0200511038,20,5.0,11,38,7,9,0.0,1.0,UCLA David Geffen School of Medicine/UCLA Medi...,...,59503,S,1.0,1996.0,NaN,NaN,NaN,059503,9503,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11600,9995400146,999,54.0,0,146,2,9,0.0,1.0,Madigan Army Medical Center Program,...,540393,S,1.0,1996.0,NaN,NaN,NaN,540393,0393,54
11601,9995500248,999,55.0,0,248,7,5,0.0,1.0,West Virginia University Program,...,559502,S,0.0,2010.0,NaN,NaN,NaN,559502,9502,55
11602,9995600147,999,56.0,0,147,7,3,0.0,1.0,Gundersen Lutheran Medical Foundation Program,...,568030,S,1.0,1996.0,NaN,NaN,NaN,568030,8030,56
11603,9995600148,999,56.0,0,148,7,3,0.0,1.0,Aurora Health Care Program,...,568020,S,0.0,2010.0,NaN,NaN,NaN,568020,8020,56
11604,9995600184,999,56.0,0,184,7,3,0.0,1.0,Medical College of Wisconsin Affiliated Hospit...,...,560441,S,NaN,2015.0,NaN,NaN,NaN,560441,0441,56

In [136]:
prog['pgm_spec'] = prog.pgm_spec.astype(int)

In [138]:
def fix_id_4(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    if len(num) == 1:
        num = '0' + num
    return num

In [139]:
prog['GME_INST_STATE']=[fix_id_4(x) for x in prog.GME_INST_STATE]

In [140]:
prog

,pgm_id,pgm_spec,pgm_state,pgm_inst_control_type,pgm_sequence_number,pgm_federal_code,pgm_region_code,pgm_activity_code,prm_acgme_accred_ind,pgm_name,...,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id,GME_INST_ID,GME_INST_STATE
0,0200121109,20,1.0,21,109,7,6,0.0,1.0,University of Alabama Medical Center Program,...,10498,S,NaN,2010.0,NaN,NaN,NaN,010498,0498,01
1,0200300001,20,3.0,0,001,7,8,0.0,1.0,University of Arizona College of Medicine-Tucs...,...,30509,S,NaN,2013.0,NaN,NaN,NaN,030509,0509,03
2,0200300002,20,3.0,0,002,7,8,0.0,1.0,Mayo Clinic College of Medicine and Science (A...,...,260173,S,NaN,2015.0,NaN,NaN,NaN,260173,0173,26
3,0200500131,20,5.0,0,131,7,9,0.0,1.0,University of California (San Francisco) Schoo...,...,50737,S,1.0,2012.0,NaN,NaN,NaN,050737,0737,05
4,0200511038,20,5.0,11,38,7,9,0.0,1.0,UCLA David Geffen School of Medicine/UCLA Medi...,...,59503,S,1.0,1996.0,NaN,NaN,NaN,059503,9503,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11600,9995400146,999,54.0,0,146,2,9,0.0,1.0,Madigan Army Medical Center Program,...,540393,S,1.0,1996.0,NaN,NaN,NaN,540393,0393,54
11601,9995500248,999,55.0,0,248,7,5,0.0,1.0,West Virginia University Program,...,559502,S,0.0,2010.0,NaN,NaN,NaN,559502,9502,55
11602,9995600147,999,56.0,0,147,7,3,0.0,1.0,Gundersen Lutheran Medical Foundation Program,...,568030,S,1.0,1996.0,NaN,NaN,NaN,568030,8030,56
11603,9995600148,999,56.0,0,148,7,3,0.0,1.0,Aurora Health Care Program,...,568020,S,0.0,2010.0,NaN,NaN,NaN,568020,8020,56
11604,9995600184,999,56.0,0,184,7,3,0.0,1.0,Medical College of Wisconsin Affiliated Hospit...,...,560441,S,NaN,2015.0,NaN,NaN,NaN,560441,0441,56

In [150]:
prog.dtypes

pgm_id                    object
pgm_spec                   int32
pgm_state                float64
pgm_inst_control_type      int64
pgm_sequence_number       object
                          ...
last_upd_type             object
last_upd_id               object
id                        object
GME_INST_ID               object
GME_INST_STATE            object
Length: 76, dtype: object

In [152]:
prog[['pgm_contact_dir_ind', 'pgm_accred_status', 'pgm_accred_eff_dt',
       'pgm_init_accred_dt', 'pgm_accred_length', 'pgm_yrs_offered',
       'pgm_gov_affil_ind', 'pgm_gme_eq_yr', 'pgm_prelim_yrs_req_ind',
       'pgm_prelim_yrs_req', 'pgm_prelim_pos_offered', 'pgm_other_match_ind',
       'pgm_type', 'pgm_chg_size', 'pgm_chg_type', 'pgm_%@_prim_site',
       'pgm_prim_site', 'pgm_prim_site_comments', 'pgm_add_date',
       'pgm_core_pgm_id', 'medical_records', 'pgm_web_address_case_sen',
       'ERAS', 'ERAS2', 'pgm_specify', 'pgm_prelim_training_ind',
       'pgm_prelim_training_excl_ind', 'official_addr_ind']]

,pgm_contact_dir_ind,pgm_accred_status,pgm_accred_eff_dt,pgm_init_accred_dt,pgm_accred_length,pgm_yrs_offered,pgm_gov_affil_ind,pgm_gme_eq_yr,pgm_prelim_yrs_req_ind,pgm_prelim_yrs_req,...,pgm_add_date,pgm_core_pgm_id,medical_records,pgm_web_address_case_sen,ERAS,ERAS2,pgm_specify,pgm_prelim_training_ind,pgm_prelim_training_excl_ind,official_addr_ind
0,1.0,I1,9/11/2009,NaN,2.0,2.0,0.0,4.0,1,3.0,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,0
1,1.0,I1,7/1/2014,7/1/2014,2.0,2.0,NaN,4.0,1,3.0,...,2/17/2014,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,1.0,I1,4/14/2016,4/14/2016,2.0,2.0,NaN,4.0,1,3.0,...,4/22/2016,NaN,0.0,NaN,1.0,NaN,Teaching Hospital,NaN,NaN,NaN
3,1.0,I1,7/1/2012,7/1/2012,2.0,2.0,NaN,4.0,1,3.0,...,6/11/2012,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,0
4,1.0,AO,9/15/2006,NaN,2.0,2.0,0.0,4.0,1,3.0,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11600,1.0,AO,5/6/2009,NaN,1.0,1.0,1.0,1.0,4,NaN,...,NaN,4.805411e+09,1.0,1.0,0.0,NaN,NaN,NaN,NaN,0
11601,1.0,AO,5/16/2007,NaN,1.0,1.0,NaN,1.0,4,NaN,...,7/5/2005,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,0
11602,1.0,AO,5/16/2007,NaN,1.0,1.0,0.0,1.0,4,NaN,...,NaN,4.405612e+09,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1
11603,1.0,AO,5/16/2007,NaN,1.0,1.0,0.0,1.0,4,NaN,...,NaN,4.205612e+09,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1
11604,1.0,AO,8/24/2006,NaN,1.0,1.0,0.0,1.0,4,NaN,...,NaN,2.205631e+09,1.0,NaN,1.0,NaN,NaN,NaN,NaN,0

In [159]:
for col in prog.columns:
    if prog[col].dtype == 'float64':
        print(col)
        prog.col = prog[col].astype(int)

pgm_state
pgm_activity_code
prm_acgme_accred_ind

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [163]:
prog_columns = list(column_changes.values())

In [166]:
prog_columns+=['GME_INST_ID','GME_INST_STATE']

In [174]:
prog_columns

['id',
 'specialty',
 'institution_control',
 'sequence_number',
 'federal_code',
 'region_code',
 'acgme_accredited',
 'name',
 'web_address',
 'contact_director',
 'accreditation_status',
 'accreditation_effective_date',
 'initial_accreditation_date',
 'accreditation_length',
 'duration',
 'government_affiliated',
 'graduate_medical_education_equivalent_years',
 'preliminary_years_required',
 'preliminary_positions_offered',
 'type',
 'max_residents_accepted_increase',
 'percent_at_primary_site',
 'primary_site',
 'core_program',
 'medical_records',
 'official_address',
 'uses_sfmatch',
 'other_match_indicator',
 'other_match',
 'additional_education_accreditation_length',
 'last_update_date',
 'last_update_type',
 'american_osteopathic_association_indicator',
 'american_osteopathic_association_indicator_program',
 'osteopathic_principles',
 'address_1',
 'address_2',
 'address_3',
 'city',
 'state',
 'zipcode',
 'primary_clinical_location',
 'GME_INST_ID',
 'GME_INST_STATE']

In [182]:
prog['institution'] = [fix_id_2(x) for x in prog.ins_id]

In [180]:
fix_id_2(12345)

'012345'

In [186]:
prog_columns = ['id',
 'specialty',
 'institution_control',
 'sequence_number',
 'federal_code',
 'region_code',
 'acgme_accredited',
 'name',
 'web_address',
 'contact_director',
 'accreditation_status',
 'accreditation_effective_date',
 'initial_accreditation_date',
 'accreditation_length',
 'duration',
 'government_affiliated',
 'graduate_medical_education_equivalent_years',
 'preliminary_years_required',
 'preliminary_positions_offered',
 'type',
 'max_residents_accepted_increase',
 'percent_at_primary_site',
 'primary_site',
 'core_program',
 'medical_records',
 'official_address',
 'uses_sfmatch',
 'other_match_indicator',
 'other_match',
 'additional_education_accreditation_length',
 'last_update_date',
 'last_update_type',
 'american_osteopathic_association_indicator',
 'american_osteopathic_association_indicator_program',
 'osteopathic_principles',
 'address_1',
 'address_2',
 'address_3',
 'city',
 'state',
 'zipcode',
 'primary_clinical_location',
                'institution',
 'GME_INST_ID',
 'GME_INST_STATE']

In [195]:
specspec.to_csv('../../Data/MasterfileCore/Residency_Program_Specialty_Reference.csv', index=False)

In [204]:
person[person.pers_type == 'D'].sort_values('pers_name_last')[['pers_name_last','pers_ama_e-mail','pers_e-mail','pers_ph_num']]

,pers_name_last,pers_ama_e-mail,pers_e-mail,pers_ph_num
28130,Aaen,NaN,gaaen@llu.edu,9.09652e+09
48637,Aaland,NaN,boipsychresidency@va.gov,2.08422e+09
52993,Aaltonen,NaN,eric.aaltonen@nyulangone.org,2.12263e+09
55482,Aaltonen,NaN,eric.aaltonen@nyumc.org,2.12263e+09
52459,Aaltonen,NaN,eric.aaltonen@nyumc.org,NaN
...,...,...,...,...
52423,hoffer,NaN,eric.k.hoffer@hitchcock.org,6.03651e+09
55442,hoffer,NaN,eric.k.hoffer@hitchcock.org,6.03651e+09
52975,hoffer,NaN,eric.k.hoffer@hitchcock.org,6.03651e+09
63946,moutsios,SMTP: glenna.gant@mcmail.vanderbilt.edu,sandi.moutsios@vumc.org,6.15937e+09
21928,von der Lohe,NaN,evonderl@iu.edu,3.17274e+09

In [209]:
person[person.pers_type == 'D'].drop_duplicates('pers_e-mail')

,pgm_id,pers_type,aamc_id,pers_name_sfx,pers_name_last,pers_name_first,pers_name_mid,pers_deg1,pers_deg2,pers_deg3,...,prev_director_first,prev_director_md,prev_director_sfx,acgme_verified,approval_date,why_change,subscribe,diff_name,email_notify,me.
1,200121109,D,1.22474e+07,NaN,Atkinson,Thomas,P,MD,PhD,NaN,...,Thomas,P,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
6,200300001,D,1.12363e+07,NaN,Carr,Tara,F,MD,NaN,NaN,...,Tara,F,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
11,200300002,D,1.06684e+07,NaN,Lewis,John,C,MD,NaN,NaN,...,John,C,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
17,200400001,D,1.0274e+07,NaN,Jones,Stacie,M,MD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Y,NaN
23,200500131,D,1.41755e+07,NaN,Dorsey,Morna,NaN,MD,NaN,NaN,...,Morton,J,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65590,9995500248,D,1.01213e+07,NaN,Warden,Mary,D,MD,NaN,NaN,...,Mary,D,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
65595,9995500249,D,1.41528e+07,NaN,Frank,Abigail,NaN,DO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.0,Y,NaN
65601,9995600147,D,1.07041e+07,NaN,Weber,Lori,S,MD,NaN,NaN,...,Gregory,P,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
65606,9995600148,D,1.02472e+07,NaN,Nichols,Colleen,NaN,MD,NaN,NaN,...,Richard,J,NaN,N,NaN,2.0,NaN,0.0,Y,NaN
65611,9995600184,D,1.50913e+07,NaN,Darisetty,Sriram,NaN,MD,NaN,NaN,...,Kesavan,NaN,NaN,N,NaN,2.0,NaN,0.0,Y,NaN

In [211]:
person = person.fillna('None')

In [216]:
person[(person.pers_type == 'D')&(person['pers_e-mail']!='None')]

,pgm_id,pers_type,aamc_id,pers_name_sfx,pers_name_last,pers_name_first,pers_name_mid,pers_deg1,pers_deg2,pers_deg3,...,prev_director_first,prev_director_md,prev_director_sfx,acgme_verified,approval_date,why_change,subscribe,diff_name,email_notify,me.
1,200121109,D,1.22474e+07,None,Atkinson,Thomas,P,MD,PhD,None,...,Thomas,P,None,N,None,2,None,0,Y,None
6,200300001,D,1.12363e+07,None,Carr,Tara,F,MD,None,None,...,Tara,F,None,N,None,2,None,0,Y,None
11,200300002,D,1.06684e+07,None,Lewis,John,C,MD,None,None,...,John,C,None,N,None,2,None,0,Y,None
17,200400001,D,1.0274e+07,None,Jones,Stacie,M,MD,None,None,...,None,None,None,None,None,None,None,0,Y,None
23,200500131,D,1.41755e+07,None,Dorsey,Morna,None,MD,None,None,...,Morton,J,None,N,None,2,None,0,Y,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65590,9995500248,D,1.01213e+07,None,Warden,Mary,D,MD,None,None,...,Mary,D,None,N,None,2,None,0,Y,None
65595,9995500249,D,1.41528e+07,None,Frank,Abigail,None,DO,None,None,...,None,None,None,None,None,2,None,0,Y,None
65601,9995600147,D,1.07041e+07,None,Weber,Lori,S,MD,None,None,...,Gregory,P,None,N,None,2,None,0,Y,None
65606,9995600148,D,1.02472e+07,None,Nichols,Colleen,None,MD,None,None,...,Richard,J,None,N,None,2,None,0,Y,None
65611,9995600184,D,1.50913e+07,None,Darisetty,Sriram,None,MD,None,None,...,Kesavan,None,None,N,None,2,None,0,Y,None

In [212]:
person[(person.pers_type == 'D')&(person.aamc_id!='None')].drop_duplicates(['pers_name_last','pers_name_first','pers_name_mid','pers_deg1','pers_deg2','pers_deg3'])

,pgm_id,pers_type,aamc_id,pers_name_sfx,pers_name_last,pers_name_first,pers_name_mid,pers_deg1,pers_deg2,pers_deg3,...,prev_director_first,prev_director_md,prev_director_sfx,acgme_verified,approval_date,why_change,subscribe,diff_name,email_notify,me.
1,200121109,D,1.22474e+07,None,Atkinson,Thomas,P,MD,PhD,None,...,Thomas,P,None,N,None,2,None,0,Y,None
6,200300001,D,1.12363e+07,None,Carr,Tara,F,MD,None,None,...,Tara,F,None,N,None,2,None,0,Y,None
11,200300002,D,1.06684e+07,None,Lewis,John,C,MD,None,None,...,John,C,None,N,None,2,None,0,Y,None
17,200400001,D,1.0274e+07,None,Jones,Stacie,M,MD,None,None,...,None,None,None,None,None,None,None,0,Y,None
23,200500131,D,1.41755e+07,None,Dorsey,Morna,None,MD,None,None,...,Morton,J,None,N,None,2,None,0,Y,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65590,9995500248,D,1.01213e+07,None,Warden,Mary,D,MD,None,None,...,Mary,D,None,N,None,2,None,0,Y,None
65595,9995500249,D,1.41528e+07,None,Frank,Abigail,None,DO,None,None,...,None,None,None,None,None,2,None,0,Y,None
65601,9995600147,D,1.07041e+07,None,Weber,Lori,S,MD,None,None,...,Gregory,P,None,N,None,2,None,0,Y,None
65606,9995600148,D,1.02472e+07,None,Nichols,Colleen,None,MD,None,None,...,Richard,J,None,N,None,2,None,0,Y,None
65611,9995600184,D,1.50913e+07,None,Darisetty,Sriram,None,MD,None,None,...,Kesavan,None,None,N,None,2,None,0,Y,None

In [213]:
person[(person.pers_type == 'D')&(person.aamc_id!='None')].drop_duplicates(['aamc_id'])

,pgm_id,pers_type,aamc_id,pers_name_sfx,pers_name_last,pers_name_first,pers_name_mid,pers_deg1,pers_deg2,pers_deg3,...,prev_director_first,prev_director_md,prev_director_sfx,acgme_verified,approval_date,why_change,subscribe,diff_name,email_notify,me.
1,200121109,D,1.22474e+07,None,Atkinson,Thomas,P,MD,PhD,None,...,Thomas,P,None,N,None,2,None,0,Y,None
6,200300001,D,1.12363e+07,None,Carr,Tara,F,MD,None,None,...,Tara,F,None,N,None,2,None,0,Y,None
11,200300002,D,1.06684e+07,None,Lewis,John,C,MD,None,None,...,John,C,None,N,None,2,None,0,Y,None
17,200400001,D,1.0274e+07,None,Jones,Stacie,M,MD,None,None,...,None,None,None,None,None,None,None,0,Y,None
23,200500131,D,1.41755e+07,None,Dorsey,Morna,None,MD,None,None,...,Morton,J,None,N,None,2,None,0,Y,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65590,9995500248,D,1.01213e+07,None,Warden,Mary,D,MD,None,None,...,Mary,D,None,N,None,2,None,0,Y,None
65595,9995500249,D,1.41528e+07,None,Frank,Abigail,None,DO,None,None,...,None,None,None,None,None,2,None,0,Y,None
65601,9995600147,D,1.07041e+07,None,Weber,Lori,S,MD,None,None,...,Gregory,P,None,N,None,2,None,0,Y,None
65606,9995600148,D,1.02472e+07,None,Nichols,Colleen,None,MD,None,None,...,Richard,J,None,N,None,2,None,0,Y,None
65611,9995600184,D,1.50913e+07,None,Darisetty,Sriram,None,MD,None,None,...,Kesavan,None,None,N,None,2,None,0,Y,None

In [220]:
personnel = person[person.pers_type == 'D'].drop_duplicates(['pers_name_last','pers_name_first','pers_name_mid','pers_deg1','pers_deg2','pers_deg3']).sort_values('pers_name_last')

In [222]:
personnel['person_id'] = list(range(11985))

In [229]:
personnel = personnel[['pers_name_last','pers_name_first','pers_name_mid','pers_deg1','pers_deg2','pers_deg3', 'person_id']]

In [ ]:
def _get_directors(cls, data):
        data[0] = data[0].fillna('None')
        data[0]['first_name'] = [x.upper() for x in data[0].first_name]
        data[0]['last_name'] = [x.upper() for x in data[0].last_name]
        data[0] = data[0][data[0].aamc_id != 'None'].sort_values(
            ['survey_cycle']).drop_duplicates(['aamc_id'], keep='last')
        data[0] = data[0].drop_duplicates(['pers_name_last','pers_name_first','pers_name_mid','pers_deg1','pers_deg2','pers_deg3']).sort_values('pers_name_last')
        return data[0]

In [231]:
personnel = pd.merge(personnel, person[person.pers_type == 'D'], on = ['pers_name_last','pers_name_first','pers_name_mid','pers_deg1','pers_deg2','pers_deg3'])

In [227]:
len(person[person.pers_type == 'D'])

12480

In [233]:
directors = personnel.fillna('None').drop_duplicates('person_id')
directors['FIRST_NAME'] = [x.upper() for x in directors.pers_name_first]
directors['LAST_NAME'] = [x.upper() for x in directors.pers_name_last]
ppd['pers_deg1'] = ['MD' if x == 1 else 'DO' for x in ppd.MD_DO_CODE]
       
def initial_match(directors, ppd):
    '''Match directors and physicians'''
    all_match = pd.merge(ppd, directors, on=['FIRST_NAME', 'LAST_NAME'])
    pure_match = pd.merge(ppd, directors, on=[
        'FIRST_NAME', 'LAST_NAME']).drop_duplicates('person_id', keep=False)
    duplicate_matches = all_match[all_match.person_id.isin(pure_match.person_id) == False]
    duplicates = directors[directors.person_id.isin(duplicate_matches.person_id)]
    duplicate_matches = duplicate_matches.fillna('None')
    return (pure_match, duplicate_matches, duplicates)

def filter_out_duplicates(duplicates, duplicate_matches):
    '''Remove duplicate matches based on further filtering criteria'''
    matched_dict_list = []
    for row in duplicates.itertuples():
        new_df = duplicate_matches[duplicate_matches.person_id == row.person_id]
        if row.pers_deg1 != 'None' and row.pers_deg1 != 'MPH':
            new_df = new_df[new_df.pers_deg1_x == row.pers_deg1]
        if len(new_df) > 1 and row.pers_name_mid != 'None':
            if len(row.pers_name_mid) == 1:
                new_df['middle'] = [x[0] for x in new_df.MIDDLE_NAME]
                new_df = new_df[new_df.middle == row.pers_name_mid]
            else:
                new_df = new_df[new_df.MIDDLE_NAME == row.pers_name_mid.upper()]
        if len(new_df) == 1:
            matched_dict_list.append({'person_id':row.person_id, 'ME': list(new_df.ME)[0]})
    return matched_dict_list

pure_match, duplicate_matches, duplicates = initial_match(directors, ppd)
new_matches = filter_out_duplicates(duplicates, duplicate_matches)
new_match = pd.DataFrame(new_matches)
pd.concat([pure_match[['ME', 'person_id']], new_match])

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:36: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

               ME  person_id
0     00102000056       3452
26    00102000595       2317
35    00102010647       8941
66    00102020821       7930
153   00102030966        621
...           ...        ...
1320  02834060569      11838
1321  00702000475      11890
1322  00518080865      11908
1323  00401990372      11935
1324  02576890870      11981

[9190 rows x 2 columns]

In [234]:
xx = pd.concat([pure_match[['ME', 'person_id']], new_match])

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [239]:
xxx = pd.merge(xx, personnel, on='person_id')

In [240]:
XXXX = pd.merge(ppd[['ME', 'MAILING_NAME',
       'LAST_NAME', 'FIRST_NAME', 'MIDDLE_NAME', 'SUFFIX', 'MAILING_LINE_1',
       'MAILING_LINE_2', 'CITY', 'STATE', 'ZIP', 'POLO_MAILING_LINE_1', 'POLO_MAILING_LINE_2',
       'POLO_CITY', 'POLO_STATE', 'POLO_ZIP', 'pers_deg1']], xxx, on='ME')

In [243]:
XXXX[['pers_name_last', 'pers_name_first', 'pers_name_mid','LAST_NAME', 'FIRST_NAME', 'MIDDLE_NAME']]

,pers_name_last,pers_name_first,pers_name_mid,LAST_NAME,FIRST_NAME,MIDDLE_NAME
0,Gala,Rajiv,B,GALA,RAJIV,BABULAL
1,Floyd,John,R,FLOYD,JOHN,ROBERT
2,Dassinger,Melvin,S,DASSINGER,MELVIN,SIDNEY
3,Rieber,Alyssa,None,RIEBER,ALYSSA,GOSNEY
4,Berry,Sarah,Dyer,BERRY,SARAH,DYER
...,...,...,...,...,...,...
9549,Bulic,Sebina,None,BULIC,SEBINA,NaN
9550,Radulovic,Miroslav,None,RADULOVIC,MIROSLAV,NaN
9551,Tegene,Teshome,None,TEGENE,TESHOME,ZEWDU
9552,Bajmakovic-Kacila,Senada,None,BAJMAKOVIC-KACILA,SENADA,NaN
9553,Latifi,Rifat,None,LATIFI,RIFAT,NaN

In [242]:
personnel.columns

Index(['pers_name_last', 'pers_name_first', 'pers_name_mid', 'pers_deg1',
       'pers_deg2', 'pers_deg3', 'person_id', 'pgm_id', 'pers_type', 'aamc_id',
       'pers_name_sfx', 'AAMC_deg1', 'AAMC_deg2', 'AAMC_deg3', 'pers_chg_dt',
       'pers_ph_num', 'pers_ph_ext', 'pers_fx_num', 'pers_e-mail',
       'pers_ama_e-mail', 'last_upd_dt', 'survey_cycle', 'last_upd_type',
       'last_upd_id', 'pers_name_correct', 'prev_director_last',
       'prev_director_first', 'prev_director_md', 'prev_director_sfx',
       'acgme_verified', 'approval_date', 'why_change', 'subscribe',
       'diff_name', 'email_notify', 'me.'],
      dtype='object')

In [256]:
xxx[['ME','pgm_id']].to_csv('../../Data/MasterFileCore/residency_program_physician.csv', index=False)

In [254]:
xxx['pgm_id'] = [fix_id(x) for x in xxx.pgm_id]