In [2]:
import pandas as pd
import os

In [16]:
out_dir = '../../Data/License/'
all_data = pd.DataFrame()
for file in os.listdir(out_dir):
    if file.startswith(f"NC_License_Status_") and len(file)==32:
        new = pd.read_csv(f'{out_dir}{file}')
        if len(new.columns)>2:
            new['Date'] = file.split('_')[-1][0:10]
            all_data = pd.concat([all_data, new])

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [22]:
all_data[['License_Number','PublicFlag','Date']].groupby(['PublicFlag','Date']).count()

                       License_Number
PublicFlag Date
Y          2021-08-11            2663
           2021-09-09            2672
           2021-12-02            2785
           2022-01-10            2797
           2022-02-04            2815
           2022-04-07            2838
           2022-04-12            2830
           2022-05-09             835
           2022-06-14             830
           2022-07-11             831
           2022-08-08             814

In [24]:
pub_lic = list(all_data[all_data.PublicFlag=='Y'].License_Number)

In [33]:
pub_confusion = list(all_data[(all_data.PublicFlag!='Y')&(all_data.License_Number.isin(pub_lic))].License_Number)

In [37]:
out_dir = '../../Data/License/'
other_data = pd.DataFrame()
for file in os.listdir(out_dir):
    if file.startswith(f"NC_License_Status_") and file[-3:] == 'csv':
        new = pd.read_csv(f'{out_dir}{file}')
        if len(new.columns)==2:
            new['Date'] = file
            other_data = pd.concat([other_data, new])

In [42]:
other_data[other_data.License_Number.isin(pub_confusion)].groupby(['License_Number','License_Type']).count()

                                             Date
License_Number License_Type
10442          Full and Unrestricted            1
               MD Faculty Limited               1
               MD Retired Limited Volunteer    27
               Retired Limited Volunteer        2
10836          Full and Unrestricted            3
...                                           ...
9901550        MD Full and Unrestricted         6
               MD Retired Limited Volunteer     7
9901599        MD Faculty Limited               1
               MD Retired Limited Volunteer    20
               Retired Limited Volunteer       15

[4354 rows x 1 columns]