In [2]:
import pandas as pd
import pyodbc
username = 'vigrose'
password = 'Hufflepuff10946'
q = "DSN=eprdods; UID={}; PWD={}".format(username, password)
ODS = pyodbc.connect(q)

In [3]:
BAH = \
    """
    SELECT *
    FROM
    ODS.ODS_PPD_FILE PE
    WHERE
    PE.CURRENT_BATCH_FLAG='Y'
    """

In [4]:
z = pd.read_sql(con=ODS, sql=BAH)

In [6]:
list(z.columns)

['ME_NUMBER',
 'RECORD_ID',
 'UPDATE_TYPE',
 'ADDRESS_TYPE',
 'MAILING_NAME',
 'LAST_NAME',
 'FIRST_NAME',
 'MIDDLE_NAME',
 'SUFFIX_CODE',
 'PREFERRED_ADDR2',
 'PREFERRED_ADDR1',
 'PREFERRED_CITY',
 'PREFERRED_STATE',
 'PREFERRED_ZIP',
 'PREFERRED_PLUS4',
 'PREFERRED_CARRIERROUTE',
 'UNDELIVER_FLAG',
 'FIPS_COUNTY',
 'FIPS_STATE',
 'PRINTER_CONTROLCODE_BEGIN',
 'BARCODE_ZIP',
 'BARCODE_PLUS4',
 'DELIVERYPOINTCODE',
 'CHECKDIGIT',
 'PRINTER_CONTROLCODE_END',
 'REGION',
 'DIVISION',
 'GROUP',
 'TRACT',
 'SUFFIX',
 'BLOCKGROUP',
 'MSA_POPULATION',
 'MICRO_METRO_IND',
 'CBSA',
 'CBSA_DIVISION',
 'DEGREE_TYPE',
 'BIRTH_YEAR',
 'BIRTH_CITY',
 'BIRTH_STATE',
 'BIRTH_COUNTRY',
 'GENDER',
 'PREFERREDPHONENUMBER',
 'PENDINGDEAD_IND',
 'FAXNUMBER',
 'TOPCODE',
 'PECODE',
 'PRIMSPECIALTY',
 'SECONDARYSPECIALTY',
 'MPACODE',
 'PRAAWARDRECIPIENT',
 'PRAEXPIRATIONDATE',
 'GMECONFIRMFLAG',
 'FROMDATE',
 'ENDDATE',
 'YEARINPROGRAM',
 'POSTGRADYEAR',
 'GMEPRIMSPECIALTY',
 'GMESECSPECIALTY',
 'TRAINING_TYPE',
 'GMEHOSPITALSTATE',
 'GMEHOSPITALID',
 'GRADSCHOOLSTATE',
 'GRADSCHOOLCODE',
 'GRADYEAR',
 'NOCONTACT_IND',
 'NOWEBIND',
 'PDRP_FLAG',
 'PDRP_DATE',
 'POLO_ADDR2',
 'POLO_ADDR1',
 'POLO_CITY',
 'POLO_STATE',
 'POLO_ZIP',
 'POLO_PLUS4',
 'POLOCARRIERROUTE',
 'MOSTRECENTFORMERLASTNAME',
 'MOSTRECENTFORMERMIDDLENAME',
 'MOSTRECENTFORMERFIRSTNAME',
 'NEXTMOSTRECENTFORMERLASTNAME',
 'NEXTMOSTRECENTFORMERMIDDLENAME',
 'NEXTMOSTRECENTFORMERFIRSTNAME',
 'JOB_ID',
 'CURRENT_BATCH_FLAG',
 'BATCH_BUSINESS_DATE']

,NAME,FIRST_NAME,LAST_NAME,MIDDLE_NAME,SUFFIX,NICKNAME,TITLE,AGE,DATE,STATE,LINK
0,Dr. Rebecca Shadowen,REBECCA,SHADOWEN,NaN,NaN,NaN,DR.,62,09-13-2020,KY,https://www.wbko.com/app/2020/09/12/dr-rebecca...
1,Dr. Bruce Greene,BRUCE,GREENE,NaN,NaN,NaN,DR.,61,09-12-2020,NJ,https://www.google.com/amp/s/njjewishnews.time...
2,Dr. Roy Lee,ROY,LEE,NaN,NaN,NaN,DR.,84,09-11-2020,AR,https://harrisondaily.com/obituaries/dr-roy-al...
3,Dr. Vincent Sceglio,VINCENT,SCEGLIO,NaN,NaN,NaN,DR.,57,09-10-2020,MI,https://m.facebook.com/groups/317464005892297?...
4,Dr. Neil Blatt,NEIL,BLATT,NaN,NaN,NaN,DR.,74,09-08-2020,NY,https://www.google.com/amp/s/www.newsday.com/a...
...,...,...,...,...,...,...,...,...,...,...,...
159,Dr. Steven Huber,STEVEN,HUBER,NaN,NaN,NaN,DR.,64,04-04-2020,MO,None
160,Dr. Mark Allen Respler,MARK,RESPLER,ALLEN,NaN,NaN,DR.,66,04-03-2020,None,https://hamodia.com/2020/03/27/bde-dr-mark-all...
161,Dr. Frank Gabrin,FRANK,GABRIN,NaN,NaN,NaN,DR.,None,04-01-2020,None,None
162,Dr. Stephen Schwartz,STEPHEN,SCHWARTZ,NaN,NaN,NaN,DR.,78,04-01-2020,None,None
163,Dr. Alex Hsu,ALEX,HSU,NaN,NaN,NaN,DR.,67,03-31-2020,FL,None