In [1]:
import psycopg2
import pandas as pd
import datacompy
import pyodbc
import useful_functions as use

In [2]:
conn = psycopg2.connect(
    host='oneview-dev-db.cwp4vd8mllvz.us-east-1.rds.amazonaws.com',
    database='oneview_content',
    user='datalabs',
    password='DataLabs123')

OperationalError: could not translate host name "oneview-dev-db.cwp4vd8mllvz.us-east-1.rds.amazonaws.com" to address: Unknown host

In [5]:
ov_program_sql = '''
    SELECT * FROM ONEVIEW.RESIDENCY_PROGRAM
    '''
ov_program = pd.read_sql_query(ov_program_sql, conn)

In [7]:
program = pd.read_csv('../../Data/MasterfileCore/ProgramInformation.txt', sep='|', error_bad_lines=False, encoding='latin')
program = program[program.pgm_activity_code==0]

b'Skipping line 5168: expected 55 fields, saw 59\nSkipping line 5183: expected 55 fields, saw 106\n'

In [11]:
program_columns = {
    'pgm_id':'id',
    'pgm_spec':'specialty',
    'pgm_inst_control_type':'institution_control',
    'pgm_sequence_number':'sequence_number',
    'pgm_federal_code':'federal_code',
    'pgm_region_code':'region_code',    
    'prm_acgme_accred_ind':'acgme_accredited',
    'pgm_name':'name',
    'pgm_web_address':'web_address',
    'pgm_contact_dir_ind':'contact_director',
    'pgm_accred_status':'accreditation_status',
    'pgm_accred_eff_dt':'accreditation_effective_date',
    'pgm_init_accred_dt':'initial_accreditation_date', 
    'pgm_accred_length':'accreditation_length',
    'pgm_yrs_offered':'duration',
    'pgm_gov_affil_ind':'govenrmnet_affiliated',
    'pgm_gme_eq_yr':'graduate_medical_education_equivalent_years',
    'pgm_prelim_yrs_req_ind':'preliminary_years_required',
    'pgm_prelim_pos_offered':'preliminary_positions_offered',
    'pgm_type':'type',
    'pgm_chg_size':'max_residents_accepted_increase',
    'pgm_%@_prim_site':'percent_at_primary_site',
    'pgm_prim_site':'primary_site',
    'pgm_core_pgm_id':'core_program',
    'official_addr_ind':'official_address',
    'pgm_sf_match':'uses_sf_match',
    'pgm_oth_match_ind':'other_match_indicator',
    'pgm_oth_match':'other_match',
    'pgm_addit_educ_accred_length':'additional_education_accreditation_length',
    'last_upd_dt':'last_update_date',
    'last_upd_type':'last_update_type',
    'AOA_Ind':'american_osteopathic_association_indicator', 
    'AOA_Program_ID':'american_osteopathic_association_indicator_program_id',
    'Osteopathic_principles':'osteopathic_principles'
    
}

In [13]:
program = program.rename(columns=program_columns)

In [14]:
program_compare = datacompy.Compare(ov_program, program, join_columns='id', df1_name = 'oneview', df2_name = 'meri')

In [15]:
print(program_compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0   oneview       43  11454
1  datamart       55  12226

Column Summary
--------------

Number of columns in common: 32
Number of columns in oneview but not in datamart: 11
Number of columns in datamart but not in oneview: 23

Row Summary
-----------

Matched on: id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 11,454
Number of rows in oneview but not in datamart: 0
Number of rows in datamart but not in oneview: 772

Number of rows with some compared columns unequal: 11,454
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 15
Number of columns compared with all values equal: 17
Total number of values which compare unequal: 86,024

Columns with Unequal Values or Types
------------------------------------

                                         Column oneview dtype datamart dtype  # Unequal  Max Diff  # Null Diff
16                 accreditation_effective_date        object         object      11454       0.0            3
3                          accreditation_length        object        float64          0       0.0            0
6                              acgme_accredited          bool        float64         31       0.0           31
1     additional_education_accreditation_length          bool        float64          0       0.0            0
23   american_osteopathic_association_indicator          bool        float64          0       0.0            0
14                             contact_director          bool        float64         39       0.0           39
9                                  core_program        object        float64      11454       0.0         8339
4                                      duration        object        float64          0       0.0            0
0   graduate_medical_education_equivalent_years        object        float64          0       0.0            0
5                    initial_accreditation_date        object         object      11454       0.0         7562
12                          institution_control        object          int64          0       0.0            0
11                             last_update_date        object         object      11454       0.0          503
7                              last_update_type        object         object        503       0.0          503
22              max_residents_accepted_increase         int64         object       5874       0.0         5874
21                              medical_records          bool        float64       1334       0.0         1334
18                             official_address          bool         object       2948       0.0         2948
2                        osteopathic_principles          bool        float64       6284       0.0         6284
8                                   other_match        object         object      11055       0.0        11055
19                        other_match_indicator          bool        float64          0       0.0            0
13                      percent_at_primary_site        object        float64      11454       0.0          160
20                preliminary_positions_offered          bool        float64          5       0.0            5
15                                 primary_site        object        float64          0       0.0            0
10                                    specialty        object        float64          0       0.0            0
17                                  web_address        object         object        681       0.0          681

Sample Rows with Unequal Values
-------------------------------

              id osteopathic_principles (oneview)  osteopathic_principles (datamart)
1609  1204121284                            False                                NaN
8003  3401021074                            False                                NaN
6167  2683421095                            False                                NaN
5923  2603800178                            False                                NaN
8302  3625111104                            False                                NaN
3916  1202231154                            False                                NaN
9985  4161100001                            False                                NaN
5868  2602431066                            False                                NaN
7303  3242811018                            False                                NaN
6711  3071630568                            False                                NaN

               id initial_accreditation_date (oneview) initial_accreditation_date (datamart)
10915  7003532049                           1970-01-01                                   NaN
3550   1505121013                           1970-01-01                                   NaN
4480   1602421036                           1970-01-01                                   NaN
11189  4503521045                           1970-01-01                                   NaN
10262  4600521112                           1970-01-01                                   NaN
1289   1201600703                           2016-07-01                              7/1/2016
3745   1523031141                           1970-01-01                                   NaN
9574   4303912137                           1970-01-01                                   NaN
11290  9993500261                           2016-07-01                              7/1/2016
6284   2802500140                           1970-01-01                                   NaN

               id acgme_accredited (oneview)  acgme_accredited (datamart)
10955  7054100007                      False                          NaN
10968  7154800002                      False                          NaN
1413   1202600654                      False                          NaN
164    0801100141                      False                          NaN
11067  7954100001                      False                          NaN
1360   1200700625                      False                          NaN
1539   1203800704                      False                          NaN
945    1104100203                      False                          NaN
1383   1202500739                      False                          NaN
8104   3450734001                      False                          NaN

               id last_update_type (oneview) last_update_type (datamart)
3180   1462313216                                                    NaN
1258   1201121015                                                    NaN
9771   4403500447                                                    NaN
10945  7051644012                                                    NaN
174    0451121004                                                    NaN
6079   2651026001                                                    NaN
10297  4603511064                                                    NaN
1593   1204100709                                                    NaN
9239   4201821068                                                    NaN
6107   2672326030                                                    NaN

               id other_match (oneview) other_match (datamart)
10467  4803821122                                          NaN
2380   1403831350                                          NaN
5888   2602821046                                          NaN
6840   3111131083                                          NaN
1890   1274121024                                          NaN
1133   1200300721                                          NaN
9915   3322321016                                          NaN
7904   3355632075                                          NaN
7000   3200512029                                          NaN
5731   2402511072                                          NaN

               id core_program (oneview)  core_program (datamart)
2583   1412321049             1402321160             1.402321e+09
1021   1122511001             1102521124             1.102521e+09
7973   3392832019                                             NaN
10161  4503521069             4403521393             4.403521e+09
3849   1524112144                                             NaN
3667   1520321095                                             NaN
2052   1400521044                                             NaN
10355  4660546012                                             NaN
3295   1480521111             1400521047             1.400521e+09
6232   2753300001                                             NaN

               id last_update_date (oneview) last_update_date (datamart)
10555  5200814046                 2020-06-16                   6/16/2020
1265   1201200641                 2020-06-16                   6/16/2020
10086  4454821022                 2020-06-16                   6/16/2020
2112   1401121100                 2020-07-14                   7/14/2020
3903   1543521129                 2020-06-10                   6/10/2020
10092  4460544003                 2020-07-22                   7/22/2020
10410  4802100177                 2020-06-16                   6/16/2020
10724  5400114027                 2020-06-10                   6/10/2020
1513   1203611221                 2020-06-11                   6/11/2020
1607   1204121259                 2020-06-16                   6/16/2020

               id percent_at_primary_site (oneview)  percent_at_primary_site (datamart)
9077   4094840060                                75                                75.0
8906   4062831054                                85                                85.0
4571   1801021144                                66                                66.0
2107   1401100956                                95                                95.0
2485   1405511438                               100                               100.0
4750   1840518001                                85                                85.0
7107   3203521174                                70                                70.0
1413   1202600654                                50                                50.0
8728   4043640002                                50                                50.0
10707  5304804030                                51                                51.0

               id contact_director (oneview)  contact_director (datamart)
5937   2604100213                      False                          NaN
8731   4043840003                      False                          NaN
9771   4403500447                      False                          NaN
882    1103300215                      False                          NaN
11402  4001100318                      False                          NaN
9093   4150742001                      False                          NaN
156    1413314299                      False                          NaN
8496   4002500311                      False                          NaN
1765   1253312068                      False                          NaN
11449  4850548026                      False                          NaN

               id accreditation_effective_date (oneview) accreditation_effective_date (datamart)
1583   1204100696                             2018-07-01                                7/1/2018
8798   4052421053                             2008-04-04                                4/4/2008
10790  5402812003                             2016-07-01                                7/1/2016
10853  4163500010                             2016-04-28                               4/28/2016
959    1104212046                             2019-01-07                                1/7/2019
9605   4400321027                             2006-10-26                              10/26/2006
5239   2205631307                             2007-10-03                               10/3/2007
9126   4153042001                             2020-07-01                                7/1/2020
7815   3324321041                             2006-04-09                                4/9/2006
7397   3260131073                             2007-10-14                              10/14/2007

               id web_address (oneview) web_address (datamart)
11179  4421644568                                          NaN
10385  4801021004                                          NaN
6061   2634100082                                          NaN
6222   2682421044                                          NaN
4231   1563314134                                          NaN
2716   1414812177                                          NaN
2393   1404100902                                          NaN
6789   3101621035                                          NaN
1923   1270521068                                          NaN
7098   3203500424                                          NaN

               id official_address (oneview) official_address (datamart)
5570   2302322001                      False                         NaN
5592   2303522003                      False                         NaN
11372  1403600329                      False                         NaN
10031  4164100001                      False                         NaN
2120   1401200925                      False                         NaN
4744   1840118001                      False                         NaN
972    1104800214                      False                         NaN
846    1102500205                      False                         NaN
1968   1312313002                      False                         NaN
4514   1604100136                      False                         NaN

              id preliminary_positions_offered (oneview)  preliminary_positions_offered (datamart)
2582  1412314299                                   False                                       NaN
3572  1511114147                                   False                                       NaN
1451  1203300682                                   False                                       NaN
5810  2600500222                                   False                                       NaN
812   0802700001                                   False                                       NaN

               id medical_records (oneview)  medical_records (datamart)
10756  5401112122                     False                         NaN
6221   1544714070                     False                         NaN
11334  9994800257                     False                         NaN
11313  9993600002                     False                         NaN
2140   1401600545                     False                         NaN
10103  3384932001                     False                         NaN
9105   4150542004                     False                         NaN
8777   4051240149                     False                         NaN
10211  4511200002                     False                         NaN
2141   1401600547                     False                         NaN

              id  max_residents_accepted_increase (oneview) max_residents_accepted_increase (datamart)
8692  4015540001                                        0.0                                        NaN
7965  3390532025                                        0.0                                        NaN
7705  3302521010                                        0.0                                        NaN
7818  3324732043                                        0.0                                        NaN
362   0412604024                                        0.0                                        NaN
9986  4163800001                                        0.0                                        NaN
8087  3404100090                                        0.0                                        NaN
4321  1581114018                                        0.0                                        NaN
9145  4154100001                                        0.0                                        NaN
131   0432304003                                        0.0                                        NaN

Sample Rows Only in datamart (First 10 Columns)
-----------------------------------------------

               id  specialty  pgm_state  institution_control sequence_number federal_code region_code  pgm_activity_code  acgme_accredited                                               name
12194  5404812124      540.0       48.0                   12             124            7           7                0.0               1.0  University of Texas M D Anderson Cancer Center...
12061  4151042002      415.0       10.0                   42             002            7           5                0.0               1.0               George Washington University Program
12211  9991600207      999.0       16.0                    0             207            7           3                0.0               1.0   AMITA Health/Resurrection Medical Center Program
11603  1270112128      127.0        1.0                   12             128            7           6                0.0               1.0                                 USA Health Program
12184  5403612094      540.0       36.0                   12             094            7           5                0.0               1.0  Vidant Medical Center/East Carolina University...
11468  0430504007       43.0        5.0                    4             007            7           9                0.0               1.0  University of California (San Diego) Medical C...
11488  0804800144       80.0       48.0                    0             144            7           7                0.0               1.0                           HCA Medical City Program
12025  4041140002      404.0       11.0                   40             002            7           5                0.0               1.0  HCA Healthcare/USF Morsani College of Medicine...
11886  3011230058      301.0       12.0                   30             058            7           5                0.0               1.0        Emory University School of Medicine Program
12171  5401112124      540.0       11.0                   12             124            7           5                0.0               1.0           Westchester General Hospital Inc Program

In [100]:
inst = pd.read_csv('../../Data/MasterfileCore/ProgramInstitution.txt', sep='|', encoding='latin')
insti = inst[inst.affiliation_type=='S']

In [101]:
institution = pd.read_csv('../../Data/MasterfileCore/InstitutionInformation.txt', sep='|', error_bad_lines=False)

b'Skipping line 601: expected 14 fields, saw 18\n'

In [102]:
addresses = pd.read_csv('../../Data/MasterfileCore/ProgramAddress.txt', sep='|', error_bad_lines=False, encoding='latin')

In [16]:
personnel = pd.read_csv('../../Data/MasterfileCore/ProgramPersonnel.txt', sep='|', encoding='latin', error_bad_lines=False)

b'Skipping line 8397: expected 35 fields, saw 36\n'
b'Skipping line 31221: expected 35 fields, saw 52\n'
b'Skipping line 51840: expected 35 fields, saw 57\nSkipping line 51876: expected 35 fields, saw 44\n'
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,2,9,10,11,12,14,16,27,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
personnel = personnel.rename(columns={'pers_name_sfx':'suffix_name', 'pers_name_last':'last_name',
       'pers_name_first':'first_name', 'pers_name_mid':'middle_name', 'pers_deg1':'degree_1', 'pers_deg2':'degree_2',
       'pers_deg3':'degree_3', 'last_upd_dt':'last_update_date'})

In [54]:
personnel['program']=personnel.pgm_id

In [27]:
personnel = personnel[personnel.pers_type=='D']

In [53]:
personnel['id'] = personnel['pgm_id'].astype(str) + personnel['aamc_id'].astype(str)

In [43]:
def fix_id(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    if len(num) == 9:
        num = '0' + num
    return num
personnel['pgm_id']=[fix_id(x) for x in personnel.pgm_id]

In [52]:
def fix_aamc_id(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    while len(num) < 8:
        num = '0' + num
    return num
personnel['aamc_id']=[fix_aamc_id(x) for x in personnel.aamc_id]

In [60]:
test = personnel[personnel.program.isin(program.id)]

In [77]:
personnel_compare = datacompy.Compare(ov_personnel, test, join_columns='id', df1_name = 'oneview', df2_name = 'meri')

In [78]:
print(personnel_compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0   oneview       10  11450
1      meri       37  12222

Column Summary
--------------

Number of columns in common: 10
Number of columns in oneview but not in meri: 0
Number of columns in meri but not in oneview: 27

Row Summary
-----------

Matched on: id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 11,450
Number of rows in oneview but not in meri: 0
Number of rows in meri but not in oneview: 772

Number of rows with some compared columns unequal: 11,450
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 6
Number of columns compared with all values equal: 4
Total number of values which compare unequal: 48,292

Columns with Unequal Values or Types
------------------------------------

             Column oneview dtype meri dtype  # Unequal  Max Diff  # Null Diff
5          degree_1        object     object          9         0            9
1          degree_2        object     object       9428         0         9428
0          degree_3        object     object      11317         0        11317
4  last_update_date        object     object      11450         0          505
3       middle_name        object     object       4876         0         4876
2       suffix_name        object     object      11212         0        11212

Sample Rows with Unequal Values
-------------------------------

                      id degree_3 (oneview) degree_3 (meri)
5287  221282200114217516                                NaN
5254  220513130010035702                                NaN
553   100541107314190725                                NaN
6752  311413011010838233                                NaN
2494  141352101312075472                                NaN
1259  120330068414786112                                NaN
14    041352100214663812                                NaN
1589  125331206800000000                                NaN
2450  141253125811270408                                NaN
5223  220471127510798491                                NaN

                      id degree_2 (oneview) degree_2 (meri)
9519  430331313514847859                                NaN
990   120051270510761748                                NaN
4535  183162101411131077                                NaN
8432  400350031714141383                                NaN
7174  324242101110118589                                NaN
7303  326241208414358751                                NaN
6869  320053103610964694                                NaN
6778  314240002110063840                                NaN
672   110330021313646975                                NaN
7219  325081100611064625                                NaN

                      id suffix_name (oneview) suffix_name (meri)
6176  280412109211785442                                      NaN
6392  300511136615080372                                      NaN
8819  407034000113720718                                      NaN
4431  180242112115304493                                      NaN
2875  144351101014439686                                      NaN
8702  405314018410576574                                      NaN
4800  187432101514008318                                      NaN
1266  120331119210591240                                      NaN
4905  188481808210451902                                      NaN
4978  200282104213466142                                      NaN

                       id middle_name (oneview) middle_name (meri)
9498   430162102715320464                                      NaN
7834   336512201414644293                                      NaN
9312   423042104314702316                                      NaN
6301   041180406110959650                                      NaN
9298   421243101012162929                                      NaN
4377   180051101814199560                                      NaN
10550  520081404713464141                                      NaN
10287  460352105813743479                                      NaN
10098  450112103114552470                                      NaN
7044   320512124014127619                                      NaN

                      id last_update_date (oneview) last_update_date (meri)
2011  040351110210660258                 2020-06-10               6/10/2020
4015  156242102910529717                 2020-07-02                7/2/2020
8317  400072103810615249                 2020-06-10               6/10/2020
8280  380548810714588351                 2020-06-22               6/22/2020
9360  423352101610454324                 2020-07-22               7/22/2020
8737  405411111114170614                 2020-07-14               7/14/2020
6792  315083000111132722                 2020-06-16               6/16/2020
3026  146242100710388592                 2020-07-22               7/22/2020
5728  260322108211148482                 2020-07-02                7/2/2020
3570  152241215014021381                 2020-07-22               7/22/2020

                       id degree_1 (oneview) degree_1 (meri)
4973   200231103515399333                                NaN
11403  999330024415398002                                NaN
3724   154191210815282718                                NaN
4911   188511801814688373                                NaN
5911   263492104815397295                                NaN
9211   420350025615298512                                NaN
10763  540111402515282963                                NaN
6469   301482101015400754                                NaN
11399  999310000115282674                                NaN

Sample Rows Only in meri (First 10 Columns)
-------------------------------------------

           pgm_id pers_type   aamc_id suffix_name last_name first_name middle_name degree_1 degree_2 degree_3
11564  1203400709         D  14600438         NaN  Andazola       John           J       MD      NaN      NaN
11942  3342632001         D  14265926         NaN      Pitt    Michael           B       MD      NaN      NaN
11469  0461604002         D  15144115         NaN      Guha      Rahul         NaN       MD      NaN      NaN
11591  1205600678         D  00000000         NaN   Soliman      Manal         NaN       MD      MBA      NaN
11627  1400900091         D  15287709         NaN   Deutsch     Joseph         NaN       MD      NaN      NaN
12110  4421944001         D  10268570         NaN     Berry   Stepheny           C       MD      NaN      NaN
11836  2304722003         D  10390479         NaN   Fortner   Kimberly           B       MD      NaN      NaN
11656  1404000359         D  12614107         NaN     Ricci      Brian         NaN       MD      NaN      NaN
12083  4244121039         D  15299320         NaN   Poletto      Erica         NaN       MD      NaN      NaN
11719  1484114001         D  15392505         NaN  Ranganna    Karthik           M       MD      MBA      NaN

In [65]:
ov_personnel.id

0        040213116812326849
1        041253101613518237
2        041260402411340305
3        041261302314201750
4        041270400110044301
                ...
11445    999540014613994247
11446    999550024810121303
11447    999560014710704136
11448    999560014810247160
11449    999560018415091268
Name: id, Length: 11450, dtype: object

In [74]:
def fix_personnel_id(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    while len(num) < 18:
        num =  num + '0'
    return num
ov_personnel['id'] = [fix_personnel_id(x) for x in ov_personnel.id]

In [82]:
resident_link = pd.read_csv('../../Data/MasterfileCore/RESIDENT_LINK.csv')

In [84]:
resident_link['program']=[fix_id(x) for x in resident_link.program]

In [94]:
resident_link['medical_education_number'] = use.fix_me(resident_link.medical_education_number)

In [96]:
pd.merge(resident_link, ov_physician, on = list(resident_link.columns), how='left')

     medical_education_number     program                     id
0                 00102000056  2202122109  220212210900102000056
1                 00102000595  4450421028  445042102800102000595
2                 00102010647  1554812150  155481215000102010647
3                 00102020821  1401221107  140122110700102020821
4                 00102030966  0401121036  040112103600102030966
...                       ...         ...                    ...
8837              04813800158  9994800133                    NaN
8838              03601640421  9994800168                    NaN
8839              03501020833  9994900142                    NaN
8840              05605060601  9995100193                    NaN
8841              05501980201  9995500248                    NaN

[8842 rows x 3 columns]

In [105]:
institution

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
0,010004,23.0,N22,A,USA Strada Patient Care Center,NaN,NaN,0,NaN,10/28/2019,2019.0,NaN,NaN,NaN
1,010005,23.0,N22,A,West Mobile Medical Group,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN
2,010006,23.0,H01,A,Brewton Medical Center,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN
3,010008,23.0,N22,A,Tennessee River Dermatology,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN
4,010010,23.0,N22,A,Felix Morris MD LLC Office,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7177,570003,16.0,H01,A,Ivinson Memorial Hospital,NaN,NaN,0,NaN,5/28/2019,2019.0,NaN,NaN,NaN
7178,570100,23.0,H01,A,Wyoming Medical Center,8/1/1986,NaN,0,N,NaN,1997.0,NaN,NaN,NaN
7179,570106,13.0,H01,A,Cheyenne Regional Medical Center,2/2/2007,United Medical Center,0,N,NaN,2006.0,2/2/2007,A,cmathews
7180,578001,45.0,H01,A,Cheyenne Veterans Affairs Medical Center,NaN,NaN,0,NaN,6/6/1997,1996.0,NaN,NaN,NaN
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN

In [110]:
def fix_id_2(num):
    num = str(num).strip().replace('.0', '')
    num = ''.join(filter(str.isdigit, num))
    if len(num) == 5:
        num = '0' + num
    return num
insti['id'] = [fix_id_2(x) for x in insti.ins_id]
institution['id'] = [fix_id_2(x) for x in institution.ins_id]
meri_institution = pd.merge(insti, institution, on='id')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [115]:
meri_institution = meri_institution.rename(columns={'affiliation_type':'affiliation','ins_name':'name','last_upd_dt_y':'last_update_date'})

In [116]:
meri_institution

,pgm_id,ins_id_x,affiliation,pri_clinical_loc_ind,survey_cycle_x,last_upd_dt_x,last_upd_type_x,last_upd_id_x,id,ins_id_y,...,name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle_y,last_update_date,last_upd_type_y,last_upd_id_y
0,200121109,10498,S,NaN,2010.0,NaN,NaN,NaN,010498,010498,...,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
1,400121010,10498,S,1.0,1996.0,NaN,NaN,NaN,010498,010498,...,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
2,410121034,10498,S,1.0,2007.0,NaN,NaN,NaN,010498,010498,...,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
3,420104018,10498,S,1.0,2012.0,NaN,NaN,NaN,010498,010498,...,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
4,430104001,10498,S,1.0,2012.0,NaN,NaN,NaN,010498,010498,...,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12007,4401100439,118126,S,NaN,2015.0,NaN,NaN,NaN,118126,118126,...,Largo Medical Center,NaN,NaN,0,NaN,6/25/2015,2018.0,3/19/2019,M,Meded
12008,4405400350,548096,S,NaN,2018.0,NaN,NaN,NaN,548096,548096,...,St Joseph's Medical Center,2/27/2019,CHI Franciscan Health-St Joseph's Medical Center,0,NaN,6/9/2014,2014.0,NaN,NaN,NaN
12009,4460544003,59585,S,1.0,2012.0,NaN,NaN,NaN,059585,059585,...,John Wayne Cancer Institute at St John's Healt...,NaN,NaN,0,NaN,2/28/2013,2013.0,NaN,NaN,NaN
12010,9992400246,240448,S,1.0,2003.0,NaN,NaN,NaN,240448,240448,...,Newton-Wellesley Hospital,NaN,NaN,0,N,NaN,1998.0,NaN,NaN,NaN
12011,9994900142,498025,S,1.0,2007.0,NaN,NaN,NaN,498025,498025,...,Intermountain Medical Center,NaN,NaN,0,NaN,1/17/2008,2003.0,1/25/2008,M,Meded

In [149]:
inst_compare = datacompy.Compare(ov_institution, institution[institution.ins_affiliation_type=='S'], join_columns='id', df1_name = 'oneview', df2_name = 'meri')

In [150]:
print(inst_compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0   oneview        4   807
1      meri       18   806

Column Summary
--------------

Number of columns in common: 4
Number of columns in oneview but not in meri: 0
Number of columns in meri but not in oneview: 14

Row Summary
-----------

Matched on: id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 806
Number of rows in oneview but not in meri: 1
Number of rows in meri but not in oneview: 0

Number of rows with some compared columns unequal: 806
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 3
Total number of values which compare unequal: 806

Columns with Unequal Values or Types
------------------------------------

             Column oneview dtype meri dtype  # Unequal  Max Diff  # Null Diff
0  last_update_date        object     object        806         0          617

Sample Rows with Unequal Values
-------------------------------

         id last_update_date (oneview) last_update_date (meri)
5    289537                 1970-01-01                     NaN
633  348027                 2011-01-28               1/28/2011
710  369558                 1970-01-01                     NaN
8    430483                 1970-01-01                     NaN
125  468005                 1970-01-01                     NaN
90   419570                 1970-01-01                     NaN
146  480404                 1970-01-01                     NaN
446  170708                 1970-01-01                     NaN
104  420467                 1970-01-01                     NaN
280  080172                 1970-01-01                     NaN

Sample Rows Only in oneview (First 10 Columns)
----------------------------------------------

     id name affiliation last_update_date
768  00                        1970-01-01

In [120]:
inst_compare.df1_unq_rows

,id,name,affiliation,last_update_date
45,059795,Sierra View Medical Center,S,2019-01-25
47,059810,Loma Linda University Medical Center-Murrieta,S,1970-01-01
57,410063,Tower Health,S,1970-01-01
134,479580,HCA Healthcare/TriStar Nashville,S,1970-01-01
135,479581,HCA Healthcare/TriStar Southern Hills Medical ...,S,1970-01-01
158,488244,Baylor All Saints Medical Center-Fort Worth,S,2011-01-28
171,489905,HCA Medical City Healthcare UNT-TCU Graduate M...,S,1970-01-01
211,548201,Elson S Floyd College of Medicine Washington S...,S,1970-01-01
236,389953,OhioHealth,S,1970-01-01
241,040025,Conway Regional Health System,S,1970-01-01
242,040478,St Bernards Medical Center,S,1970-01-01
248,049630,CHI St Vincent-Hot Springs,S,1970-01-01
251,050045,AltaMed Health Services,S,1970-01-01
252,050086,HCA Healthcare/Los Robles Regional Medical Center,S,1970-01-01
253,050093,Keck Medicine,S,2020-06-08
296,090248,Bayhealth Medical Center,S,2015-09-28
325,050792,Prime West Consortium,S,1970-01-01
338,110180,HCA Healthcare East Florida Division GME,S,1970-01-01
349,050223,KPC Health,S,1970-01-01
354,117082,Nova Southeastern University College of Osteop...,S,1970-01-01
370,119633,Lakeside Medical Center,S,2019-01-28
410,160040,AMITA Health,S,1970-01-01
439,169640,Lawndale Christian Health Center,S,1970-01-01
496,238143,Meritus Medical Center,S,2017-07-17
570,270002,Mississippi Medical Education and Research Con...,S,1970-01-01
590,289575,Midwest Aortic & Vascular Institute PC,S,1970-01-01
601,318095,Southern Nevada Health District,S,1970-01-01
605,328027,HCA Healthcare/Tufts University School of Medi...,S,1970-01-01
627,339672,Rutgers Health,S,1970-01-01
628,339678,Prime Health Care Consortium at St Mary's and ...,S,1970-01-01
629,340001,Rehoboth McKinley Christian Health Care Services,S,1970-01-01
694,359667,Garnet Health Medical Center,S,1970-01-01
704,360498,WakeMed Health and Hospitals,S,1970-01-01
768,00,,,1970-01-01
769,010017,East Alabama Medical Center,S,1970-01-01
777,018020,Thomas Hospital,S,1970-01-01
779,018053,Jack Hughston Memorial Hospital,S,2009-01-20
785,019200,North Alabama Medical Center,S,1970-01-01

In [123]:
meri_institution[meri_institution.name=='North Alabama Medical Center']

Empty DataFrame
Columns: [pgm_id, ins_id_x, affiliation, pri_clinical_loc_ind, survey_cycle_x, last_upd_dt_x, last_upd_type_x, last_upd_id_x, id, ins_id_y, ins_control_type, ins_type, ins_affiliation_type, name, ins_name_change_dt, ins_old_name, ins_activity_status, ins_prog_survey_coord, add_date, survey_cycle_y, last_update_date, last_upd_type_y, last_upd_id_y]
Index: []

[0 rows x 23 columns]

In [148]:
institution['affiliation']=institution.ins_affiliation_type
institution['last_update_date']=institution.last_upd_dt

In [130]:
ov_institution.groupby('affiliation').count()

              id  name  last_update_date
affiliation
               1     1                 1
S            806   806               806

In [132]:
institution['name'] = institution.ins_name

In [142]:
institution[institution.ins_affiliation_type=='S']

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id,name
10,010017,16.0,H01,S,East Alabama Medical Center,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,010017,East Alabama Medical Center
28,010406,12.0,H01,S,USA Health,8/3/2020,University of South Alabama Medical Center,0,Y,NaN,2001.0,NaN,NaN,NaN,010406,USA Health
30,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN,010498,University of Alabama Hospital
38,010515,23.0,H01,S,St Vincent's East,1/17/2008,Medical Center East,0,N,NaN,2003.0,1/27/2010,M,Meded,010515,St Vincent's East
39,010519,23.0,N18,S,Brookwood Baptist Health,1/1/2016,Baptist Health System Inc,0,Y,NaN,1998.0,NaN,NaN,NaN,010519,Brookwood Baptist Health
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7098,560441,23.0,N22,S,Medical College of Wisconsin Affiliated Hospit...,12/20/2001,Medical College of Wisconsin Affiliated Hospit...,0,Y,NaN,2001.0,NaN,NaN,NaN,560441,Medical College of Wisconsin Affiliated Hospit...
7111,568020,23.0,H01,S,Aurora Health Care,NaN,NaN,0,NaN,NaN,1997.0,NaN,NaN,NaN,568020,Aurora Health Care
7115,568030,23.0,H01,S,Gundersen Lutheran Medical Foundation,NaN,Gundersen Medical Foundation,0,NaN,10/14/1998,2000.0,NaN,NaN,NaN,568030,Gundersen Lutheran Medical Foundation
7135,569501,12.0,N11,S,University of Wisconsin School of Medicine and...,12/13/2005,University of Wisconsin Medical School,0,NaN,NaN,2005.0,1/11/2006,A,cmathews,569501,University of Wisconsin School of Medicine and...
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN,579501,University of Wyoming College of Health Sciences

In [140]:
ov_institution

,id,name,affiliation,last_update_date
0,058112,St Joseph's Medical Center,S,1970-01-01
1,070705,Poudre Valley Hospital,S,1970-01-01
2,120497,Northside Hospital,S,1970-01-01
3,230320,St Agnes HealthCare,S,1970-01-01
4,240180,Berkshire Medical Center,S,1970-01-01
...,...,...,...,...
802,510716,Centra Health Inc,S,1970-01-01
803,518024,Carilion Clinic-Virginia Tech Carilion School ...,S,2010-07-23
804,518026,Orthopaedic Research of Virginia,S,1970-01-01
805,518027,Valley Health System,S,1970-01-01
806,548004,St Peter Hospital,S,1970-01-01

In [151]:
ov_program

,id,specialty,institution_control,sequence_number,federal_code,region_code,name,web_address,contact_director,accreditation_status,...,address_1,address_2,address_3,city,state,zipcode,institution,primary_clinical_location,american_osteopathic_association_program,acgme_accredited
0,0401611044,040,11,44,7,3,University of Chicago Program,http://anesthesia.uchicago.edu/,True,AO,...,Univ of Chicago Med Ctr,MC4028,5841 S Maryland Ave,Chicago,IL,60544,160465,1,,True
1,0451021039,045,21,39,7,5,George Washington University Program,http://www.gwicu.com,True,CA,...,George Washington Univ Hosp,G-2092,900 23rd St NW,Washington,DC,20037,109501,0,,True
2,0802821051,080,21,51,7,4,Washington University/B-JH/SLCH Consortium Pro...,http://dermatology.wustl.edu,True,AO,...,Barnes-Jewish Hosp,Div of Dermatology,660 S Euclid Ave,St Louis,MO,63110,289502,0,,True
3,0402821166,040,21,166,7,4,St Louis University School of Medicine Program,https://www.slu.edu/medicine/anesthesiology-cr...,True,AO,...,St Louis Univ Hosp,Dept of Anesthesiology FDT-3,3635 Vista Ave,St Louis,MO,63110,289501,0,,True
4,0405111159,040,11,159,7,5,University of Virginia Medical Center Program,https://med.virginia.edu/anesthesiology/,True,AO,...,Univ of Virginia Health System,Dept of Anesthesiology,PO Box 800710,Charlottesville,VA,22908,510124,1,,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11449,4850548026,485,48,026,7,9,Children's Hospital Los Angeles Program,,False,I1,...,Children's Hosp Los Angeles,Mail Stop #114,4650 Sunset Blvd,Los Angeles,CA,90027,050344,,,True
11450,5405112095,540,12,095,7,5,Eastern Virginia Medical School Program,,True,I1,...,Eastern Virginia Med Sch,Ste 201,825 Fairfax Ave,Norfolk,VA,23507,510714,,,True
11451,7540100001,754,0,001,7,6,University of Alabama Hospital Program,http://www.uab.edu/medicine/obgyn/,True,AC,...,Univ of Alabama Hosp,176F Ste 10270,625 19th St S,Birmingham,AL,352497333,010498,,,True
11452,9995600148,999,0,148,7,3,Aurora Health Care Program,http://www.aurorahealthcare.org,True,AO,...,Aurora St Luke's Med Ctr,Med Office Bldg 3 Ste 770,2801 W Kinnickinnic River Pkwy,Milwaukee,WI,53215,568020,0,,True
11453,9995600184,999,0,184,7,3,Medical College of Wisconsin Affiliated Hospit...,https://wisconsinmeded.org/medical-training/tr...,True,AO,...,Ascension St Joseph,Transitional Yr Pgm,5000 W Chambers St,Milwaukee,WI,53210,560441,,,True

In [154]:
inst

,pgm_id,ins_id,affiliation_type,pri_clinical_loc_ind,survey_cycle,last_upd_dt,last_upd_type,last_upd_id
0,200121109,10497,A,0.0,2009.0,NaN,NaN,NaN
1,200121109,10498,A,1.0,2017.0,NaN,NaN,NaN
2,200121109,10498,S,NaN,2010.0,NaN,NaN,NaN
3,200121109,18058,A,NaN,2017.0,NaN,NaN,NaN
4,200121109,18059,A,0.0,2008.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
40004,9995600184,560370,A,0.0,2015.0,NaN,NaN,NaN
40005,9995600184,560441,S,NaN,2015.0,NaN,NaN,NaN
40006,9995600184,560739,A,NaN,2015.0,NaN,NaN,NaN
40007,9995600184,568074,A,0.0,2010.0,NaN,NaN,NaN
40008,9995600184,568075,A,0.0,2010.0,NaN,NaN,NaN

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id,name,affiliation,last_update_date
0,010004,23.0,N22,A,USA Strada Patient Care Center,NaN,NaN,0,NaN,10/28/2019,2019.0,NaN,NaN,NaN,010004,USA Strada Patient Care Center,A,NaN
1,010005,23.0,N22,A,West Mobile Medical Group,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN,010005,West Mobile Medical Group,A,NaN
2,010006,23.0,H01,A,Brewton Medical Center,NaN,NaN,0,NaN,8/3/2020,2020.0,NaN,NaN,NaN,010006,Brewton Medical Center,A,NaN
3,010008,23.0,N22,A,Tennessee River Dermatology,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN,010008,Tennessee River Dermatology,A,NaN
4,010010,23.0,N22,A,Felix Morris MD LLC Office,NaN,NaN,0,NaN,10/15/2019,2019.0,NaN,NaN,NaN,010010,Felix Morris MD LLC Office,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7177,570003,16.0,H01,A,Ivinson Memorial Hospital,NaN,NaN,0,NaN,5/28/2019,2019.0,NaN,NaN,NaN,570003,Ivinson Memorial Hospital,A,NaN
7178,570100,23.0,H01,A,Wyoming Medical Center,8/1/1986,NaN,0,N,NaN,1997.0,NaN,NaN,NaN,570100,Wyoming Medical Center,A,NaN
7179,570106,13.0,H01,A,Cheyenne Regional Medical Center,2/2/2007,United Medical Center,0,N,NaN,2006.0,2/2/2007,A,cmathews,570106,Cheyenne Regional Medical Center,A,2/2/2007
7180,578001,45.0,H01,A,Cheyenne Veterans Affairs Medical Center,NaN,NaN,0,NaN,6/6/1997,1996.0,NaN,NaN,NaN,578001,Cheyenne Veterans Affairs Medical Center,A,NaN
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN,579501,University of Wyoming College of Health Sciences,S,NaN

In [162]:
addresses['pgm_id']=[fix_id(x) for x in addresses.pgm_id]
address = addresses[addresses.addr_type=='D']

In [166]:
program = pd.merge(address, program, left_on='pgm_id', right_on='id')

In [167]:
ov_program.columns

Index(['id', 'specialty', 'institution_control', 'sequence_number',
       'federal_code', 'region_code', 'name', 'web_address',
       'contact_director', 'accreditation_status',
       'accreditation_effective_date', 'initial_accreditation_date',
       'accreditation_length', 'duration', 'government_affiliated',
       'graduate_medical_education_equivalent_years',
       'preliminary_years_required', 'preliminary_positions_offered', 'type',
       'max_residents_accepted_increase', 'percent_at_primary_site',
       'primary_site', 'core_program', 'medical_records', 'official_address',
       'uses_sfmatch', 'other_match_indicator', 'other_match',
       'additional_education_accreditation_length', 'last_update_date',
       'last_update_type', 'american_osteopathic_association_indicator',
       'osteopathic_principles', 'address_1', 'address_2', 'address_3', 'city',
       'state', 'zipcode', 'institution', 'primary_clinical_location',
       'american_osteopathic_association_program', 'acgme_accredited'],
      dtype='object')

In [175]:
inst['ins_id'] = [fix_id_2(x) for x in inst.ins_id]

In [180]:
insti['ins_id'] = [fix_id_2(x) for x in insti.ins_id]

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [184]:
institution[institution.ins_affiliation_type=='S']

,ins_id,ins_control_type,ins_type,ins_affiliation_type,ins_name,ins_name_change_dt,ins_old_name,ins_activity_status,ins_prog_survey_coord,add_date,survey_cycle,last_upd_dt,last_upd_type,last_upd_id,id,name,affiliation,last_update_date
10,010017,16.0,H01,S,East Alabama Medical Center,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,010017,East Alabama Medical Center,S,NaN
28,010406,12.0,H01,S,USA Health,8/3/2020,University of South Alabama Medical Center,0,Y,NaN,2001.0,NaN,NaN,NaN,010406,USA Health,S,NaN
30,010498,12.0,H01,S,University of Alabama Hospital,1/1/1986,NaN,0,N,NaN,2000.0,NaN,NaN,NaN,010498,University of Alabama Hospital,S,NaN
38,010515,23.0,H01,S,St Vincent's East,1/17/2008,Medical Center East,0,N,NaN,2003.0,1/27/2010,M,Meded,010515,St Vincent's East,S,1/27/2010
39,010519,23.0,N18,S,Brookwood Baptist Health,1/1/2016,Baptist Health System Inc,0,Y,NaN,1998.0,NaN,NaN,NaN,010519,Brookwood Baptist Health,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7098,560441,23.0,N22,S,Medical College of Wisconsin Affiliated Hospit...,12/20/2001,Medical College of Wisconsin Affiliated Hospit...,0,Y,NaN,2001.0,NaN,NaN,NaN,560441,Medical College of Wisconsin Affiliated Hospit...,S,NaN
7111,568020,23.0,H01,S,Aurora Health Care,NaN,NaN,0,NaN,NaN,1997.0,NaN,NaN,NaN,568020,Aurora Health Care,S,NaN
7115,568030,23.0,H01,S,Gundersen Lutheran Medical Foundation,NaN,Gundersen Medical Foundation,0,NaN,10/14/1998,2000.0,NaN,NaN,NaN,568030,Gundersen Lutheran Medical Foundation,S,NaN
7135,569501,12.0,N11,S,University of Wisconsin School of Medicine and...,12/13/2005,University of Wisconsin Medical School,0,NaN,NaN,2005.0,1/11/2006,A,cmathews,569501,University of Wisconsin School of Medicine and...,S,1/11/2006
7181,579501,12.0,N12,S,University of Wyoming College of Health Sciences,NaN,NaN,0,NaN,NaN,2000.0,NaN,NaN,NaN,579501,University of Wyoming College of Health Sciences,S,NaN

In [186]:
ov_program

,id,specialty,institution_control,sequence_number,federal_code,region_code,name,web_address,contact_director,accreditation_status,...,address_1,address_2,address_3,city,state,zipcode,institution,primary_clinical_location,american_osteopathic_association_program,acgme_accredited
0,0401611044,040,11,44,7,3,University of Chicago Program,http://anesthesia.uchicago.edu/,True,AO,...,Univ of Chicago Med Ctr,MC4028,5841 S Maryland Ave,Chicago,IL,60544,160465,1,,True
1,0451021039,045,21,39,7,5,George Washington University Program,http://www.gwicu.com,True,CA,...,George Washington Univ Hosp,G-2092,900 23rd St NW,Washington,DC,20037,109501,0,,True
2,0802821051,080,21,51,7,4,Washington University/B-JH/SLCH Consortium Pro...,http://dermatology.wustl.edu,True,AO,...,Barnes-Jewish Hosp,Div of Dermatology,660 S Euclid Ave,St Louis,MO,63110,289502,0,,True
3,0402821166,040,21,166,7,4,St Louis University School of Medicine Program,https://www.slu.edu/medicine/anesthesiology-cr...,True,AO,...,St Louis Univ Hosp,Dept of Anesthesiology FDT-3,3635 Vista Ave,St Louis,MO,63110,289501,0,,True
4,0405111159,040,11,159,7,5,University of Virginia Medical Center Program,https://med.virginia.edu/anesthesiology/,True,AO,...,Univ of Virginia Health System,Dept of Anesthesiology,PO Box 800710,Charlottesville,VA,22908,510124,1,,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11449,4850548026,485,48,026,7,9,Children's Hospital Los Angeles Program,,False,I1,...,Children's Hosp Los Angeles,Mail Stop #114,4650 Sunset Blvd,Los Angeles,CA,90027,050344,,,True
11450,5405112095,540,12,095,7,5,Eastern Virginia Medical School Program,,True,I1,...,Eastern Virginia Med Sch,Ste 201,825 Fairfax Ave,Norfolk,VA,23507,510714,,,True
11451,7540100001,754,0,001,7,6,University of Alabama Hospital Program,http://www.uab.edu/medicine/obgyn/,True,AC,...,Univ of Alabama Hosp,176F Ste 10270,625 19th St S,Birmingham,AL,352497333,010498,,,True
11452,9995600148,999,0,148,7,3,Aurora Health Care Program,http://www.aurorahealthcare.org,True,AO,...,Aurora St Luke's Med Ctr,Med Office Bldg 3 Ste 770,2801 W Kinnickinnic River Pkwy,Milwaukee,WI,53215,568020,0,,True
11453,9995600184,999,0,184,7,3,Medical College of Wisconsin Affiliated Hospit...,https://wisconsinmeded.org/medical-training/tr...,True,AO,...,Ascension St Joseph,Transitional Yr Pgm,5000 W Chambers St,Milwaukee,WI,53210,560441,,,True

In [187]:
program.columns

Index(['pgm_id', 'addr_type', 'addr1', 'addr2', 'addr3', 'city', 'state',
       'Zip+4', 'survey_cycle_x', 'last_upd_dt', 'last_upd_type',
       'last_upd_id_x', 'id', 'specialty', 'pgm_state', 'institution_control',
       'sequence_number', 'federal_code', 'region_code', 'pgm_activity_code',
       'acgme_accredited', 'name', 'web_address', 'pgm_old_name',
       'pgm_name_change_date', 'contact_director', 'accreditation_status',
       'accreditation_effective_date', 'initial_accreditation_date',
       'accreditation_length', 'duration', 'govenrmnet_affiliated',
       'graduate_medical_education_equivalent_years',
       'preliminary_years_required', 'pgm_prelim_yrs_req',
       'preliminary_positions_offered', 'pgm_other_match_ind', 'type',
       'max_residents_accepted_increase', 'pgm_chg_type',
       'percent_at_primary_site', 'primary_site', 'pgm_prim_site_comments',
       'pgm_add_date', 'core_program', 'medical_records',
       'pgm_web_address_case_sen', 'eras', 'eras2', 'pgm_specify',
       'pgm_prelim_training_ind', 'pgm_prelim_training_excl_ind',
       'official_address', 'uses_sf_match', 'other_match_indicator',
       'other_match', 'additional_education_accreditation_length',
       'pgm_addit_length_training', 'pgm_addit_educ_exp_req',
       'pgm_prev_edu_req_prior', 'survey_cycle_y', 'last_update_date',
       'last_update_type', 'last_upd_id_y',
       'american_osteopathic_association_indicator',
       'american_osteopathic_association_indicator_program_id',
       'osteopathic_principles'],
      dtype='object')

In [200]:
ov_program

,id,specialty,institution_control,sequence_number,federal_code,region_code,name,web_address,contact_director,accreditation_status,...,address_1,address_2,address_3,city,state,zipcode,institution,primary_clinical_location,american_osteopathic_association_program,acgme_accredited
0,0401611044,040,11,44,7,3,University of Chicago Program,http://anesthesia.uchicago.edu/,True,AO,...,Univ of Chicago Med Ctr,MC4028,5841 S Maryland Ave,Chicago,IL,60544,160465,1,,True
1,0451021039,045,21,39,7,5,George Washington University Program,http://www.gwicu.com,True,CA,...,George Washington Univ Hosp,G-2092,900 23rd St NW,Washington,DC,20037,109501,0,,True
2,0802821051,080,21,51,7,4,Washington University/B-JH/SLCH Consortium Pro...,http://dermatology.wustl.edu,True,AO,...,Barnes-Jewish Hosp,Div of Dermatology,660 S Euclid Ave,St Louis,MO,63110,289502,0,,True
3,0402821166,040,21,166,7,4,St Louis University School of Medicine Program,https://www.slu.edu/medicine/anesthesiology-cr...,True,AO,...,St Louis Univ Hosp,Dept of Anesthesiology FDT-3,3635 Vista Ave,St Louis,MO,63110,289501,0,,True
4,0405111159,040,11,159,7,5,University of Virginia Medical Center Program,https://med.virginia.edu/anesthesiology/,True,AO,...,Univ of Virginia Health System,Dept of Anesthesiology,PO Box 800710,Charlottesville,VA,22908,510124,1,,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11449,4850548026,485,48,026,7,9,Children's Hospital Los Angeles Program,,False,I1,...,Children's Hosp Los Angeles,Mail Stop #114,4650 Sunset Blvd,Los Angeles,CA,90027,050344,,,True
11450,5405112095,540,12,095,7,5,Eastern Virginia Medical School Program,,True,I1,...,Eastern Virginia Med Sch,Ste 201,825 Fairfax Ave,Norfolk,VA,23507,510714,,,True
11451,7540100001,754,0,001,7,6,University of Alabama Hospital Program,http://www.uab.edu/medicine/obgyn/,True,AC,...,Univ of Alabama Hosp,176F Ste 10270,625 19th St S,Birmingham,AL,352497333,010498,,,True
11452,9995600148,999,0,148,7,3,Aurora Health Care Program,http://www.aurorahealthcare.org,True,AO,...,Aurora St Luke's Med Ctr,Med Office Bldg 3 Ste 770,2801 W Kinnickinnic River Pkwy,Milwaukee,WI,53215,568020,0,,True
11453,9995600184,999,0,184,7,3,Medical College of Wisconsin Affiliated Hospit...,https://wisconsinmeded.org/medical-training/tr...,True,AO,...,Ascension St Joseph,Transitional Yr Pgm,5000 W Chambers St,Milwaukee,WI,53210,560441,,,True

In [201]:
program_2 = pd.merge(program, insti[insti.ins_id.isin(institution.ins_id)], left_on='id', right_on='program')

In [198]:
insti['program']=[fix_id(x) for x in insti.pgm_id]

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [197]:
fix_id(200121109)

'0200121109'

In [258]:
program_compare = datacompy.Compare(ov_program, program_2, join_columns='id', df1_name = 'oneview', df2_name = 'meri')

In [205]:
program_2 = program_2.rename(columns = {'id_x':'id'})

In [259]:
print(program_compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0   oneview       43  11454
1      meri       77  11605

Column Summary
--------------

Number of columns in common: 43
Number of columns in oneview but not in meri: 0
Number of columns in meri but not in oneview: 34

Row Summary
-----------

Matched on: id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 11,453
Number of rows in oneview but not in meri: 1
Number of rows in meri but not in oneview: 152

Number of rows with some compared columns unequal: 11,453
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 18
Number of columns compared with all values equal: 25
Total number of values which compare unequal: 113,808

Columns with Unequal Values or Types
------------------------------------

                                         Column oneview dtype meri dtype  # Unequal  Max Diff  # Null Diff
20                 accreditation_effective_date        object     object      11453       0.0            3
3                          accreditation_length        object    float64          0       0.0            0
6                              acgme_accredited          bool    float64         31       0.0           31
1     additional_education_accreditation_length          bool    float64          0       0.0            0
28   american_osteopathic_association_indicator          bool    float64          0       0.0            0
18     american_osteopathic_association_program        object    float64      11453       0.0        11333
16                             contact_director          bool    float64         39       0.0           39
11                                 core_program        object    float64      11453       0.0         8338
4                                      duration        object    float64          0       0.0            0
10                        government_affiliated          bool    float64       4884       0.0         4884
0   graduate_medical_education_equivalent_years        object    float64          0       0.0            0
5                    initial_accreditation_date        object     object      11453       0.0         7561
14                          institution_control        object      int64          0       0.0            0
13                             last_update_date        object     object      11453       0.0          503
8                              last_update_type        object     object        503       0.0          503
27              max_residents_accepted_increase         int64     object       5874       0.0         5874
25                              medical_records          bool    float64       1334       0.0         1334
22                             official_address          bool     object       2948       0.0         2948
2                        osteopathic_principles          bool    float64       6284       0.0         6284
9                                   other_match        object     object      11054       0.0        11054
23                        other_match_indicator          bool    float64          0       0.0            0
15                      percent_at_primary_site        object    float64      11453       0.0          160
24                preliminary_positions_offered          bool    float64          5       0.0            5
7                     primary_clinical_location        object    float64      11453       0.0         2880
17                                 primary_site        object    float64          0       0.0            0
12                                    specialty        object    float64          0       0.0            0
26                                 uses_sfmatch          bool     object          0       0.0            0
21                                  web_address        object     object        681       0.0          681
19                                      zipcode        object    float64          0       0.0            0

Sample Rows with Unequal Values
-------------------------------

               id osteopathic_principles (oneview)  osteopathic_principles (meri)
2450   1404812009                            False                            NaN
1869   1273612148                            False                            NaN
7872   3352531028                            False                            NaN
11450  5405112095                            False                            NaN
2771   1423521141                            False                            NaN
3239   1463821015                            False                            NaN
1705   1205421013                            False                            NaN
2502   1403812339                            False                            NaN
8926   4064840051                            False                            NaN
9637   3270821008                            False                            NaN

               id initial_accreditation_date (oneview) initial_accreditation_date (meri)
3179   1462122100                           1970-01-01                               NaN
3564   1510521086                           1970-01-01                               NaN
10268  4601121021                           1970-01-01                               NaN
4217   1562531033                           1970-01-01                               NaN
3603   1512821027                           1970-01-01                               NaN
11100  9991200235                           2016-08-10                         8/10/2016
10918  7003614056                           1970-01-01                               NaN
3288   1480421092                           1970-01-01                               NaN
3419   1485121017                           1970-01-01                               NaN
8160   2604121030                           1970-01-01                               NaN

               id acgme_accredited (oneview)  acgme_accredited (meri)
164    0801100141                      False                      NaN
11051  7700544001                      False                      NaN
11067  7954100001                      False                      NaN
1792   1270112125                      False                      NaN
10955  7054100007                      False                      NaN
2466   1405100435                      False                      NaN
10968  7154800002                      False                      NaN
7500   3273032001                      False                      NaN
945    1104100203                      False                      NaN
10111  4463644002                      False                      NaN

               id primary_clinical_location (oneview)  primary_clinical_location (meri)
4783   1842818001                                                                   NaN
5879   2602511142                                   1                               1.0
3214   1463511065                                   1                               1.0
10660  5302104118                                                                   NaN
6385   2880528017                                                                   NaN
6628   3050521017                                                                   NaN
7965   3390532025                                                                   NaN
545    0203821113                                   1                               1.0
543    0450304088                                   1                               1.0
680    0813508059                                                                   NaN

               id last_update_type (oneview) last_update_type (meri)
10797  5403504076                                                NaN
7211   3205121014                                                NaN
4250   1271612167                                                NaN
2796   0422421026                                                NaN
978    1104821085                                                NaN
5262   2201431081                                                NaN
3252   1464221118                                                NaN
8306   3630531017                                                NaN
5937   2604100213                                                NaN
5810   2600500222                                                NaN

               id other_match (oneview) other_match (meri)
11361  1123511004                                      NaN
801    1101100193                                      NaN
4102   1555514110                                      NaN
4694   1805621120                                      NaN
4013   1552421073                                      NaN
9663   4401121405                                      NaN
9198   4200521034                                      NaN
2350   1403611321                                      NaN
10906  7002532033                                      NaN
5807   2600331206                                      NaN

               id government_affiliated (oneview)  government_affiliated (meri)
11334  9994800257                           False                           NaN
10209  4511021008                           False                           NaN
4181   1561614094                           False                           NaN
7976   3393532018                           False                           NaN
1766   1253313067                           False                           NaN
3572   1511114147                           False                           NaN
6576   3013513085                           False                           NaN
4757   1840718001                           False                           NaN
3865   1542014136                           False                           NaN
1825   1271631113                           False                           NaN

              id core_program (oneview)  core_program (meri)
2028  1400500922                                         NaN
392   0412813019                                         NaN
3673  1520514165                                         NaN
5481  2250522005                                         NaN
7842  3334712008             3204721227         3.204721e+09
6813  3104821044                                         NaN
1900  1274812162                                         NaN
3753  1523512045             1403511297         1.403511e+09
577   0424121010             0404121139         4.041211e+08
2689  1414014199                                         NaN

               id last_update_date (oneview) last_update_date (meri)
3823   1532814001                 2020-06-10               6/10/2020
174    0451121004                 1970-01-01                     NaN
2213   0404821156                 2020-06-10               6/10/2020
2502   1403812339                 2020-10-01               10/1/2020
2491   1410111060                 2020-08-03                8/3/2020
1993   1393614003                 2020-06-16               6/16/2020
6075   2650300051                 2020-07-22               7/22/2020
5580   2302522003                 2020-07-22               7/22/2020
4563   1800521165                 2020-06-16               6/16/2020
10322  4160300001                 2020-06-16               6/16/2020

               id percent_at_primary_site (oneview)  percent_at_primary_site (meri)
7549   3282313056                               100                           100.0
10169  4503821056                                99                            99.0
8295   3624700002                                80                            80.0
10251  4514800125                                33                            33.0
3961   1550521136                                64                            64.0
1655   1203700681                                67                            67.0
3565   1510521114                                55                            55.0
10814  5403514106                                33                            33.0
816    1101221090                                85                            85.0
5160   2205412010                                85                            85.0

               id contact_director (oneview)  contact_director (meri)
691    0814008053                      False                      NaN
9093   4150742001                      False                      NaN
9771   4403500447                      False                      NaN
11402  4001100318                      False                      NaN
1250   1201100745                      False                      NaN
10423  4802500186                      False                      NaN
4231   1563314134                      False                      NaN
5334   1443314205                      False                      NaN
11078  9990500245                      False                      NaN
11423  1413514288                      False                      NaN

              id american_osteopathic_association_program (oneview)  american_osteopathic_association_program (meri)
6388  2880928020                                                                                                 NaN
1558  1202500745                                                                                                 NaN
4876  1854212101                                                                                                 NaN
6378  2864128018                                                                                                 NaN
4115  1560421002                                                                                                 NaN
8077  3405121069                                                                                                 NaN
8237  3620700001                                                                                                 NaN
8625  4004831215                                                                                                 NaN
7138  3204111204                                                                                                 NaN
7916  3362411011                                                                                                 NaN

               id accreditation_effective_date (oneview) accreditation_effective_date (meri)
11197  4510121003                             2012-06-21                           6/21/2012
9798   4403600420                             2016-07-01                            7/1/2016
4746   1840318001                             2014-07-01                            7/1/2014
1394   1202521167                             2011-01-24                           1/24/2011
9278   4202821110                             2006-10-19                          10/19/2006
9293   4203511123                             2005-11-17                          11/17/2005
4132   1560721097                             2007-05-18                           5/18/2007
10092  4460544003                             2012-07-01                            7/1/2012
10648  5301204105                             2007-03-22                           3/22/2007
4883   1844818001                             2015-07-01                            7/1/2015

               id web_address (oneview) web_address (meri)
11417  1201421502                                      NaN
10496  4804821170                                      NaN
9160   4160800001                                      NaN
9485   4253621025                                      NaN
11381  1403811338                                      NaN
6177   2683531130                                      NaN
1309   1201621604                                      NaN
6051   2633521055                                      NaN
2796   0422421026                                      NaN
3107   1444812063                                      NaN

               id official_address (oneview) official_address (meri)
9391   4232742101                      False                     NaN
157    0432404015                      False                     NaN
6339   2804800139                      False                     NaN
9966   4422544143                      False                     NaN
9172   4162400001                      False                     NaN
1595   1204100711                      False                     NaN
8991   4090540062                      False                     NaN
1022   1122511002                      False                     NaN
1228   1200800723                      False                     NaN
10789  5402812002                      False                     NaN

              id preliminary_positions_offered (oneview)  preliminary_positions_offered (meri)
5810  2600500222                                   False                                   NaN
812   0802700001                                   False                                   NaN
2582  1412314299                                   False                                   NaN
3572  1511114147                                   False                                   NaN
1451  1203300682                                   False                                   NaN

              id medical_records (oneview)  medical_records (meri)
8139  3453534016                     False                     NaN
5586  2302822003                     False                     NaN
6893  3114130110                     False                     NaN
3901  1543514137                     False                     NaN
9165  4161600005                     False                     NaN
7233  3231132063                     False                     NaN
5351  2203500366                     False                     NaN
1649  1204800724                     False                     NaN
1826  1204100695                     False                     NaN
1975  1312813001                     False                     NaN

              id  max_residents_accepted_increase (oneview) max_residents_accepted_increase (meri)
118   0201100107                                        0.0                                    NaN
3836  1540412104                                        0.0                                    NaN
9918  4163600002                                        0.0                                    NaN
1120  1194121001                                        0.0                                    NaN
4685  1805100117                                        0.0                                    NaN
9095  4150900001                                        0.0                                    NaN
8193  3602513145                                        0.0                                    NaN
2788  1430321185                                        0.0                                    NaN
5042  1883521026                                        0.0                                    NaN
479   0605600001                                        0.0                                    NaN

Sample Rows Only in oneview (First 10 Columns)
----------------------------------------------

              id specialty institution_control sequence_number federal_code region_code                                               name                 web_address contact_director accreditation_status
3848  1201611099       120                  11              99            7           3  Southern Illinois University (Carbondale) Prog...  http://www.siumed.edu/cfpc             True                   AO

Sample Rows Only in meri (First 10 Columns)
-------------------------------------------


In [212]:
program[program.pgm_id=='1201611099']

Empty DataFrame
Columns: [pgm_id, addr_type, addr1, addr2, addr3, city, state, Zip+4, survey_cycle_x, last_upd_dt, last_upd_type, last_upd_id_x, id, specialty, pgm_state, institution_control, sequence_number, federal_code, region_code, pgm_activity_code, acgme_accredited, name, web_address, pgm_old_name, pgm_name_change_date, contact_director, accreditation_status, accreditation_effective_date, initial_accreditation_date, accreditation_length, duration, govenrmnet_affiliated, graduate_medical_education_equivalent_years, preliminary_years_required, pgm_prelim_yrs_req, preliminary_positions_offered, pgm_other_match_ind, type, max_residents_accepted_increase, pgm_chg_type, percent_at_primary_site, primary_site, pgm_prim_site_comments, pgm_add_date, core_program, medical_records, pgm_web_address_case_sen, eras, eras2, pgm_specify, pgm_prelim_training_ind, pgm_prelim_training_excl_ind, official_address, uses_sf_match, other_match_indicator, other_match, additional_education_accreditation_length, pgm_addit_length_training, pgm_addit_educ_exp_req, pgm_prev_edu_req_prior, survey_cycle_y, last_update_date, last_update_type, last_upd_id_y, american_osteopathic_association_indicator, american_osteopathic_association_indicator_program_id, osteopathic_principles]
Index: []

[0 rows x 67 columns]

In [211]:
program

,pgm_id,addr_type,addr1,addr2,addr3,city,state,Zip+4,survey_cycle_x,last_upd_dt,...,pgm_addit_length_training,pgm_addit_educ_exp_req,pgm_prev_edu_req_prior,survey_cycle_y,last_update_date,last_update_type,last_upd_id_y,american_osteopathic_association_indicator,american_osteopathic_association_indicator_program_id,osteopathic_principles
0,0200121109,D,Children's Hosp Alabama,CPPN Ste M10,1600 7th Ave S,Birmingham,AL,35233.0,2020.0,6/10/2020,...,NaN,0.0,1.0,2020.0,6/11/2020,M,Meded,0.0,NaN,NaN
1,0200300001,D,Univ of Arizona Coll of Med-Tucson,PO Box 245030,1501 N Campbell Ave,Tucson,AZ,857245030.0,2020.0,7/2/2020,...,NaN,0.0,1.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,0.0
2,0200300002,D,Mayo Clinic Arizona,Allergy/Immunology Pgm,13400 E Shea Blvd,Scottsdale,AZ,85259.0,2020.0,7/2/2020,...,NaN,NaN,1.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,0.0
3,0200400001,D,Arkansas Children's Hosp,Slot 512-13,13 Children's Way,Little Rock,AR,72202.0,2020.0,6/16/2020,...,NaN,0.0,1.0,2020.0,9/10/2020,K,setzel,1.0,NaN,NaN
4,0200500131,D,UCSF Med Ctr,Box 0434 4th Fl,550 16th St,San Francisco,CA,94158.0,2020.0,7/2/2020,...,NaN,0.0,1.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12220,9995400146,D,Madigan Army Med Ctr,MCHJ-CLM,9040A Jackson Ave,Tacoma,WA,984311100.0,2020.0,7/14/2020,...,NaN,NaN,4.0,2020.0,7/14/2020,V,cmathews,0.0,NaN,0.0
12221,9995500248,D,West Virginia Univ HSC,RCB Hlth Sciences Ctr Box 9001-A,1 Medical Center Dr,Morgantown,WV,26506.0,2020.0,6/10/2020,...,NaN,NaN,4.0,2020.0,6/10/2020,V,cmathews,0.0,NaN,0.0
12222,9995600147,D,Gundersen Med Foundation,C03-006A,1900 South Ave,La Crosse,WI,54601.0,2020.0,7/2/2020,...,NaN,NaN,4.0,2020.0,7/2/2020,V,cmathews,0.0,NaN,NaN
12223,9995600148,D,Aurora St Luke's Med Ctr,Med Office Bldg 3 Ste 770,2801 W Kinnickinnic River Pkwy,Milwaukee,WI,53215.0,2020.0,6/16/2020,...,NaN,NaN,4.0,2020.0,6/16/2020,V,cmathews,0.0,NaN,0.0
12224,9995600184,D,Ascension St Joseph,Transitional Yr Pgm,5000 W Chambers St,Milwaukee,WI,53210.0,2020.0,7/22/2020,...,NaN,NaN,4.0,2020.0,7/22/2020,V,cmathews,0.0,NaN,NaN

In [213]:
ov_personnel

,id,program,first_name,middle_name,last_name,suffix_name,degree_1,degree_2,degree_3,last_update_date
0,040213116812326849,0402131168,Katherine,S,Cox,,MD,,,2020-06-10
1,041253101613518237,0412531016,Anna,,Dubovoy,,MD,,,2020-07-22
2,041260402411340305,0412604024,Tjorvi,E,Perry,,MD,MMS,,2020-07-22
3,041261302314201750,0412613023,Mark,M,Smith,,MD,,,2020-07-14
4,041270400110044301,0412704001,Vanetta,L,Levesque,,MD,,,2020-07-22
...,...,...,...,...,...,...,...,...,...,...
11445,999540014613994247,9995400146,Anjali,N,Kunz,,MD,,,2020-07-14
11446,999550024810121303,9995500248,Mary,D,Warden,,MD,,,2020-06-10
11447,999560014710704136,9995600147,Lori,S,Weber,,MD,,,2020-07-02
11448,999560014810247160,9995600148,Colleen,,Nichols,,MD,,,2020-06-16
11449,999560018415091268,9995600184,Sriram,,Darisetty,,MD,,,2020-07-22

In [217]:
personnel[personnel.pgm_id.isin(ov_program.id)]

,pgm_id,pers_type,aamc_id,suffix_name,last_name,first_name,middle_name,degree_1,degree_2,degree_3,...,prev_director_sfx,acgme_verified,approval_date,why_change,subscribe,diff_name,email_notify,me.,id,program
1,0200121109,D,12247369,NaN,Atkinson,Thomas,P,MD,PhD,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,020012110912247369,0200121109
6,0200300001,D,11236281,NaN,Carr,Tara,F,MD,NaN,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,020030000111236281,0200300001
11,0200300002,D,10668447,NaN,Lewis,John,C,MD,NaN,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,020030000210668447,0200300002
23,0200500131,D,14175484,NaN,Dorsey,Morna,NaN,MD,NaN,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,020050013114175484,0200500131
28,0200511038,D,11451123,NaN,Garcia-Lloret,Maria,I,MD,MS,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,020051103811451123,0200511038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65585,9995400146,D,13994247,NaN,Kunz,Anjali,N,MD,NaN,NaN,...,NaN,N,NaN,1.0,NaN,0.0,Y,NaN,999540014613994247,9995400146
65590,9995500248,D,10121303,NaN,Warden,Mary,D,MD,NaN,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,999550024810121303,9995500248
65601,9995600147,D,10704136,NaN,Weber,Lori,S,MD,NaN,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,999560014710704136,9995600147
65606,9995600148,D,10247160,NaN,Nichols,Colleen,NaN,MD,NaN,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,999560014810247160,9995600148
65611,9995600184,D,15091268,NaN,Darisetty,Sriram,NaN,MD,NaN,NaN,...,NaN,N,NaN,2.0,NaN,0.0,Y,NaN,999560018415091268,9995600184

In [224]:
personnel_compare_2 = datacompy.Compare(ov_personnel, personnel, join_columns='id', df1_name = 'oneview', df2_name = 'meri')

In [225]:
print(personnel_compare_2.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0   oneview       10  11450
1      meri       37  12480

Column Summary
--------------

Number of columns in common: 10
Number of columns in oneview but not in meri: 0
Number of columns in meri but not in oneview: 27

Row Summary
-----------

Matched on: id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 11,394
Number of rows in oneview but not in meri: 56
Number of rows in meri but not in oneview: 1,086

Number of rows with some compared columns unequal: 11,394
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 6
Number of columns compared with all values equal: 4
Total number of values which compare unequal: 48,052

Columns with Unequal Values or Types
------------------------------------

             Column oneview dtype meri dtype  # Unequal  Max Diff  # Null Diff
5          degree_1        object     object          9         0            9
1          degree_2        object     object       9378         0         9378
0          degree_3        object     object      11262         0        11262
4  last_update_date        object     object      11394         0          453
3       middle_name        object     object       4853         0         4853
2       suffix_name        object     object      11156         0        11156

Sample Rows with Unequal Values
-------------------------------

                       id degree_3 (oneview) degree_3 (meri)
1483   120262161710402685                                NaN
10459  451261206115305324                                NaN
4114   155243102710817020                                NaN
10074  440452131610096394                                NaN
538    060402107210700544                                NaN
7293   320482126010432047                                NaN
6654   300541200915104343                                NaN
7740   329112101815085910                                NaN
704    081110807112196206                                NaN
10907  530240400311008551                                NaN

                       id degree_2 (oneview) degree_2 (meri)
7711   328412107711165074                                NaN
5784   240101200414050643                                NaN
8424   362382107815117463                                NaN
5475   220432126911008789                                NaN
10055  440411230310498173                                NaN
8353   360473109512773750                                NaN
4567   160282104715074365                                NaN
8882   404554000113913949                                NaN
1157   118162102810336432                                NaN
8790   401112103410169306                                NaN

                      id suffix_name (oneview) suffix_name (meri)
5657  230192200113745543                                      NaN
4901  184511800112354344                                      NaN
3400  148112103115103712                                      NaN
7187  320251111310263179                                      NaN
3582  150182106714152917                                      NaN
9870  440111343211134480                                      NaN
1296  120102108112713597                                      NaN
3703  151252102410565582                                      NaN
2886  143051109210784047                                      NaN
6368  280162103310662641                                      NaN

                       id middle_name (oneview) middle_name (meri)
7052   315052100712248166                                      NaN
800    100411101210334402                                      NaN
9514   420472118914874813                                      NaN
4448   159111400814679383                                      NaN
847    110091205713972979                                      NaN
11357  999160003215086038                                      NaN
420    045182100312657393                                      NaN
2727   141332123710162221                                      NaN
11407  999350024110786113                                      NaN
7012   311412101414699025                                      NaN

                       id last_update_date (oneview) last_update_date (meri)
5102   188193104611047169                 2020-06-10               6/10/2020
11316  999040000915323085                 2020-07-14               7/14/2020
506    060163106610306873                 2020-07-22               7/22/2020
7011   311411310914904847                 2020-07-22               7/22/2020
945    110350021214692477                 2020-07-02                7/2/2020
3270   146192111014601467                 2020-06-22               6/22/2020
8354   360481210010019679                 2020-06-16               6/16/2020
10279  445281100511152263                 2020-07-02                7/2/2020
10419  450482101610865439                 2020-06-10               6/10/2020
6821   307072110510951087                 2020-08-27               8/27/2020

                       id degree_1 (oneview) degree_1 (meri)
5229   200231103515399333                                NaN
3980   154191210815282718                                NaN
5167   188511801814688373                                NaN
6732   301482101015400754                                NaN
6169   263492104815397295                                NaN
11403  999330024415398002                                NaN
11004  540111402515282963                                NaN
9459   420350025615298512                                NaN
11399  999310000115282674                                NaN

Sample Rows Only in oneview (First 10 Columns)
----------------------------------------------

                  id     program first_name middle_name  last_name suffix_name degree_1 degree_2 degree_3 last_update_date
10859  5204814085nan  5204814085    Vincent              Mysliwiec                   MD                         1970-01-01
11310  7664844007nan  7664844007     V Reid                 Sutton                   MD                         1970-01-01
6458   2805121120nan  2805121120    Virgina           P       Teti                   MD                         1970-01-01
8428   3624100159nan  3624100159     Joshua                 Fosnot                   MD                         1970-01-01
3128   1443314205nan  1443314205     Donald           J    McMahon                   DO                         1970-01-01
11273  9990500245nan  9990500245      Kevin           C    Shannon                   MD                         1970-01-01
8642   4002500311nan  4002500311       Nagy           R      Kheir                   MD                         1970-01-01
11332  7753544007nan  7753544007     Joshua              Schechter                   MD                         1970-01-01
2873   1424212157nan  1424212157    William              Rodriguez                   MD                         1970-01-01
2683   1412314299nan  1412314299    Matthew              Needleman                   MD                         1970-01-01

Sample Rows Only in meri (First 10 Columns)
-------------------------------------------

           pgm_id pers_type   aamc_id suffix_name    last_name   first_name middle_name degree_1 degree_2 degree_3
12199  4043840003         D  00000000         NaN      Adelman  Christopher           L       MD      NaN      NaN
12357  4275113111         D  10512352         NaN   Komorowski       Daniel           J       MD      NaN      NaN
12119  3404100091         D  11128348         NaN   Hemtasilpa      Somkiat         NaN       MD      NaN      NaN
12307  4272421041         D  11181915         NaN       Walker       Thomas           G       MD      NaN      NaN
11929  2203500367         D  11245918         NaN       Rahimi        Salma         NaN       MD      MSc      NaN
11831  1541114128         D  15326313         NaN       McLeod  Christopher         NaN      PhD      PhD      NaN
11913  1883818086         D  11991459         NaN  Cheng Ching      Esteban         NaN       MD      NaN      NaN
12092  3343832001         D  11233921         NaN      Jerardi        Karen           E       MD      MEd      NaN
11808  1505114015         D  12153087         NaN      Bankole    Adegbenga           A       MD      NaN      NaN
12245  4165600003         D  15164706         NaN        Grebe         Paul           J       MD      NaN      NaN

In [228]:
personnel_compare_2.df1_unq_rows.to_csv('../../Data/OneView_Testing/Personnel_ID_Examples.csv', index=False)

In [234]:
print(program_compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0   oneview       43  11454
1      meri       77  11605

Column Summary
--------------

Number of columns in common: 34
Number of columns in oneview but not in meri: 9
Number of columns in meri but not in oneview: 43

Row Summary
-----------

Matched on: id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 11,453
Number of rows in oneview but not in meri: 1
Number of rows in meri but not in oneview: 152

Number of rows with some compared columns unequal: 11,453
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 15
Number of columns compared with all values equal: 19
Total number of values which compare unequal: 86,018

Columns with Unequal Values or Types
------------------------------------

                                         Column oneview dtype meri dtype  # Unequal  Max Diff  # Null Diff
16                 accreditation_effective_date        object     object      11453       0.0            3
3                          accreditation_length        object    float64          0       0.0            0
6                              acgme_accredited          bool    float64         31       0.0           31
1     additional_education_accreditation_length          bool    float64          0       0.0            0
23   american_osteopathic_association_indicator          bool    float64          0       0.0            0
14                             contact_director          bool    float64         39       0.0           39
9                                  core_program        object    float64      11453       0.0         8338
4                                      duration        object    float64          0       0.0            0
0   graduate_medical_education_equivalent_years        object    float64          0       0.0            0
5                    initial_accreditation_date        object     object      11453       0.0         7561
12                          institution_control        object      int64          0       0.0            0
11                             last_update_date        object     object      11453       0.0          503
7                              last_update_type        object     object        503       0.0          503
22              max_residents_accepted_increase         int64     object       5874       0.0         5874
21                              medical_records          bool    float64       1334       0.0         1334
18                             official_address          bool     object       2948       0.0         2948
2                        osteopathic_principles          bool    float64       6284       0.0         6284
8                                   other_match        object     object      11054       0.0        11054
19                        other_match_indicator          bool    float64          0       0.0            0
13                      percent_at_primary_site        object    float64      11453       0.0          160
20                preliminary_positions_offered          bool    float64          5       0.0            5
15                                 primary_site        object    float64          0       0.0            0
10                                    specialty        object    float64          0       0.0            0
17                                  web_address        object     object        681       0.0          681

Sample Rows with Unequal Values
-------------------------------

              id osteopathic_principles (oneview)  osteopathic_principles (meri)
6617  3020530001                            False                            NaN
5634  2305622002                            False                            NaN
2712  1414714279                            False                            NaN
6392  2881031007                            False                            NaN
4096  1554831067                            False                            NaN
5791  2405121156                            False                            NaN
2024  1400500917                            False                            NaN
274   0603831070                            False                            NaN
6596  3014800091                            False                            NaN
6573  3012831025                            False                            NaN

               id initial_accreditation_date (oneview) initial_accreditation_date (meri)
5526   2254122006                           2016-07-01                          7/1/2016
5471   2214122002                           2012-07-01                          7/1/2012
6113   2675121024                           1970-01-01                               NaN
6873   3113521030                           1970-01-01                               NaN
5525   2254122005                           2017-02-09                          2/9/2017
5770   2404111133                           1998-12-04                         12/4/1998
5239   2205631307                           1970-01-01                               NaN
11098  9991200029                           1970-01-01                               NaN
3007   1433521136                           1970-01-01                               NaN
8102   3450521007                           1970-01-01                               NaN

               id acgme_accredited (oneview)  acgme_accredited (meri)
1535   1203800700                      False                      NaN
11051  7700544001                      False                      NaN
11067  7954100001                      False                      NaN
1940   1302700001                      False                      NaN
7500   3273032001                      False                      NaN
1151   1121711001                      False                      NaN
1644   1204800718                      False                      NaN
1383   1202500739                      False                      NaN
5253   2201200349                      False                      NaN
1792   1270112125                      False                      NaN

               id last_update_type (oneview) last_update_type (meri)
10455  4803521102                                                NaN
553    3603621073                                                NaN
5387   2203621219                                                NaN
10297  4603511064                                                NaN
9691   4401800437                                                NaN
8770   4051021024                                                NaN
11153  4233521032                                                NaN
8649   4010821016                                                NaN
11065  4090513055                                                NaN
9199   4200521914                                                NaN

               id other_match (oneview) other_match (meri)
4468   1594814043                                      NaN
2196   1402411176                                      NaN
4059   1544122066                                      NaN
6616   3015430078                                      NaN
11382  1432411062                                      NaN
7954   3382832001                                      NaN
1196   0414021054                                      NaN
6088   2653512024                                      NaN
5363   2203521170                                      NaN
6334   2804121093                                      NaN

               id core_program (oneview)  core_program (meri)
7842   3334712008             3204721227         3.204721e+09
8663   4012413063                                         NaN
5165   1434121029             1404121378         1.404121e+09
4949   1873511034             1803521072         1.803521e+09
2855   1432821080             1402821218         1.402821e+09
3185   1462421021             1402421172         1.402421e+09
10979  7203844006                                         NaN
4900   1870118125                                         NaN
2740   1415421105             1405421434         1.405421e+09
1658   1204821305                                         NaN

              id last_update_date (oneview) last_update_date (meri)
3454  1501011094                 2020-06-16               6/16/2020
6976  3163831012                 2020-07-22               7/22/2020
8501  4002521283                 2020-06-16               6/16/2020
3602  1512631050                 2020-06-22               6/22/2020
4835  1851831106                 2020-07-22               7/22/2020
8050  3403521093                 2020-06-10               6/10/2020
7510  3273821031                 2020-06-22               6/22/2020
9045  4203821153                 2020-07-14               7/14/2020
5755  2403521115                 2020-07-22               7/22/2020
893   1103500214                 2020-07-02                7/2/2020

               id percent_at_primary_site (oneview)  percent_at_primary_site (meri)
1288   1201600702                               100                           100.0
6637   3014812083                                80                            80.0
4211   1562514161                                90                            90.0
10674  5302604013                                50                            50.0
4884   1850521062                                85                            85.0
10198  4505121083                               100                           100.0
7092   3203511158                                97                            97.0
2728   1414821106                                50                            50.0
6642   3051731091                                70                            70.0
1065   1142511012                                98                            98.0

               id contact_director (oneview)  contact_director (meri)
11056  7753544007                      False                      NaN
9758   4403300193                      False                      NaN
8731   4043840003                      False                      NaN
9049   4203900160                      False                      NaN
10970  7154844040                      False                      NaN
5141   1900513030                      False                      NaN
10423  4802500186                      False                      NaN
691    0814008053                      False                      NaN
11402  4001100318                      False                      NaN
5334   1443314205                      False                      NaN

               id accreditation_effective_date (oneview) accreditation_effective_date (meri)
8109   3452321026                             2007-07-01                            7/1/2007
4578   1801113148                             2008-11-13                          11/13/2008
4761   1841018002                             2017-04-06                            4/6/2017
122    0801021123                             2008-03-08                            3/8/2008
7327   3244832063                             2012-07-01                            7/1/2012
5616   2304322001                             2016-07-01                            7/1/2016
2126   1401200933                             2018-07-01                            7/1/2018
10114  4464144004                             2012-07-01                            7/1/2012
5933   2603822042                             2007-01-13                           1/13/2007
2267   1403221225                             2007-01-29                           1/29/2007

               id web_address (oneview) web_address (meri)
8204   3603821112                                      NaN
1296   1201611100                                      NaN
1593   1204100709                                      NaN
9719   4402500414                                      NaN
8136   2603531128                                      NaN
3429   1493314213                                      NaN
7411   3261011041                                      NaN
10520  4852421006                                      NaN
6569   3011231057                                      NaN
5927   1503831152                                      NaN

               id official_address (oneview) official_address (meri)
11200  4512200002                      False                     NaN
3539   1162512118                      False                     NaN
8568   4003600174                      False                     NaN
214    0201700001                      False                     NaN
1581   1204100693                      False                     NaN
2938   1433514181                      False                     NaN
5460   2213522004                      False                     NaN
1955   1304700034                      False                     NaN
4437   1600500129                      False                     NaN
5703   2401100184                      False                     NaN

              id preliminary_positions_offered (oneview)  preliminary_positions_offered (meri)
1451  1203300682                                   False                                   NaN
3572  1511114147                                   False                                   NaN
5810  2600500222                                   False                                   NaN
2582  1412314299                                   False                                   NaN
812   0802700001                                   False                                   NaN

              id medical_records (oneview)  medical_records (meri)
1987  1391614001                     False                     NaN
5490  2251122002                     False                     NaN
3427  1492014001                     False                     NaN
7232  3231132062                     False                     NaN
8535  4003500316                     False                     NaN
6211  2694826005                     False                     NaN
9691  4401800437                     False                     NaN
2105  1401100952                     False                     NaN
2484  1405500443                     False                     NaN
5516  2253522007                     False                     NaN

               id  max_residents_accepted_increase (oneview) max_residents_accepted_increase (meri)
2027   1400500921                                        0.0                                    NaN
4835   1851831106                                        0.0                                    NaN
9477   4250531065                                        0.0                                    NaN
5452   2213222001                                        0.0                                    NaN
2352   1403621318                                        0.0                                    NaN
10247  3424212008                                        0.0                                    NaN
11139  4163300001                                        0.0                                    NaN
7914   3361732001                                        0.0                                    NaN
3299   1480531195                                        0.0                                    NaN
8885   4060521037                                        0.0                                    NaN

Sample Rows Only in oneview (First 10 Columns)
----------------------------------------------

              id specialty institution_control sequence_number federal_code region_code                                               name                 web_address contact_director accreditation_status
3848  1201611099       120                  11              99            7           3  Southern Illinois University (Carbondale) Prog...  http://www.siumed.edu/cfpc             True                   AO

Sample Rows Only in meri (First 10 Columns)
-------------------------------------------

         pgm_id_x addr_type                      addr1                           addr2                addr3         city state    zip+4  survey_cycle_x last_upd_dt_x
11553  3204512221         D      Prisma Health-Upstate                   Balcony Ste 5         701 Grove Rd   Greenville    SC  29605.0          2020.0     6/22/2020
11533  2203321324         D        Jersey City Med Ctr           Dept of Ob/Gyn 4 East         355 Grand St  Jersey City    NJ   7302.0          2020.0     7/22/2020
11567  4004500312         D          Prisma Health/USC        Ctr for Psychiatry Ste B    109 Physicians Dr        Greer    SC  29650.0          2020.0     6/10/2020
11492  1401100924         D  Aventura Hosp and Med Ctr           Internal Medicine Pgm  20900 Biscayne Blvd     Aventura    FL  33180.0          2020.0     6/10/2020
11464  1101200092         D          Coliseum Med Ctrs                  Bldg A Ste 430      380 Hospital Dr        Macon    GA  31217.0          2020.0     7/22/2020
11540  2603300225         D        Jersey City Med Ctr  Orthopaedic Surgery Pgm Ste 14         414 Grand St  Jersey City    NJ   7302.0          2020.0     9/15/2020
11487  1253821074         D              Grant Med Ctr          Geriatric Medicine Pgm      111 S Grant Ave     Columbus    OH  43215.0          2020.0      7/2/2020
11515  1461114212         D  Aventura Hosp and Med Ctr          Infectious Disease Pgm  20900 Biscayne Blvd     Aventura    FL  33180.0          2020.0     7/22/2020
11596  9991100229         D  Aventura Hosp and Med Ctr             Transitional Yr Pgm  20900 Biscayne Blvd     Aventura    FL  33180.0          2020.0     6/16/2020
11485  1204511292         D      Prisma Health-Upstate              Ctr for Family Med       877 W Faris Rd   Greenville    SC  29605.0          2020.0      7/2/2020

In [231]:
inst_compare.df1_unq_rows.sample().to_csv('../../Data/OneView_Testing/Institution_Weird_Row.csv', index=False)

In [264]:
program_compare.df2_unq_rows[ov_program.columns].to_csv('../../Data/OneView_Testing/Residency_Program_Missing_Rows.csv', index=False)

In [257]:
program_2 = program_2.rename(columns={'govenrmnet_affiliated':'government_affiliated','id_y':'institution', 'uses_sf_match':'uses_sfmatch','pri_clinical_loc_ind':'primary_clinical_location','addr1':'address_1','addr2':'address_2','addr3':'address_3','american_osteopathic_association_indicator_program':'american_osteopathic_association_program', 'zip+4':'zipcode'})

In [ ]:
['government_affiliated', 'institution', 'uses_sfmatch', 'primary_clinical_location', 'address_3', 'american_osteopathic_association_program', 'address_2', 'address_1', 'zipcode']

In [252]:
program_2.columns

Index(['pgm_id_x', 'addr_type', 'address_1', 'address_2', 'addr3', 'city',
       'state', 'zipcode', 'survey_cycle_x', 'last_upd_dt_x',
       'last_upd_type_x', 'last_upd_id_x', 'id', 'specialty', 'pgm_state',
       'institution_control', 'sequence_number', 'federal_code', 'region_code',
       'pgm_activity_code', 'acgme_accredited', 'name', 'web_address',
       'pgm_old_name', 'pgm_name_change_date', 'contact_director',
       'accreditation_status', 'accreditation_effective_date',
       'initial_accreditation_date', 'accreditation_length', 'duration',
       'government_affiliated', 'graduate_medical_education_equivalent_years',
       'preliminary_years_required', 'pgm_prelim_yrs_req',
       'preliminary_positions_offered', 'pgm_other_match_ind', 'type',
       'max_residents_accepted_increase', 'pgm_chg_type',
       'percent_at_primary_site', 'primary_site', 'pgm_prim_site_comments',
       'pgm_add_date', 'core_program', 'medical_records',
       'pgm_web_address_case_sen', 'eras', 'eras2', 'pgm_specify',
       'pgm_prelim_training_ind', 'pgm_prelim_training_excl_ind',
       'official_address', 'uses_sfmatch', 'other_match_indicator',
       'other_match', 'additional_education_accreditation_length',
       'pgm_addit_length_training', 'pgm_addit_educ_exp_req',
       'pgm_prev_edu_req_prior', 'survey_cycle_y', 'last_update_date',
       'last_update_type', 'last_upd_id_y',
       'american_osteopathic_association_indicator',
       'american_osteopathic_association_indicator_program',
       'osteopathic_principles', 'pgm_id_y', 'ins_id', 'affiliation_type',
       'primary_clinical_location', 'survey_cycle', 'last_upd_dt_y',
       'last_upd_type_y', 'last_upd_id', 'institution', 'program'],
      dtype='object')

In [261]:
program_compare.sample_mismatch(column="american_osteopathic_association_program").dropna()

,id,american_osteopathic_association_program_df1,american_osteopathic_association_program_df2
1722,1205522334,126330,126330.0