In [1]:
import pandas as pd
import useful_functions as use
import psycopg2
import pyodbc
from datetime import datetime, date

In [2]:
from tqdm.notebook import tqdm

In [3]:
conn = psycopg2.connect(
    host='oneview-prd-content-aurora-cluster.cluster-cxgp9osuwqi3.us-east-1.rds.amazonaws.com',
    database='oneview_content',
    user='oneviewadmin',
    password='VFauC8cRXqKapC8A')

In [4]:
username = 'vigrose'
password_edw = 'Slytherin~10946'
w = "DSN=PRDDW; UID={}; PWD={}".format(username, password_edw)
AMAEDW = pyodbc.connect(w)

In [5]:
ov_me_sql = '''
    SELECT medical_education_number,type FROM ONEVIEW.physician
    '''
ov_me = pd.read_sql_query(ov_me_sql, conn)

In [6]:
ME_QUERY = \
    f"""
    SELECT
    P.PARTY_ID,
    P.KEY_VAL AS ME
    FROM
    AMAEDW.PARTY_KEY P
    WHERE
    P.KEY_TYPE_ID = 18
    AND
    P.ACTIVE_IND='Y'
    """
party_ids = pd.read_sql(con=AMAEDW, sql=ME_QUERY)

In [7]:
MED_QUERY = \
    """
    SELECT
    TOP_ID,
    EMPLOYER_ID,
    PARTY_ID
    FROM
    AMAEDW.MED_PROF
    WHERE
    THRU_DT IS NULL
    """
MED_PROF = pd.read_sql(con=AMAEDW, sql=MED_QUERY)

In [8]:
MPA_QUERY = \
    """
    SELECT
    MPA_CD,
    TOP_ID,
    EMPLOYER_ID,
    DESC
    FROM
    AMAEDW.MPA
    WHERE
    ACTIVE_IND='Y'
    """
MPA = pd.read_sql(con=AMAEDW, sql=MPA_QUERY)

In [9]:
SPEC_QUERY = \
    """
    SELECT
    M.PARTY_ID,
    M.SPEC_ID,
    M.PREFE_LVL
    FROM
    AMAEDW.MED_SPEC M
    """
SPEC = pd.read_sql(con=AMAEDW, sql=SPEC_QUERY)

In [10]:
AWARD_QUERY = \
    """
    SELECT
    PARTY_ID,
    EXPIRATION_DT
    FROM
    AMAEDW.PRA_CERTIFICATE
    WHERE
    PRA_STATUS_DESC='Approved'
    """
AWARD = pd.read_sql(con=AMAEDW, sql=AWARD_QUERY)

In [11]:
AWARD.EXPIRATION_DT = pd.to_datetime(AWARD.EXPIRATION_DT)

In [12]:
ov_universe = pd.merge(party_ids, ov_me, left_on='ME', right_on='medical_education_number')

In [13]:
wards = AWARD[AWARD.EXPIRATION_DT>datetime.today()].sort_values('EXPIRATION_DT').drop_duplicates('PARTY_ID', keep='last')

In [14]:
ALL = pd.merge(ov_universe, MED_PROF, on='PARTY_ID', how='left')
ALL = pd.merge(ALL, SPEC[SPEC.PREFE_LVL==1], on='PARTY_ID', how='left')
ALL = pd.merge(ALL, SPEC[SPEC.PREFE_LVL==2], on='PARTY_ID', suffixes = ['_PRIM','_SEC'], how='left')
ALL = pd.merge(ALL, MPA, on=['TOP_ID','EMPLOYER_ID'], how='left')
ALL = pd.merge(ALL, wards, on='PARTY_ID', how='left')

In [16]:
today = date.today()
types = ['Physician','Student','Resident']
elements = [
    {'data_element': 'TOP',
     'element':'TOP_ID',
    'null': 115.0},
    {'data_element': 'PE',
     'element':'EMPLOYER_ID',
    'null': 391.0},
    {'data_element': 'MPA',
     'element':'MPA_CD',
    'null': 'NCL'},
    {'data_element': 'Primary Specialty',
     'element':'SPEC_ID_PRIM',
    'null': 1883},
    {'data_element': 'Secondary Specialty',
     'element':'SPEC_ID_SEC',
    'null': 1883},
    {'data_element': 'PRA Award Flag',
     'element':'EXPIRATION_DT',
    'null': ''}
]
dict_list = []
for typo in types:
    total = len(ALL[ALL.type==typo])
    for element in elements:
        complete = len(ALL[(ALL.type==typo)&~(ALL[element['element']].isna())])
        true_complete = len(ALL[(ALL.type==typo)&(ALL[element['element']]!=element['null'])&~(ALL[element['element']].isna())])
        new_dict = {
            'Universe': typo,
            'Data Element': element['data_element'],
            'Complete': complete,
            'Complete and Known': true_complete,
            'Universe Total': total,
            'Date': today,
            'Measure':'Completeness'
        }
        dict_list.append(new_dict)

In [27]:
ALL[(ALL.type.isin(['Physician','Resident']))&(ALL.TOP_ID==115)&(ALL.EMPLOYER_ID==391)]

,PARTY_ID,ME,medical_education_number,type,TOP_ID,EMPLOYER_ID,SPEC_ID_PRIM,PREFE_LVL_PRIM,SPEC_ID_SEC,PREFE_LVL_SEC,MPA_CD,DESC,EXPIRATION_DT
382,1889101,00102921232,00102921232,Physician,115.0,391.0,1698.0,1.0,1883.0,2.0,NCL,Not Classified,NaT
622,1888978,00102851455,00102851455,Physician,115.0,391.0,1703.0,1.0,1883.0,2.0,NCL,Not Classified,NaT
690,1889180,00102961048,00102961048,Physician,115.0,391.0,1724.0,1.0,1883.0,2.0,NCL,Not Classified,NaT
691,1892621,00102961072,00102961072,Physician,115.0,391.0,1691.0,1.0,1883.0,2.0,NCL,Not Classified,NaT
765,1889242,00102991541,00102991541,Physician,115.0,391.0,1679.0,1.0,1883.0,2.0,NCL,Not Classified,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422747,12296778,93503100124,93503100124,Physician,115.0,391.0,1883.0,1.0,NaN,NaN,NCL,Not Classified,NaT
1422750,14377511,56002190023,56002190023,Physician,115.0,391.0,1883.0,1.0,NaN,NaN,NCL,Not Classified,NaT
1422751,6824748,24408170032,24408170032,Physician,115.0,391.0,1883.0,1.0,NaN,NaN,NCL,Not Classified,NaT
1422814,14035860,24104200016,24104200016,Physician,115.0,391.0,1883.0,1.0,NaN,NaN,NCL,Not Classified,NaT
1422815,4560203,70478050010,70478050010,Physician,115.0,391.0,1883.0,1.0,NaN,NaN,NCL,Not Classified,NaT

In [28]:
ALL[(ALL.type.isin(['Physician','Resident']))]

,PARTY_ID,ME,medical_education_number,type,TOP_ID,EMPLOYER_ID,SPEC_ID_PRIM,PREFE_LVL_PRIM,SPEC_ID_SEC,PREFE_LVL_SEC,MPA_CD,DESC,EXPIRATION_DT
0,1889235,00102990919,00102990919,Physician,117.0,401.0,1639.0,1.0,1883.0,2.0,OFF,Office Based Practice,NaT
1,1904405,00102840976,00102840976,Physician,117.0,418.0,1755.0,1.0,1724.0,2.0,OFF,Office Based Practice,NaT
2,1892959,00106930210,00106930210,Physician,117.0,424.0,1691.0,1.0,1883.0,2.0,OFF,Office Based Practice,NaT
3,1903519,00102540336,00102540336,Physician,113.0,418.0,1763.0,1.0,1883.0,2.0,INA,Inactive,NaT
4,1903525,00102550285,00102550285,Physician,113.0,391.0,1672.0,1.0,1883.0,2.0,INA,Inactive,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422840,13588004,79601210181,79601210181,Resident,116.0,402.0,1724.0,1.0,1883.0,2.0,HPR,Hospital Based Residents - All Years,NaT
1422841,6525524,13002181520,13002181520,Resident,116.0,402.0,1724.0,1.0,1883.0,2.0,HPR,Hospital Based Residents - All Years,NaT
1422842,10426769,49623190071,49623190071,Resident,116.0,402.0,1724.0,1.0,1883.0,2.0,HPR,Hospital Based Residents - All Years,NaT
1422843,11207668,66102200315,66102200315,Resident,116.0,402.0,1724.0,1.0,1883.0,2.0,HPR,Hospital Based Residents - All Years,NaT
1422844,11612569,67209160053,67209160053,Resident,116.0,402.0,1883.0,1.0,NaN,NaN,HPR,Hospital Based Residents - All Years,NaT

In [30]:
119416/1336668*100

8.933856425080872

In [15]:
pd.DataFrame(dict_list).to_csv(f'../../Data/Measurement/Practice_Completeness_{str(date.today())}.csv', index=False)

In [14]:
ALL[ALL.type=='Student'].TOP_ID.unique()

array([116.,  nan, 115.])

In [16]:
ALL[ALL.type=='Student'].EMPLOYER_ID.unique()

array([402.,  nan, 407.])

In [18]:
spec_codes = pd.read_csv('../../Data/Measurement/SPECIALTY.csv')

In [27]:
spick = list(spec_codes.SPEC_ID)

In [32]:
ALL[~(ALL.SPEC_ID_PRIM.isin(spick))&(~ALL.SPEC_ID_PRIM.isna())]

Empty DataFrame
Columns: [PARTY_ID, ME, medical_education_number, type, TOP_ID, EMPLOYER_ID, SPEC_ID_PRIM, PREFE_LVL_PRIM, SPEC_ID_SEC, PREFE_LVL_SEC]
Index: []

In [31]:
ppd = pd.read_csv('../../Data/PPD/ppd_analysis_file.csv')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,24,48,57,64,65,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
hmm = ppd[ppd.duplicated('POLO_COMM_ID', keep=False)].sort_values('POLO_COMM_ID')[['POLO_COMM_ID', 'ME', 'PE_CD']]

In [34]:
hmm = hmm[~hmm.POLO_COMM_ID.isna()&~(hmm.PE_CD.isna())]

In [35]:
pe_cds = pd.read_csv('../../Data/Measurement/EMPLOYMENT.csv')

In [36]:
hmm = hmm.to_dict('records')

In [37]:
unique_polos = []
polo_info = {}
for row in tqdm(hmm):
    if row['POLO_COMM_ID'] not in unique_polos:
        unique_polos.append(row['POLO_COMM_ID'])
        polo_info[row['POLO_COMM_ID']] = {row['PE_CD'] : 1}
    elif row['PE_CD'] in polo_info[row['POLO_COMM_ID']].keys():
        polo_info[row['POLO_COMM_ID']][row['PE_CD']]+=1
    else:
        polo_info[row['POLO_COMM_ID']][row['PE_CD']] = 1

HBox(children=(IntProgress(value=0, max=53359), HTML(value='')))

In [38]:
def get_key(val, my_dict):
    keys = []
    for key, value in my_dict.items():
         if val == value:
            keys.append(key)
    return keys

In [71]:
address_dict_list = []
for address in tqdm(unique_polos):
    new_dict = {}
    new_dict['POLO_COMM_ID'] = address
    key_list = list(polo_info[address].keys())
    if len(key_list)==1:
        best_code = key_list
    else:
        val_list = list(polo_info[address].values())
        highest = max(val_list)
        best_code = get_key(highest, polo_info[address])
    if 110 in best_code:
        best_code.remove(110)
    if best_code!=[]:
        new_dict['PE_CD'] = best_code
        address_dict_list.append(new_dict)

HBox(children=(IntProgress(value=0, max=14836), HTML(value='')))

In [72]:
address_dict_list

[{'POLO_COMM_ID': 713750.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 713768.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 714449.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 714609.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 714886.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 714902.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 714952.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 715391.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 715770.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 716150.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 716153.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 716301.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 716746.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 717581.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 718250.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 718871.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 719567.0, 'PE_CD': [13, 30]},
 {'POLO_COMM_ID': 719675.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 719922.0, 'PE_CD': [50, 30, 63]},
 {'POLO_COMM_ID': 720058.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 720386.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 720395.0, 'PE_CD': [11, 21]},
 {'POLO_COMM_ID': 720454.0, 'PE_CD': [40, 30]},
 {'POLO_COMM_ID': 720671.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 721071.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 721805.0, 'PE_CD': [63, 11, 50]},
 {'POLO_COMM_ID': 721828.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 721913.0, 'PE_CD': [40, 63, 30]},
 {'POLO_COMM_ID': 721981.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 722372.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 722739.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 723155.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 723572.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 723746.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 723990.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 724431.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 724829.0, 'PE_CD': [63, 30, 40]},
 {'POLO_COMM_ID': 725014.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 725423.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 726067.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 726848.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 726935.0, 'PE_CD': [13, 50]},
 {'POLO_COMM_ID': 727298.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 727625.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 727945.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 728406.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 728809.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 729876.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 730077.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 730421.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 730766.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 731396.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 732803.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 732862.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 733343.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 733359.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 733462.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 734093.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 735099.0, 'PE_CD': [21]},
 {'POLO_COMM_ID': 735355.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 735736.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 735895.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 736487.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 736595.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 736667.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 737450.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 737465.0, 'PE_CD': [11, 13]},
 {'POLO_COMM_ID': 737549.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 738783.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 739646.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 739894.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 740297.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 743059.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 743668.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 744172.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 744236.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 744497.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 746003.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 750580.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 751889.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 752072.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 752113.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 752408.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 752420.0, 'PE_CD': [101, 30, 11]},
 {'POLO_COMM_ID': 753012.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 753299.0, 'PE_CD': [30, 50, 40]},
 {'POLO_COMM_ID': 753684.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 753984.0, 'PE_CD': [50, 21]},
 {'POLO_COMM_ID': 754426.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 754450.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 754616.0, 'PE_CD': [50, 30, 63]},
 {'POLO_COMM_ID': 754930.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 754955.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 757176.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 757238.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 757902.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 759209.0, 'PE_CD': [30, 40]},
 {'POLO_COMM_ID': 759277.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 759444.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 759870.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 760269.0, 'PE_CD': [85, 63]},
 {'POLO_COMM_ID': 760781.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 761135.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 761981.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 762671.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 762965.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 762968.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 763289.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 764234.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 764492.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 765068.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 767393.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 769504.0, 'PE_CD': [30, 40, 11]},
 {'POLO_COMM_ID': 769706.0, 'PE_CD': [50, 40, 63, 30]},
 {'POLO_COMM_ID': 770200.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 770596.0, 'PE_CD': [11, 13]},
 {'POLO_COMM_ID': 771328.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 771482.0, 'PE_CD': [30, 50, 85]},
 {'POLO_COMM_ID': 771703.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 771953.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 772699.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 772945.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 773061.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 773081.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 773401.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 773810.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 774269.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 774901.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 775427.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 775889.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 776409.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 776443.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 776558.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 776722.0, 'PE_CD': [63, 50, 30]},
 {'POLO_COMM_ID': 776863.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 778022.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 779444.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 779598.0, 'PE_CD': [13]},
 {'POLO_COMM_ID': 780813.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 781050.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 782253.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 782617.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 783235.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 783956.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 784115.0, 'PE_CD': [13, 30]},
 {'POLO_COMM_ID': 784349.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 784415.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 786002.0, 'PE_CD': [21, 30]},
 {'POLO_COMM_ID': 786125.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 786552.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 787454.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 788225.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 789104.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 789419.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 789913.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 791456.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 795490.0, 'PE_CD': [30, 85]},
 {'POLO_COMM_ID': 795883.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 796307.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 796661.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 796980.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 797430.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 797811.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 798853.0, 'PE_CD': [30, 21]},
 {'POLO_COMM_ID': 799043.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 799578.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 799625.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 799667.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 799677.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 799792.0, 'PE_CD': [30, 21]},
 {'POLO_COMM_ID': 799931.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 799932.0, 'PE_CD': [101, 30, 50]},
 {'POLO_COMM_ID': 800087.0, 'PE_CD': [40]},
 {'POLO_COMM_ID': 800440.0, 'PE_CD': [11, 50]},
 {'POLO_COMM_ID': 800569.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 800927.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 800969.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 800982.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 801083.0, 'PE_CD': [35, 63, 30]},
 {'POLO_COMM_ID': 801143.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 801149.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 801248.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 801978.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 802707.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 803091.0, 'PE_CD': [50, 13]},
 {'POLO_COMM_ID': 803096.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 803744.0, 'PE_CD': [30, 35]},
 {'POLO_COMM_ID': 804598.0, 'PE_CD': [50, 11]},
 {'POLO_COMM_ID': 804705.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 805292.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 805352.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 805356.0, 'PE_CD': [30, 11, 63]},
 {'POLO_COMM_ID': 805445.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 805497.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 805500.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 805665.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 805672.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 806232.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 806438.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 806643.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 807810.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 807905.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 808365.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 808459.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 808469.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 808583.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 808824.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 809015.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 809240.0, 'PE_CD': [101, 63]},
 {'POLO_COMM_ID': 809449.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 810704.0, 'PE_CD': [64, 50, 30]},
 {'POLO_COMM_ID': 810884.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 811250.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 811525.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 811984.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 812656.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 812708.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 813031.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 813080.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 813365.0, 'PE_CD': [40]},
 {'POLO_COMM_ID': 813497.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 813518.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 813551.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 815441.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 816475.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 816781.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 820241.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 820453.0, 'PE_CD': [11, 13]},
 {'POLO_COMM_ID': 822149.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 824203.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 824238.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 825542.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 826761.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 829832.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 830104.0, 'PE_CD': [40, 30]},
 {'POLO_COMM_ID': 831236.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 831295.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 831448.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 831776.0, 'PE_CD': [30, 63, 50]},
 {'POLO_COMM_ID': 832334.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 832876.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 833006.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 833408.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 834080.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 834089.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 834328.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 836350.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 836351.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 837271.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 838669.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 840248.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 840783.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 844584.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 844844.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 848229.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 848869.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 850456.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 851077.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 851424.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 851716.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 855248.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 857022.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 858652.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 858693.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 859038.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 860827.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 861327.0, 'PE_CD': [64, 30]},
 {'POLO_COMM_ID': 861445.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 863163.0, 'PE_CD': [13, 11, 30]},
 {'POLO_COMM_ID': 863564.0, 'PE_CD': [13]},
 {'POLO_COMM_ID': 864013.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 864046.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 864226.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 864412.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 864789.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 864814.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 866605.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 866928.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 868042.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 875204.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 877068.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 877551.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 877575.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 878227.0, 'PE_CD': [50, 85]},
 {'POLO_COMM_ID': 878788.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 880926.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 881785.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 881963.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 882382.0, 'PE_CD': [13, 30]},
 {'POLO_COMM_ID': 882455.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 884380.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 885268.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 886251.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 888832.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 889957.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 892296.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 892335.0, 'PE_CD': [64]},
 {'POLO_COMM_ID': 892470.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 892584.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 893437.0, 'PE_CD': [50, 30, 11]},
 {'POLO_COMM_ID': 893646.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 893795.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 895019.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 896227.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 896503.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 897448.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 898986.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 899110.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 899197.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 899285.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 900286.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 900716.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 901044.0, 'PE_CD': [50, 11]},
 {'POLO_COMM_ID': 901588.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 901881.0, 'PE_CD': [22, 50]},
 {'POLO_COMM_ID': 904231.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 904570.0, 'PE_CD': [40]},
 {'POLO_COMM_ID': 906057.0, 'PE_CD': [40, 13]},
 {'POLO_COMM_ID': 907845.0, 'PE_CD': [11, 50]},
 {'POLO_COMM_ID': 907971.0, 'PE_CD': [13, 11]},
 {'POLO_COMM_ID': 908914.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 914557.0, 'PE_CD': [11, 40]},
 {'POLO_COMM_ID': 919992.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 925231.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 926950.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 929705.0, 'PE_CD': [30, 11, 85]},
 {'POLO_COMM_ID': 929830.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 931439.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 931576.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 932042.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 933186.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 934109.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 934390.0, 'PE_CD': [82]},
 {'POLO_COMM_ID': 934790.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 935004.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 935229.0, 'PE_CD': [85]},
 {'POLO_COMM_ID': 935691.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 936205.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 937123.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 937347.0, 'PE_CD': [40]},
 {'POLO_COMM_ID': 937464.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 938420.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 938719.0, 'PE_CD': [85, 30]},
 {'POLO_COMM_ID': 940665.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 942781.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 943362.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 944863.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 948186.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 949206.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 950056.0, 'PE_CD': [50, 11]},
 {'POLO_COMM_ID': 950259.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 951626.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 955325.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 959193.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 969944.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 969956.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 970045.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 975132.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 977801.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 978955.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 985696.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 988797.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 989580.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 990466.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 991301.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 994097.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 997164.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 997859.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1000302.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 1007551.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 1028342.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 1029229.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1032302.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1040291.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 1045469.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 1047180.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1053284.0, 'PE_CD': [30, 11]},
 {'POLO_COMM_ID': 1053517.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 1053834.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 1055459.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1058913.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 1059849.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1061360.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1062603.0, 'PE_CD': [11]},
 {'POLO_COMM_ID': 1063193.0, 'PE_CD': [50, 11]},
 {'POLO_COMM_ID': 1064294.0, 'PE_CD': [85, 63, 50, 30]},
 {'POLO_COMM_ID': 1073900.0, 'PE_CD': [11, 64]},
 {'POLO_COMM_ID': 1074498.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1075441.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 1075746.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 1084127.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 1085591.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1086336.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1086659.0, 'PE_CD': [21, 30]},
 {'POLO_COMM_ID': 1091399.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 1091432.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 1091968.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1092102.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 1102781.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 1103488.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 1105895.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 1108506.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1109056.0, 'PE_CD': [50, 30, 11]},
 {'POLO_COMM_ID': 1109374.0, 'PE_CD': [30, 63]},
 {'POLO_COMM_ID': 1115828.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1118058.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 1119025.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 1120113.0, 'PE_CD': [63, 11]},
 {'POLO_COMM_ID': 1121388.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1123002.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 1130359.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 1132709.0, 'PE_CD': [11, 30]},
 {'POLO_COMM_ID': 1136018.0, 'PE_CD': [30, 50]},
 {'POLO_COMM_ID': 1141600.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1148103.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 1158169.0, 'PE_CD': [63, 30]},
 {'POLO_COMM_ID': 1160583.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1167183.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 1176026.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1185964.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1195371.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 1196103.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1198942.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1200307.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1206442.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1210580.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1211198.0, 'PE_CD': [50]},
 {'POLO_COMM_ID': 1213319.0, 'PE_CD': [50, 63]},
 {'POLO_COMM_ID': 1215297.0, 'PE_CD': [50, 11]},
 {'POLO_COMM_ID': 1215400.0, 'PE_CD': [63, 50]},
 {'POLO_COMM_ID': 1216624.0, 'PE_CD': [30]},
 {'POLO_COMM_ID': 1216724.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 1240210.0, 'PE_CD': [63]},
 {'POLO_COMM_ID': 1251108.0, 'PE_CD': [50, 30]},
 {'POLO_COMM_ID': 1252564.0, 'PE_CD': [30, 50]},

In [73]:
best_pe_codes = pd.DataFrame(address_dict_list)

In [85]:
DET = pd.merge(best_pe_codes, ppd[['DESC','ME','POLO_COMM_ID','PE_CD','TOP_CD']], on='POLO_COMM_ID', suffixes = ['_GOOD','_ACTUAL']).drop_duplicates('ME')

KeyError: "['DESC'] not in index"

In [75]:
PE_LIST = []
for row in DET.itertuples():
    PE_GOOD = row.PE_CD_ACTUAL in row.PE_CD_GOOD
    PE_LIST.append(PE_GOOD)

In [76]:
DET['MATCH'] = PE_LIST

In [77]:
DET[(DET.MATCH == False)&(DET.PE_CD_ACTUAL == 110)&(DET.TOP_CD==20)]

       POLO_COMM_ID    PE_CD_GOOD          ME  PE_CD_ACTUAL  TOP_CD  MATCH
38         717581.0          [63]  1108170626           110      20  False
57         719922.0  [50, 30, 63]   512901387           110      20  False
69         720671.0      [30, 63]   301060441           110      20  False
95         723155.0          [11]   502020749           110      20  False
101        723746.0          [63]  1103900910           110      20  False
...             ...           ...         ...           ...     ...    ...
40581    28651282.0          [30]  1001940500           110      20  False
40587    28654244.0          [30]  1002141074           110      20  False
40596    28661604.0          [30]   512150381           110      20  False
40613    28666881.0     [101, 63]   506010241           110      20  False
40654    28693765.0  [63, 11, 30]   506010802           110      20  False

[4519 rows x 6 columns]

In [67]:
DET[(DET.MATCH == False)].to_csv('../../Data/Measurement/potential_pe_MORE.csv', index=False)

In [78]:
DET[DET.MATCH == False].groupby('PE_CD_ACTUAL').count()

              POLO_COMM_ID  PE_CD_GOOD    ME  TOP_CD  MATCH
PE_CD_ACTUAL
11                     422         422   422     422    422
13                     129         129   129     129    129
21                      95          95    95      95     95
22                      27          27    27      27     27
30                     641         641   641     641    641
35                     175         175   175     175    175
40                     287         287   287     287    287
50                     838         838   838     838    838
63                    1257        1257  1257    1257   1257
64                      61          61    61      61     61
81                      47          47    47      47     47
82                      43          43    43      43     43
83                      24          24    24      24     24
84                      14          14    14      14     14
85                      77          77    77      77     77
86                      84          84    84      84     84
101                     29          29    29      29     29
110                   6500        6500  6500    6500   6500

In [82]:
present_employment

NameError: name 'present_employment' is not defined

In [80]:
DET[DET.MATCH]

       POLO_COMM_ID PE_CD_GOOD          ME  PE_CD_ACTUAL  TOP_CD  MATCH
2          713750.0       [50]  1002101471            50      20   True
4          713750.0       [50]  1002141970            50      20   True
6          713750.0       [50]  1275160632            50      20   True
7          713768.0       [30]   102150775            30      20   True
8          713768.0       [30]   102980328            30      20   True
...             ...        ...         ...           ...     ...    ...
40691    28755278.0       [50]  1205180334            50      12   True
40692    28755278.0       [50]  1205190216            50      12   True
40693    28755278.0       [50]  1221200914            50      12   True
40694    28755314.0       [50]   401211624            50      12   True
40695    28755314.0       [50]  1222211090            50      12   True

[29946 rows x 6 columns]

In [38]:
import math

In [ ]:
address_dict_list_2 = []
for address in tqdm(unique_polos):
    new_dict = {}
    new_dict['POLO_COMM_ID'] = address
    key_list = list(polo_info[address].keys())
    if len(key_list)==1:
        best_code = key_list
    else:
        val_list = list(polo_info[address].values())
        highest = max(val_list)
        best_code = get_key(highest, polo_info[address])
    if 110 in best_code:
        best_code.remove(110)
    new_dict['PE_CD'] = best_code
    address_dict_list_2.append(new_dict)

HBox(children=(IntProgress(value=0, max=345668), HTML(value='')))

In [1]:
address_dict_list_2

NameError: name 'address_dict_list_2' is not defined

In [64]:
pe_cds

,EMPLOYER_ID,EMPLOYER_CD,DESC,SRC_SYS,INSERT_TMSTP,INSERT_USERID,UPDATE_TMSTP,UPDATE_USERID,ACTIVE_IND
0,388,62,City/County/State Government Other,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
1,389,10,Self Employed Solo,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
2,390,90,Federal Government Other Than Hospital,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
3,391,110,No Classification,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
4,392,0,Student,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
5,393,40,Medical School,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
6,394,61,City/County/State Government Hospital,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
7,395,72,State Goverment Other,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
8,396,92,Federal Government-Other Than Hosp/Navy,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
9,397,95,Federal Government-Other Than Hosp/Vet Admin,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
10,398,14,Two Physician Practice-Employee,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
11,399,22,Locum Tenens,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
12,400,84,Federal Government-Hospital/Usphs,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
13,401,30,Group Practice,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
14,402,50,Non-Government Hospital,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
15,403,71,State Goverment Hospital,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
16,404,82,Federal Government-Hospital/Navy,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
17,405,91,Federal Government-Other Than Hosp/Army,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
18,406,35,HMO,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
19,407,63,City/County/State Government-Hospital,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
20,408,64,City/County/State Government-Other Than Hospital,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
21,409,83,Federal Government-Hospital/Air Force,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
22,410,100,No Classification,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
23,411,20,Arrangement--Non-Group,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
24,412,86,Federal Government-Hospital/Other Agency,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
25,413,21,Other-Patient Care,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
26,414,70,State Goverment,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
27,415,80,Federal Government-Hospital,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
28,416,93,Federal Government-Other Than Hosp/Air Force,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
29,417,94,Federal Government-Other Than Hosp/USPHS,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
30,418,11,Self-Employed Solo Practice,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
31,419,81,Federal Government-Hospital/Army,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
32,420,85,Federal Government-Hospital/Vet Admin,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
33,421,96,Federal Government-Other Than Hosp/Other Agency,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
34,422,101,Other/Non-Patient Care,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
35,423,120,No Classification,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
36,424,13,Two Physician Practice-Full Or Part Owner,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y
37,425,60,City/County/State Government,MASTERFILE,16DEC2005:03:34:54.000000,ETL_LOAD,16DEC2005:14:53:45.000000,ETL_LOAD,Y

In [3]:
import numpy as np

In [12]:
1-(np.random.random_sample()*.2)

0.8339198760913384

In [19]:
np.random.uniform(0.9, 1.1, 6)

array([0.93428987, 1.05173982, 1.05893071, 1.01645534, 1.08556043,
       0.97901888])

In [41]:
ALL[(ALL.type=='Student')&(~ALL.EMPLOYER_ID.isna())]

,PARTY_ID,ME,medical_education_number,type,TOP_ID,EMPLOYER_ID,SPEC_ID_PRIM,PREFE_LVL_PRIM,SPEC_ID_SEC,PREFE_LVL_SEC,MPA_CD,DESC,EXPIRATION_DT
75986,6166127,04501151632,04501151632,Student,116.0,402.0,NaN,NaN,NaN,NaN,HPR,Hospital Based Residents - All Years,NaT
1033453,5164678,04114121113,04114121113,Student,116.0,402.0,NaN,NaN,NaN,NaN,HPR,Hospital Based Residents - All Years,NaT
1062896,5598448,00511131146,00511131146,Student,116.0,402.0,NaN,NaN,NaN,NaN,HPR,Hospital Based Residents - All Years,NaT
1089585,5875176,04113140238,04113140238,Student,116.0,402.0,NaN,NaN,NaN,NaN,HPR,Hospital Based Residents - All Years,NaT

In [45]:
ALL[(ALL.type=='Student')&(~ALL.SPEC_ID_SEC.isna())]

,PARTY_ID,ME,medical_education_number,type,TOP_ID,EMPLOYER_ID,SPEC_ID_PRIM,PREFE_LVL_PRIM,SPEC_ID_SEC,PREFE_LVL_SEC,MPA_CD,DESC,EXPIRATION_DT
75775,6165903,04203150585,04203150585,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
166665,6441002,02507161521,02507161521,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
167022,6441413,02604161544,02604161544,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
171223,6445908,04201160605,04201160605,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
280728,6736200,04201170384,04201170384,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
280941,6736433,04204170563,04204170563,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
281548,6737115,04804171458,04804171458,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
335163,6737611,04814171618,04814171618,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1056761,5555126,02512130537,02512130537,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1082085,5829321,03548180014,03548180014,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1136758,6435325,00301161301,00301161301,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1149113,6658049,02512170211,02512170211,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1152519,6680072,04817170507,04817170507,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1160907,6727618,01201171004,01201171004,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1161845,6728601,01611173250,01611173250,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1161847,6728603,01611210091,01611210091,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1164901,6731839,02834170828,02834170828,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1175902,7605017,00102180186,00102180186,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1183804,7777040,00102180640,00102180640,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1183906,7777149,00102181735,00102181735,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1184446,7777724,00506181488,00506181488,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1184717,7778008,00514180938,00514180938,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1184751,7778042,00514181276,00514181276,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1190236,7783951,02846180896,02846180896,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1196014,7790202,04816182081,04816182081,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT
1211868,9608582,03844171527,03844171527,Student,NaN,NaN,NaN,NaN,1883.0,2.0,NaN,NaN,NaT

In [84]:
DET

       POLO_COMM_ID PE_CD_GOOD          ME  PE_CD_ACTUAL  TOP_CD  MATCH
0          713750.0       [50]   511100186            30      20  False
1          713750.0       [50]   801810055            30      20  False
2          713750.0       [50]  1002101471            50      20   True
3          713750.0       [50]  1002132041            63      20  False
4          713750.0       [50]  1002141970            50      20   True
...             ...        ...         ...           ...     ...    ...
40691    28755278.0       [50]  1205180334            50      12   True
40692    28755278.0       [50]  1205190216            50      12   True
40693    28755278.0       [50]  1221200914            50      12   True
40694    28755314.0       [50]   401211624            50      12   True
40695    28755314.0       [50]  1222211090            50      12   True

[40696 rows x 6 columns]