In [1]:
import pandas as pd
import useful_functions as use

In [5]:
old = pd.read_csv('../../Data/MasterfileCore/PhysicianRaceEthnicity_2021-12-08.psv', sep='|')

In [6]:
new = pd.read_csv('../../Data/MasterfileCore/PhysicianRaceEthnicity_2022-02-01.psv', sep='|')

In [7]:
len(new)-len(old)

1043

In [8]:
new[~new.medical_education_number.isin(old.medical_education_number)]

         medical_education_number                       race_ethnicity
1314813                4775171567                              Unknown
1314822                4775171460                              Unknown
1315009                4775171630                              Unknown
1316030                4775171397                              Unknown
1316545                4775010016                              Unknown
...                           ...                                  ...
1632403                5176210488  Hispanic, Latino, or Spanish Origin
1632408                 577210543  Hispanic, Latino, or Spanish Origin
1632409                3375211211  Hispanic, Latino, or Spanish Origin
1632411                2775211043  Hispanic, Latino, or Spanish Origin
1632413                3675211344  Hispanic, Latino, or Spanish Origin

[1043 rows x 2 columns]

In [16]:
pd.concat([new,old]).drop_duplicates(keep=False).groupby('race_ethnicity').count()

                                     medical_education_number
race_ethnicity
Hispanic, Latino, or Spanish Origin                       162
Unknown                                                  1077

In [20]:
test = pd.merge(new, old, on='medical_education_number', suffixes = ['_new','_old'])

In [22]:
count = 0
for row in test.itertuples():
    if row.race_ethnicity_old != row.race_ethnicity_new:
        count +=1

In [24]:
1043+98

1141

In [ ]:
1043 rows longer with 98