In [1]:
import pandas as pd

In [2]:
pd.read_csv('../../Data/License/MD Active Type Fixed.txt', sep='\t')

,Last_Name,First_Name,Middle_Name,Suffix,License_Type,License_Number,LicenseIssueDate,LicenseExpDate,Status,AnnualRenewalDate,...,MedSchoolState,Medical_School_Graduation_Year,SuperLastName,SuperFirstName,SuperMiddleName,SuperSuffix,Limitation,Race,Gender,Primary_Source_Verified
0,Aachen-Winans,James,Meryl,NaN,MD,2007-01286,07/27/2007,NaN,Active,09/01/2022,...,CA,1980.0,NaN,NaN,NaN,NaN,NaN,White,Male,Yes
1,Aalto,Meaghan,Margaret,NaN,MD,2018-02560,10/03/2018,NaN,Active,02/13/2023,...,NaN,2011.0,NaN,NaN,NaN,NaN,NaN,White,Female,No
2,Aaron,Ashley,Elizabeth,NaN,MD,2021-02107,06/18/2021,NaN,Active,10/08/2022,...,MN,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,Aaron,Ronee,NaN,NaN,DO,2013-02286,11/18/2013,NaN,Active,05/08/2022,...,FL,1999.0,NaN,NaN,NaN,NaN,NaN,White,Female,Yes
4,Aarons,Alan,Lawrence,NaN,MD,38886,05/22/1993,NaN,Active,12/08/2022,...,NaN,1989.0,NaN,NaN,NaN,NaN,NaN,White,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44382,Zwil,Alexander,Stephan,NaN,MD Limited Emergency License,2021-03226,11/16/2021,NaN,Active,NaN,...,PA,2031.0,NaN,NaN,NaN,NaN,NaN,White,Male,No
44383,Zwirn,Ilene,NaN,NaN,MD Limited Emergency License,2021-00527,02/19/2021,NaN,Active,NaN,...,PA,1989.0,NaN,NaN,NaN,NaN,NaN,White,Female,No
44384,Zwischenberger,Brittany,Anne,NaN,MD,2015-01831,08/17/2015,NaN,Active,03/04/2023,...,TX,2010.0,NaN,NaN,NaN,NaN,NaN,White,Female,Yes
44385,Zychowski,Diana,Lynn,NaN,MD,2021-01133,04/05/2021,NaN,Active,01/16/2023,...,VA,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
44386,Zygowiec,Jonathan,Peter,NaN,DO,2019-01183,05/02/2019,NaN,Active,07/14/2022,...,AZ,2015.0,NaN,NaN,NaN,NaN,NaN,White,Male,Yes

In [3]:
pd.read_csv('../../Data/License/MD Active.txt', sep='\t')

,Last_Name,First_Name,Middle_Name,Suffix,License_Type,License_Number,LicenseIssueDate,LicenseExpDate,Status,AnnualRenewalDate,...,MedSchoolState,Medical_School_Graduation_Year,SuperLastName,SuperFirstName,SuperMiddleName,SuperSuffix,Limitation,Race,Gender,Primary_Source_Verified
0,Aachen-Winans,James,Meryl,NaN,MD,2007-01286,07/27/2007,NaN,Active,09/01/2022,...,CA,1980.0,NaN,NaN,NaN,NaN,NaN,White,Male,Yes
1,Aalto,Meaghan,Margaret,NaN,MD,2018-02560,10/03/2018,NaN,Active,02/13/2023,...,NaN,2011.0,NaN,NaN,NaN,NaN,NaN,White,Female,No
2,Aaron,Ashley,Elizabeth,NaN,MD,2021-02107,06/18/2021,NaN,Active,10/08/2022,...,MN,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,Aaron,Ronee,NaN,NaN,DO,2013-02286,11/18/2013,NaN,Active,05/08/2022,...,FL,1999.0,NaN,NaN,NaN,NaN,NaN,White,Female,Yes
4,Aarons,Alan,Lawrence,NaN,MD,38886,05/22/1993,NaN,Active,12/08/2022,...,NaN,1989.0,NaN,NaN,NaN,NaN,NaN,White,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44382,Zwil,Alexander,Stephan,NaN,MD,2021-03226,11/16/2021,NaN,Active,NaN,...,PA,2031.0,NaN,NaN,NaN,NaN,NaN,White,Male,No
44383,Zwirn,Ilene,NaN,NaN,MD,2021-00527,02/19/2021,NaN,Active,NaN,...,PA,1989.0,NaN,NaN,NaN,NaN,NaN,White,Female,No
44384,Zwischenberger,Brittany,Anne,NaN,MD,2015-01831,08/17/2015,NaN,Active,03/04/2023,...,TX,2010.0,NaN,NaN,NaN,NaN,NaN,White,Female,Yes
44385,Zychowski,Diana,Lynn,NaN,MD,2021-01133,04/05/2021,NaN,Active,01/16/2023,...,VA,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
44386,Zygowiec,Jonathan,Peter,NaN,DO,2019-01183,05/02/2019,NaN,Active,07/14/2022,...,AZ,2015.0,NaN,NaN,NaN,NaN,NaN,White,Male,Yes