In [1]:
import pandas as pd
import useful_functions as use
import psycopg2
import pyodbc
import datetime

In [2]:
username = 'vigrose'
password_edw = 'Hufflepuff~10946'
w = "DSN=PRDDW; UID={}; PWD={}".format(username, password_edw)
AMAEDW = pyodbc.connect(w)

In [3]:
LAT_QUERY = \
    f"""
    SELECT party.PARTY_ID as PARTY_ID, addr.EMAIL_STATUS as status FROM AMAEDW.EMAIL_ADDR addr INNER JOIN AMAEDW.PARTY_EMAIL party ON party.EMAIL_ID=addr.EMAIL_ID AND party.THRU_DT IS NULL AND party.PURPOSE_TYPE_ID in(266, 279, 315, 327, 337, 344) AND party.SRC_SYS='MASTERFILE' ORDER BY PARTY_ID
    """
hmm = pd.read_sql(con=AMAEDW, sql=LAT_QUERY)

In [ ]:
LAT_QUERY = \
    f"""
    SELECT 
    party.PARTY_ID as PARTY_ID, 
    party.EMAIL_ID,
    addr.EMAIL_STATUS as status 
    FROM 
    AMAEDW.EMAIL_ADDR addr, AMAEDW.PARTY_EMAIL party 
    WHERE
    party.EMAIL_ID=addr.EMAIL_ID 
    AND 
    party.THRU_DT IS NULL 
    AND 
    party.PURPOSE_TYPE_ID in(266, 279, 315, 327, 337, 344) 
    AND 
    party.SRC_SYS='MASTERFILE'
    and
    party.PARTY_ID = 2382561
    """
hmmm2 = pd.read_sql(con=AMAEDW, sql=LAT_QUERY)

In [6]:
LAT_QUERY = \
    f"""
    SELECT 
    party.PARTY_ID as PARTY_ID, 
    party.EMAIL_ID,
    addr.EMAIL_STATUS as status,
    
    FROM 
    AMAEDW.EMAIL_ADDR addr, AMAEDW.PARTY_EMAIL party 
    WHERE
    party.EMAIL_ID=addr.EMAIL_ID 
    AND 
    party.THRU_DT IS NULL 
    AND 
    party.PURPOSE_TYPE_ID in(266, 279, 315, 327, 337, 344) 
    AND 
    party.SRC_SYS='MASTERFILE'
    """
hmmm = pd.read_sql(con=AMAEDW, sql=LAT_QUERY)

In [9]:
hmmm[hmmm.PARTY_ID==2382561]

        PARTY_ID  EMAIL_ID   STATUS
39729    2382561   1891326  invalid
495366   2382561   1787970    valid

In [14]:
EMAIL_QUERY = \
    """
    SELECT 
    P.EMAIL_ID,
    P.PARTY_ID,
    E.EMAIL_ADDR,
    E.EMAIL_STATUS,
    P.FROM_DT,
    P.THRU_DT,
    P.CAT_CD_ID,
    C.PURPOSE_USG_CD
    FROM
    AMAEDW.CONT_PURPOSE_TYPE C, AMAEDW.PARTY_EMAIL P, AMAEDW.EMAIL_ADDR E
    WHERE
    C.PURPOSE_TYPE_ID = P.PURPOSE_TYPE_ID
    AND
    P.EMAIL_ID = E.EMAIL_ID
    AND
    P.THRU_DT is null
    AND
    C.PURPOSE_USG_CD = 'PE  '
    """
email = pd.read_sql(con=AMAEDW, sql=EMAIL_QUERY)

In [12]:
email.PURPOSE_USG_CD.unique()

array(['PE  ', 'MRDY', 'SSO ', 'MBR ', 'None'], dtype=object)

In [ ]:
SELECT 
party.PARTY_ID as PARTY_ID, 
party.EMAIL_ID,
addr.EMAIL_STATUS as status 
FROM 
AMAEDW.EMAIL_ADDR addr, AMAEDW.PARTY_EMAIL party 
WHERE
party.EMAIL_ID=addr.EMAIL_ID 
AND 
party.THRU_DT IS NULL 
AND 
party.PURPOSE_TYPE_ID in(266, 279, 315, 327, 337, 344) 
AND 
party.SRC_SYS='MASTERFILE'

In [21]:
EMAILS[EMAILS.duplicated('PARTY_ID', keep=False)].sort_values('PARTY_ID')

,EMAIL_ID,PARTY_ID,EMAIL_ADDR,EMAIL_STATUS,FROM_DT,THRU_DT,CAT_CD_ID,PURPOSE_USG_CD
262973,6520859,1801138,w.cherry@murrietafamilymedicine.com,invalid,2019-10-03 21:10:46.008253,None,6705.0,PE
534591,4593639,1801138,cherry.williamh@gmail.com,valid,2017-04-24 14:02:35.000000,None,NaN,PE
784572,6111380,1810564,floresbenjamin@sbcglobal.net,valid,2019-03-03 20:40:56.831689,None,6649.0,PE
784573,4593642,1810564,floresbrenda93@gmail.com,valid,2017-04-24 14:02:35.000000,None,NaN,PE
432164,1779966,1812649,bauermd@mac.com,valid,2017-05-22 11:22:16.000000,None,NaN,PE
...,...,...,...,...,...,...,...,...
1694546,7529631,16273219,tarahekmati@yahoo.com,valid,2021-07-07 20:48:09.394119,None,3812.0,PE
584640,7812564,16448830,cuyeki@gmail.com,valid,2022-01-22 20:46:24.329799,None,6649.0,PE
565277,7812563,16448830,colin.uyeki@quinnipiac.edu,valid,2022-01-22 20:46:24.329708,None,6529.0,PE
1054343,7737173,16698861,kassandra.castillo@rvu.edu,valid,2022-02-20 20:45:28.672450,None,6648.0,PE
1054345,7843494,16698861,kassandra.castillo@rvu.edu,valid,2022-02-20 20:45:29.040221,None,6529.0,PE

In [19]:
EMAILS = email.drop_duplicates(['EMAIL_ID','PARTY_ID'])