In [1]:
import psycopg2
import pandas as pd
import datacompy
import pyodbc
import useful_functions as use

In [2]:
conn = psycopg2.connect(
    host='oneview-dev-content-aurora-cluster.cluster-cwp4vd8mllvz.us-east-1.rds.amazonaws.com',
    database='oneview_content',
    user='oneviewadmin',
    password='m3CUmKz0OEOA0Mej')

In [4]:
sql = '''
    SELECT DISTINCT 
    P.MEDICAL_EDUCATION_NUMBER
    FROM ONEVIEW.BUSINESS B, ONEVIEW.PROVIDER_AFFILIATION P
    WHERE
    B.teaching_HOSPITAL='Y'
    AND
    B.ID=P.BUSINESS
    '''
ov = pd.read_sql_query(sql, conn)

In [5]:
ov.drop_duplicates()

       medical_education_number
0                   00102000013
1                   00102000030
2                   00102000048
3                   00102000056
4                   00102000145
...                         ...
568911              96501950014
568912              96501960028
568913              96501960044
568914              96501960052
568915              96501980029

[568916 rows x 1 columns]