In [1]:
import pandas as pd
wslive_file_location = "../../Data/Scorecard/p-WSLive-Results-2020710.xlsm"

In [10]:
wslive_table = pd.read_excel(wslive_file_location, sheet_name='Summary Percentage', header=3)
values = list(wslive_table[wslive_table['POLO Address Status'] == 'Confirmed'].iloc[:, -3])
print(values)
values.remove(1)

col_list = ['polo_correct',
                'employment_correct',
                'telephone_correct',
                'telephone_2_correct',
                'fax_correct']

wslive_df = pd.DataFrame({'1':col_list, '2':values})

[0.7302564102564103, 0.7141903171953256, 0.4580191050779286, 0.6033112582781457, 1, 0.7848080133555927]

In [11]:
wslive_df

                     1         2
0         polo_correct  0.730256
1   employment_correct  0.714190
2    telephone_correct  0.458019
3  telephone_2_correct  0.603311
4          fax_correct  0.784808

In [6]:
pd.read_excel(wslive_file_location, sheet_name='Summary Percentage', header=3)

,POLO Address Status,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,2018-01-18 00:00:00,Feb-18,Mar-18,...,2019-11-18 00:00:00,2019-12-18 00:00:00,2020-01-18 00:00:00,2020-02-18 00:00:00,2020-03-18 00:00:00,2020-04-18 00:00:00,2020-05-18 00:00:00,2020-06-18 00:00:00,Unnamed: 37,Unnamed: 38
0,Confirmed,0.878686,0.876518,0.84986,0.878716,0.881472,0.875895,0.868774,0.883962,0.866184,...,0.916235,0.858639,0.788408,0.783567,0.753465,0.766598,0.749746,0.730256,NaN,NaN
1,Updated,0.121314,0.123482,0.15014,0.121284,0.118528,0.124105,0.131226,0.116038,0.133816,...,0.0837651,0.141361,0.211592,0.216433,0.246535,0.233402,0.250254,0.269744,NaN,NaN
2,Grand Total,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Confirmed (1),NaN,NaN,NaN,NaN,NaN,NaN,0.809239,0.825901,0.761334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Updated (2),NaN,NaN,NaN,NaN,NaN,NaN,0.0386231,0.0399221,0.053677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Inconclusive,NaN,NaN,NaN,NaN,NaN,NaN,0.0349326,0.0171373,0.0175891,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Known Bad,NaN,NaN,NaN,NaN,NaN,NaN,0.117205,0.11704,0.1674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Grand Total,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
wslive_table[wslive_table['POLO Address Status'] == 'Confirmed']

,POLO Address Status,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,2018-01-18 00:00:00,Feb-18,Mar-18,...,2019-11-18 00:00:00,2019-12-18 00:00:00,2020-01-18 00:00:00,2020-02-18 00:00:00,2020-03-18 00:00:00,2020-04-18 00:00:00,2020-05-18 00:00:00,2020-06-18 00:00:00,Unnamed: 37,Unnamed: 38
0,Confirmed,0.878686,0.876518,0.84986,0.878716,0.881472,0.875895,0.868774,0.883962,0.866184,...,0.916235,0.858639,0.788408,0.783567,0.753465,0.766598,0.749746,0.730256,NaN,NaN
6,Confirmed,0.944557,0.945494,0.899163,0.926754,0.940736,0.942896,0.891008,0.887824,0.722222,...,0.688216,0.762337,0.711856,0.694984,0.684558,0.723221,0.667213,0.71419,NaN,NaN
12,Confirmed,0.753124,0.825793,0.176237,0.33442,0.396265,0.472738,0.552095,0.558476,0.542585,...,0.473553,0.5345,0.509128,0.459091,0.467677,0.450882,0.424356,0.458019,NaN,NaN
20,Confirmed,0.809239,0.825901,0.761334,0.793062,0.881983,0.824226,0.682603,0.692615,0.722,...,0.619452,0.697326,0.651102,0.59373,0.606418,0.588042,0.596445,0.603311,,
26,Confirmed,0.977418,0.97151,0.971442,0.975505,0.974215,0.971067,0.993642,1,1,...,1,1,1,1,1,1,1,1,NaN,NaN
32,Confirmed,0.878469,0.879617,0.795885,0.883455,0.902139,0.887438,0.876476,0.8643,0.869861,...,0.74018,0.771412,0.762386,0.765868,0.761008,0.760262,0.783781,0.784808,NaN,NaN