In [5]:
import pandas as pd
import pyodbc
from key import API_key, username, password

In [31]:
import requests

In [22]:
#sql_query = "SELECT OFFICE_TELEPHONE, SOURCE FROM work.Wslive_res_2019 WHERE COMMENTS = 'NOT IN SERVICE';"

In [10]:
#s = "DSN=aims; UID={}; PWD={}".format(username, password)
#aimsprod = pyodbc.connect(s)

In [24]:
#pd.read_sql(con=aimsprod, sql=sql_query)

In [29]:
numbers_df = pd.read_csv('numbers.csv', skiprows = [0, 1])

In [30]:
numbers_df.head()

   OFFICE_TELEPHONE Source
0        8659510646      Z
1        8042857523      Z
2        6312871234      Z
3        6145231611      Z
4        6096933956      Z

In [57]:
#base_url = "https://api.realvalidation.com/rpvWebService/RealPhoneValidationTurbo.php"
output = "json"
results_dict_list = []
status = 0
for row in numbers_df.itertuples():
    new_dict = {}
    phone = row.OFFICE_TELEPHONE
    new_dict["OFFICE_TELEPHONE"] = phone
    #parameters = {'output':output, 'phone' : phone, 'token': API_key}
    #response =  requests.get(base_url, params=parameters)
    #results = response.json()
    #status = results['status']
    new_dict['status']=status
    results_dict_list.append(new_dict)
new_df = pd.DataFrame(results_dict_list)
new_df.head()

   OFFICE_TELEPHONE  status
0        8659510646       1
1        8042857523       2
2        6312871234       3
3        6145231611       4
4        6096933956       5

'disconnected'